
.audit-why{

    &__inner{
        margin-top: rem(120);
        margin-bottom: rem(120);

        @include laptop{
            margin: rem(80) 0;
        }
        @include mobile{
            margin: rem(60) 0;
        }
    }

    &__title{
        font-size: rem(50);
        text-align: center;

        @include laptop{
            font-size: rem(38);
        }
        @include mobile{
            font-size: rem(24);
        }
    }

    &__box{
        display: flex;
        max-width: rem(1044);
        column-gap: rem(20);
        margin: 0 auto;
        margin-bottom: rem(60);

        @include laptop{
            max-width: rem(900);

        }
        @include mobile{
            flex-wrap: wrap;
            row-gap: rem(10);
        }

    }

    &__col{
        width: 50%;
        display: flex;
        flex-direction: column;
        row-gap: rem(20);
        @include mobile{
            width: 100%;
            row-gap: rem(10);
        }
    }

    &__block{
        padding: rem(46) rem(44);
        background: #fff;
        border-radius: rem(50);
        position: relative;
        overflow: hidden;

        @include laptop{
            padding: rem(36);
            border-radius: rem(38);
        }
        @include mobile{
            border-radius: rem(30);
            padding: rem(24);
        }

        &_pink{
            height: rem(328);
            background: var(--pink);

            @include laptop{
                height: rem(260);
            }
            @include mobile{
                height: rem(146);
            }

            .audit-why__block-title{
                color: #FFF2FC;
            }
            .audit-why__block-text{
                color: #FFFFFFCC;
            }
        }

        &_black{
            height: rem(512);
            background: var(--black);
            border-radius: rem(600);
            padding: rem(64);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            @include laptop{
                height: rem(440);
                padding: rem(64) rem(68);
            }
            @include mobile{
                padding: rem(24) rem(24);
                height: rem(182);
            }

            .audit-why__block-title{
                color: #FFF2FC;
                text-align: center;
                @include mobile{
                    font-size: rem(18);
                    margin-bottom: rem(8);
                }
            }
            .audit-why__block-text{
                color: #FFFFFFCC;
                text-align: center;
                font-size: rem(14);
                @include mobile{
                    max-width: rem(220);
                }
            }
            .audit-why__block-image{
                width: rem(63);
                height: rem(63);
                margin-top: 0;
                margin-bottom: rem(30);
                @include mobile{
                    width: rem(48);
                    height: rem(48);
                    position: relative;
                    margin-bottom: rem(13);
                }
            }
        }
    }

    &__block-title{
        color: var(--black);
        font-size: rem(24);
        margin-bottom: rem(12);

        @include laptop{
            font-size: rem(20);
        }
        @include mobile{
            font-size: rem(18);
            margin-bottom: rem(8);
        }
    }

    &__block-text{
        color: var(--grayDark);
        font-size: rem(16);
        @include mobile{
            font-size: rem(14);
        }
    }

    &__block-image{
        width: rem(222);
        height: rem(234);
        margin: 0 auto;
        margin-top: rem(28);

        @include laptop{
            width: rem(212);
            height: rem(212);
        }
        @include mobile{
            position: absolute;
            width: rem(60);
            height: rem(60);
            right: rem(-10);
            top: rem(-4);
            margin: 0;
        }

        img {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: contain;
        }
    }

}