.audit-structure {
    &__inner {
        margin-top: rem(120);
        margin-bottom: rem(120);

        @include laptop {
            margin: rem(80) 0;
        }
        @include mobile {
            margin: rem(60) 0;
        }
    }

    &__box {
        background: var(--black);
        border-radius: rem(60);
        padding-top: rem(100);
        padding-bottom: rem(92);
        display: flex;
        flex-direction: column;
        align-items: center;

        @include laptop {
            border-radius: rem(44);
            padding-top: rem(60);
            padding-bottom: rem(80);
        }
        @include mobile {
            padding: rem(40) rem(16);
            border-radius: rem(40);
        }
    }

    &__title {
        color: #fff;
    }

    &__timeline {
        width: 100%;

        @include mobile {
        }

        img,
        svg {
            width: 100%;
            height: 100%;
            display: block;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        row-gap: rem(10);
        margin-top: rem(80);

        @include laptop {
            margin-top: rem(80);
        }
        @include mobile {
            margin-top: rem(40);
        }
    }

    &__block {
        z-index: 1;
        border-radius: rem(50);
        padding: rem(50);
        background: var(--bg);
        width: rem(1314);
        display: flex;
        justify-content: space-between;

        @include laptop {
            border-radius: rem(44);
            padding: rem(44);
            width: rem(1080);
        }
        @include mobile {
            width: rem(343);
            flex-wrap: wrap;
            padding: rem(24);
            row-gap: rem(20);
            border-radius: rem(30);
        }
    }

    &__block-col {
        width: 50%;
        display: flex;
        flex-direction: column;
        max-width: rem(597);

        @include laptop {
            max-width: rem(432);
        }
        @include mobile {
            width: 100%;
        }

        &:nth-of-type(2) {
            align-items: flex-end;
            @include laptop {
                max-width: rem(530);
            }
        }
    }

    &__block-title {
        font-size: rem(34);
        font-weight: 500;
        color: var(--black);

        @include laptop {
            font-size: rem(24);
        }
        @include mobile {
            font-size: rem(20);
        }

        &_days {
            text-align: right;
            @include mobile {
                display: none;
            }
        }
    }

    &__block-days {
        display: none;
        @include mobile {
            display: block;
            font-size: rem(18);
            margin-top: rem(6);
        }
    }

    &__block-text {
        margin-top: rem(16);
        line-height: 1.5;
        font-size: rem(18);
        color: var(--black);

        @include laptop {
            font-size: rem(16);
        }
        @include mobile {
            font-size: rem(14);
            margin-top: rem(12);
        }

        & + & {
            margin-top: rem(6);
        }
    }

    &__block-btn {
        margin-top: rem(20);

        a {
            margin-bottom: 0;
            @include mobile {
                max-width: rem(270);
            }
        }
        .btn__circle {
            background: #fff;
        }
    }

    &__block-label {
        display: inline-flex;
        margin-right: auto;
        padding: rem(8) rem(20);
        margin-top: auto;
        align-items: center;
        column-gap: rem(6);
        color: var(--bg);
        background: var(--grayDark);
        font-size: rem(14);
        border-radius: rem(100);
        white-space: nowrap;

        @include laptop {
            font-size: rem(13);
        }
        @include mobile {
            margin-top: rem(14);
            font-size: rem(12);

            &.el-mobile + &.el-mobile {
                margin-top: rem(4);
            }
        }

        svg {
            width: rem(8);
            height: rem(8);
        }
    }

    &__block-flex {
        display: flex;
        margin-top: rem(42);
        margin-bottom: rem(32);
        column-gap: rem(12);

        @include laptop {
            margin-bottom: rem(32);
        }
        @include mobile {
            flex-wrap: wrap;
            row-gap: rem(8);
            margin: 0;
            width: 100%;
        }
    }

    &__block-baloon {
        background: #fff;
        padding: rem(20) rem(24);
        padding-right: rem(27);
        border-radius: rem(20);
        max-width: rem(484);

        @include laptop {
            padding: rem(20);
            padding-right: rem(28);
            border-radius: rem(16);
            max-width: rem(444);
        }
        @include mobile {
            width: 100%;
        }

        &_small {
            width: rem(233);
            height: rem(110);

            @include laptop {
                height: rem(106);
            }
            @include mobile {
                width: 100%;
                border-radius: rem(24);
                height: auto;
            }
        }
    }

    &__block-baloon-title {
        font-size: rem(20);
        margin-bottom: rem(8);

        @include laptop {
            font-size: rem(18);
        }
        @include mobile {
            font-size: rem(16);
        }
    }

    &__block-baloon-text {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        column-gap: rem(4);
        color: var(--grayDark);
        font-size: rem(16);

        @include laptop {
            font-size: rem(16);
        }
        @include mobile {
            font-size: rem(14);
            br {
                display: none;
            }
        }

        span {
            color: var(--grayDark);
        }

        & + & {
            margin-top: rem(7);
            @include laptop {
                margin-top: rem(6);
            }
        }
    }

    &__block-baloon-ul {
        display: flex;
        flex-direction: column;
        row-gap: rem(6);
        margin: 0;
        padding: 0;
        list-style-type: none;

        @include laptop {
        }
    }

    &__block-baloon-li {
        display: flex;
        align-items: center;
        color: var(--grayDark);
        font-size: rem(16);

        @include mobile {
            font-size: rem(14);
        }

        &::before {
            content: "";
            background: #a2a0ae;
            border-radius: rem(10);
            margin-right: rem(8);
            margin-left: rem(3);
            width: rem(5);
            height: rem(5);

            @include laptop {
            }
        }
    }

    &__block-btn {
        max-width: rem(380);
        max-width: unset;
    }
}
