

.audit-start{
     


    &__inner{
        
    }

    &__box{
        display: flex;
        column-gap: rem(48);

        @include laptop{
            column-gap: rem(20);
            justify-content: center;
        }
    }

    &__col{
        width: 50%;
        display: flex;
        flex-direction: column;
        row-gap: rem(20);

        @include laptop{
            //width: rem(530);
            width: 50%;
        }
    }

    &__block{
        padding: rem(46) rem(44);
        background: #fff;
        border-radius: rem(50);
        transition-duration: 0.3s;
        max-height: rem(317);
        overflow: hidden;

        @include laptop{
            padding: rem(34) rem(36);
            border-radius: rem(38);
            max-height: rem(321);
        }

        .main-solutions__content-btn{
            margin-top: rem(12);
        }

        &_gray{
            max-height: rem(164);
            @include laptop{
                padding: rem(30) rem(36);
                max-height: rem(125);
            }
            .audit-start__block-title{
                opacity: 0.4;
                @include laptop{
                    margin-bottom: rem(12);
                }
            }
            .audit-start__block__text{
                opacity: 0.4;
                margin-bottom: 0;
            }
            .audit-start__block-text{
                &:nth-of-type(2){
                    opacity: 0;
                }
                &:nth-of-type(3){
                    opacity: 0;
                }
                &:nth-of-type(4){
                    opacity: 0;
                }
            }
        }
    }

    &__image{
        height: rem(501);
        overflow: hidden;
        border-radius: rem(50);

        @include laptop{
            height: rem(466);
        }

        img {
            width: 100%;
            height: 100%;
            display: block;
        }

    }

    &__block-title{
        font-size: rem(24);
        font-weight: 500;
        margin-bottom: rem(16);
        color: var(--black);

        @include laptop{
            margin-bottom: rem(12);
            max-width: rem(490);
        }
    }

    &__block-text{
        font-size: rem(18);
        color: var(--black);
        line-height: 1.5;

        @include laptop{
            font-size: rem(16);
            max-width: rem(490);
        }

        & + & {
            margin-top: rem(6);
        }
     
        &_bold{
            font-weight: 500;
            margin-bottom: rem(12);
            font-size: rem(18);
            line-height: 1.5;
        }

    }



}