

.audit-brands{

    &__inner{
        margin-top: rem(60);
        margin-bottom: rem(120);
    }

    &__box{
        display: flex;
        justify-content: space-between;
    }

    &__title{
        height: rem(76);
        font-weight: 500;
        color: #4C4765;
        font-size: rem(28);
        display: flex;
        align-items: center;
    }

    &__brands{
        gap: rem(20) rem(6);
        display: flex;
        flex-wrap: wrap;
        max-width: rem(1102);
        justify-content: flex-end;

        .main-about__partners-el{
            background: #fff;
        }
    }

    &__company{
        
    }

}