


.audit-goods{


    &__inner{
        margin-top: rem(120);
        margin-bottom: rem(120);

        @include laptop{
            margin: rem(80) 0;
        }
    }

    &__title{
        max-width: rem(1053);
        margin-left: auto;
        margin-right: auto;

        @include laptop{
            
            max-width: rem(900);
        }
    }

    &__box{
        display: flex;
        flex-wrap: wrap;
        gap: rem(20);
        justify-content: center;


    }

    &__card{
        width: rem(425);
        padding: rem(46) rem(44);
        background: #fff;
        border-radius: rem(50);
        position: relative;
        overflow: hidden;

        @include laptop{
            width: rem(347);
            padding: rem(36);
            border-radius: rem(38);
        }

        &_big{
            width: rem(1314);
            height: rem(606);
            padding: rem(50);

            @include laptop{
                width: rem(1080);
                height: rem(469);
                padding: rem(44);
            }

            .audit-goods__card-title{
                margin-bottom: rem(16);
                margin-top: rem(101);
                font-size: rem(34);
                font-weight: 500;

                @include laptop{
                    margin-bottom: rem(12);
                    margin-top: rem(32);
                    font-size: rem(24);
                    max-width: rem(432);
                }
            }
            .audit-goods__card-text{
                font-size: rem(18);
                line-height: 1.5;
                color: var(--black);

                @include laptop{
                    font-size: rem(16);
                    max-width: rem(432);
                }
            }
            
        }

        &_black{
            background: var(--black);
            border-radius: rem(500);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-top: rem(92);
            padding-bottom: rem(162);

            @include laptop{
                padding-top: rem(62);
                padding-bottom: rem(128);
            }

            .audit-goods__card-title{
                color: #fff;
                text-align: center;
            }
            .audit-goods__card-text{
                color: #fff;
                opacity: 0.8;
                text-align: center;
            }
            .audit-goods__card-image{
                width: rem(60);
                height: rem(63);
                margin-bottom: rem(30);

                @include laptop{
                    margin-bottom: rem(23);
                }
            }
            
        }

    }

    &__card-label{
        display: inline-flex;
        margin-right: auto;
        padding: rem(8) rem(20);
        margin-top: auto;
        align-items: center;
        column-gap: rem(6);
        color: #fff;
        background: var(--blue);
        font-size: rem(14);
        border-radius: rem(100);

        @include laptop{
            
        }

        svg{
            width: rem(8);
            height: rem(8);
        }
    }

    &__card-days{
        color: var(--black);
        font-size: rem(34);
        position: absolute;
        font-weight: 500;
        top: rem(50);
        right: rem(50);

        @include laptop{
            font-size: rem(24);
            top: rem(44);
            right: rem(44);
        }
    }

    &__card-title{
        max-width: rem(597);
        font-size: rem(24);
        font-weight: 400;
        margin-bottom: rem(12);

        @include laptop{
            font-size: rem(20);

        }
    }

    &__card-text{
        max-width: rem(597);
        font-size: rem(16);
        color: var(--grayDark);

        @include laptop{
            
        }

        & + & {
            margin-top: rem(12);

            @include laptop{
                margin-top: rem(10);
            }
        }

        span{
            font-weight: 500;
        }
    }

    &__card-btn{
        margin-top: rem(24);

        @include laptop{
            margin-top: rem(20);
        }
    }

    &__card-report{
        position: absolute;
        width: rem(730);
        height: rem(433);
        right: rem(-146);
        bottom: rem(50);
        border-radius: rem(44);
        overflow: hidden;

        @include laptop{
            width: rem(507);
            height: rem(300);
            right: rem(-51);
            bottom: rem(56);
            border-radius: rem(16);
        }

        img {
            width: 100%;
            height: 100%;
            display: block;
        }
    }

    &__card-image{
        width: rem(194);
        height: rem(198);
        margin: 0 auto;
        margin-bottom: rem(57);

        @include laptop{
            width: rem(161);
            height: rem(161);
            margin-bottom: rem(32);
        }

        img {
            width: 100%;
            height: 100%;
            display: block;
        }
    }


}