
.audit-why{

    &__inner{
        margin-top: rem(120);
        margin-bottom: rem(120);

        @include laptop{
            margin: rem(80) 0;
        }
    }

    &__title{
        font-size: rem(50);
        text-align: center;

        @include laptop{
            font-size: rem(38);
        }
    }

    &__box{
        display: flex;
        max-width: rem(1044);
        column-gap: rem(20);
        margin: 0 auto;
        margin-bottom: rem(60);

        @include laptop{
            max-width: rem(900);

        }
    }

    &__col{
        width: 50%;
        display: flex;
        flex-direction: column;
        row-gap: rem(20);

    }

    &__block{
        padding: rem(46) rem(44);
        background: #fff;
        border-radius: rem(50);

        @include laptop{
            padding: rem(36);
            border-radius: rem(38);
        }

        &_pink{
            height: rem(328);
            background: var(--pink);

            @include laptop{
                height: rem(260);
            }

            .audit-why__block-title{
                color: #FFF2FC;
            }
            .audit-why__block-text{
                color: #FFFFFFCC;
            }
        }

        &_black{
            height: rem(512);
            background: var(--black);
            border-radius: rem(600);
            padding: rem(64);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            @include laptop{
                height: rem(440);
                padding: rem(64) rem(68);
            }

            .audit-why__block-title{
                color: #FFF2FC;
                text-align: center;
            }
            .audit-why__block-text{
                color: #FFFFFFCC;
                text-align: center;
            }
            .audit-why__block-image{
                width: rem(63);
                height: rem(63);
                margin-top: 0;
                margin-bottom: rem(30);

            }
        }
    }

    &__block-title{
        color: var(--black);
        font-size: rem(24);
        margin-bottom: rem(12);

        @include laptop{
            font-size: rem(20);
        }
    }

    &__block-text{
        color: var(--grayDark);
        font-size: rem(16);
    }

    &__block-image{
        width: rem(222);
        height: rem(234);
        margin: 0 auto;
        margin-top: rem(28);

        @include laptop{
            width: rem(212);
            height: rem(212);
        }

        img {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: contain;
        }
    }

}