

.audit-structure{


    &__inner{
        margin-top: rem(120);
        margin-bottom: rem(120);

        @include laptop{
            margin: rem(80) 0;
        }
    }
    

    &__box{
        background: var(--black);
        border-radius: rem(60);
        padding-top: rem(100);
        padding-bottom: rem(92);
        display: flex;
        flex-direction: column;
        align-items: center;

        @include laptop{
            border-radius: rem(44);
            padding-top: rem(60);
            padding-bottom: rem(80);
        }
    }

    &__title{
        color: #fff;
    }

    &__timeline{
        width: 100%;
        
        img,svg{
            width: 100%;
            height: 100%;
            display: block;
        }
    }

    &__content{
        display: flex;
        flex-direction: column;
        row-gap: rem(10);
        margin-top: rem(80);

        @include laptop{
            margin-top: rem(80);

        }
    }

    &__block{
        border-radius: rem(50);
        padding: rem(50);
        background: var(--bg);
        width: rem(1314);
        display: flex;
        justify-content: space-between;

        @include laptop{
            border-radius: rem(44);
            padding: rem(44);
            width: rem(1080);
        }
    }

    &__block-col{
        width: 50%;
        display: flex;
        flex-direction: column;
        max-width: rem(597);

        @include laptop{
            max-width: rem(432);
        }

        &:nth-of-type(2){
            align-items: flex-end;
            @include laptop{
                max-width: rem(530);
            }
        }
    }

    &__block-title{
        font-size: rem(34);
        font-weight: 500;
        color: var(--black);

        @include laptop{
            font-size: rem(24);
        }

        &_days{
            text-align: right;
        }
    }

    &__block-text{
        margin-top: rem(16);
        line-height: 1.5;
        font-size: rem(18);
        color: var(--black);

        @include laptop{
            font-size: rem(16);
        }

        & + & {
            margin-top: rem(6);
        }

    }

    &__block-label{
        display: inline-flex;
        margin-right: auto;
        padding: rem(8) rem(20);
        margin-top: auto;
        align-items: center;
        column-gap: rem(6);
        color: var(--bg);
        background: var(--grayDark);
        font-size: rem(14);
        border-radius: rem(100);
        white-space: nowrap;

        @include laptop{
            font-size: rem(13);

        }

        svg{
            width: rem(8);
            height: rem(8);
        }
    }

    &__block-flex{
        display: flex;
        margin-top: rem(42);
        margin-bottom: rem(32);
        column-gap: rem(12);

        @include laptop{
            margin-bottom: rem(32);

        }
    }

    &__block-baloon{
        background: #fff;
        padding: rem(20) rem(24);
        padding-right: rem(27);
        border-radius: rem(20);
        max-width: rem(484);

        @include laptop{
            padding: rem(20);
            padding-right: rem(28);
            border-radius: rem(16);
            max-width: rem(444);
        }
        
        &_small{
            width: rem(233);
            height: rem(110);

            @include laptop{
                height: rem(106);
            }
        }
    }

    &__block-baloon-title{
        font-size: rem(20);
        margin-bottom: rem(8);

        @include laptop{
            font-size: rem(18);

        }
    }

    &__block-baloon-text{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        column-gap: rem(4);
        color: var(--grayDark);
        font-size: rem(16);

        @include laptop{
            font-size: rem(16);
        }
        
        span{
            color: var(--grayDark);
        }

        & + & {
            margin-top: rem(7);
            @include laptop{
                margin-top: rem(6);
            }
        }
    }

    &__block-baloon-ul{
        display: flex;
        flex-direction: column;
        row-gap: rem(6);
        margin: 0;
        padding: 0;
        list-style-type: none;
        
        @include laptop{
            
        }
    }

    &__block-baloon-li{
        display: flex;
        align-items: center;
        color: var(--grayDark);
        font-size: rem(16);

        &::before{
            content: '';
            background: #A2A0AE;
            border-radius: rem(10);
            margin-right: rem(8);
            margin-left: rem(3);
            width: rem(5);
            height: rem(5);

            @include laptop{
                
            }
        }
    }

    &__block-btn{
        max-width: rem(380);
        max-width: unset;
    }

}