

.audit-cases{


    &__inner{
        margin-top: rem(120);
        margin-bottom: rem(120);

        @include laptop{
            margin: rem(80) 0;
        }
    }

    &__title{
        font-size: rem(50);
        max-width: rem(800);

        @include laptop{
            font-size: rem(38);
            max-width: rem(600);
        }
    }

    .main-cases__card-image{
        background: #fff;
    }


}