.audit-new-form {
  &__inner {
    margin-top: rem(120);
    margin-bottom: rem(120);

    @include laptop {
      margin: rem(80) 0;
    }
  }

  &__box {
    display: flex;
    justify-content: space-between;
    column-gap: rem(20);
    background: #FFFFFF;
    padding: rem(50) rem(62) rem(50) rem(50);
    border-radius: rem(60);

    @include laptop {
      padding: rem(50);
      border-radius: rem(38);
    }
    @include mobile {
      flex-wrap: wrap;
      flex-direction: column;
      gap: rem(0);

      padding: rem(28);

      border-radius: rem(30);
    }
  }

  &__col {
    display: flex;
    flex-direction: column;
    width: rem(660);

    @include laptop {
      &:nth-child(1) {
        width: rem(358);

          @include mobile {
            width: 100%;
          }
      }
      &:nth-child(2) {
        width: rem(636);

        @include mobile {
          width: 100%;
        }
      }
    }
    @include mobile {
      width: 100%;
    }
  }

  &__title {
    font-size: rem(50);
    font-weight: 500;
    line-height: 108%;
    color: var(--black);
    margin-bottom: rem(32);
    text-transform: uppercase;

    span {
      display: block;
      margin-top: 0.2em;

      @include mobile {
        margin-top: 0.3em;
      }
    }

    @include laptop {
      font-size: rem(38);
      margin-bottom: rem(24);
    }
    @include mobile {
      font-size: rem(24);
      margin-bottom: rem(40);
    }
  }

  &__form {
    height: 100%;
    display: flex;
    flex-direction: column;

    .main-order__form-fields {
      width: 100%;
      max-width: unset;
      margin: 0;
      row-gap: rem(16);
      @include mobile {
        row-gap: rem(10);
      }
    }

    .input-block input {
      height: rem(70);
      font-size: rem(20);
   

      @include laptop {
        height: rem(58);
        font-size: rem(14);
      }
      @include mobile {
        height: rem(50);
      }
    }


    .main-order__form-flex {
      display: flex;
      column-gap: rem(10);

     @include laptop {
      column-gap: rem(16);
     }

      @include mobile {
        flex-direction: column;
        row-gap: rem(10);
      }
    }

    .input-block {
      &:has(> input[type="text"]) {
        max-width: rem(325);

        @include laptop {
          max-width: rem(320);
        }
      }
      &:has(> input[type="tel"]) {
        max-width: rem(325);

          @include laptop {
          max-width: rem(320);
        }
      }
      &:has(> input[type="email"]) {
        max-width: rem(410);

          @include laptop {
          max-width: rem(380);
        }
      }
      &:has(> .select) {
        max-width: rem(325);
      }
    }

    .select::after {
      width: rem(18);
      height: rem(18);
      filter: invert(1);
      top: rem(26);

      @include laptop {
        top: rem(20);
      }
      @include mobile {
        top: rem(18);
        width: rem(14);
        height: rem(14);
      }
    }

    button {
      margin-top: rem(20);
      height: rem(70);
      font-size: rem(18);
      max-width: rem(250);

      @include laptop {
        height: rem(58);
        font-size: rem(16);
        max-width: rem(320);
      }
      @include mobile {
        margin-top: rem(24);
        height: rem(50);
        max-width: none;
        width: 100%;
      }
    }

    .i-checkbox_audit {
      @include mobile {
        margin-top: rem(12);
      }
    }
  }
}
