

.audit-brands{

    &__inner{
        margin-top: rem(60);
        margin-bottom: rem(120);

        @include laptop{
            margin: rem(80) 0;
        }
    }

    &__box{
        display: flex;
        justify-content: space-between;
    }

    &__title{
        height: rem(76);
        font-weight: 500;
        color: #4C4765;
        font-size: rem(28);
        display: flex;
        align-items: center;

        @include laptop{
            font-size: rem(20);
            height: rem(55);
        }
    }

    &__brands{
        gap: rem(20) rem(6);
        display: flex;
        flex-wrap: wrap;
        max-width: rem(1102);
        justify-content: flex-end;

        @include laptop{
            gap: rem(10) rem(4);
            max-width: rem(800);
        }

        .main-about__partners-el{
            background: #fff;

            @include laptop{
                height: rem(55);
            }
        }
    }

    &__company{
        
    }

}