

.audit-cases{


    &__inner{
        margin-top: rem(120);
        margin-bottom: rem(120);
    }

    &__title{
        font-size: rem(50);
        max-width: rem(800);
    }

    .main-cases__card-image{
        background: #fff;
    }


}