


.audit-faq{


    &__inner{
        margin-top: rem(120);
        margin-bottom: rem(60);       

        @include laptop{
            margin: rem(80) 0;
        }
    }

    &__title{
        margin-bottom: rem(40);
    }

    &__box{
        display: flex;
        flex-direction: column;
        row-gap: rem(12);
    }


}