


.audit-first{

    &__inner{
        margin-top: rem(94);
        margin-bottom: rem(60);
    }

    &__box{
        background: #0A0620;
        border-radius: rem(60);
        padding: rem(60);
        padding-bottom: rem(100);
        overflow: hidden;
        position: relative;
        min-width: rem(729);
    }

    &__labels{
        margin-bottom: rem(32);
        display: flex;
        column-gap: rem(11);
    }

    &__label{
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: rem(16);
        column-gap: rem(8);
        border-radius: rem(100);
        background: #ffffff11;
        padding: rem(10) rem(28);

        svg {
            width: rem(20);
            height: rem(20);
        }
    }

    &__title{
        font-size: rem(80);
        font-weight: 600;
        color: #fff;
        max-width: rem(841);
        line-height: 1.08;
        margin-bottom: rem(24);
    }

    &__text{
        font-size: rem(24);
        color: #fff;
        max-width: rem(750);
        margin-bottom: rem(56);
    }

    &__btn{
        min-width: rem(439);
        height: rem(81);
        font-size: rem(26);
    }

    &__image{
        position: absolute;
        width: rem(736);
        height: rem(736);
        right: rem(96);
        top: rem(-3);

        img {
            width: 100%;
            height: 100%;
            display: block;
        }
    }

}