.article {
  &__menu-btn {
    display: none;

    @include mobile {
      position: fixed;
      right: rem(12);
      bottom: rem(12);
      width: rem(48);
      height: rem(48);
      background: var(--bg);
      border-radius: rem(100);
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 15;

      img {
        width: rem(20);
        height: rem(20);
        display: block;
      }
    }
  }

  &__inner {
    margin-top: rem(114);
    padding-top: rem(10);

    @include laptop {
      margin-top: rem(82);
    }

    @include mobile {
      margin-top: rem(76);
    }
  }

  &__back {
    display: inline-flex;
    align-items: center;
    font-size: rem(16);
    color: var(--black);
    column-gap: rem(10);
    position: relative;

    &-icon {
      width: rem(48);
      height: rem(48);
      background: var(--bg);
      border-radius: rem(100);
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: rem(20);
        height: rem(20);
      }
    }
  }

  &__first {
    margin: 0 auto;
    margin-top: rem(48);
    margin-bottom: rem(107);
    max-width: rem(1046);
    display: flex;
    flex-direction: column;
    align-items: center;

    @include laptop {
      margin-top: rem(30);
      max-width: rem(840);
      margin-bottom: rem(80);
    }
    @include mobile {
      flex-wrap: wrap;
      margin-bottom: rem(48);
      margin-top: rem(40);
      max-width: unset;
    }

    &_blog {
      margin: 0;
      max-width: rem(950);
      margin-bottom: rem(40);
      margin-top: rem(30);
      margin-left: rem(50);
      display: block;

      @include laptop {
        margin-left: rem(38);
      }

      @include mobile {
        margin-left: 0;
      }
    }

    .main-solutions__feedback-person {
      margin-top: rem(20);
    }
  }

  &__title {
    font-size: rem(50);
    line-height: rem(54);
    text-align: left;
    font-weight: 400;
    max-width: rem(900);
    margin: 0;
    //margin-bottom: rem(40);

    @include laptop {
      font-size: rem(38);
      line-height: rem(41);
      max-width: rem(782);
    }
    @include mobile {
      max-width: unset;
      font-size: rem(24);
      line-height: rem(26);
    }

    &_tac {
      text-align: center;
      margin: 0 auto;
      max-width: rem(1000);

      @include laptop {
        max-width: rem(800);
      }
      @include mobile {
        text-align: left;
      }
    }
  }

  &__frame {
    position: relative;
  }

  &__cover {
    width: 100%;
    height: rem(800);
    //margin-top: rem(-500);
    position: relative;

    mask-image: url(../img/mask/p-case-cover-xl.svg);
    mask-size: 100% 100%;
    mask-repeat: no-repeat;

    @include laptop {
      height: rem(600);
      margin-top: rem(-500);

      mask-image: url(../img/mask/p-case-cover-l.svg);
      mask-size: 100% 100%;
      mask-repeat: no-repeat;
    }
    @include mobile {
      width: 100%;
      //margin: 0 rem(16);
      height: rem(230);
      margin: 0;
      margin-top: rem(20);
      display: none;

      mask-image: url(../img/mask/p-case-cover-m.svg);
      mask-size: 100% 100%;
      mask-repeat: no-repeat;
    }

    &_mobile {
      display: none;
      @include mobile {
        display: block;
      }
    }

    & > img {
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      z-index: -1;
    }
  }

  &__cover-logo {
    position: absolute;
    top: rem(50);
    left: rem(50);

    @include laptop {
      top: rem(30);
      left: rem(30);
    }
    @include mobile {
      top: rem(20);
      left: rem(24);
    }

    & > img {
      max-height: rem(37);
      @include laptop {
        max-height: rem(30);
      }
      @include mobile {
        max-height: rem(17);
      }
    }
  }

  &__navigation {
    width: rem(245);
    //height: rem(500);
    position: sticky;
    top: rem(50);
    padding-top: rem(60);
    margin-left: auto;
    margin-right: rem(102);
    margin-bottom: rem(-500);
    //transform: translateY(100%);
    z-index: 10;
    transform: translateZ(0);

    .modal__close {
      display: none;
      @include mobile {
        display: flex;
      }
    }

    @include mobile {
      position: fixed;
      top: 100vh;
      transform: translateY(0);
      margin-bottom: 0;
      height: auto;
      left: 0;
      top: 100%;
      transition-duration: 0.3s;
      width: 100%;
      background: #fff;
      padding-bottom: rem(62);
      border-radius: rem(24) rem(24) 0 0;
      z-index: 99;
      box-shadow: 0 0 0 rem(1000) #00000000;
      pointer-events: none;

      /* &::before{
                content: '';
                display: block;
                position: absolute;
                width: 100%;
                height: 300vh;
                bottom: 0;
                left: 0;
                background: #000000;
                z-index: -2;
            } */
    }

    &_open {
      @include mobile {
        transform: translateY(-100%);
        box-shadow: 0 0 0 rem(1000) #00000099;
        pointer-events: all;
        margin-bottom: 0 !important;
      }
    }
  }

  &__navigation-link {
    font-size: rem(16);
    color: var(--black);
    margin-top: rem(16);
    display: block;
    opacity: 0.5;
    padding-left: rem(16);
    line-height: 1.3;
    position: relative;
    cursor: pointer;

    &:hover {
      @include NOTmobile {
        color: #0a0620b2;
        opacity: 1;
        &::before {
          content: "";
          display: block;
          position: absolute;
          width: rem(10);
          height: rem(10);
          background: url(../img/svg/star-black.svg) no-repeat;
          background-size: cover;
          left: 0;
          top: rem(5);
        }
      }
    }

    &_sub {
      font-size: rem(14);

      padding-left: rem(26);
      margin-top: rem(8);

      &:hover {
        @include NOTmobile {
          color: #0a0620b2;
          opacity: 1;
          &::before {
            content: "";
            display: block;
            position: absolute;
            width: rem(10);
            height: rem(10);
            background: url(../img/svg/star-black.svg) no-repeat;
            background-size: cover;
            left: rem(10);
            top: rem(3.5);
          }
        }
      }
    }

    &_active {
      opacity: 1;

      &::before {
        content: "";
        display: block;
        position: absolute;
        width: rem(10);
        height: rem(10);
        background: url(../img/svg/star-black.svg) no-repeat;
        background-size: cover;
        left: 0;
        top: rem(5);
        @include mobile {
          left: unset;
          right: rem(17);
        }
      }

      &.article__navigation-link_sub {
        &::before {
          content: "";
          display: block;
          position: absolute;
          width: rem(10);
          height: rem(10);
          background: url(../img/svg/star-black.svg) no-repeat;
          background-size: cover;
          left: rem(10);
          top: rem(3.5);
          @include mobile {
            left: unset;
            right: rem(17);
          }
        }
      }
    }
  }

  .content-cms {
    margin-top: rem(100);
    margin-bottom: rem(44);
    max-width: rem(950);
    padding-left: rem(50);

    @include laptop {
      max-width: rem(820);
      padding-left: rem(38);
      margin-bottom: rem(32);
      margin-top: rem(80);
    }
    @include mobile {
      padding-left: 0;
      margin-top: rem(48);
    }

    &_margin {
      margin-top: rem(-400);

      @include mobile {
        margin-top: 0;
      }
    }

    img {
      margin-top: rem(40);
      width: rem(1182);
      max-width: rem(1182);
      margin-left: rem(-50);
      display: block;

      @include laptop {
        width: rem(820);
        max-width: rem(820);
        margin-left: rem(-38);
        margin-top: rem(32);
      }

      @include mobile {
        width: 100%;
        max-width: unset;
        margin-left: 0;
      }
    }

    figure {
      margin-top: rem(40);
      width: rem(1182);
      max-width: rem(1182);
      margin-left: rem(-50);
      display: block;

      @include laptop {
        width: rem(820);
        max-width: rem(820);
        margin-left: rem(-38);
        margin-top: rem(32);
      }

      @include mobile {
        width: 100%;
        max-width: unset;
        margin-left: 0;
      }

      img {
        margin-top: unset;
        margin-left: unset;
        width: 100%;
        max-width: 100%;
        display: block;
      }

      figcaption {
        color: var(--grayDark);
        font-size: rem(16);
        margin-left: rem(50);
        margin-top: rem(12);
        max-width: rem(900);

        @include laptop {
          font-size: rem(12);
          margin-left: rem(38);
        }

        @include mobile {
          margin-left: 0;
          margin-top: rem(8);
        }
      }
    }

    h2 {
      margin-top: rem(80);
      margin-bottom: rem(20);
      font-size: rem(38);
      font-weight: 400;

      @include laptop {
        font-size: rem(24);
        margin-bottom: rem(16);
        margin-top: rem(60);
      }

      @include mobile {
        font-size: rem(20);
        margin-bottom: rem(14);
        margin-top: rem(48);
        font-weight: 500;
      }
    }

    h3 {
      margin-top: rem(40);
      margin-bottom: rem(20);
      font-size: rem(24);
      font-weight: 400;

      @include laptop {
        font-size: rem(20);
        margin-top: rem(32);
        margin-bottom: rem(16);
      }

      @include mobile {
        font-size: rem(18);
        margin-bottom: rem(14);
      }
    }

    p {
      font-size: rem(18);
      margin-top: rem(16);
      line-height: 1.5;
      position: relative;

      @include laptop {
        font-size: rem(16);
      }
      @include mobile {
      }

      &:has(> q) {
        padding-left: rem(30);

        &::before {
          content: "";
          display: block;
          width: rem(4);
          height: 100%;
          background: var(--pink);
          position: absolute;
          top: 0;
          left: rem(16);
          border-radius: rem(100);
        }
      }

      span {
        color: var(--grayDark);
      }
    }

    a {
      color: var(--blue);
      text-decoration: underline;
    }

    q {
      quotes: none;
      position: relative;
      line-height: 1.5;
    }

    ul {
      display: flex;
      flex-direction: column;
      row-gap: rem(12);
      margin-top: rem(20);

      li {
        font-size: rem(18);
        line-height: 1.5;
        padding-left: rem(30);
        list-style: none;
        position: relative;

        @include laptop {
          font-size: rem(16);
        }

        &::before {
          content: "";
          display: block;
          width: rem(8);
          height: rem(8);
          background: var(--pink);
          border-radius: rem(100);
          position: absolute;
          top: rem(11);
          left: rem(11);

          @include laptop {
            top: rem(8);
          }
        }
      }
    }

    ol {
      display: flex;
      flex-direction: column;
      row-gap: rem(12);
      margin-top: rem(20);

      li {
        list-style-position: outside;
        margin-left: rem(30);
        font-size: rem(18);
        line-height: 1.5;
        position: relative;

        @include laptop {
          font-size: rem(16);
        }
      }
    }

    video {
      height: auto;
      width: 100%;

      margin-top: rem(40);

      @include laptop {
        margin-top: rem(32);
      }

      @include mobile {
      }
    }
  }

  &__feedback {
    width: rem(1192);
    height: rem(578);
    padding: rem(60);
    border-radius: rem(50);

    mask-image: none;

    @include laptop {
      width: rem(826);
      height: rem(483);
      padding: rem(44);
      border-radius: rem(38);
    }
    @include mobile {
      padding: rem(24);
      width: 100%;
      height: auto;
      border-radius: rem(30);
    }

    .main-cases__swiper-title {
      margin-bottom: rem(20);
      max-width: rem(730);
      font-size: rem(24);
      @include laptop {
        font-size: rem(20);
        margin-bottom: rem(16);
      }
      @include mobile {
        font-size: rem(18);
      }
    }
    .main-cases__swiper-text {
      max-width: rem(847);
      margin-bottom: rem(16);
      font-size: rem(18);
      @include laptop {
        font-size: rem(16);
        margin-bottom: rem(12);
      }
    }
    .main-cases__swiper-file {
      margin-top: rem(20);
      max-width: rem(307);
      @include laptop {
        margin-top: rem(16);
      }
    }
    .main-cases__swiper-person {
      margin-top: rem(40);
      max-width: rem(388);
      @include laptop {
        margin-top: rem(32);
      }
    }
  }

  &__more {
    margin-bottom: rem(120);
    margin-top: rem(120);

    @include laptop {
      margin-top: rem(80);
    }

    @include mobile {
      margin-bottom: rem(60);
      margin-top: rem(60);
    }

    &_top {
      margin-top: rem(120);

      @include mobile {
        margin-top: rem(60);
      }
    }

    .title {
      @include laptop {
        font-weight: 400;
      }
    }

    .main-cases__card {
      width: rem(718);
      margin-right: rem(40);
      @include laptop {
        width: rem(550);
      }
      @include mobile {
        width: 100%;
        margin-right: rem(8);
      }
    }

    .main-cases__card-image {
      mask-image: none;
    }
  }

  &__swiper {
    width: calc(100% - rem(100));
    margin-left: unset;
    overflow: visible;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 120%;
      left: calc(100% + rem(30));
      top: -10%;
      background: #fff;
      display: block;
      z-index: 9;

      @include mobile {
        display: none;
      }
    }

    @include mobile {
      width: calc(100% + rem(32));
      margin-left: rem(-16);
      padding: 0 rem(16);
    }

    .swiper-slide-prev {
      transition: all 0.3s;
      opacity: 0;
    }

    .main-cases__card-image {
      mask-image: url(../img/mask/p-case-big-xl.svg);
      mask-size: 100% 100%;
      mask-repeat: no-repeat;

      @include laptop {
        mask-image: url(../img/mask/p-case-big-l.svg);
        mask-size: 100% 100%;
        mask-repeat: no-repeat;
      }

      @include mobile {
        height: rem(280);
        mask-image: url(../img/mask/p-case-big-m.svg);
        mask-size: 100% 100%;
        mask-repeat: no-repeat;
      }
    }

    .main-cases__card-image_short {
      height: rem(500);
      mask-image: url(../img/mask/p-case-small-xl.svg);
      mask-size: 100% 100%;
      mask-repeat: no-repeat;
      @include laptop {
        height: rem(350);
        mask-image: url(../img/mask/p-case-small-l.svg);
        mask-size: 100% 100%;
        mask-repeat: no-repeat;
      }
      @include mobile {
        height: rem(280);
        mask-image: url(../img/mask/p-case-small-m.svg);
        mask-size: 100% 100%;
        mask-repeat: no-repeat;
      }
    }

    & + .main-cases__swiper-controls {
      height: rem(660);
      z-index: 10;

      @include laptop {
        height: rem(430);
      }
    }
  }

  &__tags {
    margin-top: rem(40);

    @include laptop {
      margin-top: rem(20);
    }

    @include mobile {
      margin-top: rem(16);
      justify-content: flex-start;
      width: 100%;
    }
  }

  &__box {
    display: flex;
    justify-content: space-between;
    column-gap: rem(46);
    margin-top: rem(80);

    @include laptop {
      margin-top: rem(60);
    }

    @include mobile {
      margin-top: rem(40);
      flex-wrap: wrap;
      row-gap: rem(32);
    }
  }

  &__col {
    max-width: rem(600);

    .main-solutions__content-btn {
      margin-top: rem(40);
      margin-bottom: 0;

      max-width: unset;
      width: auto;
      display: inline-flex;

      @include mobile {
        margin-top: rem(32);
      }
    }
  }

  &__text {
    font-size: rem(18);
    color: var(--black);

    @include laptop {
      font-size: rem(16);
    }
    @include mobile {
    }

    & + & {
      margin-top: rem(16);

      @include laptop {
        margin-top: rem(12);
      }
      @include mobile {
        margin-top: rem(16);
      }
    }
  }

  &__baloon {
    background: var(--bg);
    border-radius: rem(26);
    width: rem(400);
    padding: rem(28) rem(36);

    @include laptop {
      width: rem(367);
      padding: rem(20) rem(24);
    }
    @include mobile {
      width: 100%;
      padding: rem(28) rem(28);
    }

    & + & {
      margin-top: rem(8);
    }
  }

  &__baloon-title {
    font-size: rem(18);
    color: var(--black);
    display: flex;
    align-items: center;
    margin-bottom: rem(10);
    column-gap: rem(6);
  }

  &__baloon-icon {
    width: rem(32);
    height: rem(25);

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__baloon-text {
    font-size: rem(14);
    color: var(--grayDark);
  }
}
