.development-how-work {
  margin-block: rem(120);

  @include laptop {
    margin-block: rem(80);
  }

  @include mobile {
    margin-block: rem(60);
  }

  &__inner {
  }

  &__title {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: rem(50);
    line-height: 108%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    color: var(--black);

    margin-bottom: rem(80);

    @include laptop {
      font-size: rem(38);
      margin-bottom: rem(72);
    }

    @include mobile {
      font-size: rem(24);
      margin-bottom: rem(30);
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: rem(20);
  }

  &__interaction {
    padding: rem(80) rem(213);
    border-radius: rem(60);
    background: linear-gradient(135deg, #7ba570 0%, #538246 100%);

    @include laptop {
      border-radius: rem(44);
      padding: rem(60) rem(84);
    }

    @include mobile {
      border-radius: rem(44);
      padding: rem(40) rem(16);
    }
  }

  &__interaction-title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: rem(48);
    line-height: 108%;
    letter-spacing: -0.03em;
    text-align: center;
    color: #fff;

    margin-bottom: rem(60);

    @include laptop {
      font-size: rem(40);
      margin-bottom: rem(40);
    }

    @include mobile {
      font-size: rem(24);
      margin-bottom: rem(30);
    }
  }

  &__interaction-body {
    display: flex;
    align-items: start;
    gap: rem(10);

    @include mobile {
      flex-direction: column;
    }
  }

  &__interaction-item {
    position: relative;

    flex: 0 1 100%;

    padding: rem(40) rem(24) rem(40) rem(50);
    border-radius: rem(50);

    background: rgba(55, 98, 43, 0.5);

    @include laptop {
      border-radius: rem(26);
      padding: rem(36) rem(24) rem(36) rem(36);
    }

    @include mobile {
      padding: rem(24);
    }
  }

  &__interaction-icon {
    position: absolute;
    top: rem(-8);
    left: rem(-6);

    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(48);
    height: rem(48);

    border-radius: 100%;

    background: #fff;

    @include laptop {
      width: rem(42);
      height: rem(42);

      top: rem(-8);
      left: rem(-6);
    }

    @include mobile {
      width: rem(34);
      height: rem(34);

      left: auto;
      right: rem(-6);
    }

    svg {
      width: rem(20);
      height: rem(20);

      @include laptop {
        width: rem(18);
        height: rem(18);
      }

      @include mobile {
        width: rem(15);
        height: rem(15);
      }
    }
  }

  &__interaction-item-title {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: rem(34);
    line-height: 120%;
    letter-spacing: -0.03em;
    color: #fff;

    margin-bottom: rem(16);

    @include laptop {
      font-size: rem(28);
      margin-bottom: rem(10);
    }

    @include mobile {
      font-size: rem(20);
    }
  }

  &__interaction-item-description {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: rem(18);
    line-height: 150%;
    letter-spacing: -0.03em;
    color: #fff;

    @include laptop {
      font-size: rem(16);
    }

    @include mobile {
      font-size: rem(14);
    }
  }

  &__main {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: rem(80);

    padding: rem(260) rem(213) rem(100);
    border-radius: rem(60);
    background: #548247;

    @include laptop {
      gap: rem(40);
      border-radius: rem(44);
      padding: rem(260) rem(84) rem(100);
    }

    @include mobile {
      border-radius: rem(44);
      padding: rem(190) rem(16) rem(40);
    }
  }

  &__watch {
    display: flex;
    align-items: center;
    gap: rem(65);

    margin-top: rem(40);
    border-radius: rem(50);
    padding: rem(50);
    background: #fff;

    overflow: hidden;

    @include laptop {
      border-radius: rem(26);
      padding: rem(36);
    }

    @include mobile {
      margin-top: 0;
      padding: rem(24) rem(24) rem(7) rem(24);

      flex-direction: column;
      gap: rem(40);
    }

    &.green {
      margin-top: 0;
      background: #63a84f;

      @include mobile {
        padding-bottom: 0;
        gap: rem(10);
      }

      .development-how-work__watch-image {
        width: rem(467);
        height: rem(237);
        align-items: center;

        @include mobile {
          margin: 0;

          height: rem(186);
          width: rem(353);
        }

        img {
          width: rem(568);
          height: rem(268);
          max-width: none;

          @include mobile {
            object-position: left bottom;
            width: 40.8rem;
            height: 21.5rem;
          }
        }
      }

      .development-how-work__watch-title,
      .development-how-work__watch-description {
        color: #fff;
      }
    }
  }

  &__watch-info {
    flex: 1 1 auto;
  }

  &__watch-title {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: rem(34);
    line-height: 120%;
    letter-spacing: -0.03em;
    color: var(--black);
    margin-bottom: rem(10);

    br {
      display: none;
    }

    @include laptop {
      font-size: rem(28);

      br {
        display: block;
      }
    }

    @include mobile {
      font-size: rem(20);

      br {
        display: none;
      }
    }
  }

  &__watch-description {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: rem(18);
    line-height: 150%;
    letter-spacing: -0.03em;
    color: var(--black);

    @include laptop {
      font-size: rem(16);
    }

    @include mobile {
      font-size: rem(14);

      br {
        display: none;
      }
    }
  }

  &__watch-image {
    flex: 0 0 auto;

    display: flex;
    align-items: end;

    width: rem(379);
    height: rem(246);
    overflow: hidden;

    margin: rem(-50) rem(-50) rem(-50) auto;

    user-select: none;
    pointer-events: none;

    @include laptop {
      width: rem(330);
      height: rem(222);

      margin: rem(-36) rem(-36) rem(-36) auto;
    }

    @include mobile {
      width: rem(234);
      height: rem(179);

      margin: 0 rem(-35) 0 auto;
    }

    img {
      width: rem(379);
      height: rem(300);
      object-fit: contain;
      object-position: right bottom;

      @include mobile {
        width: 22.4rem;
        height: 19rem;
      }
    }
  }

  &__video-block {
    position: absolute;
    top: rem(-59);
    right: rem(173);

    display: flex;
    align-items: end;
    gap: rem(188);

    @include laptop {
      right: rem(125);
    }

    @include mobile {
      top: rem(-14);
      right: rem(16);
      left: rem(16);

      flex-direction: column-reverse;
      gap: rem(7);
    }
  }

  &__video {
    position: relative;
    border: rem(8) solid rgba(255, 255, 255, 0.4);
    border-radius: 100%;
    width: rem(240);
    height: rem(240);
    overflow: hidden;
    box-sizing: content-box;
    cursor: pointer;

    @include laptop {
      width: rem(200);
      height: rem(200);
    }

    @include mobile {
      width: rem(120);
      height: rem(120);
      border-width: rem(5);
    }

    &:hover {
      .development-how-work__video-cover {
        svg {
          path {
            fill-opacity: 1;
          }
        }
      }
    }

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      pointer-events: none;
      user-select: none;
    }
  }

  &__video-cover {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    pointer-events: none;
    user-select: none;

    svg {
      width: rem(70);
      height: rem(70);

      path {
        transition: fill-opacity 0.3s ease;
      }
    }
  }

  &__video-stroke {
    position: absolute;
    bottom: rem(-16);
    left: rem(209);

    user-select: none;
    pointer-events: none;

    width: rem(301);
    height: rem(44);

    @include laptop {
      bottom: rem(-26);
    }

    @include mobile {
      width: rem(44);
      height: rem(54);

      top: rem(68);
      left: rem(156);
      right: auto;
      bottom: auto;
    }
  }

  &__video-info {
    display: flex;
    align-items: start;
    gap: rem(8);

    margin-bottom: rem(37);

    @include laptop {
      margin-bottom: rem(18);
    }

    @include mobile {
      margin-bottom: 0;

      align-self: start;
    }
  }

  &__video-click {
    width: rem(28);
    height: rem(28);

    user-select: none;
    pointer-events: none;

    @include mobile {
      width: rem(20);
      height: rem(20);
    }
  }

  &__video-text {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: rem(20);
    line-height: 120%;
    letter-spacing: -0.03em;
    color: #fff;

    @include laptop {
      font-size: rem(18);
    }

    @include mobile {
      font-size: rem(14);
    }
  }

  &__items {
    margin-top: rem(40);

    display: flex;
    flex-direction: column;
    gap: rem(10);

    @include mobile {
      margin-top: 0;
    }
  }

  &__item {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: start;
    gap: rem(120);
    justify-content: space-between;

    border-radius: rem(50);
    padding: rem(50);
    background: #f6f6f6;

    @include laptop {
      border-radius: rem(26);
      padding: rem(36);
    }

    @include mobile {
      flex-direction: column;
      gap: rem(32);

      padding: rem(24);
    }
  }

  &__item-left {
    display: flex;
    flex-direction: column;
    gap: rem(16);

    @include mobile {
      gap: rem(12);
    }
  }

  &__item-title {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: rem(34);
    line-height: 120%;
    letter-spacing: -0.03em;
    color: var(--black);

    @include laptop {
      font-size: rem(28);
    }

    @include mobile {
      font-size: rem(20);
    }
  }

  &__item-description {
    * {
      &:not(:last-child) {
        margin-bottom: rem(10);
      }
    }

    &--width {
      @include laptop {
        max-width: rem(438);
      }
    }

    p {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: rem(18);
      line-height: 150%;
      letter-spacing: -0.03em;
      color: var(--black);

      @include laptop {
        font-size: rem(16);

        br {
          display: none;
        }
      }

      @include mobile {
        font-size: rem(14);
      }
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: rem(4);

      padding-left: rem(25);

      @include mobile {
        padding-left: rem(20);
      }

      li {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: rem(18);
        line-height: 150%;
        letter-spacing: -0.03em;
        color: var(--black);

        @include laptop {
          font-size: rem(16);
        }

        @include mobile {
          font-size: rem(14);
        }

        &:not(:last-child) {
          margin-bottom: 0;
        }
      }
    }
  }

  &__purple {
    position: relative;

    font-family: var(--font-family);
    font-weight: 500;
    font-size: rem(16);
    line-height: 150%;
    letter-spacing: -0.03em;
    color: #fff;

    border-radius: rem(20);
    padding: rem(10) rem(24);
    background: #a1a8e6;

    max-width: rem(521);

    @include laptop {
      font-size: rem(14);

      border-radius: rem(16);
      max-width: rem(438);
    }
  }

  &__purple-img {
    position: absolute;
    top: rem(-12);
    right: rem(-10);

    display: flex;
    align-items: center;
    justify-content: center;

    width: rem(34);
    height: rem(34);

    user-select: none;
    pointer-events: none;

    border-radius: 100%;
    background: #b8aec8;

    img {
      width: rem(14);
      height: rem(14);
    }
  }

  &__item-right {
    flex: 0 0 rem(450);
    align-self: stretch;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: rem(40);

    @include laptop {
      gap: rem(24);
    }

    @include mobile {
      flex: 1 1 auto;
      gap: rem(16);
    }
  }

  &__focus {
    position: relative;
    z-index: 1;
    margin: rem(-30) rem(38) 0 rem(38);

    display: flex;
    align-items: start;
    gap: rem(60);

    border-radius: 0 0 rem(50) rem(50);
    padding: rem(92) rem(82) rem(60) rem(80);
    background: #6dc256;

    @include laptop {
      margin-inline: rem(32);

      gap: rem(50);

      padding: rem(62) rem(66) rem(40) rem(66);
    }

    @include mobile {
      flex-direction: column;

      margin-inline: rem(14);
      gap: rem(10);

      padding: rem(53) rem(24) rem(24) rem(24);

      border-radius: 0 0 rem(26) rem(26);
    }
  }

  &__focus-left {
    flex: 0 0 auto;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: rem(50);
    line-height: 108%;
    letter-spacing: -0.03em;
    color: #fff;

    @include laptop {
      font-size: rem(38);
    }

    @include mobile {
      font-size: rem(24);
    }
  }

  &__focus-right {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: rem(34);
    line-height: 120%;
    letter-spacing: -0.03em;
    color: #fff;

    margin-top: rem(12);

    @include laptop {
      font-size: rem(24);

      margin-top: rem(11);
    }

    @include mobile {
      font-size: rem(18);
      margin-top: 0;
    }
  }

  &__result {
    border-radius: rem(20);
    padding: rem(26);
    background: #fff;

    @include laptop {
      padding: rem(24);
    }

    @include mobile {
      padding: rem(16);
    }
  }

  &__result-name {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: rem(16);
    line-height: 120%;
    letter-spacing: -0.03em;
    color: #615e71;
    margin-bottom: rem(8);

    @include laptop {
      font-size: rem(14);
    }
  }

  &__result-title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: rem(20);
    line-height: 120%;
    letter-spacing: -0.03em;
    color: var(--black);

    @include laptop {
      font-size: rem(18);
    }

    @include mobile {
      font-size: rem(16);

      br {
        display: none;
      }
    }

    &:has(+ .development-how-work__result-btn) {
      margin-bottom: rem(24);

      @include mobile {
        margin-bottom: rem(16);
      }
    }
  }

  &__result-btn {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: rem(16);
    line-height: 120%;
    letter-spacing: -0.03em;
    color: var(--black);

    width: fit-content;
    padding: 0;
    height: rem(48);
    background: transparent;

    @include laptop {
      font-size: rem(14);
      height: rem(42);
    }

    @include mobile {
      height: rem(48);
      max-width: none;
    }

    &:hover {
      &::before {
        background: #f6f6f6;
      }
    }

    .btn__circle {
      width: rem(48);
      height: rem(48);
      margin-right: rem(10);
      background: #f6f6f6;

      @include laptop {
        width: rem(42);
        height: rem(42);
      }

      @include mobile {
        width: rem(48);
        height: rem(48);
      }
    }
  }

  &__weeks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: rem(8);
  }

  &__week {
    display: flex;
    flex-direction: column;
    gap: rem(10);

    &.disabled {
      .development-how-work__week-text {
        opacity: 0.5;
      }
    }
  }

  &__week-line {
    position: relative;

    border-radius: rem(5);
    height: rem(8);
    background: rgba(109, 194, 86, 0.3);

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: var(--week-width);
      height: 100%;
      border-radius: rem(5);
      background: #6dc256;
    }
  }

  &__week-text {
    align-self: center;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: rem(14);
    line-height: 120%;
    letter-spacing: -0.02em;
    color: #615e71;

    border-radius: rem(20);
    padding: rem(4) rem(8);
    background: #fff;

    @include mobile {
      font-size: rem(12);
    }
  }
}
