.development-inside {
  &__wrapper {
    // @include laptop {
    //   padding: rem(24);
    //   margin-block: rem(80);
    //   border-radius: rem(38);
    //   max-width: rem(1080);
    // }

    // @include mobile {
    //   padding: rem(30) rem(14) rem(20) rem(14);
    //   margin-block: rem(60);
    //   border-radius: rem(40);
    //   max-width: none;
    // }
  }

  &__title {
    font-size: rem(50);
    text-align: center;
    margin-bottom: rem(60);
  }

  &__inner {
    display: grid;
    grid-template-columns: auto rem(853);
    align-items: stretch;
    gap: rem(80);
    padding: rem(60);
    border-radius: rem(50);
    background: var(--white);

    // @include laptop {
    //   grid-template-columns: auto rem(564);
    //   gap: rem(40);
    //   padding: rem(16) rem(20) 0 rem(20);
    // }

    // @include mobile {
    //   grid-template-columns: 1fr;
    //   gap: rem(16);
    //   padding: 0;
    // }
  }

  &__left {
    // @include mobile {
    //   padding-inline: rem(6);
    // }
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: rem(10);
  }

  &__name {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: rem(34);
    line-height: 120%;
    letter-spacing: -0.03em;
    color: var(--black);
    margin-bottom: rem(24);

    // @include laptop {
    //   font-size: rem(24);
    //   margin-bottom: rem(16);
    // }

    // @include mobile {
    //   font-size: rem(20);
    //   margin-bottom: rem(12);
    // }
  }

  &__descriptions {
    p {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: rem(18);
      line-height: 150%;
      letter-spacing: -0.03em;
      color: var(--black);

      &:not(:last-child) {
        margin-bottom: 0.2em;
      }
    }

    span {
      font-weight: 500;
    }

    // @include laptop {
    //   font-size: rem(16);
    // }

    // @include mobile {
    //   font-size: rem(14);
    // }
  }

  &__channel {
    position: relative;
    display: flex;
    align-items: start;
    gap: rem(10);
    max-width: rem(297);
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
    }

    // @include laptop {
    //   margin-top: rem(32);
    //   max-width: rem(368);
    // }

    // @include mobile {
    //   margin-top: rem(16);
    //   max-width: none;
    // }

    &::after {
      content: "";
      position: absolute;
      width: calc(100% + rem(22));
      height: calc(100% + rem(8));
      left: rem(-4);
      top: rem(-4);
      border-radius: rem(100);
      z-index: 0;
      transition-duration: 0.3s;
      background: transparent;

      // @include laptop {
      //   top: rem(-2);
      //   height: calc(100% + rem(4));
      // }
    }

    &:hover {
      @include NOTmobile {
        &::after {
          content: "";
          background: var(--bg);
        }
      }
    }

    &:active {
      @include NOTmobile {
        &::after {
          content: "";
          background: var(--bg);
        }
      }
    }
  }

  &__channel-img {
    pointer-events: none;
    z-index: 1;
    width: rem(48);
    height: rem(48);
    border-radius: 100%;

    object-fit: contain;

    // @include laptop {
    //   width: rem(42);
    //   height: rem(42);
    // }

    // @include mobile {
    //   width: rem(48);
    //   height: rem(48);
    // }
  }

  &__channel-block {
    position: relative;
    z-index: 3;
    padding-top: rem(7);
  }

  &__channel-title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: rem(16);
    line-height: 120%;
    letter-spacing: -0.03em;
    color: var(--black);
    margin-bottom: rem(2);
  }

  &__channel-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: rem(12);
    line-height: 120%;
    letter-spacing: -0.03em;
    color: var(--grayDark);
  }

  &__right {
    display: flex;
    justify-content: center;

    position: relative;

    width: 100%;
    height: rem(560);
    border-radius: rem(44);
    overflow: hidden;
    background: var(--reviewBg);

    // @include laptop {
    //   height: rem(290);
    //   border-radius: rem(24);
    // }

    // @include mobile {
    //   height: rem(230);
    //   border-radius: rem(30);
    // }
  }

  &__scroll {
    flex: 0 0 auto;
    position: relative;
    width: rem(615);
    object-position: 0 rem(10);
    animation: scroll 5s cubic-bezier(0.4, 0, 0.2, 1) /* forwards */ infinite;
    // @include laptop {
    //   width: rem(447);
    //   object-position: 0 rem(-40);
    // }

    // @include mobile {
    //   width: rem(295);
    //   object-position: 0 rem(-30);
    // }
  }

  @keyframes scroll {
    from {
      // object-position: 0 rem(-60);
    }
    to {
      object-position: 0 bottom;
    }
  }
}
