.development-metrics {
  &__wrapper {
  }

  &__head {
    margin-bottom: rem(60);
  }

  &__title {
    font-size: rem(50);
    text-align: center;
    margin-bottom: rem(30);
  }

  &__description {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: rem(24);
    line-height: 120%;
    letter-spacing: -0.03em;
    text-align: center;
    color: var(--black);
  }

  &__img {
    display: block;
    width: 100%;
    height: rem(800);

    object-fit: contain;
  }
}
