.development-first {
  &__inner {
    margin-top: rem(94);
    margin-bottom: rem(80);

    @include laptop {
      margin-top: rem(72);
      margin-bottom: rem(60);
    }

    @include mobile {
      margin-top: rem(72);
      margin-bottom: rem(60);
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    min-height: rem(729);
    background: #0f230a;
    border-radius: rem(60);
    padding: rem(80);
    padding-bottom: rem(100);
    overflow: hidden;
    position: relative;
    z-index: 1;

    @include laptop {
      border-radius: rem(44);
      padding: rem(80) rem(84);
      min-height: rem(601);
    }

    @include mobile {
      min-height: unset;
      width: 100%;
      border-radius: rem(40);
      padding: rem(40) rem(16);
    }
  }

  &__title {
    font-size: rem(80);
    font-weight: 600;
    color: #fff;
    max-width: rem(1110);
    line-height: 1.08;
    margin-bottom: rem(24);

    span {
      color: #86e46d;
    }

    @include laptop {
      font-size: rem(52);
      line-height: 108%;
      margin-bottom: rem(20);
      max-width: rem(715);
    }

    @include mobile {
      font-size: rem(32);
      margin-bottom: rem(12);
    }
  }

  &__text {
    font-size: rem(24);
    color: #fff;
    max-width: rem(750);

    @include laptop {
      font-size: rem(18);
      max-width: rem(537);
    }

    @include mobile {
      font-size: rem(14);
      margin-bottom: rem(232);
    }
  }

  &__btn {
    font-weight: 500;
    font-size: rem(26);

    min-width: rem(439);
    height: rem(81);

    @include laptop {
      min-width: rem(320);
      height: rem(58);
      font-size: rem(16);
    }

    @include mobile {
      min-width: 100%;
      height: rem(50);
    }
  }

  &__image {
    position: absolute;
    width: rem(842);
    height: rem(624);
    right: rem(-158);
    bottom: rem(-65);

    @include laptop {
      width: rem(698);
      height: rem(517);
      right: rem(-103);
      bottom: rem(-15);
    }

    @include mobile {
      width: rem(321);
      height: rem(238);

      top: auto;
      right: 50%;
      bottom: rem(58);
      transform: translateX(50%);

      z-index: -1;
    }

    img {
      width: 100%;
      height: 100%;
      display: block;

      @include mobile {
        object-fit: contain;
      }
    }
  }

  &__top {
  }

  &__bottom {
    display: flex;
    gap: rem(16);
    max-width: rem(1030);

    // @include laptop {
    //   max-width: rem(715);
    // }

    // @include mobile {
    //   flex-direction: column;
    //   gap: rem(10);
    // }
  }
}
