.development-metrics {
  &__wrapper {
  }

  &__head {
    margin-bottom: rem(60);

    @include laptop {
      margin-bottom: rem(40);
    }

    @include mobile {
      margin-bottom: rem(30);
    }
  }

  &__title {
    font-size: rem(50);
    text-align: center;
    margin-bottom: rem(30);

    @include laptop {
      font-size: rem(38);
      margin-bottom: rem(16);
    }

    @include mobile {
      font-size: rem(24);
      margin-bottom: rem(12);
    }
  }

  &__description {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: rem(24);
    line-height: 120%;
    letter-spacing: -0.03em;
    text-align: center;
    color: var(--black);

    @include laptop {
      font-size: rem(18);
    }

    @include mobile {
      font-size: rem(16);
    }
  }

  &__img {
    display: block;
    width: 100%;
    height: rem(800);

    object-fit: contain;

    @include laptop {
      display: block;
      margin-inline: auto;
      width: rem(1080);
      height: rem(547);
    }

    @include mobile {
      width: 100%;
      height: rem(174);
    }
  }

  &__body {
    display: flex;
    align-items: start;
    gap: rem(40);

    position: relative;
    max-width: rem(1313);

    margin-top: rem(80);
    margin-inline: auto;

    @include laptop {
      gap: rem(26);
      max-width: rem(1080);
      margin-top: rem(50);
    }

    @include mobile {
      margin-top: rem(30);
      flex-direction: column;
      gap: rem(24);
    }
  }

  &__green {
    flex: 0 0 auto;

    position: relative;

    border-radius: rem(40);
    padding: rem(40);
    background: var(--devGreen);
    max-width: rem(493);

    @include laptop {
      border-radius: rem(26);
      padding: rem(20) rem(30);
      max-width: rem(336);
    }

    @include mobile {
      padding: rem(24);
    }
  }

  &__green-icon {
    position: absolute;
    top: rem(-10);
    left: rem(-10);

    width: rem(48);
    height: rem(48);

    @include laptop {
      width: rem(32);
      height: rem(32);
    }
  }

  &__green-title {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: rem(34);
    line-height: 120%;
    letter-spacing: -0.03em;
    color: #fff;
    margin-bottom: rem(24);

    @include laptop {
      font-size: rem(24);
      margin-bottom: rem(14);
    }

    @include mobile {
      font-size: rem(20);
      margin-bottom: rem(6);
    }
  }

  &__green-description {
    p {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: rem(18);
      line-height: 120%;
      letter-spacing: -0.03em;
      color: #fff;

      @include laptop {
        font-size: rem(16);
      }

      @include mobile {
        font-size: rem(14);
      }

      &:not(:last-child) {
        margin-bottom: 0.7em;

        @include mobile {
          margin-bottom: 0.4em;
        }
      }

      span {
        font-weight: 500;
        color: inherit;
      }
    }
  }

  &__arrow {
    position: absolute;
    left: rem(240);
    bottom: rem(-30);
    transform: translateY(100%);
    width: rem(433);
    object-fit: contain;

    @include laptop {
      width: 32.1rem;
      left: 17rem;
      bottom: -2rem;
    }

    @include mobile {
      width: rem(60);
      height: rem(536);
      left: auto;
      right: rem(-10);
      bottom: -1.7rem;
    }
  }

  &__items {
    flex: 1 1 auto;

    display: flex;
    gap: rem(10);

    @include laptop {
      gap: rem(8);
    }

    @include mobile {
      flex-direction: column;
      max-width: rem(273);
      gap: rem(12);
    }
  }

  &__items-col {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    gap: rem(10);

    @include laptop {
      gap: rem(8);
    }

    @include mobile {
      flex-direction: column;
      gap: rem(12);
    }
  }

  &__item {
    position: relative;
    border-radius: rem(40);
    padding: rem(40);
    background: #fff;

    @include laptop {
      border-radius: rem(26);
      padding: rem(24);
    }

    &:nth-child(1) {
      .development-metrics__item-point-wrapper:nth-child(2) {
        max-width: rem(290);

        @include laptop {
          max-width: rem(283);
        }
      }
    }

    &:nth-child(2) {
      .development-metrics__item-point-wrapper:nth-child(2) {
        max-width: rem(290);

        @include laptop {
          max-width: rem(283);
        }
      }
    }
  }

  &__item-img {
    position: absolute;
    top: rem(-10);
    left: rem(-10);
    width: rem(48);
    height: rem(48);

    @include laptop {
      width: rem(32);
      height: rem(32);
    }
  }

  &__item-title {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: rem(24);
    line-height: 120%;
    letter-spacing: -0.03em;
    color: #0a0620;
    margin-bottom: rem(16);

    @include laptop {
      font-size: rem(18);
      margin-bottom: rem(12);
    }

    @include mobile {
      font-size: rem(16);
      margin-bottom: rem(10);
    }
  }

  &__item-points {
    display: flex;
    flex-direction: column;
    gap: rem(8);

    @include laptop {
      gap: rem(6);
    }

    @include mobile {
      gap: rem(4);
    }
  }

  &__item-point {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: rem(4);

    @include mobile {
      gap: 0 rem(4);
    }

    span {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: rem(18);
      line-height: 150%;
      letter-spacing: -0.03em;
      color: #0a0620;

      @include laptop {
        font-size: rem(16);
      }

      @include mobile {
        font-size: rem(14);
      }
    }

    img {
      display: block;
      width: rem(18);
      height: rem(18);
    }
  }

  &__item-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: rem(16);
    line-height: 120%;
    letter-spacing: -0.03em;
    color: #615e71;

    @include laptop {
      font-size: rem(12);
    }
  }
}
