.development-inside {
  &__wrapper {
    // @include laptop {
    //   padding: rem(24);
    //   margin-block: rem(80);
    //   border-radius: rem(38);
    //   max-width: rem(1080);
    // }

    // @include mobile {
    //   padding: rem(30) rem(14) rem(20) rem(14);
    //   margin-block: rem(60);
    //   border-radius: rem(40);
    //   max-width: none;
    // }
  }

  &__title {
    font-size: rem(50);
    text-align: center;
    margin-bottom: rem(60);

    @include laptop {
      font-size: rem(38);
      margin-bottom: rem(40);
    }

    @include mobile {
      font-size: rem(24);
      margin-bottom: rem(30);
    }
  }

  &__inner {
    display: grid;
    grid-template-columns: auto rem(853);
    align-items: stretch;
    gap: rem(80);
    padding: rem(60);
    border-radius: rem(50);
    background: var(--white);

    @include laptop {
      grid-template-columns: auto rem(592);
      gap: rem(40);
      padding: rem(42);
      border-radius: rem(38);
    }

    @include mobile {
      grid-template-columns: 1fr;
      gap: rem(24);
      padding: rem(24);
      border-radius: rem(30);
    }
  }

  &__left {
    // @include mobile {
    //   padding-inline: rem(6);
    // }
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: rem(10);

    @include laptop {
      margin-block: rem(16);
    }

    @include mobile {
      gap: rem(24);
      margin: 0;
    }
  }

  &__name {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: rem(34);
    line-height: 120%;
    letter-spacing: -0.03em;
    color: var(--black);
    margin-bottom: rem(24);

    @include laptop {
      font-size: rem(24);
      margin-bottom: rem(16);
    }

    // @include laptop {
    //   font-size: rem(24);
    //   margin-bottom: rem(16);
    // }

    @include mobile {
      font-size: rem(20);
      margin-bottom: rem(12);
    }
  }

  &__descriptions {
    p {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: rem(18);
      line-height: 150%;
      letter-spacing: -0.03em;
      color: var(--black);

      @include laptop {
        font-size: rem(16);
        line-height: 120%;
      }

      @include mobile {
        font-size: rem(14);
      }

      &:not(:last-child) {
        margin-bottom: 0.6em;

        @include mobile {
          margin-bottom: 0.4em;
        }
      }
    }

    span {
      font-weight: 500;
    }

    // @include laptop {
    //   font-size: rem(16);
    // }

    // @include mobile {
    //   font-size: rem(14);
    // }
  }

  &__channel {
    position: relative;
    display: flex;
    align-items: start;
    gap: rem(10);
    max-width: rem(297);
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
    }

    @include laptop {
      align-items: center;
      gap: rem(8);
      // max-width: rem(368);
    }

    @include mobile {
      max-width: none;
      gap: rem(10);
    }

    &::after {
      content: "";
      position: absolute;
      width: calc(100% + rem(22));
      height: calc(100% + rem(10));
      left: rem(-4);
      top: rem(-4);
      border-radius: rem(100);
      z-index: 0;
      transition-duration: 0.3s;
      background: transparent;

      // @include laptop {
      //   top: rem(-2);
      //   height: calc(100% + rem(4));
      // }
    }

    &:hover {
      @include NOTmobile {
        &::after {
          content: "";
          background: var(--bg);
        }
      }
    }

    &:active {
      @include NOTmobile {
        &::after {
          content: "";
          background: var(--bg);
        }
      }
    }
  }

  &__channel-img {
    pointer-events: none;
    z-index: 1;
    width: rem(48);
    height: rem(48);
    border-radius: 100%;

    object-fit: contain;

    @include laptop {
      width: rem(42);
      height: rem(42);
    }

    @include mobile {
      width: rem(48);
      height: rem(48);
    }
  }

  &__channel-block {
    position: relative;
    z-index: 3;
    padding-top: rem(7);

    @include laptop {
      padding-top: 0;
    }
  }

  &__channel-title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: rem(16);
    line-height: 120%;
    letter-spacing: -0.03em;
    color: var(--black);
    margin-bottom: rem(2);

    @include laptop {
      font-size: rem(14);
    }
  }

  &__channel-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: rem(12);
    line-height: 120%;
    letter-spacing: -0.03em;
    color: var(--grayDark);
  }

  &__right {
    display: flex;
    justify-content: center;

    position: relative;

    width: 100%;
    height: rem(560);
    border-radius: rem(44);
    overflow: hidden;
    background: var(--reviewBg);

    @include laptop {
      height: rem(388);
      border-radius: rem(40);
      margin-block: rem(14);
    }

    @include mobile {
      border-radius: rem(24);
      height: rem(175);
      margin: 0;
    }

    // @include laptop {
    //   height: rem(290);
    //   border-radius: rem(24);
    // }

    // @include mobile {
    //   height: rem(230);
    //   border-radius: rem(30);
    // }
  }

  &__scroll {
    flex: 0 0 auto;
    position: relative;
    width: rem(615);
    object-position: 0 rem(10);
    animation: scroll 5s cubic-bezier(0.4, 0, 0.2, 1) /* forwards */ infinite;
    @include laptop {
      width: rem(441);
      // object-position: 0 rem(-40);
    }

    @include mobile {
      width: rem(238);
      height: rem(284);
      object-position: 0 rem(-130);
    }
  }

  &__analytics {
    margin-top: rem(20);

    display: flex;
    align-items: stretch;
    gap: rem(80);

    border-radius: rem(50);
    padding: rem(60);
    background: #fff;

    @include laptop {
      margin-top: rem(16);

      border-radius: rem(38);
      gap: rem(40);
      padding: rem(42);
    }

    @include mobile {
      position: relative;
      margin-top: rem(10);

      flex-direction: column;
      gap: rem(24);
      padding: rem(24) rem(24) rem(150) rem(24);
      border-radius: rem(30);
    }
  }

  &__analytics-card {
    position: relative;
    flex: 0 0 rem(527);
    padding-block: rem(20);

    @include laptop {
      padding-block: rem(16);
      flex: 0 0 rem(484);
    }

    @include mobile {
      position: static;
      flex: 1 1 auto;
      padding: 0;
    }

    .main-research__card {
      padding: 0;
      overflow: visible;

      @include laptop {
        height: 100%;
      }

      @include mobile {
        position: static;
      }
    }

    .main-research__card-title {
      font-weight: 500;
      font-size: rem(34);
      line-height: 120%;
      margin-bottom: rem(16);

      @include laptop {
        font-size: rem(24);
        margin-bottom: rem(12);
      }

      @include mobile {
        font-size: rem(20);
        line-height: 108%;
        margin-bottom: rem(8);
      }
    }

    .main-research__card-list {
      margin-top: rem(66);

      @include laptop {
        margin-top: auto;
      }

      @include mobile {
        position: absolute;
        left: rem(24);
        right: rem(24);
        bottom: rem(24);
        margin-top: rem(24);
        gap: rem(6);
      }
    }

    .main-research__subscribe {
      padding: 1.6rem 1.8rem;

      @include mobile {
        height: rem(300);
        top: auto;
        bottom: 0;
      }
    }

    .main-research__subscribe_open {
      border-radius: 4rem;

      box-shadow: 0px 0px 0px rem(15) #f6f6f6;
      background: #f6f6f6;
    }
  }

  &__description {
    margin-top: rem(32);

    @include laptop {
      margin-block: rem(16);
    }

    @include mobile {
      margin-block: rem(12) 0;
    }

    p {
      font-weight: 400;
      font-size: rem(18);
      line-height: 150%;
      letter-spacing: -0.03em;
      color: #0a0620;

      @include laptop {
        font-size: rem(16);
        line-height: 120%;
      }

      @include mobile {
        font-size: rem(14);
      }

      &:not(:last-child) {
        margin-bottom: 0.6em;

        @include mobile {
          margin-bottom: 0.4em;
        }
      }
    }
  }

  &__review {
    flex: 1 1 auto;
    display: flex;
    align-items: start;
    gap: rem(20);

    @include laptop {
      gap: rem(14);
    }

    @include mobile {
      flex-direction: column;
      gap: rem(12);
    }
  }

  &__banner {
    flex: 0 0 auto;
    width: rem(320);
    height: rem(569);
    border-radius: rem(40);
    overflow: hidden;

    @include laptop {
      width: rem(222);
      height: rem(393);
      border-radius: rem(28);
    }

    @include mobile {
      width: 100%;
      height: rem(240);
    }

    img {
      width: 100%;
      height: 100%;

      @include mobile {
        object-position: bottom;
      }
    }

    .main-research__card-label {
      font-size: rem(16);

      top: rem(24);
      left: 50%;
      bottom: auto;
      transform: translateX(-50%);

      width: rem(188);

      @include laptop {
        font-size: rem(16);
        width: rem(176);
      }

      @include mobile {
        font-size: rem(12);
        width: auto;
        padding-inline: rem(8);
      }

      img {
        width: rem(10);
        height: rem(10);

        @include mobile {
          width: rem(8);
          height: rem(8);
        }
      }
    }
  }

  &__banner-title {
    position: absolute;
    left: rem(30);
    bottom: rem(24);

    width: rem(260);

    font-family: var(--font-family);
    font-weight: 400;
    font-size: rem(20);
    line-height: 120%;
    letter-spacing: -0.03em;
    text-align: center;
    color: #fff;

    @include laptop {
      font-size: rem(16);
      width: rem(162);
    }

    @include mobile {
      font-size: rem(14);
      width: rem(235);
    }

    span {
      display: block;

      color: #fff;

      @include mobile {
        display: inline-block;
      }
    }
  }

  &__review-items {
    align-self: stretch;

    display: flex;
    flex-direction: column;
    gap: rem(10);

    @include laptop {
      flex: 1 1 auto;
    }

    @include mobile {
      gap: rem(8);
    }
  }

  .main-research__card-text_big {
    @include laptop {
      font-size: rem(16);
    }
  }

  .main-research__card-block {
    padding: rem(24) rem(30);

    @include laptop {
      padding: rem(15) rem(20);
      border-radius: rem(28);
    }

    @include mobile {
      padding: rem(12) rem(14);
    }
  }

  .main-research__card_type1 {
    margin-left: 0;
    width: 100%;
    flex: 1 1 auto;

    justify-content: center;

    padding: rem(24) rem(55);

    @include mobile {
      padding: rem(14) rem(34);
    }
  }

  &__workers {
    display: flex;
    gap: rem(80);
    align-items: stretch;

    margin-top: rem(20);

    border-radius: rem(50);
    padding: rem(60);
    background: #fff;

    @include laptop {
      border-radius: rem(38);
      gap: rem(40);
      padding: rem(42) rem(38) rem(42) rem(42);
    }

    @include mobile {
      flex-direction: column;
      gap: rem(24);

      margin-top: rem(10);
      border-radius: rem(30);
      padding: rem(24);
    }

    &_audit {
      .development-inside__workers-info {
        justify-content: center;

        @include mobile {
          justify-content: stretch;
        }
      }

      .development-inside__workers-cards {
        height: rem(560);

        @include laptop {
          height: rem(387);
        }

        @include mobile {
          height: auto;
        }
      }
    }
  }

  &__workers-info {
    flex: 0 0 rem(527);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: rem(20);

    padding-block: rem(20);

    @include laptop {
      flex: 0 0 48.4rem;

      padding-block: rem(16);
    }

    @include mobile {
      flex: 1 1 auto;
      padding-block: 0;

      gap: rem(24);
    }
  }

  &__workers-top {
  }
  &__workers-bottom {
  }

  &__workers-title {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: rem(34);
    line-height: 120%;
    letter-spacing: -0.03em;
    color: #0a0620;
    margin-bottom: rem(24);

    @include laptop {
      font-size: rem(24);
      margin-bottom: rem(16);
    }

    @include mobile {
      font-size: rem(20);
      margin-bottom: rem(12);
    }
  }

  &__workers-description {
    p {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: rem(18);
      line-height: 150%;
      letter-spacing: -0.03em;
      color: #0a0620;

      @include laptop {
        font-size: rem(16);
        line-height: 120%;
      }

      @include mobile {
        font-size: rem(14);
      }

      &:not(:last-child) {
        margin-bottom: 0.6em;

        @include mobile {
          margin-bottom: 0.4em;
        }
      }
    }
  }

  &__workers-estimation {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: rem(16);
    line-height: 120%;
    letter-spacing: -0.03em;
    color: #0a0620;
    margin-bottom: rem(4);

    @include laptop {
      font-size: rem(16);
      margin-bottom: rem(6);
    }
  }

  &__workers-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: rem(16);
    line-height: 120%;
    letter-spacing: -0.03em;
    color: #0a0620;

    @include laptop {
      font-size: rem(14);
    }

    @include mobile {
    }
  }

  &__workers-right {
    flex: 1 1 auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: rem(20);

    @include laptop {
      gap: rem(16);
    }
  }

  &__workers-cards {
    display: flex;
    align-items: stretch;
    gap: rem(10);

    height: rem(480);

    @include laptop {
      height: rem(354);
    }

    @include mobile {
      flex-direction: column;
      gap: rem(6);
      height: unset;
    }
  }

  &__workers-card {
    flex: 1 1 auto;

    position: relative;

    border-radius: rem(40);
    background: #f6f6f6;

    @include laptop {
      border-radius: rem(30);
    }

    @include mobile {
      display: flex;
      align-items: center;
      gap: rem(12);

      border-radius: rem(24);
      padding: rem(12) rem(14);
      min-height: rem(84);
    }
  }

  &__workers-star {
    position: absolute;
    top: rem(74);
    left: 50%;
    transform: translateX(-50%);

    width: rem(222);
    height: rem(224);

    object-fit: contain;

    @include laptop {
      top: rem(64);
      width: rem(168);
      height: rem(169);
    }

    @include mobile {
      position: static;
      width: rem(59);
      height: rem(60);
      transform: none;
    }
  }

  &__workers-post {
    position: absolute;
    left: rem(30);
    right: rem(30);
    bottom: rem(24);

    font-family: var(--font-family);
    font-weight: 400;
    font-size: rem(20);
    line-height: 120%;
    letter-spacing: -0.03em;
    text-align: center;
    color: #0a0620;

    @include laptop {
      font-size: rem(18);
    }

    @include mobile {
      position: static;
      font-size: rem(14);

      br {
        display: none;
      }
    }
  }

  &__btn {
    max-width: none;
    height: rem(60);
    width: 100%;

    font-size: rem(18);

    @include laptop {
      height: rem(46);
      font-size: rem(16);
    }

    @include mobile {
      height: rem(50);
      font-size: rem(16);
    }
  }

  @keyframes scroll {
    from {
      // object-position: 0 rem(-60);
    }
    to {
      object-position: 0 bottom;
    }
  }
}
