.main-research {
    margin-bottom: rem(20);

    &__inner {
        padding-top: rem(80);
        padding-bottom: rem(80);
        //border-radius: rem(60);
        background: url(../img/bg-res.png) no-repeat;
        background-size: cover;
        background-position: center;

        mask-image: url(../img/mask/new-mask-res.svg);
        mask-size: 100% 100%;
        mask-repeat: no-repeat;

        @include laptop {
            margin-top: rem(60);
            margin-bottom: rem(60);
            //border-radius: rem(44);
            mask-image: url(../img/mask/new-mask-res-laptop.svg);
            // mask-image: url(../img/mask/new-mask-2-l.svg);
            mask-size: 100% 100%;
            mask-repeat: no-repeat;
        }
        @include mobile {
            border-radius: rem(40);
            margin-top: rem(40);
            margin-bottom: 0;

            padding: rem(40) rem(8);
            padding-bottom: rem(45);
            background: url(../img/background-hills_mobile2.jpg) no-repeat;
            background-size: cover;
            background-position: center;

            mask-image: none;

            mask-image: url(../img/mask/new-mask-2-m.svg);
            mask-size: 100% 100%;
            mask-repeat: no-repeat;
        }
    }

    &__wrap {
        max-width: rem(1314);
        margin: 0 auto;

        @include laptop {
            max-width: rem(1080);
        }
        @include mobile {
            max-width: rem(359);
        }
    }

    &__top {
        margin-bottom: rem(40);
        display: flex;
        justify-content: space-between;
        @include laptop {
            margin-bottom: rem(24);
        }
        @include mobile {
            margin-bottom: rem(30);
            flex-direction: column;
            row-gap: rem(16);
            align-items: center;
        }
    }

    &__title {
        span {
            color: #4dfcda;
        }
        @include mobile {
            text-align: center;
        }
    }

    &__description {
        color: var(--white);
        font-size: rem(18);
        line-height: 1.1;
        letter-spacing: -0.02em;
        margin-top: rem(7);
        max-width: rem(490);

        @include laptop {
            max-width: rem(405);
            font-size: rem(16);
            margin-top: rem(6);
        }
        @include mobile {
            max-width: rem(280);
            font-size: rem(12);
            margin-top: rem(4);
        }
    }

    &__box {
        width: 100%;

        &_grid {
            margin-top: rem(10);
            gap: rem(10);
            display: flex;
            @include mobile {
                flex-wrap: wrap-reverse;
            }
        }
    }

    &__col {
        display: flex;
        flex-direction: column;
        gap: rem(10);
        flex-shrink: 0;

        &:nth-of-type(1) {
            width: rem(551);
            @include laptop {
                width: rem(464);
            }
            @include mobile {
                width: 100%;
            }
        }
        &:nth-of-type(2) {
            width: rem(753);
            @include laptop {
                width: rem(608);
            }
            @include mobile {
                width: 100%;
            }
        }
    }

    &__card {
        background: var(--white);
        border-radius: rem(50);
        padding: rem(46) rem(44);
        width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        overflow: hidden;

        @include laptop {
            border-radius: rem(38);
            padding: rem(38) rem(36);
        }
        @include mobile {
            border-radius: rem(30);
            padding: rem(24);
        }

        &_mobile {
            display: none;
            @include mobile {
                display: flex;
            }
        }

        &_desktop {
            display: flex;
            @include mobile {
                display: none;
            }
        }

        &_wide {
            height: auto;
            padding: rem(60);

            @include laptop {
                padding: rem(44);
            }
            @include mobile {
                border-radius: rem(30);
                padding: rem(24);
            }

            .main-research__card-title {
                font-size: rem(34);
                @include laptop {
                    font-size: rem(24);
                    margin-bottom: rem(8);
                }
                @include mobile {
                    font-size: rem(18);
                    line-height: 1.2;
                }
            }
            .main-research__card-text {
            }
            .main-research__card-image {
                width: rem(640);
                height: rem(330);
                display: flex;
                justify-content: center;
                align-items: center;
                background: var(--pink);
                border-radius: rem(300);
                margin-bottom: rem(24);
                @include laptop {
                    width: rem(534);
                    height: rem(270);
                    margin-bottom: rem(20);
                }
                @include mobile {
                    width: 100%;
                    height: rem(170);
                }
            }
        }

        &_type1 {
            padding: rem(24) rem(60);
            width: calc(100% - rem(29));
            margin-left: auto;
            background: #3500274d;
            border-radius: rem(160);
            backdrop-filter: blur(calc(50px * 0.35));
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: rem(10);
            .main-research__card-text {
                max-width: rem(402);
                text-align: center;
            }

            @include laptop {
                padding: rem(18) rem(40);
                row-gap: rem(6);
                .main-research__card-text {
                    max-width: rem(361);
                }
            }
            @include mobile {
                width: 100%;
                margin-left: unset;
            }
        }

        &_type2 {
            width: calc(100% - rem(27));
            .main-research__card-title {
                margin-bottom: 0;
            }
            .main-research__card-el {
                max-width: rem(216);
            }

            @include laptop {
                width: 100%;
                .main-research__card-el {
                    max-width: rem(193);
                }
            }
            @include mobile {
                .main-research__card-el {
                    max-width: unset;
                    width: rem(204);
                }
            }
        }

        &_type3 {
            width: calc(100% - rem(221));
            .main-research__card-el {
                max-width: rem(383);
            }
            .main-research__card-title {
                margin-bottom: 0;
            }

            @include laptop {
                width: calc(100% - rem(168));
            }
            @include mobile {
                width: 100%;
            }
        }
    }

    &__card-tags {
        display: flex;
        column-gap: rem(6);
        align-items: center;

        img {
            flex-shrink: 0;
            width: 1rem;
            height: 1rem;
        }
    }

    &__card-tag {
        color: var(--grayDark);
        font-size: rem(16);
        line-height: 1.2;
    }

    &__card-title {
        margin-bottom: rem(8);
        font-size: rem(24);
        line-height: 1.1;
        @include laptop {
            font-size: rem(20);
            margin-bottom: rem(6);
        }
        @include mobile {
            font-size: rem(18);
        }
    }

    &__card-text {
        font-size: rem(16);
        line-height: 1.2;
        display: flex;
        align-items: center;
        column-gap: rem(6);

        img {
            width: rem(10);
            height: rem(10);
            display: block;
            @include laptop {
                width: rem(8);
                height: rem(8);
            }
        }

        @include laptop {
            font-size: rem(14);
        }
        @include mobile {
            align-items: center;
            font-size: rem(12);

            img {
                width: rem(8);
                height: rem(8);
                margin-bottom: rem(1);
            }
        }

        &_white {
            color: var(--white);
            @include mobile {
                font-size: rem(14);
            }
        }

        &_tag {
            @include mobile {
                align-items: flex-start !important;
            }

            img {
                width: rem(16);
                height: rem(17);
                @include mobile {
                    width: rem(13);
                    height: rem(14);
                }
            }
        }

        &_space {
            word-spacing: rem(2);
        }

        &_big {
            font-size: rem(20);
            @include laptop {
                font-size: rem(18);
            }
            @include mobile {
                font-size: rem(14);
            }
        }

        &_gray {
            color: var(--grayDark);
            margin-top: rem(8);
        }

        &_title {
            font-size: rem(20);
            margin-bottom: rem(10);
            justify-content: center;
            @include laptop {
                font-size: rem(18);
                margin-bottom: rem(6);
            }
            @include mobile {
                text-align: center;
                margin-bottom: rem(8);
            }
        }

        &_description {
            text-align: center;
            justify-content: center;
            max-width: rem(556);
            margin: 0 auto;
            @include laptop {
                max-width: rem(490);
            }
            @include mobile {
                font-size: rem(14);
            }
        }
    }

    &__card-list {
        margin-top: rem(22);
        display: flex;
        flex-direction: column;
        row-gap: rem(8);

        &_row {
            flex-direction: row;
            column-gap: rem(24);
            @include mobile {
                flex-wrap: wrap;
            }
        }

        @include laptop {
            margin-top: rem(18);
        }
    }

    &__card-el {
        display: inline-flex;
        align-items: center;
        column-gap: rem(10);
        font-size: rem(16);
        position: relative;
        margin-right: auto;
        z-index: 1;

        span {
            color: var(--blue);
            display: flex;
            align-items: center;
            margin-left: rem(-4);
            column-gap: rem(2);
            @include mobile {
                display: inline-flex;
                margin-left: rem(5);
                transform: translateY(rem(3));
            }
        }

        p {
            display: flex;
            column-gap: rem(10);
            @include mobile {
                display: block;
                max-width: rem(148);
            }
        }

        @include laptop {
            font-size: rem(14);
            column-gap: rem(8);
        }
    }

    &__card-image {
        margin-top: auto;
        overflow: hidden;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            display: block;
        }

        @include laptop {
            width: rem(534);
        }
    }

    &__card-label {
        /* width: rem(46);
        height: rem(46);
        border-radius: rem(100);
        backdrop-filter: blur(34px);
        background: #35002733;
        position: absolute;
        top: rem(-14);
        left: rem(-4);
        display: flex;
        justify-content: center;
        align-items: center; */

        position: absolute;
        bottom: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: rem(8);
        color: var(--white);
        background: #3500274d;
        backdrop-filter: blur(calc(50px * 0.35));
        padding: rem(10) rem(28);
        border-radius: rem(100);
        overflow: hidden;

        img {
            width: rem(10);
            height: rem(10);
        }

        @include laptop {
            padding: 0 rem(20);
            height: rem(33);
            font-size: rem(14);
            img {
                width: rem(8);
                height: rem(8);
                margin-bottom: rem(1);
            }
        }

        @include mobile {
            padding: 0 rem(10);
            height: rem(22);
            font-size: rem(12);
            column-gap: rem(4);
            bottom: rem(15);
        }
    }

    &__card-bot {
        display: flex;
        justify-content: center;
        column-gap: rem(20);
        margin-top: rem(20);

        &_stats {
            column-gap: rem(10);
        }
    }

    &__card-stat {
        font-size: rem(16);
        line-height: 1.2;
        color: var(--grayDark);
        display: flex;
        column-gap: rem(3);
    }

    &__card-box {
        margin-top: rem(40);
        display: flex;
        column-gap: rem(10);
        @include laptop {
            margin-top: rem(30);
        }
        @include mobile {
            margin-top: rem(20);
            flex-wrap: wrap;
            row-gap: rem(28);
        }
    }

    &__card-left {
        width: rem(640);
        flex-shrink: 0;
        @include laptop {
            width: rem(534);
        }
        @include mobile {
            width: 100%;
        }
    }

    &__card-right {
        gap: rem(10);
        display: flex;
        flex-direction: column;
        width: 100%;
        @include laptop {
            gap: rem(8);
        }
    }

    &__card-block {
        padding: rem(34) rem(44);
        background: var(--bg);
        border-radius: rem(50);
        width: 100%;
        display: flex;
        align-items: center;
        column-gap: rem(24);

        @include laptop {
            padding: rem(26) rem(34);
            column-gap: rem(16);
            border-radius: rem(38);
        }
        @include mobile {
            border-radius: rem(24);
            padding: rem(12) rem(14);
        }
    }

    &__card-icon {
        flex-shrink: 0;
        width: rem(80);
        height: rem(80);
        border-radius: rem(20);
        overflow: hidden;

        @include laptop {
            width: rem(68);
            height: rem(68);
        }
        @include mobile {
            width: rem(60);
            height: rem(60);
            border-radius: rem(16);
        }

        img {
            width: 100%;
            height: 100%;
        }

        &_small {
            width: rem(48);
            height: rem(48);
            display: flex;
            justify-content: center;
            align-items: center;
            background: var(--bg);
            border-radius: rem(100);
            img {
                width: rem(20);
                height: rem(20);
            }

            @include laptop {
                img {
                    width: rem(18);
                    height: rem(18);
                }
            }
        }
    }

    &__card-btn {
        background: #c2b3be;
        color: var(--white);
        //height: rem(48);
        font-weight: 400;
        justify-content: space-between;
        column-gap: rem(10);
        max-width: rem(276);
        text-align: left;
        margin: 0 auto;
        margin-top: rem(6);

        @include laptop {
            max-width: rem(225);
        }
        @include mobile {
            margin-top: rem(16);
            max-width: unset;
            height: rem(50);
            text-align: center;
            font-size: rem(16);
            padding-left: rem(52);
        }

        .btn__circle {
            background: #a68fa0;
            @include mobile {
                width: rem(40);
                height: rem(40);
            }

            img {
                @include mobile {
                    width: rem(17);
                    height: rem(17);
                }
            }
        }

        &:hover {
            //background: transparent;
        }
    }

    &__subscribe {
        position: absolute;
        width: 100%;
        height: 100%;
        background: #fff;
        top: 0;
        left: 0;
        z-index: 10;
        display: none;
        flex-direction: column;
        justify-content: flex-end;
        padding: rem(44) rem(46);

        .main-team__form {
            margin-left: 0;
        }

        @include laptop {
            padding: rem(36) rem(38);
        }
        @include mobile {
            padding: rem(24);
        }

        &_open {
            display: flex;
        }
    }

    &__subscribe-close {
        width: rem(38);
        height: rem(38);
        border-radius: rem(100);
        background: #3500274d;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: rem(26);
        right: rem(26);

        img {
            display: block;
            width: rem(18);
            height: rem(18);
        }
    }
}
