

.main-solutions{
    
    &__inner{
        background: var(--pinkBg);
        padding-top: rem(80);
        padding-bottom: rem(80);
        //border-radius: rem(60);

        mask-image: url(../img/mask/new-mask-3-xl.svg);
        mask-size: 100% 100%;
        mask-repeat: no-repeat;

        @include laptop{
            margin-top: rem(60);
            margin-bottom: rem(60);
            //border-radius: rem(44);

            mask-image: url(../img/mask/new-mask-3-l.svg);
            mask-size: 100% 100%;
            mask-repeat: no-repeat;
        }
        @include mobile{
            border-radius: rem(40);
            padding: rem(40) rem(8);
            margin-top: 0;
            padding-bottom: rem(45);

            mask-image: none;
        }
    }

    &__wrap{
        max-width: rem(1314);
        margin: 0 auto;

        @include laptop{
            max-width: rem(1080);
        }
        @include mobile{
            max-width: rem(359);
        }
    }

    &__top{
        margin-bottom: rem(40);
        display: flex;
        justify-content: space-between;
        @include laptop{
            margin-bottom: rem(24);
        }
        @include mobile{
            margin-bottom: rem(30);
            flex-direction: column;
            row-gap: rem(16);
            align-items: center;
        }
    }

    &__title{
        span{
            color: #ACFD9E;
        }
        @include mobile{
            text-align: center;
        }
    }

    &__description{
        color: var(--white);
        font-size: rem(18);
        line-height: 1.1;
        letter-spacing: -0.02em;
        margin-top: rem(7);

        @include laptop{
            max-width: rem(405);
            font-size: rem(16);
            margin-top: rem(6);
        }
        @include mobile{
            max-width: rem(360);
            font-size: rem(12);
            margin-top: rem(4);
        }
    }

    &__box{
        background: var(--white);
        border-radius: rem(50);
        margin-bottom: rem(20);
        padding: rem(20);
        padding-left: rem(90);
        display: flex;
        column-gap: rem(90);
        align-items: flex-end;

        @include laptop{
            border-radius: rem(38);
            margin-bottom: rem(10);
            padding: rem(14);
            padding-left: rem(68);
            column-gap: rem(68);
        }
        @include mobile{
            flex-wrap: wrap-reverse;
            padding: rem(8);
            padding-bottom: rem(24);
        }
    }

    &__image{
        width: rem(600);
        height: 100%;
        height: rem(760);
        border-radius: rem(35);
        overflow: hidden;
        flex-shrink: 0;

        @include laptop{
            width: rem(477);
            height: rem(600);
            border-radius: rem(32);
            margin-bottom: auto;
        }
        @include mobile{
            width: 100%;
            height: rem(421);
        }

        img{
            display: block;
            width: 100%;
            height: 100%;
            pointer-events: none;
        }

        video{
            width: 100%;
            height: 140%;
            margin-top: -20%;
            pointer-events: none;

            @include laptop{
                width: 100%;
                height: 150%;
                margin-top: -25%;
            }
        }

        &:hover{
            @include NOTmobile{
                .main-solutions__video-cover{
                    svg{
                        path{
                            fill-opacity: 1;
                        }
                    }
                }
            }
        }
    }

    &__video-cover{
        position: absolute;
        z-index: 10;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #00000077;
        display: flex;
        justify-content: center;
        align-items: center;
        pointer-events: none;
        
        svg{
            width: rem(70);
            height: rem(70);

            path{
                transition-duration: 0.3s;
            }
        }
    }

    &__content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__content-title{
        font-size: rem(34);
        color: var(--black);
        max-width: rem(318);
        margin-bottom: rem(16);
        text-align: center;
        @include laptop{
            font-size: rem(24);
            max-width: rem(222);
            margin-bottom: rem(10);
            margin-top: rem(66);
        }
        @include mobile{
            margin-top: rem(20);
            margin-bottom: rem(12);
            font-size: rem(18);
            max-width: rem(310);
        }
    }

    &__content-text{
        color: var(--grayDark);
        font-size: rem(16);
        text-align: center;
        max-width: rem(326);
        margin-bottom: rem(40);

        @include laptop{
            font-size: rem(14);
            max-width: rem(300);
            margin-bottom: rem(38);
        }
        @include mobile{
            margin-bottom: rem(20);
        }
    }

    &__content-btn{
        margin-bottom: rem(70);
        background: transparent;
        color: var(--black);
        height: rem(48);
        font-weight: 400;
        justify-content: flex-start;
        column-gap: rem(10);
        max-width: rem(281);
        padding-left: 0;


        .btn__circle{
            background: var(--bg);
            margin: 0;
        }

        @include laptop{
            margin-bottom: rem(58);
            max-width: rem(241);
            column-gap: rem(8);

            .btn__circle{
                width: rem(42);
                height: rem(42);
                img{
                    width: rem(18);
                    height: rem(18);
                }
            }
        }

        @include mobile{
            margin-bottom: rem(30);
            max-width: rem(250);
            column-gap: rem(10);

            .btn__circle{
                width: rem(48);
                height: rem(48);
                img{
                    width: rem(20);
                    height: rem(20);
                }
            }
        }

        &:hover{
            background: transparent;
        }
    }


    &__feedback{
        padding: rem(44) rem(40);
        display: flex;
        flex-direction: column;
        align-items: center;
        background: var(--bg);
        border-radius: rem(20);
        margin-bottom: rem(73);

        @include laptop{
            margin-bottom: rem(38);
            padding: rem(36) rem(34);
        }
        @include mobile{
            margin: 0 rem(16);
            margin-bottom: rem(30);
        }
    }

    &__feedback-title{
        text-align: center;
        font-size: rem(20);
        color: var(--black);
        margin-bottom: rem(8);
        @include laptop{
            font-size: rem(18);
        }
        @include mobile{
            font-size: rem(16);
        }
    }

    &__feedback-text{
        color: var(--grayDark);
        text-align: center;
        margin-bottom: rem(26);
        font-size: rem(16);

        @include laptop{
            font-size: rem(14);
        }
    }

    &__feedback-person{
        display: flex;
        flex-direction: column;
        row-gap: rem(2);
        justify-content: center;
        position: relative;
        padding-left: rem(58);
        min-height: rem(48);
    }

    &__feedback-icon{
        width: rem(48);
        height: rem(48);
        border-radius: rem(100);
        overflow: hidden;
        position: absolute;
        left: 0;
        top: 0;

        img{
            width: 100%;
            height: 100%;
            display: block;
        }
    }

    &__feedback-name{
        color: var(--black);
        font-size: rem(16);
        @include laptop{
            font-size: rem(14);
        }
    }

    &__feedback-job{
        color: var(--grayDark);
        font-size: rem(14);
        @include laptop{
            font-size: rem(13);
        }
    }


    &__logos{
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: rem(18);
        margin-bottom: rem(10);

        img{
            height: rem(26);
            @include laptop{
                height: rem(21);
            }
            @include mobile{
                height: rem(20);
            }
        }

        @include laptop{
            margin-bottom: rem(6);
        }
    }

    &__swiper{
        .swiper-wrapper{
            column-gap: rem(10);
            @include laptop{
                column-gap: rem(8);
            }
        }

        @include mobile{
            width: calc(100% + rem(16));
            margin-left: rem(-8);
            padding-left: rem(8);
        }
    }

    &__swiper-slide{
        padding: 0 rem(60);
        padding-top: rem(16);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #3500274D;
        border-radius: rem(200);
        width: 100%;
        max-width: rem(431);
        min-height: rem(247);
        box-sizing: border-box;

        @include laptop{
            max-width: rem(355);
            min-height: rem(210);
            padding: 0 rem(38);
            padding-top: rem(9);
        }
        @include mobile{
            width: rem(343);
            height: rem(172);
            min-height: unset;
            padding: rem(24) rem(36) rem(24) rem(36);

            &:nth-last-of-type(1){
                margin-right: rem(25);
            }
        }
    }

    &__swiper-title{
        font-size: rem(24);
        color: var(--white);
        margin-bottom: rem(12);
        text-align: center;
        @include laptop{
            font-size: rem(20);
            margin-bottom: rem(8);
        }
        @include mobile{
            font-size: rem(18);
        }
    }

    &__swiper-text{
        color: var(--white);
        opacity: 0.8;
        font-size: rem(16);
        margin-bottom: rem(24);
        text-align: center;
        max-width: rem(310);
        @include laptop{
            font-size: rem(14);
            margin-bottom: rem(20);
        }
        @include mobile{
            margin-bottom: rem(12);
        }
    }

    &__swiper-btn{
        background: transparent;
        color: var(--white);
        height: rem(48);
        font-weight: 400;
        justify-content: flex-start;
        column-gap: rem(10);
        padding-left: 0;
        text-align: left;

        

        .btn__circle{
            background: #3500274D;
            margin: 0;

            img {
                @include mobile{
                    width: rem(20);
                    height: rem(20);
                }
            }
        }

        @include laptop{
            justify-content: center;
            max-width: rem(207);
            .btn__circle{
                flex-shrink: 0;
                width: rem(42);
                height: rem(42);
            }
        }
        @include mobile{
            .btn__circle{
                width: rem(48);
                height: rem(48);
            }
        }

        &_1{
            max-width: rem(246);
            @include laptop{
                max-width: rem(213);
            }
            @include mobile{
                max-width: rem(220);
            }
        }

        &_2{
            max-width: rem(220);
            @include laptop{
                max-width: rem(191);
            }
            @include mobile{
                max-width: rem(200);
            }
        }

        &_3{
            max-width: rem(200);
            @include laptop{
                max-width: rem(173);
            }
            @include mobile{
                max-width: rem(180);
            }
        }

        &:hover{
            background: transparent;

            &::before{
                content: '';
                width: calc(100% + rem(32));
                height: calc(100% + rem(10));
                top: rem(-5);
                left: rem(-9);
            }
        }
    }

    &__swiper-pagination.swiper-pagination{
        //bottom: rem(-42);
        display: none;
        bottom: unset;
        margin-top: rem(30);
        height: rem(12);
        
        justify-content: center;
        align-items: center;
        position: relative;

        @include laptop{
            margin-top: rem(24);
        }
        @include mobile{
            margin-top: rem(14);
            display: flex;
        }

        .swiper-pagination-bullet{
            background: var(--white);
            opacity: 1;
            @include mobile{
                width: rem(6);
                height: rem(6);
            }
        }
        .swiper-pagination-bullet-active{
            background: var(--grayDark);
            transform: scale(1.5);
        }
    }

}