.main-first {
  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100svh;
    max-height: rem(900);
    padding: rem(76) 0;

    @include laptop {
      padding: rem(160) 0 rem(48) 0;
      max-height: rem(644);
      justify-content: space-between;
    }
    @include mobile {
      padding: rem(154) 0 rem(33) 0;
      max-height: rem(530);
    }
  }

  &__title {
    font-size: rem(100);
    font-weight: 600;
    text-align: center;
    width: 100%;
    max-width: rem(1400);
    text-transform: uppercase;
    letter-spacing: -0.051em;
    line-height: 1;
    margin: 0;
    z-index: 3;

    @include laptop {
      font-size: rem(72);
      max-width: rem(1100);
    }
    @include mobile {
      font-size: rem(36);
      max-width: rem(320);
    }
  }

  &__logo {
    width: 100%;
    height: rem(500);
    margin-top: rem(-90);
    z-index: 1;

    img {
      width: 100%;
      height: 100%;
    }

    video {
      width: 100%;
      height: 100%;
      @include mobile {
        width: 230%;
        margin-left: -65%;
      }
    }

    @include laptop {
      height: rem(363);
    }
    @include mobile {
      height: rem(169);
      margin-top: rem(-20);
    }
  }

  &__btn {
    width: rem(535);
    height: rem(61);
    margin-top: rem(-70);
    font-size: rem(22);
    border: rem(2) solid var(--black);
    line-height: 1;
    padding: 0;
    z-index: 3;

    @include laptop {
      font-size: rem(16);
      max-width: rem(389);
      height: rem(43);
    }
    @include mobile {
      margin-top: rem(-10);
      max-width: calc(100% - rem(32));
      font-size: rem(14);
      height: rem(45);
      padding-top: rem(2);
    }
  }
}
