

.main-order{
    position: relative;

    &__inner{
        padding-top: rem(80);
        padding-bottom: rem(90);
        border-radius: rem(60);
        background: url(../img/background-hills.jpg) no-repeat;
        background-size: cover;
        background-position: center bottom;

        mask-image: url(../img/mask/new-mask-4-xl.svg);
        mask-size: 100% 100%;
        mask-repeat: no-repeat;

        mask-image: none;

        @include laptop{
            padding-top: rem(60);
            padding-bottom: rem(88);
            border-radius: rem(44);

            mask-image: url(../img/mask/new-mask-4-l.svg);
            mask-size: 100% 100%;
            mask-repeat: no-repeat;

            mask-image: none;
        }
        @include mobile{
            padding: rem(40) rem(8) rem(104) rem(8);
            border-radius: rem(40);

            background: url(../img/background-hills_mobile3.jpg) no-repeat;
            background-size: cover;
            background-position: center bottom;

            mask-image: none;
        }
    }

    &__wrap{
        max-width: rem(1046);
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include laptop{
            max-width: rem(714);
        }

        .description{
            margin-bottom: rem(28);
            @include laptop{
                margin-bottom: rem(16);
            }
        }
    }

    &__success{
        //position: absolute;
        background: #fff;
        //width: 100%;
        //height: 100%;
        //top: 0;
        //left: 0;

        width: rem(1046);
        height: rem(590);

        z-index: 5;
        border-radius: rem(50);
        padding: rem(110) rem(65) rem(54);
        display: flex;
        flex-direction: column;
        align-items: center;
        @include laptop{
            border-radius: rem(38);
            padding: rem(91) rem(36) rem(38);
            width: rem(809);
            height: rem(486);
        }
        @include mobile{
            border-radius: rem(30);
            width: 100%;
            padding: rem(53) rem(24) rem(24);
        }
    }

    &__success-title{
        font-size: rem(50);
        line-height: 1.08;
        font-weight: 500;
        text-align: center;
        margin-bottom: rem(22);
        @include laptop{
            font-size: rem(38);
            margin-bottom: rem(18);
        }
        @include mobile{
            font-size: rem(24);
            margin-bottom: rem(14);
        }
    }

    &__success-text{
        text-align: center;
        max-width: rem(327);
        font-size: rem(16);
        @include laptop{
            font-size: rem(14);
            max-width: rem(317);
        }
        @include mobile{
            max-width: rem(284);
        }
    }

    &__success-box{
        margin-top: rem(71);
        display: flex;
        justify-content: space-between;
        column-gap: rem(10);
        @include laptop{
            margin-top: rem(60);
        }
        @include mobile{
            flex-wrap: wrap;
            row-gap: rem(8);
            margin-top: rem(44);
        }
    }

    &__success-block{
        flex-shrink: 0;
        background: var(--bg);
        border-radius: rem(50);
        padding: rem(40) rem(44);
        position: relative;

        @include laptop{
            border-radius: rem(38);
            padding: rem(32) rem(36);
        }
        @include mobile{
            padding: rem(24);
            border-radius: rem(30);
        }

        &:nth-of-type(1){
            width: rem(411);
            .main-order__success-block-text{
                max-width: rem(306);
            }
            @include laptop{
                width: rem(303);
            }
            @include mobile{
                width: 100%;
            }
        }
        &:nth-of-type(2){
            width: rem(495);
            @include laptop{
                width: rem(426);
            }
            @include mobile{
                width: 100%;
            }
        }
    }

    &__success-block-title{
        font-size: rem(20);
        margin-bottom: rem(10);
        @include laptop{
            font-size: rem(18);
            margin-bottom: rem(8);
        }
    }

    &__success-block-text{
        font-size: rem(16);

        @include laptop{
            font-size: rem(14);
        }
        @include mobile{
            display: none;
            font-size: rem(12);
        }
        

        &_icon{
            color: var(--grayDark);
            display: flex;
            align-items: center;
            column-gap: rem(4);

            @include mobile{
                position: absolute;
                right: rem(24);
            }

            &:nth-of-type(1){
                margin-left: auto;
                @include mobile{
                    bottom: rem(41);
                }
            }
            &:nth-of-type(2){
                margin-left: rem(10);
                @include mobile{
                    margin-left: 0;
                    margin-right: rem(3.5);
                    bottom: rem(23);
                }
            }

            img{
                display: block;
                width: rem(18);
                height: rem(18);
                @include mobile{
                    width: rem(14);
                    height: rem(14);
                }
            }
        }
    }

    &__success-block-flex{
        display: flex;
        margin-top: rem(22);

        @include laptop{
            margin-top: rem(16);
        }
        
    }

    &__success-block-btn{
        display: flex;
        align-items: center;
        column-gap: rem(10);
        font-size: rem(16);
        max-width: rem(216);
        font-size: rem(16);
        position: relative;
        z-index: 1;

        @include laptop{
            max-width: rem(193);
            font-size: rem(14);
        }
        @include mobile{
            max-width: rem(199);
        }
    }

    &__form{
        position: relative;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: rem(46);
        background: var(--white);
        border-radius: rem(50);
        width: 100%;
        @include laptop{
            padding: rem(44);
            border-radius: rem(38);

        }
        @include mobile{
            padding: rem(24) rem(8);
        }
    }

    &__form-title{
        max-width: rem(483);
        text-align: center;
        font-size: rem(24);
        color: var(--black);
        @include laptop{
            font-size: rem(20);
        }
        @include mobile{
            font-size: rem(18);
            max-width: rem(320);
        }
    }

    &__form-fields{
        max-width: rem(307);
        width: 100%;
        margin-top: rem(28);
        margin-bottom: rem(38);
        display: flex;
        flex-direction: column;
        row-gap: rem(10);

        @include laptop{
            margin-top: rem(20);
            row-gap: rem(8);
            max-width: rem(270);
        }
        @include mobile{
            margin-top: rem(24);
            margin-bottom: rem(14);
        }

        button{
            margin-top: rem(6);
            @include mobile{
                width: rem(296);
                max-width: unset;
                height: rem(50);
                margin-left: rem(-18);
            }
        }

        .input-block{
            @include mobile{
                max-width: rem(260);
            }
            &:has( > input[type=text] ) {
                max-width: rem(260);
                @include laptop{
                    max-width: rem(240);
                }
                @include mobile{
                    max-width: rem(260);
                }
            }
            &:has( > input[type=tel] ) {
                max-width: rem(230);
                @include laptop{
                    max-width: rem(210);
                }
                @include mobile{
                    max-width: rem(260);
                }
            }
            &:has( > input[type=email] ) {
                max-width: rem(307);
                @include laptop{
                    max-width: rem(307);
                }
                @include mobile{
                    max-width: rem(307);
                }
            }
            &:has( > .select ) {
                max-width: rem(260);
                @include laptop{
                    max-width: rem(240);
                }
                @include mobile{
                    max-width: rem(260);
                }
            }
        }

    }

    &__form-note{
        max-width: rem(555);
        text-align: center;
        color: #B0AEB8;
        font-size: rem(16);

        @include laptop{
            font-size: rem(14);
            max-width: rem(493);
        }
        @include mobile{
            font-size: rem(12);
        }

        a{
            color: #B0AEB8;
            text-decoration: underline;
            transition-duration: 0.3s;
            &:hover{
                @include NOTmobile{
                    color: #43414F;
                }
            }
        }
    }

    &__social{
        width: 100%;
        max-width: rem(310);
        column-gap: rem(10);
        display: flex;
        align-items: center;
        justify-content: center;
        height: rem(80);
        background: #3500274D;
        backdrop-filter: blur(calc(50px * 0.35));
        border-radius: rem(100);
        overflow: hidden;
        margin-top: rem(12);

        @include laptop{
            max-width: rem(248);
            height: rem(66);
            margin-top: rem(10);
        }
        @include mobile{
            height: rem(64);
            max-width: rem(312);
        }
    }

    &__social-link{
        background: #3500274D;
        width: rem(48);
        height: rem(48);
        border-radius: rem(100);
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        img {
            width: rem(20);
            height: rem(20);
        }

        @include laptop{
            width: rem(42);
            height: rem(42);
            
            img {
                width: rem(18);
                height: rem(18);
            }
        }
        @include mobile{
            width: rem(48);
            height: rem(48);
        }
    }



    


}