

.main-cases{

    &__box{
        margin-top: rem(60);
        display: flex;
        column-gap: rem(40);

        @include mobile{
            flex-wrap: wrap;
            row-gap: rem(40);
            margin-top: 0;
        }
    }

    &__col{
        width: 50%;
        display: flex;
        flex-direction: column;
        //row-gap: rem(80);

        @include mobile{
            width: 100%;
        }
    }

    

    &__card{
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: rem(20);

        @include laptop{
            row-gap: rem(14);
        }

        @include mobile{
            row-gap: rem(6);
        }

        &_desktop{
            @include mobile{
                display: none !important;
            }
        }

        &_small{
            max-width: rem(540);
            margin: 0 auto;
            row-gap: rem(16);
            margin-top: rem(80);
            //margin-bottom: rem(80);

            @include laptop{
                max-width: rem(396);
                row-gap: rem(14);
                margin-top: rem(50);
            }
            @include mobile{
                max-width: rem(320);
                margin-right: rem(10);

                &:nth-last-of-type(1) {
                    margin-right: 0;
                }
            }

            &:has(+ .main-cases__card) {
                margin-bottom: rem(80);
                @include laptop{
                    margin-bottom: rem(50);
                }
            }

            &:has(+ &) {
                margin-bottom: 0;
            }

            .main-cases__card-image{
                height: rem(220);
                background: var(--bg);
                border-radius: rem(160);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                //row-gap: rem(26);
                row-gap: rem(14);
                overflow: visible;

                mask-image: none;

                @include laptop{
                    height: rem(164);
                    row-gap: rem(14);
                }
                @include mobile{
                    height: rem(125);
                    row-gap: rem(8);
                }
            }
            .main-cases__card-logo{
                position: relative;
                top: unset;
                left: unset;
                width: unset;
                height: rem(40);

                @include laptop{
                    //height: rem(19);
                    height: rem(34);
                }
            }
            .main-cases__card-title{
                font-size: rem(24);
                @include laptop{
                    font-size: rem(20);
                }
                @include mobile{
                    font-size: rem(18);
                }
            }
        }

    }

    &__card-note{
        font-size: rem(16);
        text-align: center;
        @include laptop{
            font-size: rem(14);
        }

    }

    &__card-eye{
        width: rem(46);
        height: rem(46);
        border-radius: rem(100);
        background: #35002733;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: rem(30);
        backdrop-filter: blur(calc(36px * 0.35));

        & > img{
            width: rem(20);
            height: rem(20);
        }

        @include laptop{
            width: rem(34);
            height: rem(34);
            left: rem(14);

            & > img{
                width: rem(15);
                height: rem(15);
            }
        }
        @include mobile{
            left: rem(8);
        }

    }

    &__card-image{
        //border-radius: rem(50);
        overflow: hidden;
        width: 100%;
        height: rem(660);
        position: relative;

        mask-image: url(../img/mask/case-xl.svg);
        mask-size: 100% 100%;
        mask-repeat: no-repeat;


        & > img{
            width: calc(100% + rem(40));
            height: calc(100% + rem(40));
            max-width: unset;
            margin-top: rem(-20);
            margin-left: rem(-20);
        }

        @include laptop{
            height: rem(430);
            //border-radius: rem(38);
            mask-image: url(../img/mask/case-l.svg);
            mask-size: 100% 100%;
            mask-repeat: no-repeat;
        }
        @include mobile{
            height: rem(230);
            //border-radius: rem(30);
            mask-image: url(../img/mask/case-m.svg);
            mask-size: 100% 100%;
            mask-repeat: no-repeat;
        }
    }

    &__card-logo{
        position: absolute;
        top: rem(50);
        left: rem(50);
        height: rem(42);
        z-index: 2;
        

        @include laptop{
            top: rem(34);
            left: rem(34);
            height: rem(34);
            //max-height: rem(34);
        }
        @include mobile{
            top: rem(20);
            left: rem(24);
            max-height: rem(28);
        }

        & > img{
            display: block;
            //width: 100%;
            height: 100%;
            @include mobile{
                //max-height: rem(28);
            }
        }
    }

    &__card-label{
        position: absolute;
        bottom: rem(30);
        left: rem(30);
        border-radius: rem(26);
        background: #35002733;
        padding: rem(30) rem(28);
        backdrop-filter: blur(calc(50px * 0.35));

        @include laptop{
            padding: rem(18) rem(20);
            border-radius: rem(20);
            left: rem(20);
            bottom: rem(20);
        }
        @include mobile{
            width: rem(214);
            height: rem(34);
            display: flex;
            padding: rem(8) 0;
            justify-content: center;
            align-items: flex-end;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &__card-up{
        color: var(--white);
        font-size: rem(30);
        font-weight: 500;
        display: flex;
        align-items: center;
        column-gap: rem(6);

        img{
            width: rem(32);
            height: rem(24);
            flex-shrink: 0;
        }

        @include laptop{
            
            font-size: rem(20);

            img{
                width: rem(22);
                height: rem(17);
            }
        }
        @include mobile{
            flex-shrink: 0;
            
            font-size: rem(14);
            margin-right: rem(2);
            
            img{
                height: rem(18);
                width: rem(28);
                border-radius: rem(40);
            }
        }
    }

    &__card-text{
        color: var(--white);
        opacity: 0.75;
        font-size: rem(16);
        @include laptop{
            font-size: rem(14);
        }
        @include mobile{
            font-size: rem(12);
            margin-bottom: rem(2);
            margin-left: rem(2);
        }
    }

    &__card-tags{
        font-size: rem(16);
        margin-top: rem(26);
        display: flex;
        gap: rem(6);
        align-items: center;

        @include laptop{
            margin-top: rem(16);
        }
        @include mobile{
            margin-top: rem(12);
        }

        img{
            flex-shrink: 0;
            width: rem(10);
            height: rem(10);
            @include laptop{
                width: rem(8);
                height: rem(8);
            }
        }
    }

    &__card-tag{
        font-size: rem(16);
        @include laptop{
            font-size: rem(14);
        }
        @include mobile{
            font-size: rem(12);
        }
    }

    &__card-title{
        font-size: rem(34);
        max-width: rem(650);

        @include laptop{
            font-size: rem(24);
            max-width: rem(480);
        }
        @include mobile{
            font-size: rem(18);
        }
    }

    &__btn{
        margin-top: rem(80);
        width: rem(360);
        height: rem(180);
        max-width: unset;
        font-size: rem(16);

        @include laptop{
            width: rem(280);
            height: rem(152);
            margin-top: rem(40);
            font-size: rem(14);
        }
        @include mobile{
            width: 100%;
            height: rem(50);
            font-size: rem(16);
        }
    }


    &__mobile-swiper{
        display: none;
        @include mobile{
            display: block;
            width: 100%;
            overflow: visible;
        }

        
    }


    &__swiper{
        margin: rem(80) 0;
        width: calc(100% - rem(78));
        overflow: unset;
        overflow-x: clip;

        @include laptop{
            margin: rem(50) 0;
            width: calc(100% - rem(54));
        }
        @include mobile{
            width: 100%;
            overflow: visible;
        }
    }

    &__swiper-wrap{
        position: relative;
    }

    &__swiper-slide{
        box-sizing: border-box;
        width: rem(745);
        height: rem(533);
        background: var(--bg);
        //border-radius: rem(50);
        margin-right: rem(12);
        padding: rem(60);
        padding-top: rem(56);
        display: flex;
        flex-direction: column;

        mask-image: url(../img/mask/feed-xl.svg);
        mask-size: 100% 100%;
        mask-repeat: no-repeat;

        @include laptop{
            width: rem(581);
            height: rem(463);
            padding: rem(40) rem(44);
            padding-top: rem(42);

            mask-image: url(../img/mask/feed-l.svg);
            mask-size: 100% 100%;
            mask-repeat: no-repeat;
        }
        @include mobile{
            width: rem(343);
            height: rem(458);
            //border-radius: rem(30);
            padding: rem(28);
            padding-top: rem(30);
            margin-right: rem(8);

            mask-image: url(../img/mask/feed-m.svg);
            mask-size: 100% 100%;
            mask-repeat: no-repeat;
        }

        &:nth-last-of-type(1){
            margin-right: unset;
        }
    }

    &__swiper-logo{
        height: rem(15);
        display: flex;
        justify-content: center;
        margin-bottom: rem(60);
        @include laptop{
            margin-bottom: rem(42);
            height: rem(12);
        }
        @include mobile{
            height: rem(12);
            //width: rem(159);
            margin-left: auto;
            margin-right: auto;
            margin-bottom: rem(28);
        }
        img{
            height: 100%;
        }
    }

    &__swiper-title{
        font-size: rem(20);
        line-height: rem(24);
        margin-bottom: rem(12);
        max-width: rem(545);
        @include laptop{
            font-size: rem(18);
            margin-bottom: rem(10);
            max-width: rem(416);
        }
        @include mobile{
            margin-bottom: rem(8);
        }
    }

    &__swiper-text{
        color: var(--grayDark);
        margin-bottom: rem(20);
        font-size: rem(16);
        line-height: 1.4;
        max-width: rem(545);
        @include laptop{
            font-size: rem(14);
            max-width: rem(416);
        }
        @include mobile{
            margin-bottom: rem(16);
        }
    }

    &__swiper-file{
        display: flex;
        align-items: center;
        column-gap: rem(10);
        max-width: rem(267);
        font-size: rem(16);
        line-height: rem(19.2);
        position: relative;
        z-index: 5;
        @include laptop{
            font-size: rem(14);
        }
        @include mobile{
            line-height: 1.1;
        }

    }

    &__swiper-icon{
        flex-shrink: 0;
        width: rem(48);
        height: rem(48);
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--white);
        border-radius: rem(100);

        img{
            width: rem(20);
            height: rem(20);
        }

        @include laptop{
            width: rem(42);
            height: rem(42);

            img{
                width: rem(18);
                height: rem(18);
            }
        }
        @include mobile{
            width: rem(48);
            height: rem(48);
            img{
                width: rem(20);
                height: rem(20);
            }
        }
    }

    &__swiper-person{
        margin-top: auto;
        max-width: rem(317);
        padding-left: rem(74);
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: rem(58);

        @include laptop{
            padding-left: rem(60);
        }
        @include mobile{
            line-height: 1.1;
            min-height: rem(48);
        }
    }

    &__swiper-name{
        font-size: rem(16);
        margin-bottom: rem(4);
        line-height: rem(19.2);
        @include laptop{
            font-size: rem(14);
        }
        @include mobile{
            font-size: rem(12);
            line-height: 1.1;
        }
    }

    &__swiper-job{
        font-size: rem(14);
        color: var(--grayDark);
        @include laptop{
            font-size: rem(13);
        }
        @include mobile{
            font-size: rem(12);
        }
    }

    &__swiper-photo{
        width: rem(58);
        height: rem(58);
        border-radius: rem(100);
        overflow: hidden;
        position: absolute;
        left: 0;
        top: 0;

        @include laptop{
            width: rem(48);
            height: rem(48);
        }

        
        img{
            width: 100%;
            height: 100%;
        }
    }

    &__swiper-pagination.swiper-pagination{
        //bottom: rem(-42);
        bottom: unset;
        margin-top: rem(30);
        height: rem(12);
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        @include laptop{
            margin-top: rem(24);
        }
        @include mobile{
            margin-top: rem(14);
        }

        .swiper-pagination-bullet{
            background: var(--gray);
            opacity: 1;
            @include mobile{
                width: rem(6);
                height: rem(6);
            }
        }
        .swiper-pagination-bullet-active{
            background: var(--grayDark);
            transform: scale(1.5);
        }
    }

    &__swiper-controls{
        position: absolute;
        right: 0;
        top: 0;
        height: rem(533);
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: rem(8);
        @include laptop{
            row-gap: rem(12);
            height: rem(463);
        }
        @include mobile{
            display: none;
        }
    }

    &__swiper-prev,
    &__swiper-next{
        height: rem(212);
        width: rem(58);
        border-radius: rem(100);
        background: var(--bg);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition-duration: 0.3s;
        position: relative;


        img{
            width: rem(28);
            height: rem(28);
        }

        @include laptop{
            height: rem(192);
            width: rem(38);
            img{
                width: rem(20);
                height: rem(20);
            }
        }

        &.swiper-button-disabled{
            cursor: default;

            img{
                opacity: 0.2;
            }
        }

        &::before{
            content: '';
            position: absolute;
            background: var(--bg);
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: -1;
            border-radius: rem(100);
            transition-duration: 0.3s;
        }

        &:not(.swiper-button-disabled):hover{
            //background: var(--grayLight);

            &::before{
                content: '';
                transform: scale(1.1, 1.02);
            }

        }

        &:not(.swiper-button-disabled):active{
            background: var(--grayLight);

            &::before{
                content: '';
                background: var(--grayLight);
            }
        }

    }


    &__experience{
        margin-top: rem(80);

        @include laptop{
            margin-top: rem(60);
        }

    }

    &__experience-swiper{
        @include mobile{
            width: calc(100% + rem(16));

        }
    }

    &__experience-list{
        display: flex;
        flex-direction: column;
        row-gap: rem(10);

        @include laptop{
            row-gap: rem(8);
        }
        @include mobile{
            flex-direction: row;
        }
    }

    &__experience-pagination.swiper-pagination{
        //bottom: rem(-42);
        display: none;
        bottom: unset;
        margin-top: rem(30);
        height: rem(12);
        
        justify-content: center;
        align-items: center;
        position: relative;

        @include laptop{
            margin-top: rem(24);
        }
        @include mobile{
            margin-top: rem(14);
            display: flex;
        }

        .swiper-pagination-bullet{
            background: var(--gray);
            opacity: 1;
            @include mobile{
                width: rem(6);
                height: rem(6);
            }
        }
        .swiper-pagination-bullet-active{
            background: var(--grayDark);
            transform: scale(1.5);
        }
    }

    &__experience-line{
        width: 100%;
        background: var(--bg);
        border-radius: rem(100);
        padding: rem(20) rem(80);
        display: flex;
        align-items: center;
        height: rem(108);
        row-gap: rem(30);
        box-sizing: border-box;

        @include laptop{
            height: rem(92);
            padding: 0 rem(54);
        }
        @include mobile{
            width: rem(284);
            height: rem(199);
            padding: rem(28);
            border-radius: rem(30);
            margin-right: rem(10);
            flex-direction: column;
            row-gap: rem(0);

            &:nth-last-of-type(1) {
                margin-right: rem(16);
            }
    
        }

        
    }

    &__experience-logo{
        //filter: invert(1);
        width: rem(208);
        height: rem(50);
        margin-right: rem(73);

        img{
            height: 100%;
            object-fit: contain;
            
        }

        @include laptop{
            height: rem(42);
            margin-right: rem(50);
        }

        @include mobile{
            width: auto;
            height: rem(32);
            margin-right: auto;
            margin-bottom: rem(10);
        }
    }

    &__experience-text{
        font-size: rem(20);
        line-height: 1.2;
        max-width: rem(590);
        @include laptop{
            font-size: rem(18);
            max-width: rem(500);
        }
        @include mobile{
            font-size: rem(14);
        }
    }

    &__experience-type{
        margin-left: auto;
        font-size: rem(16);
        width: rem(132);

        @include laptop{
            width: rem(118);
            font-size: rem(14);
        }
        @include mobile{
            width: 100%;
            text-align: right;
            margin-top: auto;
            color: var(--grayDark);
        }
    }




}