

.main-media{

    &__swiper{
        overflow: visible;
    }

    &__swiper-pagination.swiper-pagination{
        //bottom: rem(-42);
        display: none;
        bottom: unset;
        margin-top: rem(30);
        height: rem(12);
        
        justify-content: center;
        align-items: center;
        position: relative;

        @include laptop{
            margin-top: rem(24);
        }
        @include mobile{
            margin-top: rem(14);
            display: flex;
        }

        .swiper-pagination-bullet{
            background: var(--gray);
            opacity: 1;
            @include mobile{
                width: rem(6);
                height: rem(6);
            }
        }
        .swiper-pagination-bullet-active{
            background: var(--grayDark);
            transform: scale(1.5);
        }
    }

    &__box{
        display: flex;
        flex-wrap: wrap;
        gap: rem(10);

        @include laptop{
            gap: rem(8);
        }

        &_mt{
            margin-top: rem(10);
            @include laptop{
                margin-top: rem(8);
            }
            @include mobile{
                margin-top: rem(30);
            }
        }

        &_swiper{
            @include mobile{
                flex-wrap: nowrap;
            }
        }

    }


    &__card{
        background: var(--bg);
        border-radius: rem(50);
        padding: rem(40) rem(44);
        width: rem(519);
        height: rem(545);
        display: flex;
        flex-direction: column;
        position: relative;
        box-sizing: border-box;

        @include laptop{
            width: rem(408);
            height: rem(460);
            padding: rem(32) rem(36);
        }
        @include mobile{
            width: rem(343);
            height: rem(400);
            padding: rem(24);
            padding-top: rem(34);
            border-radius: rem(30);
        }

        &_wide{
            width: rem(1394);
            height: auto;
            padding: rem(60);

            @include laptop{
                width: 100%;
                padding: rem(44);
                margin-right: rem(130);
            }
            @include mobile{
                padding: rem(24);
                margin-right: 0;
                
            }

            .main-media__card-title{
                font-size: rem(34);
                margin-bottom: rem(8);
                margin-top: rem(0);
                @include laptop{
                    font-size: rem(24);
                }
                @include mobile{
                    font-size: rem(18);
                }
            }
            .main-media__card-text{
                display: flex;
                align-items: center;
                column-gap: rem(6);
                @include mobile{
                    font-size: rem(12);
                }
            }
            .main-media__card-text_title{
                @include mobile{
                    font-size: rem(16);
                }
            }
            .main-media__card-text_description{
                @include mobile{
                    font-size: rem(14);
                    margin-bottom: rem(28);
                }
            }
            .main-media__card-image{
                width: rem(720);
                height: rem(330);
                display: flex;
                justify-content: center;
                align-items: center;
                background: var(--pink);
                border-radius: rem(300);
                margin-bottom: rem(24);
                img {
                    width: rem(378);
                    height: rem(77);
                }
                @include laptop{
                    width: rem(534);
                    height: rem(270);
                    margin-bottom: rem(20);
                    img {
                        width: rem(302);
                        height: rem(62);
                    }
                }
                @include mobile{
                    width: 100%;
                    height: rem(170);
                    margin-bottom: rem(18);
                    
                    img{
                        width: rem(184);
                        height: rem(38);
                    }
                }
            }
        }
    }

    &__card-label{
        width: rem(46);
        height: rem(46);
        border-radius: rem(100);
        backdrop-filter: blur(calc(34px * 0.35));
        background: #35002733;
        position: absolute;
        top: rem(-14);
        left: rem(-4);
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: rem(20);
            height: rem(20);
        }

        @include laptop{
            width: rem(34);
            height: rem(34);
            top: rem(-4);
            left: rem(-2);

            img {
                width: rem(15);
                height: rem(15);
            }
        }
    }

    &__card-tags{
        display: flex;
        column-gap: rem(6);
        align-items: center;

        img{
            flex-shrink: 0;
            width: 1rem;
            height: 1rem;
        }
    }

    &__card-tag{
        color: var(--grayDark);
        font-size: rem(16);
        line-height: 1.2;
        img {
            width: rem(10);
            height: rem(10);
        }
        @include laptop{
            font-size: rem(14);
            img {
                width: rem(8);
                height: rem(8);
            }
        }
    }

    &__card-title{
        margin-top: rem(20);
        margin-bottom: rem(12);
        font-size: rem(24);
        line-height: 1.2;

        @include laptop{
            font-size: rem(20);
            margin-top: rem(16);
            margin-bottom: rem(8);
        }
        @include mobile{
            font-size: rem(18);
        }
    }

    &__card-text{
        font-size: rem(16);
        line-height: 1.2;

        @include laptop{
            font-size: rem(14);
            display: -webkit-box;
            overflow: hidden;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
        }
        @include mobile{
            -webkit-line-clamp: 6;
        }

        &_tag{

            @include mobile{
                align-items: flex-start !important;
            }

            img{
                width: rem(16);
                height: rem(17);
                @include mobile{
                    width: rem(13);
                    height: rem(14);
                }
            }
        }

        &_big{
            font-size: rem(20);
            @include laptop{
                font-size: rem(18);
            }
        }

        &_gray{
            color: var(--grayDark);
            margin-top: rem(8);
        }

        &_title{
            font-size: rem(20);
            margin-bottom: rem(10);
            justify-content: center;
            @include laptop{
                font-size: rem(18);
            }
            @include mobile{
                text-align: center;
                font-size: rem(16);
            }
        }

        &_description{
            text-align: center;
            justify-content: center;
            max-width: rem(404);
            margin: 0 auto;
        }
    }

    &__card-image{
        margin-top: auto;
        border-radius: rem(60);
        overflow: hidden;

        img {
            display: block;
            width: 100%;
            height: 100%;
        }

        @include laptop{
            border-radius: rem(38);
            img {
                width: 100%;
            }
        }
        @include mobile{
            border-radius: rem(24);
        }
    }

    &__card-bot{
        display: flex;
        justify-content: center;
        column-gap: rem(20);
        margin-top: rem(20);

        img{
            height: rem(18);
            @include laptop{
                height: rem(14);
            }
        }

        @include laptop{
            margin-top: rem(10);
            column-gap: rem(12);
        }
        @include mobile{
            margin-top: rem(16);
        }

        &_stats{
            column-gap: rem(10);
            @include laptop{
                column-gap: rem(8);
            }
        }
    }

    &__card-stat{
        font-size: rem(16);
        line-height: 1.2;
        color: var(--grayDark);
        display: flex;
        column-gap: rem(3);
        align-items: center;

        img {
            width: rem(18);
            height: rem(18);

            @include laptop{
                width: rem(16);
                height: rem(16);
            }
            @include mobile{
                width: rem(14);
                height: rem(14);
            }
        }

        @include laptop{
            font-size: rem(14);
        }
        @include mobile{
            font-size: rem(12);
        }
    }

    &__card-box{
        margin-top: rem(40);
        display: flex;
        column-gap: rem(10);
        @include laptop{
            margin-top: rem(30);
            column-gap: rem(8);
        }
        @include mobile{
            flex-wrap: wrap;
        }
    }

    &__card-left{
        width: rem(720);
        flex-shrink: 0;
        @include laptop{
            width: rem(534);
        }
        @include mobile{
            width: 100%;
        }
    }

    &__card-right{
        gap: rem(10);
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &__card-block{
        padding: rem(34) rem(44);
        background: var(--white);
        border-radius: rem(50);
        width: 100%;
        display: flex;
        align-items: center;
        column-gap: rem(24);
        @include laptop{
            border-radius: rem(38);
            padding: rem(26) rem(34);
            column-gap: rem(16);
        }
        @include mobile{
            border-radius: rem(24);
            padding: rem(12) rem(14);
            align-items: flex-start;

            .main-media__card-text_big{
                font-size: rem(14);
            }
        }



    }

    &__card-description{
        
        @include mobile{
            padding-top: rem(11);
        }

        &_second{
            @include mobile{
                padding-top: rem(6);
            }
        }

    }

    &__card-icon{
        flex-shrink: 0;
        width: rem(80);
        height: rem(80);
        border-radius: rem(20);
        overflow: hidden;

        img{
            width: 100%;
            height: 100%;
        }

        @include mobile{
            width: rem(60);
            height: rem(60);
            border-radius: rem(16);
        }
    }


}