

.main-team{

    &_community{
        .main-team__box{
            flex-direction: row;
            @include mobile{
                flex-wrap: wrap;
            }
        }
        .main-team__card-link_absolute{
            min-width: rem(147);
            @include laptop{
                min-width: rem(130);
            }
            @include mobile{
                //left: rem(24);
                right: unset;
                bottom: rem(0);
                top: unset;
                //transform: translateY(-50%);
                margin: 0;
                margin-top: rem(5);
            }
        }
        .main-team__stat{
            @include mobile{
                margin-top: 0;
                transform: translateY(rem(35));
            }
        }
        .main-team__card{
            @include mobile{
                //padding-bottom: rem(40);
            }
        }
    }

    &__box{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        column-gap: rem(10);
        @include laptop{
            column-gap: rem(8);
        }
        @include mobile{
            flex-wrap: wrap-reverse;
            row-gap: rem(30);
        }
    }

    &__left{
        width: 100%;
    }

    &__right{
        width: rem(720);
        flex-shrink: 0;
        @include laptop{
            width: rem(550);
        }
        @include mobile{
            width: 100%;
        }
    }

    &__card{
        padding: rem(40) rem(44);
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: var(--bg);
        width: 100%;
        border-radius: rem(50);
        position: relative;

        @include laptop{
            padding: rem(32) rem(36);
            border-radius: rem(38);
        }
        @include mobile{
            border-radius: rem(30);
            padding: rem(24);
            
        }

        &:has(+ &) {
            margin-bottom: rem(10);
        }

        .main-team__text{
            max-width: rem(467);

            @include laptop{
                max-width: rem(358);
            }
        }
    }

    &__card-list{
        margin-top: rem(22);
        display: flex;
        flex-direction: column;
        row-gap: rem(8);

        &_row{
            flex-direction: row;
            column-gap: rem(24);

            @include laptop{
                column-gap: rem(22);
            }
            @include mobile{
                flex-wrap: wrap;
            }
            
        }
    }

    &__card-link{
        display: flex;
        align-items: center;
        column-gap: rem(10);
        font-size: rem(16);
        max-width: rem(216);
        font-size: rem(16);
        position: relative;
        z-index: 1;

        @include laptop{
            max-width: rem(193);
            font-size: rem(14);
        }
        @include mobile{
            max-width: rem(199);
        }

        &_absolute{
            position: absolute;
            right: rem(62);
            top: 50%;
            transform: translateY(-50%);
            min-width: rem(201);

            @include laptop{
                min-width: rem(170);
                right: rem(36);
            }
            @include mobile{
                position: relative;
                right: unset;
                top: unset;
                bottom: unset;
                margin: 0;
                transform: unset;
                margin-top: rem(18);
            }
            
        }

        &_icons{
            @include laptop{
                justify-content: flex-start;
            }
            @include mobile{
                justify-content: flex-start;
            }
        }
    }

    &__card-icon{
        flex-shrink: 0;
        border-radius: rem(100);
        //overflow: hidden;
        width: rem(48);
        height: rem(48);
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--white);
        position: relative;

        img{
            width: rem(20);
            height: rem(20);
        }

        @include laptop{
            width: rem(42);
            height: rem(42);
        }
        @include mobile{
            width: rem(48);
            height: rem(48);
        }

    }


    &__image{
        border-radius: rem(200);
        height: rem(370);
        width: 100%;
        overflow: hidden;
        position: relative;
        margin-bottom: rem(26);

        @include laptop{
            height: rem(290);
            margin-bottom: rem(20);
        }
        @include mobile{
            height: rem(170);
        }

        img{
            width: 100%;
            height: 100%;
        }
    }

    &__image-label{
        border-radius: rem(100);
        backdrop-filter: blur(calc(80px * 0.35));
        color: var(--white);
        position: absolute;
        bottom: rem(20);
        background: #3500274D;
        padding: rem(10) rem(34);
        left: 50%;
        transform: translateX(-50%);
        font-size: rem(16);

        @include laptop{
            bottom: rem(20);
            font-size: rem(14);
            padding: rem(8) rem(20);
        }
        @include mobile{
            bottom: rem(10);
            font-size: rem(12);
            padding: rem(4) rem(10);
        }
    }

    &__text{
        font-size: rem(16);

        @include laptop{
            font-size: rem(14);
        }
        
        &_tac{
            text-align: center;
        }

        &_title{
            font-size: rem(24);
            margin-bottom: rem(10);
            @include laptop{
                font-size: rem(18);
                margin-bottom: rem(6);
            }
            @include mobile{
                margin-bottom: rem(8);
            }
        }

        &_stat{
            color: var(--grayDark);
            display: flex;
            align-items: center;
            column-gap: rem(4);
            @include mobile{
                font-size: rem(12);

                img{
                    width: rem(14);
                    height: rem(14);
                }
            }
        }

        &_fix{
            max-width: rem(434);
            margin: 0 auto;
        }

    }

    &__stat{
        margin-top: rem(20);
        display: flex;
        align-items: center;
        column-gap: rem(10);

        @include laptop{
            margin-top: rem(16);
        }
        @include mobile{
            margin-top: rem(35);
            justify-content: flex-end;
        }
    }

    &__form{
        display: flex;
        column-gap: rem(8);
        max-width: rem(437);
        width: 100%;
        margin: 0 auto;
        margin-top: rem(26);
        @include laptop{
            max-width: rem(352);
            margin-top: rem(20);
        }
    }

    &__submit{
        width: rem(58);
        height: rem(58);
        background: var(--pink);
        border-radius: rem(100);
        cursor: pointer;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 5;

        img{
            width: rem(22);
            height: rem(22);
        }

        @include laptop{
            width: rem(46);
            height: rem(46);
            
            img {
                width: rem(18);
                height: rem(18);
            }
        }
        @include mobile{
            width: rem(50);
            height: rem(50);
        }
    }

}