.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 90;
    background: #00000099;
    display: none;

    &_video {
        background: #000000dd;
        justify-content: center;
        align-items: center;
    }

    &_review {
        overflow-y: auto;
        overflow-x: hidden;
        background: #0000009f;
        justify-content: center;
        align-items: center;

        @include mobile {
            align-items: end;
        }
    }

    &__review-wrapper {
        position: relative;
        padding-block: rem(70) rem(20);
        margin-block: auto;
        width: 100%;

        @include mobile {
            height: 100%;
            margin-block: auto 0;
            padding-block: rem(20) 0;
        }

        .review-form__box {
            position: relative;
            @include mobile {
                height: 100%;
                .review-form__col:first-child,
                .audit-form__col:first-child {
                    display: none;
                }
            }
        }

        .audit-form__col {
            height: inherit;
            @include laptop {
                min-height: rem(530);
            }

            @include mobile {
                min-height: unset;
                height: auto;
            }
        }

        @include mobile {
            .review-form__col,
            .audit-form__col {
                padding-top: rem(56);
                padding-inline: rem(44);
                border-radius: rem(24) rem(24) 0 0;
            }

            .audit-form__col {
                .modal-mobile__review-discount {
                    background: #3bb55d;
                }
            }

            .review-form__form,
            .audit-form__form {
                justify-content: start;
                height: max-content;
                flex: 0 0 auto;
            }
            .main-order__form-note {
                max-width: rem(310);
                color: #4c5f5f;

                a {
                    color: #4c5f5f;
                }
            }

            .audit-form__form .main-order__form-note {
                color: #b0aeb8;

                a {
                    color: #b0aeb8;
                }
            }

            .review-form__box-free .review-form__form {
                gap: rem(24);
            }
        }
    }

    &__thanks-audit-wrapper {
        width: 100%;

        @include mobile {
            height: 100%;
        }
    }

    &_open {
        display: block;

        &.modal_video {
            display: flex;
        }

        &.modal_review {
            display: flex;
        }
    }

    &_scroll {
        .modal__inner {
            margin-right: rem(364);
            @include laptop {
                margin-right: rem(265);
            }
            @include mobile {
                margin-right: unset;
            }
        }
    }

    &__close {
        position: absolute;
        top: rem(17);
        right: rem(18);
        background: #3500274d;
        width: rem(48);
        height: rem(48);
        border-radius: rem(100);
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        transition-duration: 0.3s;

        img {
            width: rem(20);
            height: rem(20);
            transition-duration: 0.3s;
        }

        @include laptop {
            width: rem(38);
            height: rem(38);
            top: rem(12);
            right: rem(20);
        }
        @include mobile {
            width: rem(40);
            height: rem(40);
            top: rem(16);
            right: rem(16);
        }

        &:hover {
            @include NOTmobile {
                transform: scale(1.2);
                background: #35002733;
                img {
                    transform: scale(0.909);
                }
            }
        }

        &:active {
            @include NOTmobile {
                transform: scale(1.1);
                background: #3500274d;
                img {
                    transform: scale(0.909);
                }
            }
        }
    }

    &__frame {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include mobile {
            height: rem(540);
            overflow: auto;

            padding-bottom: rem(30);
        }
    }

    &__inner {
        transition-duration: 0.3s;
        position: relative;
        margin-bottom: rem(12);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: rem(64) rem(46) rem(46);
        background: var(--white);
        border-radius: rem(40);
        width: 100%;
        max-width: rem(720);
        margin-top: rem(6);
        margin-right: rem(66);
        margin-left: auto;
        @include laptop {
            padding: rem(44);
            padding-top: rem(60);
            border-radius: rem(38);
            max-width: rem(533);
            margin-right: rem(90);
        }
        @include mobile {
            padding: 0 rem(0);
            padding-top: rem(76);
            padding-bottom: rem(0);
            position: absolute;
            bottom: 0;
            margin-bottom: auto;
            margin-top: rem(20);
            border-radius: rem(24) rem(24) 0 0;
        }

        &_video {
            background: #000;
            border-radius: 0;
            margin: 0 !important;
            width: rem(1300);
            max-height: rem(700);
            position: relative;
            max-width: unset;
            padding: 0;

            .modal__close {
                top: rem(-70);
                right: 0;
                background: #fff;

                @include mobile {
                    right: rem(16);
                    top: rem(-50);
                }

                img {
                    filter: invert(1);
                }
            }

            @include mobile {
                width: 100%;
                height: rem(500);
            }

            video {
                width: 100%;
                max-height: rem(700);
                display: block;

                @include mobile {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: auto;
                    max-height: rem(500);
                    display: block;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }

        &_review {
            background: transparent;
            border-radius: 0;
            margin: 0 !important;
            width: rem(1580);
            position: relative;
            max-width: unset;
            padding: 0;

            @include laptop {
                width: rem(1240);
            }

            @include mobile {
                width: 100%;
            }

            .modal__close {
                top: rem(18);
                right: rem(-58);
                background: rgba(255, 255, 255, 0.3);

                @include mobile {
                    z-index: 10;
                    right: rem(16);
                    top: rem(36);
                }

                img {
                }
            }
        }

        &_thanks-audit {
            margin: 0;
            max-width: rem(780);
            height: rem(708);
            padding: rem(60);

            background: #0a0620;

            @include laptop {
                max-width: rem(530);
                height: rem(530);
                padding: rem(36);
            }

            @include mobile {
                top: rem(20);
                height: unset;
                padding: rem(16) rem(16) rem(25) rem(16);
            }

            .review-form__box {
                height: 100%;
            }

            .modal__close {
                top: rem(-58);
                right: rem(-58);
                background: rgba(255, 255, 255, 0.3);

                @include laptop {
                    top: rem(-48);
                    right: rem(-48);
                }

                @include mobile {
                    z-index: 10;
                    top: rem(16);
                    right: rem(16);
                }
            }

            .main-order__success {
                padding: 0;
                height: unset;
                width: 100%;
                background: inherit;

                @include laptop {
                }

                @include mobile {
                    height: 100%;
                }
            }

            .main-order__success-box {
                flex-direction: column;
                gap: rem(12);
                width: 100%;
                margin-top: rem(69);

                @include laptop {
                    margin-top: rem(24);
                    gap: rem(6);
                }

                @include mobile {
                    margin-top: 0;
                    gap: rem(8);
                }
            }

            .main-order__success-title {
                color: var(--white);

                @include laptop {
                    font-size: rem(38);
                    margin-bottom: rem(8);
                }

                @include mobile {
                    margin-top: auto;
                    padding-top: rem(20);
                    font-size: rem(20);
                    text-transform: uppercase;
                }
            }

            .main-order__success-text {
                color: var(--white);
                font-size: rem(20);
                max-width: rem(524);
                margin-bottom: auto;

                @include laptop {
                    max-width: rem(334);
                    font-size: rem(16);
                }

                @include mobile {
                    font-size: rem(14);
                    padding-bottom: rem(20);
                }
            }

            .main-order__success-block {
                width: 100%;
                padding: rem(34) rem(44);

                @include laptop {
                    border-radius: rem(38);
                    padding: rem(20) rem(28);
                }

                @include mobile {
                    border-radius: rem(30);
                    padding: rem(24);
                }
            }

            .main-order__success-block-title {
                @include laptop {
                    font-size: rem(18);
                    margin-bottom: rem(8);
                }
            }

            .main-order__success-block-text {
                @include laptop {
                    font-size: rem(14);
                }
            }

            .main-order__success-block:nth-of-type(1) .main-order__success-block-text {
                margin-left: 0;

                @include laptop {
                    max-width: rem(217);
                }
            }

            .main-order__success-block:nth-child(1) .main-order__success-block-text_icon {
                @include laptop {
                    margin-left: auto;
                }
            }

            .main-order__success-block:nth-of-type(2) .main-order__success-block-text {
                max-width: rem(306);

                @include laptop {
                    max-width: none;
                }
            }

            .main-order__success-block-text_icon:nth-of-type(1) {
                margin-left: 0;

                @include laptop {
                    margin-left: auto;
                }
            }

            .main-order__success-block-flex {
                @include laptop {
                    margin-top: rem(16);
                }

                @include mobile {
                    margin-top: rem(14);
                }
            }

            .main-order__success-block-btn {
                position: absolute;
                top: 50%;
                right: rem(72);
                transform: translateY(-50%);

                @include laptop {
                    position: static;
                    transform: translateY(0);
                    font-size: rem(14);
                }
            }

            .main-team__card-icon {
                @include laptop {
                    width: rem(42);
                    height: rem(42);
                }

                @include mobile {
                    width: rem(48);
                    height: rem(48);
                }
            }
        }
    }

    &__scroll {
        @include mobile {
            padding: 0 rem(40);
            max-height: rem(530);
            overflow-y: auto;
        }
    }

    &__form-title {
        max-width: rem(483);
        text-align: center;
        font-size: rem(24);
        color: var(--black);
        @include laptop {
            font-size: rem(20);
            max-width: rem(409);
        }
        @include mobile {
            font-size: rem(18);
            max-width: rem(320);
        }
    }

    &__form-fields {
        max-width: rem(307);
        width: 100%;
        margin-top: rem(28);
        margin-bottom: rem(38);
        display: flex;
        flex-direction: column;
        row-gap: rem(10);

        @include laptop {
            margin-top: rem(20);
            margin-bottom: rem(30);
            row-gap: rem(8);
            max-width: rem(270);
        }
        @include mobile {
            margin-top: rem(24);
            margin-bottom: rem(14);
            row-gap: rem(6);
        }

        button {
            margin-top: rem(6);
            @include mobile {
                width: rem(296);
                max-width: unset;
                height: rem(50);
                margin-left: rem(-18);
            }
        }

        .input-block {
            @include mobile {
                max-width: rem(260);
            }
            &:has(> input[type="text"]) {
                max-width: rem(260);
                @include laptop {
                    max-width: rem(240);
                }
                @include mobile {
                    max-width: rem(260);
                }
            }
            &:has(> input[type="tel"]) {
                max-width: rem(230);
                @include laptop {
                    max-width: rem(210);
                }
                @include mobile {
                    max-width: rem(260);
                }
            }
        }
    }

    &__form-note {
        max-width: rem(555);
        text-align: center;
        color: #b0aeb8;
        font-size: rem(16);

        @include laptop {
            font-size: rem(14);
            max-width: rem(493);
        }
        @include mobile {
            font-size: rem(12);
            max-width: rem(360);
        }

        a {
            color: #b0aeb8;
            text-decoration: underline;
        }
    }

    &__social {
        z-index: 1;
        width: 100%;
        column-gap: rem(10);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: rem(38);

        @include laptop {
            margin-top: rem(30);
        }
        @include mobile {
            margin-top: rem(24);
        }
    }

    &__social-link {
        background: var(--bg);
        width: rem(48);
        height: rem(48);
        border-radius: rem(100);
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 91;

        img {
            width: rem(22);
            height: rem(22);
        }

        @include laptop {
            width: rem(42);
            height: rem(42);

            img {
                width: rem(18);
                height: rem(18);
            }
        }
        @include mobile {
            width: rem(48);
            height: rem(48);

            img {
                width: rem(22);
                height: rem(22);
            }
        }
    }
}

.modal-mobile {
    &__review-head {
        margin-bottom: rem(38);

        @media (min-width: 481px) {
            display: none;
        }
    }

    &__review-title {
        font-weight: 500;
        font-size: rem(20);
        line-height: 116%;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        color: var(--white);
        margin-bottom: rem(12);
    }

    &__review-data {
        display: flex;
        align-items: center;
        gap: rem(8);
        margin-bottom: rem(4);
    }

    &__review-price {
        font-weight: 500;
        font-size: rem(24);
        line-height: 108%;
        letter-spacing: -0.03em;
        color: var(--white);
    }

    &__review-discount {
        font-weight: 400;
        font-size: rem(13);
        line-height: 120%;
        letter-spacing: -0.03em;
        color: var(--white);

        border-radius: rem(160);
        padding: rem(2) rem(8);
        background: #04afaf;
    }

    &__review-old-price {
        font-weight: 400;
        font-size: rem(16);
        line-height: 108%;
        letter-spacing: -0.03em;
        text-decoration: line-through;
        color: #4c5f5f;
    }

    &__review-description {
        font-weight: 400;
        font-size: rem(14);
        line-height: 120%;
        letter-spacing: -0.03em;
        color: var(--white);
    }
}
