.report-more {
    width: 100%;

    &__title {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: rem(34);
        line-height: 120%;
        letter-spacing: -0.03em;
        color: var(--black);

        padding-left: rem(30);
        max-width: rem(553);

        @include laptop {
            font-size: rem(30);
            padding-left: rem(24);
            max-width: rem(533);
        }

        @include mobile {
            font-size: rem(24);
            padding-left: rem(20);
            max-width: rem(303);

            br {
                display: none;
            }
        }
    }

    &__body {
        margin-top: rem(32);

        display: flex;
        gap: rem(40);

        border-radius: rem(50);
        padding: rem(20) rem(20) rem(20) rem(40);
        max-width: rem(1210);
        background: var(--white);

        @include laptop {
            margin-top: rem(24);
            gap: rem(50);
            border-radius: rem(38);
            padding-left: rem(36);
            max-width: max-content;
        }

        @include mobile {
            margin-top: rem(20);
            flex-direction: column-reverse;
            gap: rem(20);
            border-radius: rem(30);
            padding: rem(20);
        }
    }

    &__left {
        margin-block: auto;
        flex: 1 1 auto;

        @include laptop {
            padding-block: rem(20);
        }

        @include mobile {
            padding-block: 0;
            margin-block: 0;
            position: relative;
        }
    }

    &__subtitle {
        display: flex;
        align-items: center;

        max-width: fit-content;

        border-radius: rem(160);
        padding: rem(2) rem(8);
        height: rem(18);
        background: #04afaf;

        font-family: var(--font-family);
        font-weight: 400;
        font-size: rem(12);
        line-height: 120%;
        letter-spacing: -0.03em;
        color: var(--white);

        margin-bottom: rem(10);

        @include mobile {
            position: absolute;
            top: rem(-20);
            left: 50%;
            transform: translate(-50%, -70%);
            margin-bottom: 0;
        }
    }

    &__heading {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: rem(24);
        line-height: 108%;
        letter-spacing: -0.03em;
        color: var(--black);

        margin-bottom: rem(16);

        @include mobile {
            font-size: rem(20);
        }
    }

    &__text {
        max-width: rem(550);
        margin-bottom: rem(26);

        @include laptop {
            max-width: rem(460);
        }

        @include mobile {
            margin-bottom: rem(20);
        }

        p {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: rem(16);
            line-height: 120%;
            letter-spacing: -0.03em;
            color: var(--black);

            &:not(:last-child) {
                margin-bottom: 1em;
            }

            @include mobile {
                font-size: rem(14);
            }
        }
    }

    &__btn {
        max-width: rem(327);

        @include laptop {
            max-width: rem(343);
            height: rem(50);
            font-size: rem(16);
        }
    }

    &__right {
        flex: 0 0 auto;
        border-radius: rem(40);
        width: rem(500);
        height: rem(288);
        overflow: hidden;

        @include laptop {
            border-radius: rem(24);
            width: rem(400);
            min-height: rem(260);
            height: auto;
        }

        @include mobile {
            min-height: auto;
            border-radius: rem(30);
            width: 100%;
            height: rem(230);
        }
    }

    &__img {
        width: 100%;
        height: 100%;
    }
}
