.report-first {
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: rem(264);
        gap: rem(20);

        margin-block: rem(134) rem(83);
        padding: rem(38) rem(60) rem(38) rem(110);

        border-radius: rem(210);
        background: #e7e7e7;

        @include laptop {
            height: rem(168);
            gap: rem(20);
            margin-block: rem(112) rem(80);
            padding: rem(20) rem(40) rem(20) rem(90);
            border-radius: rem(150);
        }

        @include mobile {
            position: relative;
            align-items: start;
            height: rem(180);
            margin-block: rem(64) rem(60);
            padding: rem(28);
            border-radius: rem(30);
        }
    }

    &__text {
        max-width: rem(885);

        font-family: var(--font-family);
        font-weight: 500;
        font-size: rem(50);
        line-height: 110%;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        color: var(--black);

        @include laptop {
            font-size: rem(38);
            max-width: rem(684);
        }

        @include mobile {
            font-size: rem(24);
            max-width: rem(239);
        }
    }

    &__img {
        width: rem(184);
        height: rem(188);
        object-fit: contain;

        @include laptop {
            width: rem(126);
            height: rem(128);
        }

        @include mobile {
            position: absolute;
            right: rem(12);
            bottom: rem(12);

            width: rem(90);
            height: rem(90);
        }
    }
}
