.page-report {
  .main-media__card {
    background: var(--white);
  }

  .main-team__card {
    background: var(--white);
  }

  .main-team__card-icon {
    background: var(--bg);
  }
}

.report-track {
  &__wrapper {
    display: flex;
    align-items: start;
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: rem(60);
  }
}
