.report-way {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: rem(60);
    // height: rem(710);

    @include laptop {
        width: rem(50);
    }

    @include mobile {
        display: none;
    }

    &__circle {
        position: relative;
        z-index: 2;

        flex: 0 0 auto;

        display: grid;
        place-content: center;

        width: rem(60);
        height: rem(60);

        border-radius: 100%;

        background: #04afaf;

        @include laptop {
            width: rem(50);
            height: rem(50);
        }
    }

    &__icon {
        width: rem(26);
        height: rem(26);
    }

    &__email {
        width: rem(26);
        height: rem(26);

        @include laptop {
            width: rem(22);
            height: rem(22);
        }
    }

    &__pin {
        width: rem(18);
        height: rem(18);

        border-radius: 100%;

        background: var(--white);

        @include laptop {
            width: rem(16);
            height: rem(16);
        }
    }

    &__line {
        position: absolute;
        top: rem(20);
        left: 50%;
        bottom: rem(30);
        transform: translateX(-50%);
        width: rem(4); /* Толщина линии */
        background: repeating-linear-gradient(
            to bottom,
            rgba(4, 175, 175, 0.5) 0,
            rgba(4, 175, 175, 0.5) rem(21),
            /* Толщина штриха */ transparent rem(21),
            transparent rem(41) /* 21px + 20px */
        );
    }
}
