.report-more {
    width: 100%;

    &__title {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: rem(34);
        line-height: 120%;
        letter-spacing: -0.03em;
        color: var(--black);

        padding-left: rem(30);
        max-width: rem(553);
    }

    &__body {
        margin-top: rem(32);

        display: flex;
        gap: rem(40);

        border-radius: rem(50);
        padding: rem(20) rem(20) rem(20) rem(40);
        max-width: rem(1210);
        background: var(--white);
    }

    &__left {
        flex: 1 1 auto;
    }

    &__subtitle {
        display: flex;
        align-items: center;

        max-width: fit-content;

        border-radius: rem(160);
        padding: rem(2) rem(8);
        height: rem(18);
        background: #04afaf;

        font-family: var(--font-family);
        font-weight: 400;
        font-size: rem(12);
        line-height: 120%;
        letter-spacing: -0.03em;
        color: var(--white);

        margin-bottom: rem(10);
    }

    &__heading {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: rem(24);
        line-height: 108%;
        letter-spacing: -0.03em;
        color: var(--black);

        margin-bottom: rem(16);
    }

    &__text {
        p {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: rem(16);
            line-height: 120%;
            letter-spacing: -0.03em;
            color: var(--black);

            &:not(:last-child) {
                margin-bottom: 1em;
            }
        }

        max-width: rem(550);
        margin-bottom: rem(26);
    }

    &__btn {
        max-width: rem(327);
    }

    &__right {
        flex: 0 0 auto;
        border-radius: rem(40);
        width: rem(500);
        height: rem(288);
        overflow: hidden;
    }

    &__img {
        width: 100%;
        height: 100%;
    }
}
