.review-companies {
    &__title {
        font-size: rem(50);
        text-align: center;
        margin-bottom: rem(40);

        @include laptop {
            font-size: rem(38);
        }

        @include mobile {
            font-size: rem(24);
            margin-bottom: rem(30);
        }
    }

    &__description {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: rem(18);
        line-height: 120%;
        letter-spacing: -0.02em;
        text-align: center;
        color: var(--grayDark);

        @include laptop {
            font-size: rem(16);
            line-height: 110%;
        }

        @include mobile {
            font-size: rem(14);
            line-height: 120%;
            letter-spacing: -0.03em;
        }
    }

    &__scroll {
        width: 100%;
        margin-bottom: rem(24);

        @include laptop {
            margin-bottom: rem(20);
        }

        @include mobile {
            width: auto;
            margin-inline: rem(-16);
            padding-inline: rem(16);
            overflow-x: auto;
            margin-bottom: rem(16);
        }
    }

    &__list {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: rem(20) rem(6);
        margin-bottom: rem(12);

        @include laptop {
            gap: rem(16) rem(4);
            margin-bottom: rem(10);
        }

        @include mobile {
            gap: rem(4);
            width: rem(750);
            justify-content: flex-start;
            margin-bottom: rem(8);
        }
    }

    &__group {
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        gap: rem(6);

        @include laptop {
            gap: rem(4);
        }
    }

    &__star {
        width: rem(32);
        height: rem(32);
        flex: 0 0 auto;

        &_v-mobile {
            @media (min-width: 481px) {
                display: none;
            }
        }

        &_laptop {
            @include laptop {
                display: none;
            }
        }

        &_mobile {
            @include mobile {
                display: none;
            }
        }

        @include laptop {
            width: rem(24);
            height: rem(24);
        }
    }

    &__item {
        display: grid;
        place-content: center;

        flex: 0 0 auto;
        width: fit-content;
        height: rem(76);
        padding-inline: rem(22);
        border-radius: rem(20);

        backdrop-filter: blur(rem(4));
        background: #fff;

        user-select: none;
        pointer-events: none;

        @include laptop {
            height: rem(55);
            border-radius: rem(16);
            padding-inline: rem(16);
        }

        @include mobile {
            height: rem(52);
        }

        img,
        svg {
            width: auto;
            height: rem(30);

            @include laptop {
                height: rem(20);
            }
        }
    }
}
