.review-services {
    @include laptop {
        margin: 0 auto;
        max-width: rem(1080);
        width: 100%;
    }

    @include mobile {
        max-width: none;
    }

    &__head {
        display: flex;
        justify-content: space-between;
        align-items: start;
        margin-bottom: rem(40);

        @include laptop {
            margin-bottom: rem(24);
        }

        @include mobile {
            flex-direction: column;
            gap: rem(16);
        }
    }

    &__title {
        font-weight: 400;

        color: var(--white);

        background: rgba(255, 255, 255, 0.1);
        border: none;
    }

    &__company {
        display: flex;
        flex-direction: column;
        gap: rem(17);
        width: rem(461);

        @include laptop {
            width: rem(393);
        }

        @include mobile {
            width: auto;
            align-items: center;
            gap: rem(10);
        }
    }

    &__company-img {
        width: rem(197);
        height: rem(53);

        @include laptop {
            width: rem(152);
            height: rem(41);
        }

        @include mobile {
            width: rem(97);
            height: rem(26);
        }
    }

    &__company-text {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: rem(18);
        line-height: 110%;
        letter-spacing: -0.02em;
        color: #fff;

        @include laptop {
            font-size: rem(16);
        }

        @include mobile {
            font-size: rem(12);
            text-align: center;
        }
    }

    .main-services__card {
        gap: rem(60);
        padding: rem(28) rem(40) rem(29) rem(60);
        background: var(--white);

        @include laptop {
            gap: rem(53);
            padding: rem(20) rem(44) rem(19);
        }

        @include mobile {
            padding: rem(24);
            gap: rem(0);
        }
    }

    .main-services__card-btn {
        .btn__circle {
            img {
                flex: 0 0 auto;
                width: 100%;
                height: 100%;
            }
        }
    }

    .main-services__card_big {
        padding: rem(20);
        margin-bottom: 0;

        @include laptop {
            padding: rem(14);
            gap: rem(29);
        }

        @include mobile {
            padding: rem(8) rem(8) rem(86) rem(8);
            gap: rem(20);
        }
    }

    .main-services__card-content .main-services__card-left .main-services__card-title {
        margin-bottom: rem(10);
    }

    .main-services__card-image {
        width: rem(412);
        height: rem(288);

        @include laptop {
            width: rem(370);
            height: rem(235);
            border-radius: rem(28);
        }

        @include mobile {
            width: 100%;
            height: rem(230);
            border-radius: rem(24);
        }
    }

    .main-services__card-left {
        width: rem(393);

        @include laptop {
            width: rem(334);
        }

        @include mobile {
            width: 100%;
        }
    }

    .main-services__card-right {
        width: rem(337);

        @include laptop {
            width: rem(297);
        }

        @include mobile {
            width: 100%;
        }
    }

    .main-services__card-text_time {
        line-height: 1;
        display: flex;
        align-items: center;
        margin-bottom: rem(14);

        @include mobile {
            display: none;
        }
    }

    .main-services__card-text_time span {
        display: inline-flex;
        align-items: center;
        height: rem(21);
        background: #04afaf;
    }

    .main-services__card-label {
        background: #04afaf;
        top: 0;
        transform: translateX(-50%) translateY(rem(227));
    }

    .main-services__card-content {
        @include mobile {
            margin-top: 0;
        }
    }

    .main-services__card-icon {
        background: #b9dbdb;

        @include mobile {
            width: rem(38);
            height: rem(38);
        }
    }

    .main-services__card-title {
        width: rem(372);

        @include laptop {
            width: rem(283);
        }

        @include mobile {
            width: 100%;
        }
    }

    .main-services__card-content .main-services__card-title {
        width: unset;
    }

    .main-services__card-tags {
        max-width: rem(459);
    }
}
