.review-inside {
    &__wrapper {
        padding: rem(20);
        margin-block: rem(100) rem(120);
        border-radius: rem(50);
        background: var(--white);

        max-width: rem(1314);
        margin-inline: auto;

        @include laptop {
            padding: rem(24);
            margin-block: rem(80);
            border-radius: rem(38);
            // max-width: rem(1080);
        }

        @include mobile {
            padding: rem(20) rem(16);
            margin-block: rem(60);
            border-radius: rem(40);
            max-width: none;
        }
    }

    &__inner {
        display: grid;
        grid-template-columns: auto rem(730);
        align-items: center;
        gap: rem(56);
        padding: rem(38) rem(30) 0 rem(30);

        @include laptop {
            grid-template-columns: auto rem(564);
            gap: rem(40);
            padding: rem(16) rem(20) 0 rem(20);
        }

        @include mobile {
            grid-template-columns: 1fr;
            gap: rem(16);
            padding: 0;
        }
    }

    &__left {
    }

    &__title {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: rem(34);
        line-height: 120%;
        letter-spacing: -0.03em;
        color: var(--black);
        margin-bottom: rem(24);

        @include laptop {
            font-size: rem(24);
            margin-bottom: rem(16);
        }

        @include mobile {
            font-size: rem(20);
            margin-bottom: rem(12);
        }
    }

    &__description {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: rem(18);
        line-height: 150%;
        letter-spacing: -0.03em;
        color: var(--black);

        span {
            font-weight: 500;
        }

        @include laptop {
            font-size: rem(16);
        }

        @include mobile {
            font-size: rem(14);
        }
    }

    &__channel {
        margin-top: rem(42);
        display: flex;
        align-items: center;
        gap: rem(10);
        max-width: rem(407);

        @include laptop {
            margin-top: rem(32);
            max-width: rem(368);
        }

        @include mobile {
            margin-top: rem(16);
            max-width: none;
        }
    }

    &__channel-img {
        width: rem(48);
        height: rem(48);
        border-radius: 100%;

        @include laptop {
            width: rem(42);
            height: rem(42);
        }

        @include mobile {
            width: rem(48);
            height: rem(48);
        }
    }

    &__channel-text {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: rem(16);
        line-height: 120%;
        letter-spacing: -0.03em;
        color: var(--black);

        @include laptop {
            font-size: rem(14);
        }
    }

    &__right {
        display: flex;
        justify-content: center;

        position: relative;

        width: 100%;
        height: rem(433);
        border-radius: rem(44);
        overflow: hidden;
        background: var(--reviewBg);

        @include laptop {
            height: rem(290);
            border-radius: rem(24);
        }

        @include mobile {
            height: rem(230);
            border-radius: rem(30);
        }
    }

    &__scroll {
        flex: 0 0 auto;
        position: relative;
        width: rem(615);
        object-position: 0 rem(-60);
        animation: scroll 5s cubic-bezier(0.4, 0, 0.2, 1) /* forwards */ infinite;

        @include laptop {
            width: rem(447);
            object-position: 0 rem(-40);
        }

        @include mobile {
            width: rem(295);
            object-position: 0 rem(-30);
        }
    }

    @keyframes scroll {
        from {
            // object-position: 0 rem(-60);
        }
        to {
            object-position: 0 bottom;
        }
    }
}

.review-inside-data {
    margin-top: rem(60);
    width: 100%;
    border-radius: rem(42);
    padding: rem(40) rem(43) rem(50) rem(44);
    background: var(--reviewDark);

    display: flex;
    justify-content: space-between;
    gap: rem(50);

    @include laptop {
        margin-top: rem(24);
        border-radius: rem(24);
        padding: rem(32);

        flex-direction: column;
        gap: rem(32);
    }

    @include mobile {
        padding: rem(24);
        gap: rem(16);
    }

    &__col {
        display: grid;
        grid-template-columns: rem(306) rem(239);
        gap: rem(10);

        @include laptop {
            grid-template-columns: repeat(2, rem(400));
            gap: rem(90);
        }

        @include mobile {
            grid-template-columns: 1fr;
            gap: rem(16);
        }

        &:nth-child(1) {
            .review-inside-data__item:first-child {
                .review-inside-data__description {
                    max-width: rem(269);

                    @include laptop {
                        max-width: rem(244);
                    }

                    @include mobile {
                        max-width: none;
                    }
                }
            }
        }

        &:nth-child(2) {
            .review-inside-data__item:first-child {
                .review-inside-data__description {
                    max-width: rem(284);

                    @include mobile {
                        max-width: none;
                    }
                }
            }
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: rem(16);

        @include laptop {
            flex-direction: row;
        }
    }

    &__num {
        flex: 0 0 auto;
        height: rem(60);
        width: auto;
        object-fit: contain;

        @include mobile {
            height: rem(40);
        }
    }

    &__description {
        font-weight: 400;
        font-size: rem(18);
        line-height: 120%;
        letter-spacing: -0.03em;

        color: var(--reviewGray);

        span {
            color: var(--white);
            font-weight: 500;

            @include laptop {
                font-weight: 400;
            }
        }

        @include laptop {
            font-size: rem(16);
            max-width: rem(269);
        }

        @include mobile {
            font-size: rem(14);
            max-width: none;
        }
    }
}
