.review-formats {
    &__wrapper {
        padding-inline: rem(143);
    }

    &__title {
        font-size: rem(50);
        color: var(--reviewDark);
        text-align: center;
        margin-bottom: rem(40);
    }

    &__body {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: rem(20);
        grid-auto-rows: minmax(rem(855), auto);
    }

    &__card {
        &_free {
            background: var(--white);

            .review-card__head {
                background: #e7e7e7;
            }
        }

        &_full {
            background: var(--reviewDark);

            .review-card__head {
                background: var(--white);
            }

            .review-card__item_included {
                color: var(--white);
            }
        }
    }
}

.review-card {
    position: relative;
    height: 100%;
    width: 100%;
    padding: rem(20);
    border-radius: rem(40);
    overflow: hidden;

    &__head {
        position: relative;
        height: rem(283);
        padding: rem(26) rem(30);
        border-radius: rem(30);
    }

    &__version {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: rem(22);
        line-height: 94%;
        color: var(--black);
        margin-bottom: rem(8);
    }

    &__format {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: rem(18);
        line-height: 120%;
        color: var(--grayDark);
        margin-bottom: rem(20);
    }

    &__price {
        display: flex;
        align-items: end;
        gap: rem(12);

        &-now {
            font-family: var(--font-family);
            font-weight: 500;
            font-size: rem(38);
            line-height: 108%;
            letter-spacing: -0.03em;
            color: var(--black);
        }

        &-old {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: rem(28);
            line-height: 108%;
            letter-spacing: -0.03em;
            text-decoration: line-through;
            color: #9d9ba6;
            padding-bottom: rem(2);
        }
    }

    &__description {
        margin-top: rem(6);

        font-family: var(--font-family);
        font-weight: 400;
        font-size: rem(18);
        line-height: 130%;
        color: var(--grayDark);
    }

    &__btn {
        margin-top: rem(20);
        height: rem(70);

        &.btn {
            span {
                font-family: var(--font-family);
                font-weight: 500;
                font-size: rem(18);
                letter-spacing: -0.01em;
                color: var(--white);
                flex: 1 1 auto;
                margin-right: rem(-48);
            }
        }
    }

    &__discount {
        position: absolute;
        top: rem(18);
        right: rem(18);
        border-radius: rem(20);
        padding: rem(9) rem(14);

        font-family: var(--font-family);
        font-weight: 500;
        font-size: rem(16);
        line-height: 130%;
        color: var(--white);
        white-space: nowrap;

        background: #04afaf;
    }

    &__buy-count {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: rem(10);

        position: absolute;
        bottom: rem(28);
        left: rem(4);
        width: rem(790);
        height: rem(60);
        background: #04afaf;

        transform: rotate(-13deg);

        font-family: var(--font-family);
        font-weight: 500;
        font-size: rem(18);
        line-height: 130%;
        color: var(--white);
    }

    &__like {
        flex: 0 0 auto;
        width: rem(24);
        height: rem(24);
    }

    &__channel {
        margin-top: rem(30);
        display: flex;
        align-items: center;
        gap: rem(10);
        max-width: rem(407);

        @include laptop {
            margin-top: rem(24);
            max-width: rem(368);
        }

        @include mobile {
            margin-top: rem(20);
            max-width: none;
        }
    }

    &__channel-img {
        width: rem(48);
        height: rem(48);
        border-radius: 100%;

        @include laptop {
            width: rem(42);
            height: rem(42);
        }

        @include mobile {
            width: rem(48);
            height: rem(48);
        }
    }

    &__channel-text {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: rem(16);
        line-height: 120%;
        letter-spacing: -0.03em;
        color: var(--white);

        @include laptop {
            font-size: rem(14);
        }
    }

    &__body {
        padding: rem(30) rem(57) rem(0) rem(30);
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: rem(24);
    }

    &__item {
        display: flex;
        gap: rem(8);

        font-family: var(--font-family);
        font-weight: 400;
        font-size: rem(18);
        line-height: 120%;
        letter-spacing: -0.03em;
        color: #c9c8ce;

        &::before {
            content: "";
            display: inline-block;
            background-image: url("/img/review/item-no.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            width: rem(20);
            height: rem(20);

            flex: 0 0 auto;
        }

        &_included {
            color: var(--black);

            &::before {
                background-image: url("/img/review/item-yes.svg");
            }
        }
    }
}
