.review-research {
    &__description {
        font-weight: 400;

        color: var(--white);

        background: rgba(255, 255, 255, 0.1);
        border: none;
    }

    .main-research__card--disabled {
        .main-research__card-list {
            opacity: 0.7;
            pointer-events: none;
        }
    }
}
