.review-companies {
    &__title {
        font-size: rem(50);
        text-align: center;
        margin-bottom: rem(40);

        @include laptop {
            font-size: rem(38);
        }

        @include mobile {
            font-size: rem(24);
            margin-bottom: rem(30);
        }
    }

    &__description {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: rem(18);
        line-height: 120%;
        letter-spacing: -0.02em;
        text-align: center;
        color: var(--grayDark);
    }

    &__list {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: rem(6);
        margin-bottom: rem(24);
    }

    &__group {
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        gap: rem(6);
    }

    &__star {
        width: rem(32);
        height: rem(32);
        flex: 0 0 auto;
    }

    &__item {
        display: grid;
        place-content: center;

        flex: 0 0 auto;
        width: fit-content;
        height: rem(76);
        padding-inline: rem(22);
        border-radius: rem(20);

        backdrop-filter: blur(rem(4));
        background: #fff;

        user-select: none;
        pointer-events: none;

        img,
        svg {
            width: auto;
            height: rem(30);
        }
    }
}
