.support-order {
  margin-bottom: rem(120);

  @include laptop {
    margin-bottom: rem(80);
  }

  @include mobile {
    margin-bottom: rem(60);
  }

  &__inner {
    position: relative;
    display: grid;
    grid-template-columns: 1fr rem(701);
    gap: rem(40);
    align-items: start;
    min-height: rem(803);
    padding: rem(60) rem(60) rem(60) rem(80);
    border-radius: rem(50);
    background: var(--black);
    overflow: hidden;

    @include laptop {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      gap: rem(20);
      min-height: 0;
      padding: rem(44);
      border-radius: rem(44);
    }

    @include mobile {
      display: grid;
      grid-template-columns: 1fr;
      gap: rem(20);
      padding: rem(24) rem(24) rem(56) rem(24);
      border-radius: rem(30);
      min-height: 0;
    }
  }

  &__bg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  &__content {
    position: relative;
    z-index: 1;
    padding-top: rem(20);

    @include laptop {
      flex: 0 0 rem(502);
      max-width: rem(502);
      padding-top: 0;
    }

    @include mobile {
      display: flex;
      flex-direction: column;
      gap: rem(12);
      width: 100%;
      padding-top: 0;
    }
  }

  &__title {
    max-width: rem(647);
    margin-bottom: rem(24);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: rem(62);
    line-height: 108%;
    letter-spacing: -0.05em;
    color: var(--white);

    @include laptop {
      max-width: none;
      margin-bottom: rem(20);
      font-size: rem(46);
      line-height: 108%;
      letter-spacing: -0.05em;
    }

    @include mobile {
      margin-bottom: 0;
      font-size: rem(24);
      line-height: 110%;
      letter-spacing: -0.03em;
      max-width: rem(220);
    }
  }

  &__text {
    max-width: rem(473);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: rem(24);
    line-height: 120%;
    letter-spacing: -0.03em;
    color: var(--white);

    @include laptop {
      max-width: rem(473);
      font-size: rem(18);
      line-height: 120%;
    }

    @include mobile {
      font-size: rem(14);
      line-height: 120%;
      letter-spacing: -0.03em;
      max-width: none;
    }
  }

  &__form-wrap {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: rem(12);
    padding-top: rem(0);

    @include laptop {
      flex: 0 0 rem(606);
      width: rem(606);
      align-items: center;
    }

    @include mobile {
      width: 100%;
      max-width: rem(295);
      margin-inline: auto;
      align-items: stretch;
    }
  }

  &__form {
    width: 100%;
    padding-bottom: rem(65);

    @include laptop {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: rem(30);
      padding: rem(44);
      padding-bottom: rem(55);
      border-radius: rem(38);
    }

    @include mobile {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: rem(24);
      padding: rem(24);
      border-radius: rem(30);
      background: var(--white);

      .main-order__form-fields {
        margin: 0;
        max-width: none;
        width: 100%;
        row-gap: rem(6);

        .input-block {
          max-width: none;
          width: 100%;
        }

        input,
        .select__value {
          font-size: rem(14);
          line-height: 120%;
          letter-spacing: -0.03em;
        }

        .select__value {
          padding: 0 rem(24);
          padding-right: rem(40);
        }

        .btn_wide {
          width: 100%;
          max-width: none;
          margin-left: 0;
          margin-top: rem(8);
          height: rem(50);
          font-size: rem(16);
          letter-spacing: -0.01em;
          border-radius: rem(160);
        }
      }

      .i-checkbox {
        width: 100%;
        max-width: none;
        align-self: stretch;
        margin-top: 0;
        gap: rem(8);

        &__text {
        }
      }
    }

    .i-checkbox {
      max-width: rem(397);
      align-self: flex-start;
      margin-top: rem(38);

      @include laptop {
        width: 100%;
        align-self: stretch;
        margin-top: 0;
        gap: rem(8);
      }

      @include mobile {
        max-width: none;
        margin-top: 0;
      }
    }

    .i-checkbox__text {
      @include laptop {
        font-size: rem(14);
        line-height: 120%;
        letter-spacing: -0.02em;
        color: #b0aeb8;
      }

      @include mobile {
        font-size: rem(12);
        line-height: 120%;
        letter-spacing: -0.03em;
        color: #b0aeb8;
      }
    }

    .main-order__form-fields {
      margin: 0;

      @include laptop {
        max-width: rem(307);
        row-gap: rem(8);

        .btn_wide {
          margin-top: rem(4);
          max-width: rem(270);
          width: 100%;
          height: rem(46);
          padding-inline: rem(50);
          border-radius: rem(160);
          font-size: rem(16);
          letter-spacing: -0.01em;
        }
      }
    }

    .main-order__form-fields .input-block {
      @include laptop {
        input {
          padding-inline: rem(28);
        }
      }
    }

    .main-order__form-fields .input-block:has(> input[name="name"]),
    .main-order__form-fields .input-block:has(> input[name="company"]) {
      @include laptop {
        max-width: rem(240);
      }

      @include mobile {
        max-width: none;
      }
    }

    .main-order__form-fields .input-block:has(> input[type="tel"]) {
      @include laptop {
        max-width: rem(210);
      }

      @include mobile {
        max-width: none;
      }
    }

    .main-order__form-fields .input-block:has(> input[type="email"]) {
      @include laptop {
        max-width: rem(270);
      }

      @include mobile {
        max-width: none;
      }
    }

    .main-order__form-fields .input-block:has(> .select) {
      @include laptop {
        max-width: rem(240);
      }

      @include mobile {
        max-width: none;
      }
    }
  }

  .main-order__social {
    margin-top: 0;
    align-self: center;
    background-color: #38344c;
    backdrop-filter: none;

    @include laptop {
      width: rem(310);
      max-width: rem(310);
      height: rem(80);
      backdrop-filter: blur(rem(25));
      background-color: #38344c;
    }

    @include mobile {
      display: none;
    }
  }

  .main-order__social-link {
    z-index: 3;

    &::before {
      background-color: rgba(255, 255, 255, 0.1);
    }

    @include laptop {
      width: rem(48);
      height: rem(48);

      img {
        width: rem(20);
        height: rem(20);
      }
    }
  }

  &__submit {
    width: 100%;
    height: rem(58);

    @include laptop {
      height: rem(46);
    }
  }

  &__social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(10);
    margin-left: auto;
    padding: rem(16) rem(36);
    border-radius: rem(160);
    backdrop-filter: blur(rem(25));
    background: var(--support-social-bg, #38344c);

    @include mobile {
      margin-left: 0;
      width: 100%;
    }
  }

  &__social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(48);
    height: rem(48);
    border-radius: rem(160);
    background: rgba(255, 255, 255, 0.1);

    img {
      width: rem(20);
      height: rem(20);
    }
  }

  .input-block__error {
    @include mobile {
      padding-left: 0;
    }
  }
}
