.support-tasks {
  margin-bottom: rem(120);

  @include laptop {
    margin-bottom: rem(80);
  }

  @include mobile {
    margin-bottom: rem(60);
  }

  &__grid {
    display: grid;
    grid-template-columns: rem(780) rem(780);
    justify-content: space-between;
    gap: rem(20);

    @include laptop {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: rem(20);
      justify-content: stretch;
    }

    @include mobile {
      grid-template-columns: 1fr;
      gap: rem(10);
    }
  }

  &__box {
    padding: rem(60);
    border-radius: rem(50);
    background: var(--white);

    @include laptop {
      display: flex;
      flex-direction: column;
      gap: rem(20);
      padding: rem(44);
      border-radius: rem(44);
    }

    @include mobile {
      display: flex;
      flex-direction: column;
      gap: rem(20);
      padding: rem(24);
      border-radius: rem(30);

      .development-brands__text_tag {
        margin-bottom: 0;
        min-height: 0;
        padding: rem(14) rem(25);
        font-size: rem(12);
        line-height: 100%;
        letter-spacing: -0.03em;
      }
    }

    .development-brands__text_tag {
      margin-bottom: rem(32);

      @include laptop {
        margin-bottom: 0;
        padding: rem(12) rem(20);
        font-size: rem(14);
        line-height: 100%;
      }

      @include mobile {
        font-size: rem(12);
        padding: rem(12) rem(16) rem(11);
        margin-bottom: 0;
      }
    }

    .support-section__stars {
      gap: rem(12);

      @include laptop {
        margin-top: 0;
        gap: rem(8);
      }
    }

    &_dark {
      background-color: #38344c;

      .support-tasks__lead {
        padding-bottom: rem(40);
      }

      .development-brands__text_tag {
        color: var(--white);
        border-color: var(--white);
      }

      .support-tasks__title {
        color: var(--white);
      }

      .support-tasks__lead {
        color: var(--white);
      }

      .support-tasks__bottom-title {
        color: var(--white);
      }

      .support-tasks__list p {
        color: var(--white);
      }

      .support-tasks__note {
        color: var(--white);
      }

      .support-tasks__link {
        color: var(--white);
      }

      .support-section__stars li {
        font-size: rem(20);
        color: var(--white);
      }

      @include laptop {
        .support-tasks__lead {
          padding-bottom: 0;
          margin-bottom: rem(20);
        }

        .support-section__stars li {
          font-size: rem(18);
        }
      }

      @include mobile {
        .support-tasks__lead {
          padding-bottom: 0;
        }

        .support-section__stars {
          gap: rem(8);
          margin-top: 0;

          li {
            align-items: center;
            font-size: rem(14);
            line-height: 120%;
            letter-spacing: -0.03em;
            height: auto;

            img {
              margin-top: 0;
            }
          }
        }
      }
    }

    &:not(&_dark) {
      @include laptop {
        .support-tasks__lead {
          margin-bottom: rem(4);
        }
      }

      @include mobile {
        .development-brands__text_tag {
          padding: rem(12) rem(16) rem(11);
        }
      }
    }
  }

  &__title {
    margin-bottom: rem(32);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: rem(50);
    line-height: 108%;
    letter-spacing: -0.03em;
    color: var(--black);

    @include laptop {
      margin-bottom: 0;
      font-size: rem(38);
      line-height: 108%;
    }

    @include mobile {
      margin-bottom: 0;
      font-size: rem(20);
      line-height: 108%;
      letter-spacing: -0.03em;

      & + .support-tasks__lead {
        margin-top: rem(-8);
        margin-bottom: 0;

        br {
          display: none;
        }
      }
    }
  }

  &__lead {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: rem(20);
    line-height: 120%;
    letter-spacing: -0.03em;
    color: var(--black);

    padding-block: rem(32) rem(24);

    @include laptop {
      padding-block: 0;
      font-size: rem(18);
      line-height: 120%;
    }

    @include mobile {
      padding-block: 0;
      font-size: rem(14);
      line-height: 120%;
      letter-spacing: -0.03em;
    }
  }

  &__bubbles {
    display: flex;
    flex-direction: column;
    gap: rem(25);
    position: relative;
    min-height: rem(361);
    margin-bottom: rem(32);

    @include laptop {
      min-height: rem(301);
      margin-bottom: 0;
      gap: 0;
    }

    @include mobile {
      position: relative;
      min-height: rem(260);
      margin-bottom: 0;
      gap: 0;
    }
  }

  &__bubble {
    position: relative;
    padding: rem(14) rem(26);
    border-radius: rem(200);
    background: var(--bg);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: rem(22);
    line-height: 120%;
    letter-spacing: -0.03em;
    color: var(--black);
    max-width: fit-content;

    &:before {
      content: "";
      position: absolute;
      background: url("/img/support/svg/message-polygon.svg") no-repeat center
        center / contain;
      width: rem(25);
      height: rem(10);
      top: 99%;

      @include laptop {
        top: 98%;
      }
    }

    &:nth-child(1) {
      margin-left: rem(61);

      @include laptop {
        margin-left: 0;
      }
    }

    &:nth-child(2) {
      margin-left: auto;
      margin-right: rem(24);

      @include laptop {
        margin-right: 0;
      }

      @include mobile {
        margin-left: rem(-10);
      }

      &:before {
        right: rem(26);
        transform: scaleX(-1);
      }
    }

    &:nth-child(3) {
      margin-left: rem(104);

      @include laptop {
        margin-left: 0;
      }
    }

    &:nth-child(4) {
      margin-left: auto;
      margin-right: rem(106);

      @include laptop {
        margin-left: 0;
        margin-right: 0;
      }

      &:before {
        right: rem(26);
        transform: scaleX(-1);
      }
    }

    @include laptop {
      position: absolute;
      font-size: rem(18);
      padding: rem(14) rem(26);
      border-radius: rem(50);
      margin-left: 0;
      margin-right: 0;

      &:nth-child(1) {
        left: 0;
        top: 0;
      }

      &:nth-child(2) {
        right: 0;
        top: rem(79);
        left: auto;

        &:before {
          right: rem(26);
          transform: scaleX(-1);
        }
      }

      &:nth-child(3) {
        left: rem(36);
        top: rem(158);
      }

      &:nth-child(4) {
        right: rem(44);
        bottom: rem(10);
        top: auto;
        left: auto;

        &:before {
          right: rem(26);
          transform: scaleX(-1);
        }
      }
    }

    @include mobile {
      position: absolute;
      width: auto;
      max-width: none;
      margin-left: 0;
      margin-right: 0;
      font-size: rem(16);
      line-height: 120%;
      letter-spacing: -0.03em;
      padding: rem(12) rem(24);
      border-radius: rem(50);

      &:nth-child(1) {
        left: rem(41);
        top: 0;

        &:before {
          left: rem(24);
          right: auto;
          transform: none;
        }
      }

      &:nth-child(2) {
        right: 0;
        top: rem(69);
        left: auto;

        &:before {
          right: rem(26);
          left: auto;
          transform: scaleX(-1);
        }
      }

      &:nth-child(3) {
        left: rem(50);
        top: rem(138);

        &:before {
          left: rem(25);
          right: auto;
          transform: none;
        }
      }

      &:nth-child(4) {
        right: rem(40);
        bottom: rem(10);
        top: auto;
        left: auto;

        &:before {
          right: rem(26);
          left: auto;
          transform: scaleX(-1);
        }
      }
    }
  }

  &__bottom {
    margin-top: 0;

    @include laptop {
      display: flex;
      flex-direction: column;
      gap: rem(18);
    }

    @include mobile {
      display: flex;
      flex-direction: column;
      gap: rem(12);
    }
  }

  &__bottom-title {
    margin-bottom: rem(20);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: rem(20);
    line-height: 120%;
    letter-spacing: -0.03em;
    color: var(--black);

    @include laptop {
      margin-bottom: 0;
      font-size: rem(18);
      line-height: 120%;
    }

    @include mobile {
      margin-bottom: 0;
      font-size: rem(18);
      line-height: 120%;
      letter-spacing: -0.03em;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: rem(10);
    margin-bottom: rem(32);

    @include laptop {
      margin-bottom: 0;
    }

    @include mobile {
      gap: rem(10);
      margin-bottom: 0;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    gap: rem(12);
    width: fit-content;
    max-width: 100%;
    min-height: rem(69);
    padding: rem(8) rem(20) rem(8) rem(10);
    border-radius: rem(200);
    background: var(--bg);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: rem(18);
    line-height: 120%;
    letter-spacing: -0.03em;
    color: var(--black);

    @include laptop {
      width: 100%;
      min-height: 0;
      padding: rem(10) rem(16) rem(10) rem(10);
      border-radius: rem(50);
      font-size: rem(16);
      line-height: 120%;
      max-width: fit-content;

      &:nth-child(2) {
        max-width: rem(383);
      }
      &:nth-child(3) {
        max-width: rem(424);
      }
      &:nth-child(5) {
        max-width: rem(382);
      }
    }

    @include mobile {
      width: auto;
      max-width: 100%;
      align-items: center;
      padding: rem(10) rem(22) rem(10) rem(10);
      border-radius: rem(50);
      font-size: rem(14);
      line-height: 120%;
      letter-spacing: -0.03em;
    }
  }

  &__item-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    width: rem(52);
    height: rem(52);
    border-radius: rem(200);
    background: var(--white);

    img {
      width: rem(24);
      height: rem(24);
    }

    @include laptop {
      width: rem(39);
      height: rem(39);

      img {
        width: rem(20);
        height: rem(20);
      }
    }

    @include mobile {
      width: rem(39);
      height: rem(39);

      img {
        width: rem(20);
        height: rem(20);
      }
    }
  }

  &__note {
    margin-bottom: rem(24);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: rem(20);
    line-height: 120%;
    letter-spacing: -0.03em;
    color: var(--black);

    @include laptop {
      margin-bottom: rem(-2);
      font-size: rem(18);
      line-height: 120%;
    }

    @include mobile {
      margin-bottom: 0;
      font-size: rem(14);
      line-height: 120%;
      letter-spacing: -0.03em;
    }
  }

  &__link {
    margin-top: rem(24);
    margin-left: 0;
    max-width: max-content;
    color: var(--black);

    .btn__circle {
      background: var(--bg);
    }

    &:hover {
      color: var(--black);
      &::before {
        background: var(--bg);
      }
    }

    @include laptop {
      margin-top: 0;
      font-size: rem(16);
      line-height: 120%;
    }

    @include mobile {
      display: flex;
      width: auto;
      max-width: none;
      justify-content: flex-start;
      height: auto;
      margin-top: rem(-2);
      font-size: rem(14);
      line-height: 120%;
      letter-spacing: -0.03em;

      .btn__circle {
        width: rem(48);
        height: rem(48);
      }
    }
  }
}
