.support-scenario {
  margin-bottom: rem(120);

  @include laptop {
    margin-bottom: rem(80);
  }

  @include mobile {
    margin-bottom: rem(60);
  }

  &__inner {
    position: relative;
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    gap: rem(80);
    max-width: rem(1306);
    margin-inline: auto;
    padding: rem(60) rem(60) rem(40) rem(60);
    border-radius: rem(50);
    background: var(--white);

    @include laptop {
      gap: rem(80);
      max-width: rem(900);
      padding: rem(44) rem(44) rem(24);
      border-radius: rem(44);
    }

    @include mobile {
      grid-template-columns: 1fr;
      gap: 0;
      padding: 0;
      border-radius: 0;
      background: transparent;
      overflow: visible;
    }
  }

  &__col {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;

    @include laptop {
      gap: 0;
    }

    @include mobile {
      gap: rem(24);
      padding: rem(60) rem(24);
      border-radius: rem(30);
      background: var(--white);
    }

    &_bad {
      @include mobile {
        z-index: 2;
        margin-bottom: rem(-60);
      }
    }

    &_good {
      @include mobile {
        z-index: 2;
        padding: rem(82) rem(24) rem(24);
        background: var(--black);
      }
    }
  }

  &__title {
    max-width: rem(520);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: rem(34);
    line-height: 100%;
    letter-spacing: -0.03em;
    color: var(--black);
    padding-block: rem(30);

    &_white {
      color: var(--white);
    }

    @include laptop {
      max-width: none;
      font-size: rem(24);
      line-height: 108%;
      padding-block: rem(34);
    }

    @include mobile {
      padding-block: 0;
      font-size: rem(20);
      line-height: 108%;
      letter-spacing: -0.03em;
      max-width: none;
    }
  }

  &__badge {
    display: inline-flex;
    align-items: center;
    width: fit-content;
    padding: rem(8) rem(12);
    border-radius: rem(200);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: rem(16);
    line-height: 100%;
    letter-spacing: -0.03em;
    white-space: nowrap;

    &_gray {
      transform: rotate(3.3deg);
      background: var(--bg);
      color: var(--black);
    }

    &_outline {
      padding: rem(14) rem(25);
      border: rem(1.5) solid var(--white);
      font-weight: 400;
      font-size: rem(16);
      line-height: 100%;
      letter-spacing: -0.03em;
      text-transform: uppercase;
      color: var(--white);

      @include laptop {
        line-height: 1;
      }
    }

    &_bad {
      @include NOTmobile {
        position: absolute;
        top: rem(-8);
        left: rem(273);
        z-index: 2;
      }

      @include laptop {
        top: rem(-5);
        left: rem(136);
        transform: rotate(3.3deg);
        color: var(--grayDark);
      }

      @include mobile {
        position: absolute;
        top: rem(20);
        left: auto;
        right: rem(14);
        transform: rotate(3.3deg);
        padding: rem(8) rem(12);
        font-size: rem(14);
        font-weight: 500;
        line-height: 100%;
        color: var(--grayDark);
      }
    }

    &_good {
      @include NOTmobile {
        position: absolute;
        top: rem(-35);
        left: 0;
        z-index: 2;
      }

      @include laptop {
        top: rem(-26);
        left: 0;
        right: auto;
        padding: rem(12) rem(20);
        font-size: rem(14);
        line-height: 100%;
      }

      @include mobile {
        position: absolute;
        top: rem(22);
        left: rem(24);
        right: auto;
        padding: rem(12) rem(16) rem(11);
        font-size: rem(12);
        line-height: 100%;
        letter-spacing: -0.03em;
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    gap: rem(12);
    padding-block: rem(30);
    border-top: rem(1) solid var(--support-divider, #ddd);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: rem(18);
    line-height: 120%;
    letter-spacing: -0.03em;
    color: var(--black);
    top: rem(-1);

    p {
      margin: 0;
    }

    &_white {
      color: var(--white);

      &:last-child {
        p {
          padding-bottom: rem(10);

          @include laptop {
            padding-bottom: 0;
          }
        }
      }

      p {
        color: var(--white);
      }
    }

    @include laptop {
      position: relative;
      padding-block: rem(20);
      font-size: rem(16);
      line-height: 110%;
      letter-spacing: -0.02em;
      align-items: center;
    }

    @include mobile {
      align-items: center;
      padding-block: rem(12);
      font-size: rem(14);
      line-height: 120%;
      letter-spacing: -0.03em;
    }
  }

  &__col_good &__item:first-child {
    @include laptop {
      align-items: flex-start;
    }

    @include mobile {
      align-items: flex-start;
    }
  }

  &__col_bad &__item {
    @include laptop {
      &::before {
        content: "";
        position: absolute;
        top: rem(-1);
        left: 100%;
        width: rem(80);
        height: rem(1);
        background: var(--support-divider, #ddd);
      }
    }
    @include mobile {
      &::before {
        display: none;
      }
    }
  }

  &__mark {
    flex: 0 0 auto;
    width: rem(32);
    height: rem(32);
    border-radius: rem(7);

    &_bad {
      background: var(--support-mark-bad, #ffe6e7);
    }
  }

  &__tick {
    flex: 0 0 auto;
    width: rem(32);
    height: rem(32);
    margin-bottom: auto;

    @include laptop {
      margin-bottom: 0;
    }
  }

  @include NOTmobile {
    &__inner::after {
      content: "";
      position: absolute;
      top: rem(-17);
      right: 0;
      z-index: 0;
      width: calc(50%);
      height: calc(100% + rem(34));
      border-radius: rem(50);
      background: var(--black);
      pointer-events: none;

      @include laptop {
        top: 50%;
        right: 0;
        width: rem(450);
        height: rem(694);
        transform: translateY(-50%);
        border-radius: rem(44);
      }
    }
  }
}
