.vebinar {
  background: #f6f6f6;

  .footer {
    .footer__box {
      background: var(--white);
    }

    .footer__social-link {
      &::before {
        background: #f6f6f6;
      }
    }
  }
}

.vebinar-title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: rem(50);
  line-height: 108%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--black);

  @include laptop {
    font-size: rem(44);
  }

  @include mobile {
    font-size: rem(24);
  }

  &_white {
    color: var(--white);
  }
}
