.vebinar-who {
  margin-block: rem(120);

  @include laptop {
    margin-block: rem(80);
  }

  @include mobile {
    margin-block: rem(60);
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: rem(40);

    @include mobile {
      gap: rem(24);
    }
  }

  &__title {
  }

  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: rem(16) rem(18);

    @include laptop {
      gap: rem(10);
    }

    @include mobile {
      flex-direction: column;
      align-items: center;

      gap: rem(8);
    }
  }

  &__point {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: rem(24);
    line-height: 120%;
    letter-spacing: -0.03em;
    color: var(--black);

    border-radius: rem(50);
    padding: rem(20) rem(24);

    background: #eee;

    @include laptop {
      font-size: rem(20);
      padding: rem(16) rem(20);
    }

    @include mobile {
      font-size: rem(14);
      padding: rem(12) rem(16);
    }
  }
}
