.vebinar {
  background: #f6f6f6;
}

.vebinar-title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: rem(50);
  line-height: 108%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--black);
}
