/* @mixin laptop {
  @media (max-width: (1779px)) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: (480px)) {
    @content;
  }
} */




@mixin laptop {
  @media (max-width: (1440px)) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: (480px)) {
    @content;
  }
}

@mixin NOTmobile {
  @media (min-width: (480px)) {
    @content;
  }
}