<div class="ai-agent">
    <div class="ai-agent__inner">
        <img class="vebinar-banner__logo" src="/img/vebinar/logo.svg" alt="">
        <img class="ai-agent__circle" src="/img/vebinar/ai-circle.svg" alt="">

        <div class="ai-agent__title">
            ИИ-агенты и разработка.
            Реальные возможности и ограничения
        </div>
        <div class="vebinar-banner__point">
            <img class="vebinar-banner__point-logo" src="/img/vebinar/calendar.svg">
            <div class="vebinar-banner__point-text">Вебинар</div>
            <div class="vebinar-banner__point-circle">
                <svg width="2" height="2" viewBox="0 0 2 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="1" cy="1" r="1" fill="white" />
                </svg>
            </div>
            <div class="vebinar-banner__point-text">15 мая, 12:00 МСК</div>
        </div>
        <a href="" class="btn-reset btn-white btn-white_hover-white ai-agent__btn">
            Смотреть программу
        </a>

        <!-- <img src="/img/vebinar/ai-mobile-top.png" alt="" class="ai-agent__decor-top">
        <img src="/img/vebinar/ai-mobile-bottom.png" alt="" class="ai-agent__decor-bottom"> -->
    </div>
</div>