<div class="audit-its-recom">
    <div class="audit-its-recom__blur"></div>
    <p class="audit-its-recom__title">
        Обоснованные рекомендации, а не вкусовщниа
    </p>
    <div class="audit-its-recom__list">
        <div class="audit-its-recom__item">
            <div class="audit-its-recom__icon">
                <img src="/img/svg/audit-its-recom-1.svg" alt="" class="audit-its-recom__icon-svg">
            </div>
            <div class="audit-its-recom__item-body">
                <div class="audit-its-recom__item-title">Ссылаемся на исследования</div>
                <div class="audit-its-recom__item-description">
                    Baymard, NNG и других исследовательских и консалтинговых компаний
                </div>
            </div>
        </div>
        <div class="audit-its-recom__item">
            <div class="audit-its-recom__icon">
                <img src="/img/svg/audit-its-recom-2.svg" alt="" class="audit-its-recom__icon-svg">
            </div>
            <div class="audit-its-recom__item-body">
                <div class="audit-its-recom__item-title">Подкрепляем выводы</div>
                <div class="audit-its-recom__item-description">
                    нашим опытом и аналитическими статьями, где разбираем UX и ошибки
                </div>
            </div>
        </div>
        <div class="audit-its-recom__item">
            <div class="audit-its-recom__icon">
                <img src="/img/svg/audit-its-recom-3.svg" alt="" class="audit-its-recom__icon-svg">
            </div>
            <div class="audit-its-recom__item-body">
                <div class="audit-its-recom__item-title">Даем примеры решений</div>
                <div class="audit-its-recom__item-description">
                    для явных проблем в интерфейсе
                </div>
            </div>
        </div>
    </div>
</div>