

<section class="audit-start">

    <div class='container'>

        <div class="audit-start__inner">

            <h2 class="title title_tac">Почему нужно начать с аудита?</h2>

            <div class="audit-start__box">

                <div class="audit-start__col">
                    <div class="audit-start__image">
                        <img class="js-audit-start-img-1" style="opacity: 1;" src="img/audit/start.jpg" alt="">
                        <img class="js-audit-start-img-2" style="opacity: 0;" src="img/audit/start-2.jpg" alt="">
                    </div>
                </div>

                <div class="audit-start__col">
                    <div class="audit-start__block js-audit-start-1">
                        <div class="audit-start__block-title">Сначала must have</div>
                        <div class="audit-start__block__text audit-start__block-text_bold">Must Have: интервью, интерфейс и метрики</div>
                        <div class="audit-start__block-text">В аудите заложены три обязательных этапа для выявления проблем интерфейса, которые снижают продуктовые и бизнес показатели.</div>
                        <div class="audit-start__block-text">В большинстве случаев после изучения интерфейса и метрик обнаруживаются критичные проблемы, для исправления которых не требуется проведение дорогостоящих исследований пользователей.</div>
                    </div>

                    <div class="audit-start__block audit-start__block_gray js-audit-start-2">
                        <div class="audit-start__block-title">А потом исследования</div>
                        <div class="audit-start__block__text audit-start__block-text_bold">Исследования пользователей и анализ конкурентов</div>
                        <div class="audit-start__block-text">И только после исправления проблем подтвержденных институтами юзабилити (Nielsen Norman Group, Baymard Institute и другими) — стоит переходить решение сложных задач и планировать изучение пользователей и конкурентов.</div>
                        <a href="#" class="btn-reset btn btn_lightning main-solutions__content-btn btn_hover-graylight">
                            <div class="btn__circle">
                                <img src="img/svg/lightning-dark.svg" alt="">
                            </div>
                            Узнать об Antro Research
                        </a>
                    </div>
                </div>

            </div>

        </div>

    </div>

</section>