


<section class="audit-why">

    <div class='container'>
        
        <div class="audit-why__inner">

            <h2 class="title audit-why__title">почему нужен аудит</h2>

            <div class="audit-why__box">

                <div class="audit-why__col">
                    <div class="audit-why__block audit-why__block_black">
                        <div class="audit-why__block-image">
                            <img src="img/audit/star1.png" alt="">
                        </div>
                        <div class="audit-why__block-title">Есть желание развивать сайт, но нет понимания с чего начать</div>
                        <div class="audit-why__block-text">нужно ли делать редизайн?</div>
                    </div>
                    <div class="audit-why__block el-mobile">
                        <div class="audit-why__block-title">Пользователи жалуются на качество сайта, но очевидных проблем нет</div>
                        <div class="audit-why__block-text">найти больные места, чтобы сформировать набор гипотез или план по развитию</div>
                        <div class="audit-why__block-image">
                            <img src="img/audit/shape1.png" alt="">
                        </div>
                    </div>
                    <div class="audit-why__block el-desctop">
                        <div class="audit-why__block-title">Увеличение бюджета на сайт не приносит прибыль</div>
                        <div class="audit-why__block-text">найти причины, почему сайт не привлекает новых клиентов</div>
                    </div>
                    <div class="audit-why__block">
                        <div class="audit-why__block-title">Проблемы с использованием мобильной версии сайта</div>
                        <div class="audit-why__block-text">исправить проблемы в адаптации, чтобы обеспечить лучший пользовательский опыт</div>
                        <div class="audit-why__block-image">
                            <img src="img/audit/star2.png" alt="">
                        </div>
                    </div>
                </div>
                
                <div class="audit-why__col">
                    <div class="audit-why__block el-mobile">
                        <div class="audit-why__block-title">Увеличение бюджета на сайт не приносит прибыль</div>
                        <div class="audit-why__block-text">найти причины, почему сайт не привлекает новых клиентов</div>
                    </div>
                    <div class="audit-why__block el-desctop">
                        <div class="audit-why__block-title">Пользователи жалуются на качество сайта, но очевидных проблем нет</div>
                        <div class="audit-why__block-text">найти больные места, чтобы сформировать набор гипотез или план по развитию</div>
                        <div class="audit-why__block-image">
                            <img src="img/audit/shape1.png" alt="">
                        </div>
                    </div>
                    <div class="audit-why__block audit-why__block_pink">
                        <div class="audit-why__block-title">Низкая конверсия в покупку</div>
                        <div class="audit-why__block-text">средний чек, высокие показатели отказов с популярных страниц и другие метрики</div>
                    </div>
                    <div class="audit-why__block audit-why__block_black">
                        <div class="audit-why__block-image">
                            <img src="img/audit/shape2.png" alt="">
                        </div>
                        <div class="audit-why__block-title">Проблемы в корзине, оформлении и других страницах</div>
                        <div class="audit-why__block-text">комплексно решить проблему с воронкой продаж</div>
                    </div>
                </div>

            </div>

        </div>

    </div>

</section>