<section class="about-new-tariffs development-inside">
    <div class="container">
        <div class="about-new-tariffs__wrapper">
            <h2 class="title  development-inside__title about-new-tariffs__title">
                Выберите тариф
            </h2>
            <div class="swiper audit-new-tariffs__list js-audit-tariffs-swiper">
                <div class="swiper-wrapper audit-new-tariffs__list-wrapper">
                    <div class="swiper-slide audit-new-tariffs__card">
                        <div class="audit-new-tariffs__card-info">
                            <div class="audit-new-tariffs__card-title">Быстрые точки роста</div>
                            <div class="audit-new-tariffs__card-subtitle">Диагностика интерфейса</div>
                            <div class="audit-new-tariffs__card-points">
                                <div class="audit-new-tariffs__card-point">
                                    <div class="audit-new-tariffs__card-point-name">Аудит интерфейса</div>
                                    <div class="audit-new-tariffs__card-point-description">
                                        На основе лучших практик. Разбор основной воронки интернет-магазина
                                    </div>
                                </div>
                                <div class="audit-new-tariffs__card-point">
                                    <div class="audit-new-tariffs__card-point-name">Разработка гипотез и рекомендаций
                                    </div>
                                    <div class="audit-new-tariffs__card-point-description">
                                        Предложим решения по <strong>одной</strong> проблеме
                                    </div>
                                </div>
                                <div class="audit-new-tariffs__card-point disabled  no-descr">
                                    <div class="audit-new-tariffs__card-point-name">Анализ метрик и веб-аналитики</div>
                                </div>
                                <div class="audit-new-tariffs__card-point disabled  no-descr">
                                    <div class="audit-new-tariffs__card-point-name">Оценка экономического эффекта</div>
                                </div>
                            </div>
                        </div>
                        <div class="audit-new-tariffs__card-price">
                            <div class="audit-new-tariffs__card-nds">
                                с учетом НДС
                            </div>
                            <div class="audit-new-tariffs__card-sum">
                                90 000 ₽
                            </div>
                        </div>
                        <button class="btn-reset btn btn_wide btn_hover-pink audit-new-tariffs__card-btn">
                            Выбрать
                        </button>
                    </div>
                    <div class="swiper-slide audit-new-tariffs__card">
                        <div class="audit-new-tariffs__card-info">
                            <div class="audit-new-tariffs__card-title">Системный рост</div>
                            <div class="audit-new-tariffs__card-subtitle">Данные и интерфейс</div>
                            <div class="audit-new-tariffs__card-points">
                                <div class="audit-new-tariffs__card-point">
                                    <div class="audit-new-tariffs__card-point-name">Аудит интерфейса</div>
                                    <div class="audit-new-tariffs__card-point-description">
                                        На основе лучших практик. Разбор основной воронки интернет-магазина
                                    </div>
                                </div>
                                <div class="audit-new-tariffs__card-point">
                                    <div class="audit-new-tariffs__card-point-name">Разработка гипотез и рекомендаций
                                    </div>
                                    <div class="audit-new-tariffs__card-point-description">
                                        Предложим решения по <strong>одной</strong> проблеме
                                    </div>
                                </div>
                                <div class="audit-new-tariffs__card-point  no-descr">
                                    <div class="audit-new-tariffs__card-point-name">Анализ метрик и веб-аналитики</div>
                                </div>
                                <div class="audit-new-tariffs__card-point disabled  no-descr">
                                    <div class="audit-new-tariffs__card-point-name">Оценка экономического эффекта</div>
                                </div>
                            </div>
                        </div>
                        <div class="audit-new-tariffs__card-price">
                            <div class="audit-new-tariffs__card-nds">
                                с учетом НДС
                            </div>
                            <div class="audit-new-tariffs__card-sum">
                                150 000 ₽
                            </div>
                        </div>
                        <button class="btn-reset btn btn_wide btn_hover-pink audit-new-tariffs__card-btn">
                            Выбрать
                        </button>
                    </div>
                    <div class="swiper-slide audit-new-tariffs__card black">
                        <div class="audit-new-tariffs__card-info">
                            <div class="audit-new-tariffs__card-title">Стратегический рост</div>
                            <div class="audit-new-tariffs__card-subtitle">Стратегия роста</div>
                            <div class="audit-new-tariffs__card-points">
                                <div class="audit-new-tariffs__card-point">
                                    <div class="audit-new-tariffs__card-point-name">Аудит интерфейса</div>
                                    <div class="audit-new-tariffs__card-point-description">
                                        На основе лучших практик. Разбор основной воронки интернет-магазина
                                    </div>
                                </div>
                                <div class="audit-new-tariffs__card-point">
                                    <div class="audit-new-tariffs__card-point-name">Разработка гипотез и рекомендаций
                                    </div>
                                    <div class="audit-new-tariffs__card-point-description">
                                        Предложим решения по <strong>одной</strong> проблеме
                                    </div>
                                </div>
                                <div class="audit-new-tariffs__card-point no-descr">
                                    <div class="audit-new-tariffs__card-point-name">Анализ метрик и веб-аналитики</div>
                                </div>
                                <div class="audit-new-tariffs__card-point no-descr">
                                    <div class="audit-new-tariffs__card-point-name">Оценка экономического эффекта</div>
                                </div>
                            </div>
                        </div>
                        <div class="audit-new-tariffs__card-price">
                            <div class="audit-new-tariffs__card-nds">
                                с учетом НДС
                            </div>
                            <div class="audit-new-tariffs__card-sum">
                                300 000 ₽
                                <span class="audit-new-tariffs__card-sum-old">375 000 ₽</span>
                                <span class="audit-new-tariffs__card-sum-perc">−20%</span>
                            </div>
                        </div>
                        <button class="btn-reset btn btn_wide btn_hover-pink audit-new-tariffs__card-btn">
                            Выбрать
                        </button>
                    </div>
                </div>

                <div class="swiper-pagination"></div>
            </div>
            <div class="audit-new-tariffs__add">
                <div class="audit-new-tariffs__add-left">
                    <div class="audit-new-tariffs__add-title">
                        Нужен план действий?
                    </div>
                    <div class="audit-new-tariffs__add-text">
                        Поможем с приоритизацией задач, используя выбранную вами методологию. Вы можете включить эту
                        услугу в стоимость любого пакета при обсуждении деталей.
                    </div>
                </div>
                <div class="audit-new-tariffs__add-right">
                    +20 000 ₽
                </div>
            </div>
        </div>
    </div>
</section>