<div class="audit-new-block">
    <div class="audit-new-block__box">
        <div class="audit-new-block__box-top">
            <h1 class="title audit-new-block__box-title">
                Продуктовый <br class="el-mobile"> подход для <span>роста e-commerce</span> проектов
            </h1>

            <div class="audit-new-block__box-text">
                Анализируем воронки, находим точки потерь, считаем эффект
                <br>
                в деньгах и формируем гипотезы, которые дают быстрый рост
            </div>
            <a href="#"
                class="btn-reset btn btn_lightning main-services__card-btn btn_hover-transparent audit-new-block__box-btn">
                <div class="btn__circle">
                    <img src="img/svg/lightning-dark.svg" alt="">
                </div>
                Подробнее о продуктовом подходе
            </a>
        </div>
        <div class="audit-new-block__box-image-inner">
            <img class="audit-new-block__box-image" src="img/development/banner.png" alt="">
        </div>
    </div>
    <div class="audit-new-block__white">
        <div class="audit-new-block__white-left">
            <div class="audit-new-block__white-title">
                Анализ воронок и данных
            </div>
            <div class="audit-new-block__white-text">
                Разбираем воронки интернет-магазина, анализируем данные веб-аналитики и находим точки потерь
            </div>
            <img src="/img/audit/statistics.png" alt="" class="audit-new-block__white-img">
        </div>
        <div class="audit-new-block__white-col">
            <div class="audit-new-block__white-top">
                <div class="audit-new-block__white-title">
                    Гипотезы решений
                </div>
                <div class="audit-new-block__white-text audit-new-block__white-text_no-mb">
                    Формируем гипотезы решений, которые улучшают метрики и приоритизируем по Effort/Impact
                </div>
                <img src="/img/audit/gipot.png" alt="" class="audit-new-block__white-top-img">
            </div>
            <div class="audit-new-block__white-bottom">
                <img src="/img/audit/green-filter.svg" class="audit-new-block__white-bottom-img" />
                <div class="audit-new-block__white-bottom-info">
                    <div class="audit-new-block__white-title">
                        Прогноз эффекта в деньгах
                    </div>
                    <div class="audit-new-block__white-text audit-new-block__white-text_no-mb">
                        Оцениваем, как изменения <br> повлияют на конверсию и выручку
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>