

<section class="audit-cases">

    <div class='container'>
        
        <div class="audit-cases__inner">

            <h2 class="title audit-cases__title">Кейсы, которые начались с юзабилити-аудита</h2>
            
            <div class="main-cases__box">
                <div class="main-cases__col">
                    <div class="main-cases__card">
                        <div class="main-cases__card-image scale-hover img-cursor-hover">
                            <div class="tooltip">Bootwood</div>
                            <div class="main-cases__card-logo">
                                <img src="img/svg/logos/bootwood.svg" alt="">
                            </div>
                            <img src="img/cases/bootwood.jpg" alt="">
                            <div class="main-cases__card-label">
                                <div class="main-cases__card-up"><img src="img/svg/grow.svg" alt=""> +20%</div>
                                <div class="main-cases__card-text">конверсия в покупку</div>
                            </div>
                        </div>
                        <div class="main-cases__card-tags">
                            <div class="main-cases__card-tag">Ритейл</div>
                            <img src="img/svg/star-small.svg" alt="*">
                            <div class="main-cases__card-tag">Ecommerce</div>
                            <img src="img/svg/star-small.svg" alt="*">
                            <div class="main-cases__card-tag">ElasticSearch</div>
                            <img src="img/svg/star-small.svg" alt="*">
                            <div class="main-cases__card-tag">Рефакторинг</div>
                        </div>
                        <div class="main-cases__card-title">Мультибрендовый интернет-магазин на базе сайта Timberland.ru</div>
                    </div>


                    <div class="main-cases__card main-cases__card_desktop main-cases__card_small">
                        <div class="main-cases__card-image">
                            <div class="main-cases__card-logo">
                                <img src="img/svg/logos/finn-flare.svg" alt="">
                            </div>
                            <div class="main-cases__card-note">Совсем скоро опубликуем кейс</div>
                            <div class="main-cases__card-eye">
                                <img src="img/svg/eye.svg" alt="">
                            </div>
                        </div>
                        <div class="main-cases__card-tags">
                            <div class="main-cases__card-tag">Ритейл</div>
                            <img src="img/svg/star-small.svg" alt="*">
                            <div class="main-cases__card-tag">Ecommerce</div>
                            <img src="img/svg/star-small.svg" alt="*">
                            <div class="main-cases__card-tag">ElasticSearch</div>
                            <img src="img/svg/star-small.svg" alt="*">
                            <div class="main-cases__card-tag">Рефакторинг</div>
                        </div>
                        <div class="main-cases__card-title">UX/UI-аудит интернет-магазина, 25 000+ заказов в месяц, 100+ магазинов в рознице</div>
                    </div>


                </div>
                <div class="main-cases__col">


                    <div class="main-cases__card main-cases__card_desktop main-cases__card_small">
                        <div class="main-cases__card-image">
                            <div class="main-cases__card-logo">
                                <img src="img/svg/logos/elena-miro.svg" alt="">
                            </div>
                            <div class="main-cases__card-note">Совсем скоро опубликуем кейс</div>
                            <div class="main-cases__card-eye">
                                <img src="img/svg/eye.svg" alt="">
                            </div>
                        </div>
                        <div class="main-cases__card-tags">
                            <div class="main-cases__card-tag">Ритейл</div>
                            <img src="img/svg/star-small.svg" alt="*">
                            <div class="main-cases__card-tag">Ecommerce</div>
                            <img src="img/svg/star-small.svg" alt="*">
                            <div class="main-cases__card-tag">ElasticSearch</div>
                            <img src="img/svg/star-small.svg" alt="*">
                            <div class="main-cases__card-tag">Рефакторинг</div>
                        </div>
                        <div class="main-cases__card-title">Редизайн интернет-магазина итальянского бренда женской одежды</div>
                    </div>


                    <div class="main-cases__card">
                        <div class="main-cases__card-image scale-hover img-cursor-hover">
                            <div class="tooltip">New Balance</div>
                            <div class="main-cases__card-logo">
                                <img src="img/svg/logos/new-balance.svg" alt="">
                            </div>
                            <img class="img-scale" src="img/cases/new-balance.jpg" alt="">
                            <!-- <div class="main-cases__card-label">
                                <div class="main-cases__card-up"><img src="img/svg/grow.svg" alt=""> +20%</div>
                                <div class="main-cases__card-text">конверсия в покупку</div>
                            </div> -->
                        </div>
                        <div class="main-cases__card-tags">
                            <div class="main-cases__card-tag">Ритейл</div>
                            <img src="img/svg/star-small.svg" alt="*">
                            <div class="main-cases__card-tag">Ecommerce</div>
                            <img src="img/svg/star-small.svg" alt="*">
                            <div class="main-cases__card-tag">ElasticSearch</div>
                            <img src="img/svg/star-small.svg" alt="*">
                            <div class="main-cases__card-tag">Рефакторинг</div>
                        </div>
                        <div class="main-cases__card-title">Мультикорзина со сложной логикой взаимодействия складов, доставки и программ лояльности</div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</section>