

<section class="audit-feedback">

    <div class='container'>
        
        <div class="audit-feedback__inner">

            <h2 class="title audit-feedback__title">Отзывы клиентов</h2>

            <div class="main-cases__swiper-wrap">
                <div class='swiper main-cases__swiper js-main-cases-swiper'>
                    <div class='swiper-wrapper'>
                        <div class='swiper-slide main-cases__swiper-slide'>
                            <div class="main-cases__swiper-logo">
                                <img src="img/partners/jamilco2.svg" alt="">
                            </div>
                            <div class="main-cases__swiper-title">Antro — наш стратегический ИТ-партнёр. Вместе мы прорабатываем планы по развитию eCommerce-проектов</div>
                            <div class="main-cases__swiper-text">Команда выполняет работы по разработке, проектированию, дизайну, исследованиям и техподдержке. Ребята умеют подстраиваться под наши процессы и принимать быстрые решения</div>
                            <a href="#" class="main-cases__swiper-file btn_hover-graylight">
                                <div class="main-cases__swiper-icon">
                                    <img src="img/svg/file.svg" alt="">
                                </div>
                                Читать полный отзыв и рекомендательное письмо
                            </a>
                            <div class="main-cases__swiper-person">
                                <div class="main-cases__swiper-photo">
                                    <img src="img/swiper/person-1.jpg" alt="">
                                </div>
                                <div class="main-cases__swiper-name">Арсен Джулфалакян</div>
                                <div class="main-cases__swiper-job">Руководитель направления электронной коммерции, ДжамильКо</div>
                            </div>
                        </div>
                        <div class='swiper-slide main-cases__swiper-slide'>
                            <div class="main-cases__swiper-logo">
                                <img src="img/partners/mango2.svg" alt="">
                            </div>
                            <div class="main-cases__swiper-title">Компания Antro является нашим близким и надежным партнером в сфере дизайна и разработки веб-сайта</div>
                            <div class="main-cases__swiper-text">Сотрудники компании глубоко вникают в процессы,не допускают срыва сроков проектов и внимательно относятсяк поставленным задачам. Отличительной чертой работы Antro является оперативность и высокая организованность</div>
                            <a href="#" class="main-cases__swiper-file btn_hover-graylight">
                                <div class="main-cases__swiper-icon">
                                    <img src="img/svg/file.svg" alt="">
                                </div>
                                Читать полный отзыв и рекомендательное письмо
                            </a>
                            <div class="main-cases__swiper-person">
                                <div class="main-cases__swiper-photo">
                                    <img src="img/swiper/person-2.jpg" alt="">
                                </div>
                                <div class="main-cases__swiper-name">Татьяна Суворова</div>
                                <div class="main-cases__swiper-job">Менеджер проектов, Mango</div>
                            </div>
                        </div>
                        <div class='swiper-slide main-cases__swiper-slide'>
                            <div class="main-cases__swiper-logo">
                                <img src="img/partners/jamilco2.svg" alt="">
                            </div>
                            <div class="main-cases__swiper-title">Antro — наш стратегический ИТ-партнёр. Вместе мы прорабатываем планы по развитию eCommerce-проектов</div>
                            <div class="main-cases__swiper-text">Команда выполняет работы по разработке, проектированию, дизайну, исследованиям и техподдержке. Ребята умеют подстраиваться под наши процессы и принимать быстрые решения</div>
                            <a href="#" class="main-cases__swiper-file btn_hover-graylight">
                                <div class="main-cases__swiper-icon">
                                    <img src="img/svg/file.svg" alt="">
                                </div>
                                Читать полный отзыв и рекомендательное письмо
                            </a>
                            <div class="main-cases__swiper-person">
                                <div class="main-cases__swiper-photo">
                                    <img src="img/swiper/person-1.jpg" alt="">
                                </div>
                                <div class="main-cases__swiper-name">Арсен Джулфалакян</div>
                                <div class="main-cases__swiper-job">Руководитель направления электронной коммерции, ДжамильКо</div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination main-cases__swiper-pagination"></div>
                </div>
                <div class="main-cases__swiper-controls">
                    <div class="main-cases__swiper-next"><img src="img/svg/next-dark.svg" alt=""></div>
                    <div class="main-cases__swiper-prev"><img src="img/svg/prev-dark.svg" alt=""></div>
                </div>
            </div>

        </div>

    </div>

</section>