

<section class="audit-start">

    <div class='container'>

        <div class="audit-start__inner">

            <h2 class="title title_tac">Почему нужно начать с аудита?</h2>

            <div class="audit-start__box">

                <div class="audit-start__col">
                    <div class="audit-start__image">
                        <img src="img/audit/start.jpg" alt="">
                    </div>
                </div>

                <div class="audit-start__col">
                    <div class="audit-start__block">
                        <div class="audit-start__block-title">Сначала must have</div>
                        <div class="audit-start__block__text audit-start__block-text_bold">Must Have: интервью, интерфейс и метрики</div>
                        <div class="audit-start__block-text">В аудите заложены три обязательных этапа для выявления проблем интерфейса, которые снижают продуктовые и бизнес показатели.</div>
                        <div class="audit-start__block-text">В большинстве случаев после изучения интерфейса и метрик обнаруживаются критичные проблемы, для исправления которых не требуется проведение дорогостоящих исследований пользователей.</div>
                    </div>

                    <div class="audit-start__block audit-start__block_gray">
                        <div class="audit-start__block-title">А потом исследования</div>
                        <div class="audit-start__block__text audit-start__block-text_bold">Исследования пользователей и анализ конкурентов</div>
                    </div>
                </div>

            </div>

        </div>

    </div>

</section>