

<section class="audit-first">

    <div class='container container_wide'>
        
        <div class="audit-first__inner">

            <div class="audit-first__box">
                <div class="audit-first__labels">
                    <div class="audit-first__label">
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M17.5711 12.1851L12.1936 17.5626C11.9123 17.8443 11.5305 18.0026 11.1324 18.0026C10.7342 18.0026 10.3525 17.8443 10.0711 17.5626L3.33398 10.833V3.33301H10.834L17.5711 10.0701C18.1527 10.6552 18.1527 11.6001 17.5711 12.1851Z" fill="white" stroke="white" stroke-width="2" stroke-linejoin="round"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M7.70768 8.75033C8.28297 8.75033 8.74935 8.28395 8.74935 7.70866C8.74935 7.13337 8.28297 6.66699 7.70768 6.66699C7.13239 6.66699 6.66602 7.13337 6.66602 7.70866C6.66602 8.28395 7.13239 8.75033 7.70768 8.75033Z" fill="#232037"/>
                        </svg>
                        250 000 ₽
                    </div>

                    <div class="audit-first__label">
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9.99935 18.3337C14.6017 18.3337 18.3327 14.6027 18.3327 10.0003C18.3327 5.39795 14.6017 1.66699 9.99935 1.66699C5.39697 1.66699 1.66602 5.39795 1.66602 10.0003C1.66602 14.6027 5.39697 18.3337 9.99935 18.3337Z" fill="white" stroke="white" stroke-width="2" stroke-linejoin="round"/>
                            <path d="M10.0044 5L10.0039 10.0037L13.537 13.5367" stroke="#221F36" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        7–10 дней
                    </div>
                </div>

                <h1 class="title audit-first__title">Юзабилити-аудит для ecommerce и сервисов</h1>

                <div class="audit-first__text">Выявим проблемы интерфейса, которые снижают продуктовые и бизнес показатели. Сформируем поэтапный план по развитию.</div>

                <button class="btn-reset btn btn audit-first__btn">Оставить заявку</button>

                <div class="audit-first__image">
                    <img src="img/audit/first.png" alt="">
                </div>
            </div>

        </div>

    </div>

</section>