<section class="development-section development-metrics">
    <div class="container">
        <div class="development-metrics__wrapper">
            <div class="development-metrics__head">
                <h2 class="title development-metrics__title">Метрики влияют на деньги по-разному</h2>
                <p class="development-metrics__description">
                    Некоторые метрики дают быстрый эффект, другие требуют больших усилий.
                    <br>
                    Поэтому мы приоритизируем, с чего начинать.
                </p>
            </div>
            <img src="/img/development/metrics.png" alt="" class="development-metrics__img">
        </div>
    </div>
</section>