<section class="development-first">

    <div class='container container_wide'>

        <div class="development-first__inner">

            <div class="development-first__box">
                <div class="development-first__top">
                    <h1 class="title development-first__title">
                        Продуктовый подход для <span>роста e-commerce</span> проектов
                    </h1>

                    <div class="development-first__text">
                        Анализируем воронки, находим точки потерь, считаем эффект в деньгах и формируем гипотезы,
                        которые дают быстрый рост
                    </div>
                </div>

                <div class="development-first__bottom">
                    <button class="btn-reset btn development-first__btn btn_hover-green">Оставить заявку</button>
                </div>
                <div class="development-first__image">
                    <img src="img/development/banner.png" alt="">
                </div>
            </div>

        </div>

    </div>

</section>