<section class="development-section development-inside">
    <div class="container">
        <div class="development-inside__wrapper">
            <h2 class="title development-inside__title">За счет чего достигается результат?</h2>
            <div class="development-inside__inner">
                <div class="development-inside__left">
                    <div class="development-inside__left-top">
                        <h2 class="development-inside__name">Экспертиза, основанная на реальных данных и практике</h2>
                        <div class="development-inside__descriptions">
                            <p>
                                Мы регулярно анализируем интерфейсы, данныеи пользовательские сценарии десятков
                                интернет-магазинов.
                            </p>
                            <p>
                                Проверяем гипотезы в реальных проектах и видим, какие решения
                                действительно влияют на метрики.
                            </p>
                            <p>
                                Параллельно отслеживаем состояние отрасли: динамику рынка, изменения в поведении
                                покупателей
                                и
                                бизнес-тренды.
                            </p>
                            <p>
                                Такой подход позволяет нам прогнозировать потенциальный рост в деньгах ещё до внедрения
                                изменений.
                            </p>
                        </div>
                    </div>
                    <a href="" class="development-inside__channel">
                        <img src="/img/development/ecom-logo.svg" alt="" class="development-inside__channel-img">
                        <div class="development-inside__channel-block">
                            <div class="development-inside__channel-title">
                                Насмотрелись екома
                            </div>
                            <div class="development-inside__channel-text">
                                Рассказываем о работающих и интересных решениях для интернет-магазинов
                            </div>
                        </div>
                    </a>
                </div>
                <div class="development-inside__right">
                    <img class="development-inside__scroll" src="/img/development/inside.png" alt="">
                </div>
            </div>

        </div>
    </div>
</section>