<section class="development-brands">
    <div class="container">
        <div class="development-brands__wrapper">
            <h3 class="development-brands__text">
                Нам доверяют eCommerce-команды этих брендов
            </h3>
            <div class="development-brands__scroll">
                <div class="development-brands__list">

                    <div class="development-brands__group">
                        <div class="development-brands__item">
                            <img src="/img/development/icons/timberland.svg" alt="">
                        </div>
                        <div class="development-brands__item">
                            <img src="/img/development/icons/nb.svg" alt="">
                        </div>
                        <div class="development-brands__item">
                            <img src="/img/development/icons/polo.svg" alt="">
                        </div>
                        <div class="development-brands__item">
                            <img src="/img/development/icons/ls.svg" alt="">
                        </div>
                        <div class="development-brands__item">
                            <img src="/img/development/icons/mango.svg" alt="">
                        </div>
                        <div class="development-brands__item">
                            <img src="/img/development/icons/bootwood.svg" alt="">
                        </div>
                        <div class="development-brands__item">
                            <img src="/img/development/icons/fin.svg" alt="">
                        </div>
                        <div class="development-brands__item">
                            <img src="/img/development/icons/bolshoy.svg" alt="">
                        </div>

                    </div>
                    <div class="development-brands__group">
                        <div class="development-brands__item">
                            <img src="/img/development/icons/lassie.svg" alt="">
                        </div>
                        <div class="development-brands__item">
                            <img src="/img/development/icons/wolf.svg" alt="">
                        </div>
                        <div class="development-brands__item">
                            <img src="/img/development/icons/selfmade.svg" alt="">
                        </div>
                        <div class="development-brands__item">
                            <img src="/img/development/icons/zamm.svg" alt="">
                        </div>
                        <div class="development-brands__item">
                            <img src="/img/development/icons/sunlight.svg" alt="">
                        </div>
                        <div class="development-brands__item">
                            <img src="/img/development/icons/first.svg" alt="">
                        </div>
                        <div class="development-brands__item">
                            <img src="/img/development/icons/74.svg" alt="">
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>