<section class="development-section development-green">
    <div class="development-green__wrapper">
        <div class="container">
            <div class="development-green__head">
                <h2 class="title development-green__title">Как мы развиваем интернет-магазины</h2>
                <p class="development-green__description">
                    Чтобы улучшать продажи, мы работаем не с отдельными страницами, а с воронками и метриками,
                    <br>
                    которые влияют на деньги. Ниже — как это устроено.
                </p>
            </div>
        </div>
        <div class="development-green__bg">
            <div class="development-green__section">
                <div class="development-green__top">
                    <h3 class="development-green__heading">
                        Интернет-магазин <span>— это система воронок, <br>
                            которые влияют на деньги</span>
                    </h3>
                </div>
                <div class="development-green__wave">
                    <img src="/img/development/icons/wave-arrow.svg" alt=""
                        class="development-green__wave-arrow el-desctop">
                    <img src="/img/development/icons/wave-arrow-mobile.svg" alt=""
                        class="development-green__wave-arrow el-mobile">
                    <div class="development-green__wave-left">
                        <div class="development-green__wave-row">
                            <div class="development-metrics__item">
                                <img src="/img/svg/dev-filter.svg" alt="" class="development-metrics__item-img">
                                <div class="development-metrics__item-title">
                                    Вовлечение
                                </div>
                                <div class="development-metrics__item-points">
                                    <div class="development-metrics__item-point-wrapper">
                                        <span class="development-metrics__item-text">
                                            Любые перемещения с главной страницы, каталога и других
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="development-metrics__item">
                                <img src="/img/svg/dev-filter.svg" alt="" class="development-metrics__item-img">
                                <div class="development-metrics__item-title">
                                    Оформление
                                </div>
                                <div class="development-metrics__item-points">
                                    <div class="development-metrics__item-point-wrapper">
                                        <span class="development-metrics__item-text">
                                            Ввод данных пользователей, выбор оплаты и доставки, подтверждение и оплата
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="development-metrics__item">
                                <img src="/img/svg/dev-filter.svg" alt="" class="development-metrics__item-img">
                                <div class="development-metrics__item-title">
                                    Удержание
                                </div>
                                <div class="development-metrics__item-points">
                                    <div class="development-metrics__item-point-wrapper">
                                        <span class="development-metrics__item-text">
                                            Коммуникация после покупки, программа лоялльности и возврат
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="development-green__wave-row">
                            <div class="development-metrics__item">
                                <img src="/img/svg/dev-filter.svg" alt="" class="development-metrics__item-img">
                                <div class="development-metrics__item-title">
                                    Выбор товара
                                </div>
                                <div class="development-metrics__item-points">
                                    <div class="development-metrics__item-point-wrapper">
                                        <span class="development-metrics__item-text">
                                            Посещение и выбор через страницу товара, ознакомление с деталями и
                                            ассортиментом
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="development-metrics__item">
                                <img src="/img/svg/dev-filter.svg" alt="" class="development-metrics__item-img">
                                <div class="development-metrics__item-title">
                                    Корзина
                                </div>
                                <div class="development-metrics__item-points">
                                    <div class="development-metrics__item-point-wrapper">
                                        <span class="development-metrics__item-text">
                                            Сама страница, проверка товаров, оформление и возврат
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="development-metrics__item">
                                <img src="/img/svg/dev-filter.svg" alt="" class="development-metrics__item-img">
                                <div class="development-metrics__item-title">
                                    Омниканальная <br> воронка
                                </div>
                                <div class="development-metrics__item-points">
                                    <div class="development-metrics__item-point-wrapper">
                                        <span class="development-metrics__item-text">
                                            Доставка и самовывоз, онлайн и оффлайн оплата, возвраты и обмен
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="development-green__wave-circle">
                        <img src="/img/development/icons/circle.svg" alt="" class="development-green__wave-icon">
                        <div class="development-green__wave-price">Деньги, ₽</div>
                        <div class="development-green__wave-shop">
                            выручка и прибыль <br> интернет-магазина
                        </div>
                    </div>
                </div>
            </div>
            <div class="development-section development-green__section">
                <div class=" development-green__top">
                    <h3 class="development-green__heading">Воронки <span> — состоят из этапов и метрик</span>
                    </h3>
                    <div class="development-green__subtitle">
                        Метрики показывают, где теряются деньги и где есть потенциал роста
                    </div>
                </div>
                <div class="development-green__statistics">
                    <img src="/img/development/statistics.png" alt="" class="development-green__statistics-img">
                    <div class="development-green__green">
                        <img src="/img/svg/dev-light.svg" alt="" class="development-green__green-icon">
                        <div class="development-green__green-title">
                            Что будет, если поработать только над одной метрикой? <br> Например, уменьшить отток с 70 до
                            60%?
                        </div>
                        <img src="/img/development/icons/green-arrow.svg" class="development-green__statistics-arrow" />
                    </div>
                </div>
            </div>
            <div class="development-section development-green__section development-green__screen">
                <div class=" development-green__top development-green__screen-head">
                    <h3 class="development-green__heading">На метрики можно влиять <span>через <br> гипотезы
                            решений</span>
                    </h3>
                    <div class="development-green__subtitle">
                        Анализируем воронку, находим проблему и формулируем гипотезу, <br> которая может улучшить
                        метрику
                    </div>
                </div>
                <img src="/img/development/screen.png" class="development-green__screen-img" />
                <p class="development-green__screen-text">
                    Отрывок из плана по развитию интернет-магазина
                </p>
            </div>
            <div class="development-green__section">
                <div class=" development-green__top">
                    <h3 class="development-green__heading">
                        <span>Изменение метрик</span> влияет на деньги
                    </h3>
                    <div class="development-green__subtitle">
                        Даже работа над одной метрикой может увеличить выручку
                    </div>
                </div>
                <div class="development-green__change">
                    <img src="/img/development/icons/arrow-one.svg" alt=""
                        class="development-green__change-arrow--one el-desctop">
                    <img src="/img/development/icons/arrow-two.svg" alt=""
                        class="development-green__change-arrow--two el-desctop">
                    <img src="/img/development/icons/arrow-three.svg" alt=""
                        class="development-green__change-arrow--three el-desctop">
                    <img src="/img/development/icons/arrow-four.svg" alt=""
                        class="development-green__change-arrow--four el-desctop">
                    <img src="/img/development/icons/arrow-one-mobile.svg" alt=""
                        class="development-green__change-arrow--one el-mobile">
                    <img src="/img/development/icons/arrow-two-mobile.svg" alt=""
                        class="development-green__change-arrow--two el-mobile">
                    <img src="/img/development/icons/arrow-three-mobile.svg" alt=""
                        class="development-green__change-arrow--three el-mobile">
                    <img src="/img/development/icons/arrow-four-mobile.svg" alt=""
                        class="development-green__change-arrow--four el-mobile">
                    <img src="/img/development/change-metrics.png" alt="" class="development-green__change-img">
                    <div class="development-green__change-points">
                        <div class="development-green__change-point">
                            <div class="development-green__change-num">01</div>
                            <div class="development-green__change-body">
                                <div class="development-green__change-text">
                                    <span>Снизили отток</span> = увеличили количество событий с переходами шаг 3 → шаг 4
                                </div>
                                <div class="development-green__change-marks">
                                    <div class="development-green__change-mark">
                                        <img src="/img/development/icons/tria-bottom.svg" alt=""
                                            class="development-green__change-tria">
                                        10%
                                    </div>
                                    <div class="development-green__change-mark">
                                        +65
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="development-green__change-point">
                            <div class="development-green__change-num">02</div>
                            <div class="development-green__change-body">
                                <div class="development-green__change-text">
                                    <span>Увеличилось количество покупок</span> при аналогичном оттоке
                                </div>
                                <div class="development-green__change-marks">
                                    <div class="development-green__change-mark">
                                        +32
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="development-green__change-point">
                            <div class="development-green__change-num">03</div>
                            <div class="development-green__change-body">
                                <div class="development-green__change-text">
                                    <span>Увеличилась конверсия</span> в оформлении
                                </div>
                                <div class="development-green__change-marks">
                                    <div class="development-green__change-mark">
                                        <img src="/img/development/icons/tria-top.svg" alt=""
                                            class="development-green__change-tria">
                                        4,1%
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="development-green__change-point">
                            <div class="development-green__change-num">04</div>
                            <div class="development-green__change-body">
                                <div class="development-green__change-text">
                                    <span>Увеличилась выручка</span> <br class="el-mobile"> интернет-магазина +320
                                    тыс/день
                                </div>
                                <div class="development-green__change-marks">
                                    <div class="development-green__change-mark">
                                        <img src="/img/development/icons/tria-top.svg" alt=""
                                            class="development-green__change-tria">
                                        4,1%
                                    </div>
                                    <div class="development-green__change-mark">
                                        +9,6 млн ₽/мес
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="development-green__income">
                        <img src="/img/svg/dev-light.svg" alt="" class="development-green__income-icon">
                        <div class="development-green__income-body">
                            <div class="development-green__income-title">
                                +9,6 млн ₽ (+33%) выручки в месяц дополнительно
                            </div>
                            <div class="development-green__income-description">
                                <p>
                                    Снижение оттока на 10 п.п. лишь на одном шаге воронки принесло — +9,6 млн ₽
                                    дополнительной выручки в месяц (320 тыс в день).
                                </p>
                                <p>
                                    Это эквивалентно росту выручки на +33% в месяц
                                </p>
                            </div>
                        </div>
                        <div class="btn-white btn-white_hover-white development-green__income-btn">
                            Оставить заявку
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>