<section class="development-section development-metrics">
    <div class="container">
        <div class="development-metrics__wrapper">
            <div class="development-metrics__head">
                <h2 class="title development-metrics__title">Метрики влияют на деньги по-разному</h2>
                <p class="development-metrics__description">
                    Некоторые метрики дают быстрый эффект, другие требуют больших усилий.
                    <br>
                    Поэтому мы приоритизируем, с чего начинать.
                </p>
            </div>
            <img src="/img/development/metrics.png" alt="" class="development-metrics__img">
            <div class="development-metrics__body">
                <div class="development-metrics__green">
                    <img src="/img/svg/dev-light.svg" alt="" class="development-metrics__green-icon">
                    <div class="development-metrics__green-title">
                        Фокусируемся на воронках, которые дадут быстрый рост
                    </div>
                    <div class="development-metrics__green-description">
                        <p>
                            Мы выделили воронки и метрики, которые дадут <span>быстрый эффект при минимальных
                                усилиях.</span>
                        </p>
                        <p>
                            Именно с них начинается рост интернет-магазина.
                        </p>
                    </div>
                    <img src="/img/svg/dev-metrics-green-arrow.svg" alt="" class="development-metrics__arrow">
                </div>
                <div class="development-metrics__items">
                    <div class="development-metrics__items-col">
                        <div class="development-metrics__item">
                            <img src="/img/svg/dev-filter.svg" alt="" class="development-metrics__item-img">
                            <div class="development-metrics__item-title">
                                Вовлечение
                            </div>
                            <div class="development-metrics__item-points">
                                <div class="development-metrics__item-point-wrapper">
                                    <div class="development-metrics__item-point">
                                        <span>
                                            CR: каталог
                                        </span>
                                        <img src="/img/svg/dev-arrow.svg" alt="">
                                        <span>
                                            страница товара
                                        </span>
                                    </div>
                                </div>
                                <div class="development-metrics__item-point-wrapper">
                                    <div class="development-metrics__item-point">
                                        <span>
                                            CR: добавление товара в корзину
                                        </span>
                                        <img src="/img/svg/dev-arrow.svg" alt="">
                                        <span>
                                            страница корзины
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="development-metrics__item">
                            <img src="/img/svg/dev-filter.svg" alt="" class="development-metrics__item-img">
                            <div class="development-metrics__item-title">
                                Выбор товара
                            </div>
                            <div class="development-metrics__item-points">
                                <div class="development-metrics__item-point-wrapper">
                                    <div class="development-metrics__item-point">
                                        <span>
                                            CTR: страница товара
                                        </span>
                                        <img src="/img/svg/dev-arrow.svg" alt="">
                                        <span>
                                            добавление товара в корзину
                                        </span>
                                    </div>
                                </div>
                                <div class="development-metrics__item-point-wrapper">
                                    <div class="development-metrics__item-point">
                                        <span>
                                            CR: добавление товара в корзину
                                        </span>
                                        <img src="/img/svg/dev-arrow.svg" alt="">
                                        <span>
                                            страница корзины
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="development-metrics__items-col">
                        <div class="development-metrics__item">
                            <img src="/img/svg/dev-filter.svg" alt="" class="development-metrics__item-img">
                            <div class="development-metrics__item-title">
                                Корзина
                            </div>
                            <div class="development-metrics__item-points">
                                <div class="development-metrics__item-point-wrapper">
                                    <div class="development-metrics__item-point">
                                        <span>
                                            CR: корзина
                                        </span>
                                        <img src="/img/svg/dev-arrow.svg" alt="">
                                        <span>
                                            оформление заказа
                                        </span>
                                    </div>
                                </div>
                                <div class="development-metrics__item-point-wrapper">
                                    <div class="development-metrics__item-point">
                                        <span>
                                            % брошенных корзин
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="development-metrics__item">
                            <img src="/img/svg/dev-filter.svg" alt="" class="development-metrics__item-img">
                            <div class="development-metrics__item-title">
                                Оформление
                            </div>
                            <div class="development-metrics__item-points">
                                <div class="development-metrics__item-point-wrapper">
                                    <div class="development-metrics__item-point">
                                        <span>
                                            CR оформление заказа
                                        </span>
                                        <img src="/img/svg/dev-arrow.svg" alt="">
                                        <span>
                                            покупка
                                        </span>
                                    </div>
                                    <span class="development-metrics__item-text">
                                        общий показатель оформления
                                    </span>
                                </div>
                                <div class="development-metrics__item-point-wrapper">
                                    <div class="development-metrics__item-point">
                                        <span>
                                            CR по шагам воронки
                                        </span>
                                    </div>
                                    <span class="development-metrics__item-text">
                                        контакты, доставка, оплата
                                    </span>
                                </div>
                                <div class="development-metrics__item-point-wrapper">
                                    <div class="development-metrics__item-point">
                                        <span>
                                            % кликов на внешние элементы
                                        </span>
                                    </div>
                                    <span class="development-metrics__item-text">
                                        ссылки, навигация
                                    </span>
                                </div>
                                <div class="development-metrics__item-point-wrapper">
                                    <div class="development-metrics__item-point">
                                        <span>
                                            Доля ошибок полей
                                        </span>
                                    </div>
                                    <span class="development-metrics__item-text">
                                        неверный ввод, незаполненные
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>