<section class="development-section development-green">
    <div class="development-green__wrapper">
        <div class="container">
            <div class="development-green__head">
                <h2 class="title development-green__title">Как мы развиваем интернет-магазины</h2>
                <p class="development-green__description">
                    Чтобы улучшать продажи, мы работаем не с отдельными страницами, а с воронками и метриками,
                    <br>
                    которые влияют на деньги. Ниже — как это устроено.
                </p>
            </div>
        </div>
        <div class="development-green__bg">
            <div class="">
                <div class=" development-green__top">
                    <h3 class="development-green__heading">
                        Интернет-магазин <span>— это система воронок, <br>
                            которые влияют на деньги</span>
                    </h3>
                </div>
            </div>
            <div class="development-section">
                <div class=" development-green__top">
                    <h3 class="development-green__heading">Воронки <span> — состоят из этапов и метрик</span>
                    </h3>
                    <div class="development-green__subtitle">
                        Метрики показывают, где теряются деньги и где есть потенциал роста
                    </div>
                </div>
            </div>
            <div class="development-section development-green__screen">
                <div class=" development-green__top development-green__screen-head">
                    <h3 class="development-green__heading">На метрики можно влиять <span>через <br> гипотезы
                            решений</span>
                    </h3>
                    <div class="development-green__subtitle">
                        Анализируем воронку, находим проблему и формулируем гипотезу, <br> которая может улучшить
                        метрику
                    </div>
                </div>
                <img src="/img/development/screen.png" class="development-green__screen-img" />
                <p class="development-green__screen-text">
                    Отрывок из плана по развитию интернет-магазина
                </p>
            </div>
            <div class="">
                <div class=" development-green__top">
                    <h3 class="development-green__heading">
                        <span>Изменение метрик</span> влияет на деньги
                    </h3>
                    <div class="development-green__subtitle">
                        Даже работа над одной метрикой может увеличить выручку
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>