<section class="development-why-we">
    <div class="container">
        <div class="development-why-we__inner">
            <h2 class="development-why-we__title">
                Почему мы, а не аналитик внутри?
            </h2>
            <div class="development-why-we__body">
                <div class="development-why-we__body-borders">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div class="development-why-we__body-col desktop">
                    <div class="development-why-we__body-item">

                    </div>
                    <div class="development-why-we__body-item">
                        <div class="development-why-we__body-info">
                            Экономика
                        </div>
                    </div>
                    <div class="development-why-we__body-item">
                        <div class="development-why-we__body-info">
                            Работа с данными
                        </div>
                    </div>
                    <div class="development-why-we__body-item">
                        <div class="development-why-we__body-info">
                            Экспертиза
                        </div>
                    </div>
                </div>
                <div class="development-why-we__body-col white">
                    <div class="development-why-we__body-borders">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <div class="development-why-we__body-item">
                        <div class="development-why-we__body-title">
                            Антро
                        </div>
                    </div>
                    <div class="development-why-we__body-item development-why-we__body-item_flex">
                        <div class="development-why-we__body-item-check">
                            <img src="/img/svg/tick-squ.svg" alt="">
                            <span class="el-mobile">Экономика</span>
                        </div>
                        <div class="development-why-we__body-item-text">
                            Это команда экспертов по фиксированной стоимости, без расходов на содержание сотрудника
                            и рисков, связанных с его эффективностью и загрузкой.
                        </div>
                    </div>
                    <div class="development-why-we__body-item development-why-we__body-item_flex">
                        <div class="development-why-we__body-item-check">
                            <img src="/img/svg/tick-squ.svg" alt="">
                            <span class="el-mobile">Работа с данными</span>
                        </div>
                        <div class="development-why-we__body-item-text">
                            Не просто собираем цифры — мы находим точки потерь, выявляем критичные отклонения
                            и переводим данные в конкретные действия, которые влияют на конверсию и выручку.
                        </div>
                    </div>
                    <div class="development-why-we__body-item development-why-we__body-item_flex">
                        <div class="development-why-we__body-item-check">
                            <img src="/img/svg/tick-squ.svg" alt="">
                            <span class="el-mobile">Экспертиза</span>
                        </div>
                        <div class="development-why-we__body-item-text">
                            Работаем с разными интернет-магазинами, где проводим глубокий анализ интерфейсов, данных
                            и пользовательских сценариев. Это позволяет нам понимать, какие изменения действительно
                            влияют на конверсию и выручку, а какие — нет.
                        </div>
                    </div>
                </div>
                <div class="development-why-we__body-col">
                    <div class="development-why-we__body-item">
                        <div class="development-why-we__body-title">
                            Аналитик

                            <span>внутри компании</span>
                        </div>
                    </div>
                    <div class="development-why-we__body-item development-why-we__body-item_flex">
                        <div class="development-why-we__body-item-check">
                            <img src="/img/svg/tick-squ-empty.svg" alt="">
                            <span class="el-mobile">Экономика</span>
                        </div>
                        <div class="development-why-we__body-item-text">
                            Это зарплата, налоги, найм, адаптация и постоянная загрузка.
                        </div>
                    </div>
                    <div class="development-why-we__body-item development-why-we__body-item_flex">
                        <div class="development-why-we__body-item-check">
                            <img src="/img/svg/tick-squ-empty.svg" alt="">
                            <span class="el-mobile">Работа с данными</span>
                        </div>
                        <div class="development-why-we__body-item-text">
                            Ограничивается выгрузкой данных и отчётами по запросу.
                        </div>
                    </div>
                    <div class="development-why-we__body-item development-why-we__body-item_flex">
                        <div class="development-why-we__body-item-check">
                            <img src="/img/svg/tick-squ-empty.svg" alt="">
                            <span class="el-mobile">Экспертиза</span>
                        </div>
                        <div class="development-why-we__body-item-text">
                            Видит один проект, ограничен его контекстом и не обладает опытом системного развития
                            интернет-магазинов.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>