<section class="development-section development-get">
    <div class="container">
        <div class="development-get__wrapper">
            <h2 class="title development-get__title">Что вы получаете</h2>
            <div class="development-get__inner">
                <div class="development-get__left">
                    <div class="development-get__points">
                        <div class="development-get__points-item">
                            <div class="development-get__points-name">
                                1. Выделенная продуктовая команда с e-commerce экспертизой
                            </div>
                            <div class="development-get__text">
                                Команда ведет проект и отвечает за рост метрик интернет-магазина.
                            </div>
                        </div>
                        <div class="development-get__points-item">
                            <div class="development-get__points-name">
                                2. Анализ воронок и данных
                            </div>
                            <div class="development-get__text">
                                Разбираем воронки интернет-магазина, анализируем данные веб-аналитики и находим точки
                                потерь
                            </div>
                        </div>
                        <div class="development-get__points-item">
                            <div class="development-get__points-name">
                                3. Гипотезы решений
                            </div>
                            <div class="development-get__text">
                                Формируем гипотезы решений, которые улучшают метрики и приоритизируем по Effort/Impact
                            </div>
                        </div>
                        <div class="development-get__points-item">
                            <div class="development-get__points-name">
                                4. Прогноз эффекта в деньгах
                            </div>
                            <div class="development-get__text">
                                Оцениваем, как изменения повлияют на конверсию и выручку
                            </div>
                        </div>
                    </div>
                    <div class="development-get__separator">
                    </div>
                    <div class="development-get__prices">
                        <div class="development-get__price">
                            <div class="development-get__price-title">
                                80 000 ₽ <span>/ месяц</span>
                            </div>
                            <div class="development-get__text">
                                Если вы не на поддержке или не утилизируете нужный объем часов
                            </div>
                        </div>
                        <div class="development-get__text">
                            или
                        </div>
                        <div class="development-get__price">
                            <div class="development-get__price-title">
                                Бесплатно
                            </div>
                            <div class="development-get__text">
                                Если вы у нас на технической поддержке и утилизируете от 100 часов в месяц.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="development-get__right">
                    <form action="" class="development-get__form">

                        <div class="main-order__form-fields">
                            <div class="input-block error">
                                <div class="input-block__exclamation"><img src="img/svg/exclamation.svg" alt=""></div>
                                <input name="name" type="text" required="" placeholder="Имя">
                                <div class="input-block__error">Пожалуйста, заполните поле</div>
                            </div>
                            <div class="input-block error">
                                <div class="input-block__exclamation"><img src="img/svg/exclamation.svg" alt=""></div>
                                <input name="company" type="text" required="" placeholder="Компания">
                                <div class="input-block__error">Пожалуйста, заполните поле</div>
                            </div>

                            <div class="input-block error">
                                <div class="input-block__exclamation"><img src="img/svg/exclamation.svg" alt=""></div>
                                <input name="email" type="email" required="" placeholder="Email">
                                <div class="input-block__error">Пожалуйста, проверьте правильность почты</div>
                            </div>

                            <div class="main-order__form-flex">
                                <div class="input-block error">
                                    <div class="input-block__exclamation"><img src="img/svg/exclamation.svg" alt="">
                                    </div>
                                    <input name="phone" type="tel" required="" placeholder="Телефон" inputmode="text">
                                    <div class="input-block__error">Пожалуйста, проверьте правильность номера</div>
                                </div>

                                <div class="input-block error">
                                    <div class="input-block__exclamation"><img src="img/svg/exclamation.svg" alt="">
                                    </div>
                                    <div class="select">
                                        <input class="select__value" type="text" autocomplete="off" readonly="readonly"
                                            placeholder="Способ связи">
                                        <div class="select__list">
                                            <div data-value="Telegram или WhatsApp" class="select__option">Telegram или
                                                WhatsApp</div>
                                            <div data-value="Телефон" class="select__option">Телефон</div>
                                            <div data-value="Email" class="select__option">Email</div>
                                        </div>
                                    </div>
                                    <div class="input-block__error">Пожалуйста, выберите способ связи</div>
                                </div>
                            </div>

                        </div>
                        <!-- <div class="main-order__form-note">Оставляя заявку, я соглашаюсь с <a href="#">обработкой
                                персональных данных</a> и <a href="#">политикой конфиденциальности</a></div> -->

                        <button class="btn-reset btn  btn_hover-green">Оставить заявку</button>
                        <label class="i-checkbox">
                            <input class="i-checkbox__input" type="checkbox" name="i_agree" checked="">
                            <div class="i-checkbox__mask">
                                <svg width="12" height="8" viewBox="0 0 12 8" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1.16602 3.11091L4.89961 6.66671L10.5 1.33301" stroke="white"
                                        stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>
                            </div>
                            <div class="i-checkbox__text">
                                Я соглашаюсь с условиями <a href="">публичной оферты</a>
                                и <a href="">обработкой моих персональных данных</a>
                                в порядке, предусмотренном публичной офертой
                            </div>
                        </label>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>