<section class="development-section development-green">
    <div class="development-green__wrapper">
        <div class="container">
            <div class="development-green__head">
                <h2 class="title development-green__title">Как мы развиваем интернет-магазины</h2>
                <p class="development-green__description">
                    Чтобы улучшать продажи, мы работаем не с отдельными страницами, а с воронками и метриками,
                    <br>
                    которые влияют на деньги. Ниже — как это устроено.
                </p>
            </div>
        </div>
        <div class="development-green__bg">
            <div class="development-green__section">
                <div class=" development-green__top">
                    <h3 class="development-green__heading">
                        Интернет-магазин <span>— это система воронок, <br>
                            которые влияют на деньги</span>
                    </h3>
                </div>
            </div>
            <div class="development-section development-green__section">
                <div class=" development-green__top">
                    <h3 class="development-green__heading">Воронки <span> — состоят из этапов и метрик</span>
                    </h3>
                    <div class="development-green__subtitle">
                        Метрики показывают, где теряются деньги и где есть потенциал роста
                    </div>
                </div>
                <div class="development-green__statistics">
                    <img src="/img/development/statistics.png" alt="" class="development-green__statistics-img">
                    <div class="development-green__green">
                        <img src="/img/svg/dev-light.svg" alt="" class="development-green__green-icon">
                        <div class="development-green__green-title">
                            Что будет, если поработать только над одной метрикой? <br> Например, уменьшить отток с 70 до
                            60%?
                        </div>
                        <img src="/img/development/icons/green-arrow.svg" class="development-green__statistics-arrow" />
                    </div>
                </div>
            </div>
            <div class="development-section development-green__section development-green__screen">
                <div class=" development-green__top development-green__screen-head">
                    <h3 class="development-green__heading">На метрики можно влиять <span>через <br> гипотезы
                            решений</span>
                    </h3>
                    <div class="development-green__subtitle">
                        Анализируем воронку, находим проблему и формулируем гипотезу, <br> которая может улучшить
                        метрику
                    </div>
                </div>
                <img src="/img/development/screen.png" class="development-green__screen-img" />
                <p class="development-green__screen-text">
                    Отрывок из плана по развитию интернет-магазина
                </p>
            </div>
            <div class="development-green__section">
                <div class=" development-green__top">
                    <h3 class="development-green__heading">
                        <span>Изменение метрик</span> влияет на деньги
                    </h3>
                    <div class="development-green__subtitle">
                        Даже работа над одной метрикой может увеличить выручку
                    </div>
                </div>
                <div class="development-green__change">
                    <img src="/img/development/change-metrics.png" alt="" class="development-green__change-img">
                    <div class="development-green__change-points">
                        <div class="development-green__change-point">1</div>
                        <div class="development-green__change-point">2</div>
                        <div class="development-green__change-point">3</div>
                        <div class="development-green__change-point">4</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>