<section class="development-section development-inside">
    <div class="container">
        <div class="development-inside__wrapper">
            <h2 class="title development-inside__title">За счет чего достигается результат?</h2>
            <div class="development-inside__inner">
                <div class="development-inside__left">
                    <div class="development-inside__left-top">
                        <h2 class="development-inside__name">Экспертиза, основанная на реальных данных и практике</h2>
                        <div class="development-inside__descriptions">
                            <p>
                                Мы регулярно анализируем интерфейсы, данныеи пользовательские сценарии десятков
                                интернет-магазинов.
                            </p>
                            <p>
                                Проверяем гипотезы в реальных проектах и видим, какие решения
                                действительно влияют на метрики.
                            </p>
                            <p>
                                Параллельно отслеживаем состояние отрасли: динамику рынка, изменения в поведении
                                покупателей
                                и
                                бизнес-тренды.
                            </p>
                            <p>
                                Такой подход позволяет нам прогнозировать потенциальный рост в деньгах ещё до внедрения
                                изменений.
                            </p>
                        </div>
                    </div>
                    <a href="" class="development-inside__channel">
                        <img src="/img/development/ecom-logo.svg" alt="" class="development-inside__channel-img">
                        <div class="development-inside__channel-block">
                            <div class="development-inside__channel-title">
                                Насмотрелись екома
                            </div>
                            <div class="development-inside__channel-text">
                                Рассказываем о работающих и интересных решениях для интернет-магазинов
                            </div>
                        </div>
                    </a>
                </div>
                <div class="development-inside__right">
                    <img class="development-inside__scroll" src="/img/development/inside.png" alt="">
                </div>
            </div>
            <div class="development-inside__analytics">
                <div class="development-inside__analytics-card">
                    <div class="main-research__card">
                        <div class="js-form main-research__subscribe js-subscribe-baloon">

                            <div class="main-research__subscribe-close js-subscribe-close">
                                <img src="img/svg/close.svg" alt="">
                            </div>

                            <div class="main-research__card-title">Email-рассылка с&nbsp;новостямии отраслевой
                                аналитикой
                            </div>
                            <div class="main-research__card-text">Ежемесячно присылаем дайджест с&nbsp;аналитикой</div>
                            <form action="" class="main-team__form-wrapper">
                                <div class="main-team__form js-form">
                                    <div class="input-block">
                                        <div class="input-block__exclamation"><img src="img/svg/exclamation.svg" alt="">
                                        </div>
                                        <input name="email" type="email" required=""
                                            placeholder="Email для подписки на рассылку">
                                        <div class="input-block__error">Пожалуйста, перепроверьте правильность
                                            номера</div>
                                    </div>
                                    <button class="btn-reset main-team__submit btn_hover-round">
                                        <img src="img/svg/next.svg" alt="">
                                    </button>
                                </div>
                                <label class="i-checkbox i-checkbox_smalli-checkbox_left">
                                    <input class="i-checkbox__input" type="checkbox" name="i_agree" checked="">
                                    <div class="i-checkbox__mask">
                                        <svg width="12" height="8" viewBox="0 0 12 8" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path d="M1.16602 3.11091L4.89961 6.66671L10.5 1.33301" stroke="white"
                                                stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                                            </path>
                                        </svg>
                                    </div>
                                    <div class="i-checkbox__text">
                                        Я&nbsp;соглашаюсь с&nbsp;условиями
                                        <a href="">публичной оферты</a>
                                        и&nbsp;<a href="">обработкой моих персональных данных</a>
                                        в&nbsp;порядке, предусмотренном публичной офертой
                                    </div>
                                </label>
                            </form>
                        </div>
                        <div class="main-research__card-title">Отраслевая аналитика <br> и данные рынка</div>
                        <div class="main-research__card-text main-research__card-text_tag">
                            <img src="img/media/svg/tag.svg" alt="">
                            Tagline Awards. Отчёты, которыми пользуется весь рынок
                        </div>
                        <div class="development-inside__description">
                            <p>
                                Изучаем отчеты ведущих аналитических компаний и выпускаем собственные обзоры e-commerce
                                рынка.
                            </p>
                            <p>
                                Это помогает нам видеть направления развития отрасли, замечать ранние изменения в
                                поведении покупателей и понимать актуальные тенденции.
                            </p>
                            <p>
                                Благодаря этому мы применяем в проектах клиентов только подтвержденные практикой
                                решения.
                            </p>
                        </div>
                        <div class="main-research__card-list">
                            <a href="#" class="main-research__card-el btn_hover-graylight js-subscribe-open">
                                <div class="main-research__card-icon main-research__card-icon_small">
                                    <img src="img/svg/email-dark.svg" alt="">
                                </div>
                                Email-рассылка с новостями и отраслевой аналитикой
                            </a>
                            <a href="#" class="main-research__card-el btn_hover-graylight">
                                <div class="main-research__card-icon main-research__card-icon_small">
                                    <img src="img/svg/telegram-dark.svg" alt="">
                                </div>
                                <p>
                                    Совместные проекты с
                                    <span>
                                        <img src="img/svg/telegram-blue.svg" alt="">
                                        e-commerce club
                                    </span>
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="development-inside__review">
                    <div class="development-inside__banner scale-hover img-cursor-hover">
                        <div class="main-research__card-label">
                            Декабрь
                            <img src="img/svg/star-small-white.svg" alt="">
                            2025&nbsp;г&nbsp;
                        </div>
                        <div class="tooltip">Lorem, ipsum.</div>
                        <img src="/img/development/inside-banner.png" alt="">
                        <div class="development-inside__banner-title">
                            Обзор fashion-рынка
                            <span>
                                2025-2026
                            </span>
                        </div>
                    </div>
                    <div class="development-inside__review-items">
                        <div class="main-research__card-right">
                            <div class="main-research__card-block scale-hover img-cursor-hover">
                                <div class="tooltip">Lorem, ipsum.</div>
                                <div class="main-research__card-icon">
                                    <img src="/img/media/icon-5.png" alt="">
                                </div>
                                <div>
                                    <div class="main-research__card-text main-research__card-text_big">Обзор рынка
                                        бытовой
                                        техники и электроники (БТиЭ)</div>
                                    <div class="main-research__card-text main-research__card-text_gray">1 500+
                                        скачиваний <img src="img/svg/star-small-gray.svg" alt=""> 2025г</div>
                                </div>
                            </div>
                            <div class="main-research__card-block scale-hover img-cursor-hover">
                                <div class="tooltip">Lorem, ipsum.</div>
                                <div class="main-research__card-icon">
                                    <img src="img/media/icon-1.jpg" alt="">
                                </div>
                                <div>
                                    <div class="main-research__card-text main-research__card-text_big">Обзор рынка
                                        бьюти-ритейла</div>
                                    <div class="main-research__card-text main-research__card-text_gray">3 300+
                                        скачиваний <img src="img/svg/star-small-gray.svg" alt=""> 2023г</div>
                                </div>
                            </div>
                            <div class="main-research__card-block scale-hover img-cursor-hover">
                                <div class="tooltip">Lorem, ipsum.</div>
                                <div class="main-research__card-icon">
                                    <img src="img/bag.jpg" alt="">
                                </div>
                                <div>
                                    <div class="main-research__card-text main-research__card-text_big">Обзор рынка
                                        фэшн-ритейла</div>
                                    <div class="main-research__card-text main-research__card-text_gray">2 234+
                                        скачиваний <img src="img/svg/star-small-gray.svg" alt=""> 2023г</div>
                                </div>
                            </div>
                        </div>
                        <div class="main-research__card main-research__card_type1">
                            <div class="main-research__card-text main-research__card-text_white">Следим за
                                исследованиями</div>
                            <div
                                class="main-research__card-text main-research__card-text_white main-research__card-text_space">
                                Baymard Institute
                                NN/g
                                McKinsey
                                KPMG
                                Deloitte
                                PwC
                                EY
                                BCG
                                GfK
                                Ipsos
                                NielsenIQ
                                Shopify
                                Nielsen
                                Gartner
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="development-inside__workers">
                <div class="development-inside__workers-info">
                    <div class="development-inside__workers-top">
                        <div class="development-inside__workers-title">
                            Продуктовая команда с <br> e-commerce экспертизой
                        </div>
                        <div class="development-inside__workers-description">
                            <p>
                                В проект включаются аналитик, продуктовый дизайнер и менеджер.
                            </p>
                            <p>
                                Мы детально разбираем воронку, выявляем точки потерь, анализируем поведение
                                пользователей и формируем гипотезы для роста конверсии и выручки.
                            </p>
                            <p>
                                Для каждой гипотезы оцениваем ожидаемый эффект,в метриках и в деньгах, и предлагаем
                                понятный план внедрения.
                            </p>
                        </div>
                    </div>
                    <div class="development-inside__workers-bottom">
                        <div class="development-inside__workers-estimation">
                            Проверка гипотез на данных и тестах
                        </div>
                        <div class="development-inside__workers-text">
                            Мы оцениваем гипотезы по Impact/Effort, выбираем самые перспективные, формируем решения и
                            проверяем их на данных: <br> A/B-тестах, метриках поведения и исследованиях.
                        </div>
                    </div>
                </div>
                <div class="development-inside__workers-right">
                    <div class="development-inside__workers-cards">
                        <div class="development-inside__workers-card">
                            <img src="/img/development/star.png" alt="" class="development-inside__workers-star">
                            <div class="development-inside__workers-post">
                                Проектный <br> менеджер
                            </div>
                        </div>
                        <div class="development-inside__workers-card">
                            <img src="/img/development/star-1.png" alt="" class="development-inside__workers-star">
                            <div class="development-inside__workers-post">
                                Аналитик <br> разработки
                            </div>
                        </div>
                        <div class="development-inside__workers-card">
                            <img src="/img/development/star-2.png" alt="" class="development-inside__workers-star">
                            <div class="development-inside__workers-post">
                                Продуктовый <br> дизайнер
                            </div>
                        </div>
                    </div>
                    <button class="btn-reset btn  btn_hover-green development-inside__btn">Оставить заявку</button>
                </div>
            </div>
        </div>
    </div>
</section>