<header class="header header_landing">
    <div class="header__box header__box_static">

        <a href="/" class="header__logo js-header-logo">
            <img src="img/antro.svg" alt="">
        </a>

        <nav class="header__nav">
            <a href="#" class="header__link">Кейсы</a>
            <a href="#" class="header__link">Контакты</a>
        </nav>

        <a href="#" class="header__social">
            <img src="img/svg/telegram-dark.svg" alt="" class="">
            Телеграм-канал
        </a>

    </div>

    <div class="header__scroll">
        <div class="header__box">

            <button class="btn-reset btn btn_lightning btn_hover-pink js-modal-open js-swap-form"
                data-modal="review-new">
                Скачать обзор
                <div class="btn__circle">
                    <img src="img/svg/lightning.svg" alt="">
                </div>
            </button>

            <a href="#" class="header__social">
                <img src="img/svg/telegram-dark.svg" alt="" class="">
                Телеграм-канал
            </a>

        </div>
    </div>

</header>