<header class="header header_landing">
    <div class="header__box header__box_static">

        <a href="/" class="header__logo js-header-logo">
            <img src="img/antro.svg" alt="">
        </a>

        <nav class="header__nav">
            <a href="#" class="header__link">Кейсы</a>
            <a href="#" class="header__link">Контакты</a>
        </nav>

        <a href="#" class="header__social">
            <img src="img/svg/telegram-dark.svg" alt="" class="">
            Телеграм-канал
        </a>

    </div>

    <div class="header__scroll">
        <div class="header__box">

            <button class="btn-reset btn btn_lightning btn_hover-pink js-modal-open1" data-modal="order">
                Купить полный обзор
                <div class="btn__circle">
                    <img src="img/svg/lightning.svg" alt="">
                </div>

                <div class="header-review__btn-description">
                    <span class="">−30% до 20 апреля</span>
                    <span class="">10 дней до конца скидки</span>
                </div>
            </button>

            <a href="#" class="header__social">
                <img src="img/svg/document.svg" alt="" class="">
                Скачать бесплатную часть
            </a>

        </div>
    </div>

</header>