<div class="i-banner">
    <div class="i-banner__body">
        <div class="i-banner__gradient"></div>
        <div class="i-banner__body-wrapper">
            <h2 class="i-banner__title">Обзор рынка бытовой техники и электроники (БТиЭ) 2024-2025</h2>

            <button class="btn-reset btn btn_lightning btn_hover-pink i-banner__btn">
                Получить
                <div class="btn__circle">
                    <img src="img/svg/next.svg" alt="">
                </div>
            </button>
        </div>
    </div>
    <div class="i-banner__scroll">
        <div class="i-banner__body">
            <div class="i-banner__gradient"></div>
            <div class="i-banner__body-wrapper">
                <h2 class="i-banner__title">Обзор рынка бытовой техники и электроники (БТиЭ) 2024-2025</h2>
                <div class="i-banner__right">
                    <button class="btn-reset btn btn_lightning btn_hover-pink i-banner__btn">
                        Получить
                        <div class="btn__circle">
                            <img src="img/svg/next.svg" alt="">
                        </div>
                    </button>
                    <button class="btn-reset i-banner__close">
                        <img src="img/svg/close.svg" alt="">
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>