<label class="i-checkbox">
    <input class="i-checkbox__input" type="checkbox" name="i_agree" />
    <div class="i-checkbox__mask">
        <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.16602 3.11091L4.89961 6.66671L10.5 1.33301" stroke="white" stroke-width="1.5"
                stroke-linecap="round" stroke-linejoin="round" />
        </svg>
    </div>
    <div class="i-checkbox__text">
        Я соглашаюсь с условиями <a href="">публичной оферты</a> и
        <a href="">обработкой моих персональных данных</a> в порядке,
        предусмотренном публичной офертой
    </div>
</label>