<section class="main-first">
    <div class="main-first__box">

        <h1 class="main-first__title">
            Консалтинг, дизайн&nbsp;и&nbsp;разработка для ритейла и eсommerce
        </h1>

        <div class="main-first__logo">
            <!-- <img src="https://maksimpetrov.ru/works/antro/img/antro-logo-anim.gif" alt=""> -->
            <video src="https://maksimpetrov.ru/works/antro/antro-main.webm" autoplay loop muted playsinline></video>
        </div>

        <div class="description main-first__btn">с уникальной отраслевой экспертизой</div>

    </div>
</section>