

<section class="main-cases">
    <div class='container'>
        <div class="inner">

            <h2 class="title">избранные кейсы</h2>

            <div class="main-cases__box">
                <div class="main-cases__col">
                    <div class="main-cases__card">
                        <div class="main-cases__card-image scale-hover img-cursor-hover">
                            <div class="tooltip">Bootwood</div>
                            <div class="main-cases__card-logo">
                                <img src="img/svg/logos/bootwood.svg" alt="">
                            </div>
                            <img src="img/cases/bootwood.jpg" alt="">
                            <div class="main-cases__card-label">
                                <div class="main-cases__card-up"><img src="img/svg/grow.svg" alt=""> +20%</div>
                                <div class="main-cases__card-text">конверсия в покупку</div>
                            </div>
                        </div>
                        <div class="main-cases__card-tags">
                            <div class="main-cases__card-tag">Ритейл</div>
                            <img src="img/svg/star-small.svg" alt="*">
                            <div class="main-cases__card-tag">Ecommerce</div>
                            <img src="img/svg/star-small.svg" alt="*">
                            <div class="main-cases__card-tag">ElasticSearch</div>
                            <img src="img/svg/star-small.svg" alt="*">
                            <div class="main-cases__card-tag">Рефакторинг</div>
                        </div>
                        <div class="main-cases__card-title">Мультибрендовый интернет-магазин на базе сайта Timberland.ru</div>
                    </div>


                    <div class="main-cases__card main-cases__card_desktop main-cases__card_small">
                        <div class="main-cases__card-image">
                            <div class="main-cases__card-logo">
                                <img src="img/svg/logos/finn-flare.svg" alt="">
                            </div>
                            <div class="main-cases__card-note">Совсем скоро опубликуем кейс</div>
                            <div class="main-cases__card-eye">
                                <img src="img/svg/eye.svg" alt="">
                            </div>
                        </div>
                        <div class="main-cases__card-tags">
                            <div class="main-cases__card-tag">Ритейл</div>
                            <img src="img/svg/star-small.svg" alt="*">
                            <div class="main-cases__card-tag">Ecommerce</div>
                            <img src="img/svg/star-small.svg" alt="*">
                            <div class="main-cases__card-tag">ElasticSearch</div>
                            <img src="img/svg/star-small.svg" alt="*">
                            <div class="main-cases__card-tag">Рефакторинг</div>
                        </div>
                        <div class="main-cases__card-title">UX/UI-аудит интернет-магазина, 25 000+ заказов в месяц, 100+ магазинов в рознице</div>
                    </div>


                </div>
                <div class="main-cases__col">


                    <div class="main-cases__card main-cases__card_desktop main-cases__card_small">
                        <div class="main-cases__card-image">
                            <div class="main-cases__card-logo">
                                <img src="img/svg/logos/elena-miro.svg" alt="">
                            </div>
                            <div class="main-cases__card-note">Совсем скоро опубликуем кейс</div>
                            <div class="main-cases__card-eye">
                                <img src="img/svg/eye.svg" alt="">
                            </div>
                        </div>
                        <div class="main-cases__card-tags">
                            <div class="main-cases__card-tag">Ритейл</div>
                            <img src="img/svg/star-small.svg" alt="*">
                            <div class="main-cases__card-tag">Ecommerce</div>
                            <img src="img/svg/star-small.svg" alt="*">
                            <div class="main-cases__card-tag">ElasticSearch</div>
                            <img src="img/svg/star-small.svg" alt="*">
                            <div class="main-cases__card-tag">Рефакторинг</div>
                        </div>
                        <div class="main-cases__card-title">Редизайн интернет-магазина итальянского бренда женской одежды</div>
                    </div>


                    <div class="main-cases__card">
                        <div class="main-cases__card-image scale-hover img-cursor-hover">
                            <div class="tooltip">New Balance</div>
                            <div class="main-cases__card-logo">
                                <img src="img/svg/logos/new-balance.svg" alt="">
                            </div>
                            <img class="img-scale" src="img/cases/new-balance.jpg" alt="">
                            <!-- <div class="main-cases__card-label">
                                <div class="main-cases__card-up"><img src="img/svg/grow.svg" alt=""> +20%</div>
                                <div class="main-cases__card-text">конверсия в покупку</div>
                            </div> -->
                        </div>
                        <div class="main-cases__card-tags">
                            <div class="main-cases__card-tag">Ритейл</div>
                            <img src="img/svg/star-small.svg" alt="*">
                            <div class="main-cases__card-tag">Ecommerce</div>
                            <img src="img/svg/star-small.svg" alt="*">
                            <div class="main-cases__card-tag">ElasticSearch</div>
                            <img src="img/svg/star-small.svg" alt="*">
                            <div class="main-cases__card-tag">Рефакторинг</div>
                        </div>
                        <div class="main-cases__card-title">Мультикорзина со сложной логикой взаимодействия складов, доставки и программ лояльности</div>
                    </div>
                </div>
            </div>

            <div class='swiper main-cases__mobile-swiper js-main-cases-mobile-swiper'>
                <div class='swiper-wrapper'>
                    <div class="swiper-slide main-cases__card main-cases__card_small">
                        <div class="main-cases__card-image">
                            <div class="main-cases__card-logo">
                                <img src="img/svg/logos/finn-flare.svg" alt="">
                            </div>
                            <div class="main-cases__card-note">Совсем скоро опубликуем кейс</div>
                            <div class="main-cases__card-eye">
                                <img src="img/svg/eye.svg" alt="">
                            </div>
                        </div>
                        <div class="main-cases__card-tags">
                            <div class="main-cases__card-tag">Ритейл</div>
                            <img src="img/svg/star-small.svg" alt="*">
                            <div class="main-cases__card-tag">Ecommerce</div>
                            <img src="img/svg/star-small.svg" alt="*">
                            <div class="main-cases__card-tag">ElasticSearch</div>
                            <img src="img/svg/star-small.svg" alt="*">
                            <div class="main-cases__card-tag">Рефакторинг</div>
                        </div>
                        <div class="main-cases__card-title">UX/UI-аудит интернет-магазина, 25 000+ заказов в месяц, 100+ магазинов в рознице</div>
                    </div>
                    <div class="swiper-slide main-cases__card main-cases__card_small">
                        <div class="main-cases__card-image">
                            <div class="main-cases__card-logo">
                                <img src="img/svg/logos/elena-miro.svg" alt="">
                            </div>
                            <div class="main-cases__card-note">Совсем скоро опубликуем кейс</div>
                            <div class="main-cases__card-eye">
                                <img src="img/svg/eye.svg" alt="">
                            </div>
                        </div>
                        <div class="main-cases__card-tags">
                            <div class="main-cases__card-tag">Ритейл</div>
                            <img src="img/svg/star-small.svg" alt="*">
                            <div class="main-cases__card-tag">Ecommerce</div>
                            <img src="img/svg/star-small.svg" alt="*">
                            <div class="main-cases__card-tag">ElasticSearch</div>
                            <img src="img/svg/star-small.svg" alt="*">
                            <div class="main-cases__card-tag">Рефакторинг</div>
                        </div>
                        <div class="main-cases__card-title">Редизайн интернет-магазина итальянского бренда женской одежды</div>
                    </div>

                    
                </div>
                <div class="swiper-pagination main-cases__swiper-pagination"></div>
            </div>

            <div class="main-cases__swiper-wrap">
                <div class='swiper main-cases__swiper js-main-cases-swiper'>
                    <div class='swiper-wrapper'>
                        <div class='swiper-slide main-cases__swiper-slide'>
                            <div class="main-cases__swiper-logo">
                                <img src="img/partners/jamilco2.svg" alt="">
                            </div>
                            <div class="main-cases__swiper-title">Antro — наш стратегический ИТ-партнёр. Вместе мы прорабатываем планы по развитию eCommerce-проектов</div>
                            <div class="main-cases__swiper-text">Команда выполняет работы по разработке, проектированию, дизайну, исследованиям и техподдержке. Ребята умеют подстраиваться под наши процессы и принимать быстрые решения</div>
                            <a href="#" class="main-cases__swiper-file btn_hover-transparent">
                                <div class="main-cases__swiper-icon">
                                    <img src="img/svg/file.svg" alt="">
                                </div>
                                Читать полный отзыв и рекомендательное письмо
                            </a>
                            <div class="main-cases__swiper-person">
                                <div class="main-cases__swiper-photo">
                                    <img src="img/swiper/person-1.jpg" alt="">
                                </div>
                                <div class="main-cases__swiper-name">Арсен Джулфалакян</div>
                                <div class="main-cases__swiper-job">Руководитель направления электронной коммерции, ДжамильКо</div>
                            </div>
                        </div>
                        <div class='swiper-slide main-cases__swiper-slide'>
                            <div class="main-cases__swiper-logo">
                                <img src="img/partners/mango2.svg" alt="">
                            </div>
                            <div class="main-cases__swiper-title">Компания Antro является нашим близким и надежным партнером в сфере дизайна и разработки веб-сайта</div>
                            <div class="main-cases__swiper-text">Сотрудники компании глубоко вникают в процессы,не допускают срыва сроков проектов и внимательно относятсяк поставленным задачам. Отличительной чертой работы Antro является оперативность и высокая организованность</div>
                            <a href="#" class="main-cases__swiper-file btn_hover-transparent">
                                <div class="main-cases__swiper-icon">
                                    <img src="img/svg/file.svg" alt="">
                                </div>
                                Читать полный отзыв и рекомендательное письмо
                            </a>
                            <div class="main-cases__swiper-person">
                                <div class="main-cases__swiper-photo">
                                    <img src="img/swiper/person-2.jpg" alt="">
                                </div>
                                <div class="main-cases__swiper-name">Татьяна Суворова</div>
                                <div class="main-cases__swiper-job">Менеджер проектов, Mango</div>
                            </div>
                        </div>
                        <div class='swiper-slide main-cases__swiper-slide'>
                            <div class="main-cases__swiper-logo">
                                <img src="img/partners/jamilco2.svg" alt="">
                            </div>
                            <div class="main-cases__swiper-title">Antro — наш стратегический ИТ-партнёр. Вместе мы прорабатываем планы по развитию eCommerce-проектов</div>
                            <div class="main-cases__swiper-text">Команда выполняет работы по разработке, проектированию, дизайну, исследованиям и техподдержке. Ребята умеют подстраиваться под наши процессы и принимать быстрые решения</div>
                            <a href="#" class="main-cases__swiper-file btn_hover-transparent">
                                <div class="main-cases__swiper-icon">
                                    <img src="img/svg/file.svg" alt="">
                                </div>
                                Читать полный отзыв и рекомендательное письмо
                            </a>
                            <div class="main-cases__swiper-person">
                                <div class="main-cases__swiper-photo">
                                    <img src="img/swiper/person-1.jpg" alt="">
                                </div>
                                <div class="main-cases__swiper-name">Арсен Джулфалакян</div>
                                <div class="main-cases__swiper-job">Руководитель направления электронной коммерции, ДжамильКо</div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination main-cases__swiper-pagination"></div>
                </div>
                <div class="main-cases__swiper-controls">
                    <div class="main-cases__swiper-next"><img src="img/svg/next-dark.svg" alt=""></div>
                    <div class="main-cases__swiper-prev"><img src="img/svg/prev-dark.svg" alt=""></div>
                </div>
            </div>
            
            

            <div class="main-cases__box" style="position: relative;">

                

                <div class="main-cases__col">
                    <div class="main-cases__card">
                        <div class="main-cases__card-image scale-hover img-cursor-hover">
                            <div class="tooltip">Iddis</div>
                            <div class="main-cases__card-logo">
                                <img src="img/svg/logos/iddis.svg" alt="">
                            </div>
                            <img class="" src="img/cases/iddis.jpg" alt="">
                        </div>
                        <div class="main-cases__card-tags">
                            <div class="main-cases__card-tag">Ритейл</div>
                            <img src="img/svg/star-small.svg" alt="*">
                            <div class="main-cases__card-tag">Ecommerce</div>
                            <img src="img/svg/star-small.svg" alt="*">
                            <div class="main-cases__card-tag">ElasticSearch</div>
                            <img src="img/svg/star-small.svg" alt="*">
                            <div class="main-cases__card-tag">Рефакторинг</div>
                        </div>
                        <div class="main-cases__card-title">Проектирование и дизайн интернет-магазина для ТОП-5 бренда сантехники</div>
                    </div>

                    <div class="main-cases__card main-cases__card_desktop main-cases__card_small">
                        <div class="main-cases__card-image">
                            <div class="main-cases__card-logo">
                                <img src="img/svg/logos/hyper-pc.svg" alt="">
                            </div>
                            <div class="main-cases__card-note">Совсем скоро опубликуем кейс</div>
                            <div class="main-cases__card-eye">
                                <img src="img/svg/eye.svg" alt="">
                            </div>
                        </div>
                        <div class="main-cases__card-tags">
                            <div class="main-cases__card-tag">Ритейл</div>
                            <img src="img/svg/star-small.svg" alt="*">
                            <div class="main-cases__card-tag">Ecommerce</div>
                            <img src="img/svg/star-small.svg" alt="*">
                            <div class="main-cases__card-tag">ElasticSearch</div>
                            <img src="img/svg/star-small.svg" alt="*">
                            <div class="main-cases__card-tag">Рефакторинг</div>
                        </div>
                        <div class="main-cases__card-title">Редизайн и брендинг для компании №1 среди производителей компьютеров премиум-класса</div>
                    </div>

                    <div class="main-cases__card main-cases__card_desktop main-cases__card_small">
                        <div class="main-cases__card-image">
                            <div class="main-cases__card-logo">
                                <img src="img/svg/logos/lassie.svg" alt="">
                            </div>
                            <div class="main-cases__card-note">Совсем скоро опубликуем кейс</div>
                            <div class="main-cases__card-eye">
                                <img src="img/svg/eye.svg" alt="">
                            </div>
                        </div>
                        <div class="main-cases__card-tags">
                            <div class="main-cases__card-tag">Ритейл</div>
                            <img src="img/svg/star-small.svg" alt="*">
                            <div class="main-cases__card-tag">Ecommerce</div>
                            <img src="img/svg/star-small.svg" alt="*">
                            <div class="main-cases__card-tag">ElasticSearch</div>
                            <img src="img/svg/star-small.svg" alt="*">
                            <div class="main-cases__card-tag">Рефакторинг</div>
                        </div>
                        <div class="main-cases__card-title">Редизайн для интернет-магазина детской одежды с историй бренда в 74 года</div>
                    </div>

                </div>
                
                <div class="main-cases__col">

                    <div class="main-cases__card main-cases__card_desktop main-cases__card_small">
                        <div class="main-cases__card-image">
                            <div class="main-cases__card-logo">
                                <img src="img/svg/logos/lusio.svg" alt="">
                            </div>
                            <div class="main-cases__card-note">Совсем скоро опубликуем кейс</div>
                            <div class="main-cases__card-eye">
                                <img src="img/svg/eye.svg" alt="">
                            </div>
                        </div>
                        <div class="main-cases__card-tags">
                            <div class="main-cases__card-tag">Ритейл</div>
                            <img src="img/svg/star-small.svg" alt="*">
                            <div class="main-cases__card-tag">Ecommerce</div>
                            <img src="img/svg/star-small.svg" alt="*">
                            <div class="main-cases__card-tag">ElasticSearch</div>
                            <img src="img/svg/star-small.svg" alt="*">
                            <div class="main-cases__card-tag">Рефакторинг</div>
                        </div>
                        <div class="main-cases__card-title">Редизайн и внедрение интеграций для интернет-магазина премиального бренда женской одежды</div>
                    </div>

                    <div class="main-cases__card">
                        <div class="main-cases__card-image scale-hover img-cursor-hover">
                            <div class="tooltip">Vitaliv</div>
                            <div class="main-cases__card-logo">
                                <img src="img/svg/logos/vitaliv.svg" alt="">
                            </div>
                            <img src="img/cases/vitaliv.jpg" alt="">
                        </div>
                        <div class="main-cases__card-tags">
                            <div class="main-cases__card-tag">Ритейл</div>
                            <img src="img/svg/star-small.svg" alt="*">
                            <div class="main-cases__card-tag">Ecommerce</div>
                            <img src="img/svg/star-small.svg" alt="*">
                            <div class="main-cases__card-tag">ElasticSearch</div>
                            <img src="img/svg/star-small.svg" alt="*">
                            <div class="main-cases__card-tag">Рефакторинг</div>
                        </div>
                        <div class="main-cases__card-title">Интернет-магазин и сайт с нуля для американской ритейл-экосистемы</div>
                    </div>




                    <div class='swiper main-cases__mobile-swiper js-main-cases-mobile-swiper'>
                        <div class='swiper-wrapper'>
                            <div class="swiper-slide main-cases__card main-cases__card_small">
                                <div class="main-cases__card-image">
                                    <div class="main-cases__card-logo">
                                        <img src="img/svg/logos/hyper-pc.svg" alt="">
                                    </div>
                                    <div class="main-cases__card-note">Совсем скоро опубликуем кейс</div>
                                    <div class="main-cases__card-eye">
                                        <img src="img/svg/eye.svg" alt="">
                                    </div>
                                </div>
                                <div class="main-cases__card-tags">
                                    <div class="main-cases__card-tag">Ритейл</div>
                                    <img src="img/svg/star-small.svg" alt="*">
                                    <div class="main-cases__card-tag">Ecommerce</div>
                                    <img src="img/svg/star-small.svg" alt="*">
                                    <div class="main-cases__card-tag">ElasticSearch</div>
                                    <img src="img/svg/star-small.svg" alt="*">
                                    <div class="main-cases__card-tag">Рефакторинг</div>
                                </div>
                                <div class="main-cases__card-title">Редизайн и брендинг для компании №1 среди производителей компьютеров премиум-класса</div>
                            </div>
                            <div class="swiper-slide main-cases__card main-cases__card_small">
                                <div class="main-cases__card-image">
                                    <div class="main-cases__card-logo">
                                        <img src="img/svg/logos/lassie.svg" alt="">
                                    </div>
                                    <div class="main-cases__card-note">Совсем скоро опубликуем кейс</div>
                                    <div class="main-cases__card-eye">
                                        <img src="img/svg/eye.svg" alt="">
                                    </div>
                                </div>
                                <div class="main-cases__card-tags">
                                    <div class="main-cases__card-tag">Ритейл</div>
                                    <img src="img/svg/star-small.svg" alt="*">
                                    <div class="main-cases__card-tag">Ecommerce</div>
                                    <img src="img/svg/star-small.svg" alt="*">
                                    <div class="main-cases__card-tag">ElasticSearch</div>
                                    <img src="img/svg/star-small.svg" alt="*">
                                    <div class="main-cases__card-tag">Рефакторинг</div>
                                </div>
                                <div class="main-cases__card-title">Редизайн для интернет-магазина детской одежды с историй бренда в 74 года</div>
                            </div>
                            <div class="swiper-slide main-cases__card main-cases__card_small">
                                <div class="main-cases__card-image">
                                    <div class="main-cases__card-logo">
                                        <img src="img/svg/logos/lusio.svg" alt="">
                                    </div>
                                    <div class="main-cases__card-note">Совсем скоро опубликуем кейс</div>
                                    <div class="main-cases__card-eye">
                                        <img src="img/svg/eye.svg" alt="">
                                    </div>
                                </div>
                                <div class="main-cases__card-tags">
                                    <div class="main-cases__card-tag">Ритейл</div>
                                    <img src="img/svg/star-small.svg" alt="*">
                                    <div class="main-cases__card-tag">Ecommerce</div>
                                    <img src="img/svg/star-small.svg" alt="*">
                                    <div class="main-cases__card-tag">ElasticSearch</div>
                                    <img src="img/svg/star-small.svg" alt="*">
                                    <div class="main-cases__card-tag">Рефакторинг</div>
                                </div>
                                <div class="main-cases__card-title">Редизайн и внедрение интеграций для интернет-магазина премиального бренда женской одежды</div>
                            </div>

                            
                        </div>
                        <div class="swiper-pagination main-cases__swiper-pagination"></div>
                    </div>



                    <a href="#" class="btn-reset btn main-cases__btn btn_hover-pink">Смотреть все кейсы</a>

                </div>
            </div>

            <div class="main-cases__experience">
                <h2 class="title">опыт в смежных отраслях</h2>

                <div class="swiper main-cases__experience-swiper js-main-experience-swiper">
                    <div class="swiper-wrapper main-cases__experience-list">
                        <div class="swiper-slide main-cases__experience-line">
                            <div class="main-cases__experience-logo">
                                <img src="img/partners/severstal.svg" alt="">
                            </div>
                            <div class="main-cases__experience-text">
                                Редизайн внутреннего стартапа на основе сегментации клиентов и анализа метрик
                            </div>
                            <div class="main-cases__experience-type">Промышленность</div>
                        </div>
    
                        <div class="swiper-slide main-cases__experience-line">
                            <div class="main-cases__experience-logo">
                                <img src="img/partners/4dev.svg" alt="">
                            </div>
                            <div class="main-cases__experience-text">
                                UX/UI-аудит и дизайн для сайта продукта. Поддерживаем продукт работами по улучшению пользовательского опыта
                            </div>
                            <div class="main-cases__experience-type">Финансы</div>
                        </div>
    
                        <div class="swiper-slide main-cases__experience-line">
                            <div class="main-cases__experience-logo">
                                <img src="img/partners/career-online.svg" alt="">
                            </div>
                            <div class="main-cases__experience-text">
                                Исследование целевой аудитории, изменение стратегии развития продукта на основе данных
                            </div>
                            <div class="main-cases__experience-type">Образование</div>
                        </div>
                    </div>
                    <div class="swiper-pagination main-cases__experience-pagination"></div>
                </div>

                <!-- <div class="main-cases__experience-list">
                    <div class="main-cases__experience-line">
                        <div class="main-cases__experience-logo">
                            <img src="img/partners/2.svg" alt="">
                        </div>
                        <div class="main-cases__experience-text">
                            Редизайн внутреннего стартапа на основе сегментации клиентов и анализа метрик
                        </div>
                        <div class="main-cases__experience-type">Промышленность</div>
                    </div>

                    <div class="main-cases__experience-line">
                        <div class="main-cases__experience-logo">
                            <img src="img/partners/2.svg" alt="">
                        </div>
                        <div class="main-cases__experience-text">
                            UX/UI-аудит и дизайн для сайта продукта. Поддерживаем продукт работами по улучшению пользовательского опыта
                        </div>
                        <div class="main-cases__experience-type">Финансы</div>
                    </div>

                    <div class="main-cases__experience-line">
                        <div class="main-cases__experience-logo">
                            <img src="img/partners/2.svg" alt="">
                        </div>
                        <div class="main-cases__experience-text">
                            Исследование целевой аудитории, изменение стратегии развития продукта на основе данных
                        </div>
                        <div class="main-cases__experience-type">Образование</div>
                    </div>
                </div> -->
            </div>

            

        </div>
    </div>
</section>