

<section class="main-solutions">
    <div class='container container_wide'>
        <div class="main-solutions__inner">
            
            <div class="main-solutions__wrap">
                <div class="main-solutions__top">
                    <div class="description description_white">Омниканальность, данные и персонализация</div>
    
                    <div class="main-solutions__title">
                        <h2 class="title title_m0 title_white">Antro <span>Solutions</span></h2>
                        <div class="main-solutions__description">Создаем собственные продукты для ритейла и ecommerce</div>
                    </div>
                </div>
    
                <div class="main-solutions__box">
    
                    <div class="main-solutions__content">
    
                        <div class="main-solutions__content-title">Избранные товары в офлайн-магазинах</div>
                        <div class="main-solutions__content-text">Сервис, который помогает отложить товары в офлайн-магазинах через QR-код</div>
    
                        <a href="#" class="btn-reset btn btn_lightning main-solutions__content-btn btn_hover-graylight">
                            <div class="btn__circle">
                                <img src="img/svg/lightning-dark.svg" alt="">
                            </div>
                            Узнать о сервисе подробнее
                        </a>
    
                        <div class="main-solutions__feedback">
                            <div class="main-solutions__feedback-title">Внедряем сервис во всей<br>рознице Mango</div>
                            <div class="main-solutions__feedback-text">Это единственный сервис, который действительно позволяет объединить опыт покупок в онлайне и офлайне</div>
                            <div class="main-solutions__feedback-person">
                                <div class="main-solutions__feedback-icon">
                                    <img src="img/swiper/person-2.jpg" alt="">
                                </div>
                                <div class="main-solutions__feedback-name">Татьяна Суворова</div>
                                <div class="main-solutions__feedback-job">Менеджер проектов, Mango</div>
                            </div>
                        </div>
    
                        <div class="main-solutions__logos">
                            <img src="img/partners/mango.svg" alt="">
                            <img src="img/partners/lusio.svg" alt="">
                        </div>
    
                    </div>
    
                    <div class="main-solutions__image scale-hover img-cursor-hover js-modal-open" data-modal="video-solutions">
                        <div class="tooltip">Lorem, ipsum.</div>
                        <div class="main-solutions__video-cover">                                
                            <svg width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M62.1791 12.1236C65.174 12.9348 67.5278 15.3163 68.3294 18.3468C69.7781 23.834 69.784 35.2895 69.784 35.2895C69.784 35.2895 69.784 46.7451 68.3294 52.2324C67.5278 55.2628 65.174 57.6443 62.1791 58.4554C56.7563 59.9272 35.0012 59.9272 35.0012 59.9272C35.0012 59.9272 13.2465 59.9272 7.82349 58.4554C4.82857 57.6443 2.47498 55.2628 1.67327 52.2324C0.21875 46.7451 0.21875 35.2895 0.21875 35.2895C0.21875 35.2895 0.21875 23.834 1.67327 18.3468C2.47498 15.3163 4.82857 12.9348 7.82349 12.1236C13.2465 10.6519 35.0012 10.6519 35.0012 10.6519C35.0012 10.6519 56.7563 10.6519 62.1791 12.1236ZM46.1108 35.2854L28.038 45.8426V24.7279L46.1108 35.2854Z" fill="#350027" fill-opacity="0.3"/>
                                <path d="M28.038 45.8426L46.1108 35.2854L28.038 24.7279V45.8426Z" fill="white"/>
                            </svg>
                        </div>
                        <!-- <img src="img/solutions.jpg" alt=""> -->
                        <video src="https://maksimpetrov.ru/works/antro/antro-best.webm" autoplay loop muted playsinline type="video/webm"></video>
                    </div>
                </div>
    
                <div class='swiper main-solutions__swiper js-main-solutions-swiper'>
                    <div class='swiper-wrapper'>
                        <div class="swiper-slide main-solutions__swiper-slide">
                            <div class="main-solutions__swiper-title">eMetrics</div>
                            <div class="main-solutions__swiper-text">Внутренний сервис автоматизированного анализа веб-аналитики</div>
                            <a href="#" class="btn-reset btn btn_lightning main-solutions__swiper-btn main-solutions__swiper-btn_1 btn_hover-purpur">
                                <div class="btn__circle">
                                    <img src="img/svg/lightning.svg" alt="">
                                </div>
                                Пример отчета eMetrics
                            </a>
                        </div>
                        <div class="swiper-slide main-solutions__swiper-slide">
                            <div class="main-solutions__swiper-title">Сбор UGC-контента</div>
                            <div class="main-solutions__swiper-text">Парсинг и интеллектуальный анализ контента для ecommerce</div>
                            <a href="#" class="btn-reset btn btn_lightning main-solutions__swiper-btn main-solutions__swiper-btn_2 btn_hover-purpur">
                                <div class="btn__circle">
                                    <img src="img/svg/lightning.svg" alt="">
                                </div>
                                Пример интеграции в интернет-магазине
                            </a>
                        </div>
                        <div class="swiper-slide main-solutions__swiper-slide">
                            <div class="main-solutions__swiper-title">Умный мерчендайзинг</div>
                            <div class="main-solutions__swiper-text">Формирование выдачи каталога на основе данных о пользователе</div>
                            <a href="#" class="btn-reset btn btn_lightning main-solutions__swiper-btn main-solutions__swiper-btn_3 btn_hover-purpur">
                                <div class="btn__circle">
                                    <img src="img/svg/lightning.svg" alt="">
                                </div>
                                Узнать подробнее
                            </a>
                        </div>
                    </div>
                    <div class="swiper-pagination main-solutions__swiper-pagination"></div>
                </div>
            </div>

        </div>
    </div>
</section>