<section class="main-team">
  <div class="container">
    <div class="inner">
      <h2 class="title">Стать частью команды</h2>
      <div class="description">работать, учиться и тусить</div>

      <div class="main-team__box">
        <div class="main-team__left">
          <div class="main-team__card">
            <div class="main-team__card-content">
              <div class="main-team__text main-team__text_title">
                Вакансии на HH
              </div>
              <div class="main-team__text">
                Кого прямо сейчас ищем в команду
              </div>

              <a
                href="https://vc.ru/antro"
                class="main-team__card-link main-team__card-link_absolute btn_hover-transparent"
              >
                <div class="main-team__card-icon">
                  <img src="img/svg/hh-dark.svg" alt="" />
                </div>
                Смотреть вакансии
              </a>
            </div>
          </div>

          <div class="main-team__card">
            <div class="main-team__card-content">
              <div class="main-team__text main-team__text_title">
                Если не нашел подходящую вакансию
              </div>
              <div class="main-team__text">
                В любом случае пиши. Возможно, мы еще не знаем,что ты нужен нам
                🙂
              </div>

              <a
                href="https://vc.ru/antro"
                class="main-team__card-link main-team__card-link_absolute btn_hover-transparent"
              >
                <div class="main-team__card-icon">
                  <img src="img/svg/email-dark.svg" alt="" />
                </div>
                Написать на почту
              </a>
            </div>
          </div>
        </div>

        <div class="main-team__right">
          <div class="main-team__image">
            <img src="img/team.jpg" alt="" />

            <div class="main-team__image-label">Это мы, Antro</div>
          </div>

          <div
            class="main-team__text main-team__text_title main-team__text_tac"
          >
            Мы всегда в поиске талантливых спецов
          </div>
          <div class="main-team__text main-team__text_tac main-team__text_fix">
            Если ты хочешь не просто работы, а развития и атмосферы спортивной
            команды, стоит попробовать
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
