

<div class="mobile-menu">

    <div class="mobile-menu__black"></div>

    <div class="mobile-menu__slide js-mobile-menu">
        <div class="mobile-menu__col">
            <a href="#" class="mobile-menu__social">
                <div class="mobile-menu__social-icon">
                    <img src="img/svg/telegram-dark.svg" alt="">
                </div>
                Телеграм-канал
            </a>

            <a href="#" class="mobile-menu__social">
                <div class="mobile-menu__social-icon">
                    <img src="img/svg/vc-dark.svg" alt="">
                </div>
                Блог
            </a>
        </div>

        <div class="mobile-menu__col mobile-menu__col_links">
            <a href="#" class="header__link">Кейсы</a>
            <a href="#" class="header__link">Контакты</a>
            <a href="#" class="header__link header__link_wave">Research</a>
            <a href="#" class="header__link header__link_green">Solutions</a>
        </div>
    </div>

    <div class="mobile-menu__burger js-burger">
        <div class="mobile-menu__burger-icon">
            <span></span>
            <span></span>
        </div>
        <span class="mobile-menu__burger-text">Меню</span>
    </div>

    <button class="btn-reset btn btn_lightning js-modal-open" data-modal="order">
        Оставить заявку
        <div class="btn__circle">
            <img src="img/svg/lightning.svg" alt="">
        </div>
    </button>

    

</div>