<div class="modal modal_video" data-modal="video-about">

    <div class="modal__inner modal__inner_video">

        <div class="modal__close js-modal-close">
            <img src="img/svg/close.svg" alt="">
        </div>

        <video controls playsinline>
            <source src="https://maksimpetrov.ru/works/antro/antro-about.mp4" type="video/mp4">
        </video>
    </div>

</div>

<div class="modal modal_video" data-modal="video-solutions">

    <div class="modal__inner modal__inner_video">

        <div class="modal__close js-modal-close">
            <img src="img/svg/close.svg" alt="">
        </div>

        <video controls playsinline>
            <source src="https://maksimpetrov.ru/works/antro/antro-solutions.mp4" type="video/mp4">
        </video>
    </div>

</div>

<div class="modal modal_scroll" data-modal="order">

    <form action="" class="modal__inner js-form">

        <div class="modal__close js-modal-close">
            <img src="img/svg/close.svg" alt="">
        </div>

        <div class="modal__frame">
            <div class="modal__form-title">Бесплатно проконсультируем, расскажем, как мы работаем и составим КП</div>

            <div class="modal__form-fields">
                <div class="input-block error">
                    <div class="input-block__exclamation"><img src="img/svg/exclamation.svg" alt=""></div>
                    <input name="name" type="text" required placeholder="Имя">
                    <div class="input-block__error">Пожалуйста, введите имя</div>
                </div>
                <div class="input-block">
                    <div class="input-block__exclamation"><img src="img/svg/exclamation.svg" alt=""></div>
                    <input name="company" type="text" required placeholder="Компания">
                    <div class="input-block__error">Пожалуйста, введите название компании</div>
                </div>
                <div class="input-block">
                    <div class="input-block__exclamation"><img src="img/svg/exclamation.svg" alt=""></div>
                    <input name="phone" type="tel" required placeholder="Телефон">
                    <div class="input-block__error">Пожалуйста, перепроверьте правильность номера</div>
                </div>
                <div class="input-block">
                    <div class="input-block__exclamation"><img src="img/svg/exclamation.svg" alt=""></div>
                    <input name="email" type="email" required placeholder="Email">
                    <div class="input-block__error">Пожалуйста, введите email</div>
                </div>
                <div class="input-block">
                    <div class="input-block__exclamation"><img src="img/svg/exclamation.svg" alt=""></div>
                    <div class="select">
                        <input class="select__value" type="text" readonly="readonly" autocomplete="off" placeholder="Способ связи">
                        <div class="select__list">
                            <div data-value="Telegram или WhatsApp" class="select__option">Telegram или WhatsApp</div>
                            <div data-value="Телефон" class="select__option">Телефон</div>
                            <div data-value="Email" class="select__option">Email</div>
                        </div>
                    </div>
                    <div class="input-block__error">Пожалуйста, выберите способ связи</div>
                </div>
    
                <button class="btn-reset btn btn_wide btn_hover-pink">Оставить заявку</button>
            </div>
    
            <div class="modal__form-note">Нажимая на кнопку, вы даете согласие на <a href="#">обработку персональных данных</a> и соглашаетесь с <a href="#">политикой конфиденциальности</a></div>
    
            <div class="modal__social">
                <a href="#" class="modal__social-link btn_hover-round">
                    <img src="img/svg/telegram-dark.svg" alt="">
                </a>
                <a href="#" class="modal__social-link btn_hover-round">
                    <img src="img/svg/whatsapp-dark.svg" alt="">
                </a>
                <a href="#" class="modal__social-link btn_hover-round">
                    <img src="img/svg/email-dark.svg" alt="">
                </a>
            </div>
        </div>

    </form>

</div>