<div class="mobile-menu new-mobile-menu new-mobile-menu_tshopping">
  <div class="mobile-menu__black"></div>

  <div class="mobile-menu__slide js-mobile-menu">
    <div class="new-mobile-menu__slide-head">
      <a
        href="/tshopping.html"
        class="new-mobile-menu__slide-link new-mobile-menu__slide-link_yellow"
        >Интеграция чекаута Т-Шоппинг
      </a>
      <a href="" class="new-mobile-menu__slide-link">Продуктовое развитие</a>
      <a href="" class="new-mobile-menu__slide-link">Юзабилити-аудит</a>
      <a href="" class="new-mobile-menu__slide-link"
        >Техническое сопровождение
      </a>
    </div>
    <div class="new-mobile-menu__slide-body">
      <div class="mobile-menu__col mobile-menu__col_links">
        <a href="#" class="header__link">Кейсы</a>
        <a href="#" class="header__link">Услуги</a>
        <a href="#" class="header__link">Экспертиза</a>
        <a href="#" class="header__link">Карьера</a>
        <a href="#" class="header__link">Контакты</a>
      </div>

      <div class="mobile-menu__col mobile-menu__col_first">
        <a href="#" class="mobile-menu__social">
          <div class="mobile-menu__social-icon">
            <img src="img/svg/telegram-dark.svg" alt="" />
          </div>
          Телеграм-канал
        </a>

        <a href="#" class="mobile-menu__social">
          <div class="mobile-menu__social-icon">
            <img src="img/svg/vc-dark.svg" alt="" />
          </div>
          Блог на VC
        </a>
      </div>
    </div>
  </div>

  <div class="mobile-menu__burger js-burger">
    <div class="mobile-menu__burger-icon">
      <span></span>
      <span></span>
    </div>
    <span class="mobile-menu__burger-text">Меню</span>
  </div>

  <button class="btn-reset btn btn_lightning js-modal-open" data-modal="audit">
    Оставить заявку
    <div class="btn__circle">
      <img src="img/svg/lightning.svg" alt="" />
    </div>
  </button>
</div>
