<header class="header new-header">
  <div class="header__box">
    <a href="/" class="header__logo js-header-logo">
      <img src="img/antro.svg" alt="" />
    </a>
    <a href="#" class="header__social">
      <img src="img/svg/telegram-dark.svg" alt="" class="" />
      Телеграм-канал
    </a>
    <button
      class="btn-reset btn btn_lightning btn_hover-pink js-modal-open"
      data-modal="order"
    >
      Оставить заявку
      <div class="btn__circle">
        <img src="img/svg/lightning.svg" alt="" />
      </div>
    </button>
  </div>
  <div class="new-header__links">
    <nav class="new-header__nav">
      <a href="" class="header__link new-header__link">Кейсы</a>
      <a href="" class="header__link new-header__link">Услуги</a>
      <a href="" class="header__link new-header__link">Экспертиза</a>
      <a href="" class="header__link new-header__link">Контакты</a>
    </nav>
    <div class="new-header__nav">
      <a href="" class="header__link new-header__link"
        >Техническое сопровождение</a
      >
      <a href="" class="header__link new-header__link">Юзабилити-аудит</a>
      <div class="new-header__dev">
        <a href="" class="new-header__dev-link">Продуктовое развитие</a>
        <a href="" class="new-header__dev-video">
          <img src="img/svg/video-play.svg" alt="" />
          Смотреть видео
        </a>
      </div>
    </div>
  </div>
</header>
