<div class="report-more">
    <h3 class="report-more__title js-way-finish">
        Больше полезной информации <br> — в юзабилити-аудите
    </h3>
    <div class="report-more__body">
        <div class="report-more__left">
            <div class="report-more__subtitle">
                идеально для старта
            </div>
            <h4 class="report-more__heading">Юзабилити-аудит ecommerce и сервисов</h4>
            <div class="report-more__text">
                <p> Когда есть желание развивать продукт, но нет понимания с чего начать.</p>

                <p>Мы выявим проблемы интерфейса, которые снижают продуктовые и бизнес показатели. И сформируем
                    поэтапный
                    план по развитию продукта.</p>
            </div>
            <a href="" class="btn-reset btn btn_wide btn_hover-pink report-more__btn">Подробнее об аудите</a>
        </div>
        <div class="report-more__right">
            <img class="report-more__img" src="img/report/more.png" alt="">
        </div>
    </div>
</div>