<div class="report-data">
    <div class="report-data__head">
        <h3 class="report-data__title js-way-start">
            Данные письма
        </h3>
        <div class="report-data__head-list">
            <div class="report-data__head-list-item report-data__head-list-item_grid">
                <span>способ связи</span>
                Email
            </div>
            <div class="report-data__head-list-item report-data__head-list-item_grid">
                <span>адрес </span>
                konstantin_eleseevskiy@mail.ru
            </div>
        </div>
    </div>
    <div class="report-data__body">
        <div class="report-data__left">
            <img class="report-data__img" src="img/report/data.png">
        </div>
        <div class="report-data__right">
            <div class="report-data__price-wrapper report-data__price-wrapper_total">
                <div class="report-data__price">
                    70 000 ₽

                    <span>
                        100 000 ₽
                    </span>

                    <div class="report-data__stock">
                        −30%, экономия 30 000 ₽
                    </div>
                </div>

            </div>
            <div class="report-data__crown">
                <div class="report-data__subtitle">
                    Полная версия обзора
                </div>
                <h4 class="report-data__heading">
                    Обзор рынка бытовой техники и электроники (БТиЭ) <span>2024-2025</span>
                </h4>
            </div>
            <ul class="list-reset report-data__list">
                <li class="report-data__item report-data__item_included">
                    Блок 1. Мировой рынок: потребительская электроника
                </li>
                <li class="report-data__item report-data__item_included">
                    Блок 2. Мировой рынок: бытовая техника
                </li>
                <li class="report-data__item report-data__item_included">
                    Блок 3. Российский рынок бытовой техники и электроники (БТиЭ)
                </li>
                <li class="report-data__item report-data__item_included">
                    Блок 4. Мировой e-commerce рынок бытовой техники и электроники
                </li>
                <li class="report-data__item report-data__item_included">
                    Блок 5. Российский e-commerce рынок БТиЭ
                </li>
                <li class="report-data__item report-data__item_included">
                    Блок 6. Покупательское поведение на рынке БТиЭ
                </li>
                <li class="report-data__item report-data__item_included">
                    Блок 7. Тренды на рынке БТиЭ
                </li>
                <div class="report-data__channel">
                    <img src="img/svg/circle-tg-green.svg" alt="" class="report-data__channel-img">
                    <p class="report-data__channel-text">
                        Закрытый чат с лидерами рынка БТиЭ и отраслевыми новостями (только при покупке)
                    </p>
                </div>
            </ul>
        </div>
    </div>
</div>