<section class="main-media">
    <div class='container'>
        <div class="inner">
            <h2 class="title">Медиа</h2>
            <div class="description">пишем статьи, проводим хакатоны и вебинары</div>

            <div class='swiper main-media__swiper js-main-media-swiper'>
                <div class="swiper-wrapper main-media__box main-media__box_swiper">
                    <a href="#" class="swiper-slide main-media__card scale-hover img-cursor-hover">
                        <div class="tooltip">Lorem, ipsum.</div>
                        <div class="main-media__card-label">
                            <img src="img/svg/youtube.svg" alt="">
                        </div>
                        <div class="main-media__card-tags">
                            <div class="main-media__card-tag">Вебинар</div>
                            <img src="img/svg/star-small-gray.svg" alt="*">
                            <div class="main-media__card-tag">Youtube</div>
                        </div>
                        <div class="main-media__card-title">Фэшн-ритейл в России: Тренды eсommerce 2023</div>
                        <div class="main-media__card-text">Обсудили с руководителем OZON Fashion и руководителем
                            eсommerce Jamilco тренды фэшн-отрасли</div>
                        <div class="main-media__card-image">
                            <img src="img/media/card-1.png" alt="">
                        </div>
                        <div class="main-media__card-bot">
                            <img src="img/partners/jamilco.svg" alt="">
                            <img src="img/partners/ozon.svg" alt="">
                            <img src="img/partners/antro.svg" alt="">
                        </div>
                    </a>

                    <a href="#" class="swiper-slide main-media__card scale-hover img-cursor-hover">
                        <div class="tooltip">Lorem, ipsum.</div>
                        <div class="main-media__card-label">
                            <img src="img/svg/vc.svg" alt="">
                        </div>
                        <div class="main-media__card-tags">
                            <div class="main-media__card-tag">Статья</div>
                            <img src="img/svg/star-small-gray.svg" alt="*">
                            <div class="main-media__card-tag">VC.ru</div>
                        </div>
                        <div class="main-media__card-title">Гайд, 38 статей: Как спроектировать интернет-магазин</div>
                        <div class="main-media__card-text">Собрали наши материалы о клиентском опыте, UX и
                            проектировании интернет-магазинов в самое подробное руководство на площадке</div>
                        <div class="main-media__card-image">
                            <img src="img/media/card-2.png" alt="">
                        </div>
                        <div class="main-media__card-bot main-media__card-bot_stats">
                            <div class="main-media__card-stat">
                                <img src="img/media/svg/eye.svg" alt="">25к
                            </div>
                            <div class="main-media__card-stat">
                                <img src="img/media/svg/click.svg" alt="">13к
                            </div>
                            <div class="main-media__card-stat">
                                <img src="img/media/svg/heart.svg" alt="">107
                            </div>
                            <div class="main-media__card-stat">
                                <img src="img/media/svg/bookmark.svg" alt="">479
                            </div>
                            <div class="main-media__card-stat">
                                <img src="img/media/svg/comment.svg" alt="">27
                            </div>
                        </div>
                    </a>

                    <a href="#" class="swiper-slide main-media__card scale-hover img-cursor-hover">
                        <div class="tooltip">Lorem, ipsum.</div>
                        <div class="main-media__card-label">
                            <img src="img/svg/antro.svg" alt="" style="width: auto;">
                        </div>
                        <div class="main-media__card-tags">
                            <div class="main-media__card-tag">Статья</div>
                            <img src="img/svg/star-small-gray.svg" alt="*">
                            <div class="main-media__card-tag">ANTRO.cx</div>
                        </div>
                        <div class="main-media__card-title">6 способов повысить конверсию в покупку с главной страницы
                        </div>
                        <div class="main-media__card-text">Разбираемся, почему реклама и всплывающие окна отпугивают.
                            Как фотографии влияют на лояльность покупателей и другие особенности покупок</div>
                        <div class="main-media__card-image">
                            <img src="img/media/card-3.png" alt="">
                        </div>
                    </a>

                </div>
                <div class="swiper-pagination main-media__swiper-pagination"></div>
            </div>
        </div>
    </div>
</section>