<section class="section report-first report-first_buy">
    <div class="container">
        <div class="report-first__wrapper">
            <div class="report-first__left">
                <div class="report-first__text">
                    Спасибо. Мы <br> приняли вашу заявку на покупку обзора
                </div>
                <div class="report-first__text-small">
                    Мы свяжемся с вами в течение одного рабочего дня
                </div>
            </div>
            <img class="report-first__img" src="/img/report/first.png" alt="">
        </div>
    </div>
</section>