<section class="main-team main-team_community">
    <div class='container'>
        <div class="inner">
            <h2 class="title">наше комьюнити</h2>
            <div class="description">делимся опытом и новостями компании</div>

            <div class="main-team__box">
                <div class="main-team__left">

                    <div class="main-team__card">
                        <div class="main-team__card-content">
                            <div class="main-team__text main-team__text_title">Телеграм-канал ANTRO</div>
                            <div class="main-team__text">Показываем проекты, публикуем полезное и новости компании</div>

                            <div class="main-team__stat">
                                <div class="main-team__text main-team__text_stat">
                                    <img src="img/media/svg/followers.svg" alt="">
                                    1 600+
                                </div>
                            </div>

                            <a href="https://vc.ru/antro"
                                class="main-team__card-link main-team__card-link_absolute btn_hover-graylight">
                                <div class="main-team__card-icon">
                                    <img src="img/svg/telegram-dark.svg" alt="">
                                </div>
                                Посмотреть
                            </a>

                        </div>
                    </div>

                    <div class="main-team__card">
                        <div class="main-team__card-content">
                            <div class="main-team__text main-team__text_title">Блог ANTRO на VC.ru</div>
                            <div class="main-team__text">Пишем о пользовательском и клиентском опыте, даём рекомендации
                                и критикуем существующие решения</div>

                            <div class="main-team__stat">
                                <div class="main-team__text main-team__text_stat">
                                    <img src="img/media/svg/heart.svg" alt="">
                                    5 000+
                                </div>

                                <div class="main-team__text main-team__text_stat">
                                    <img src="img/media/svg/followers.svg" alt="">
                                    1 800+
                                </div>
                            </div>

                            <a href="https://vc.ru/antro"
                                class="main-team__card-link main-team__card-link_absolute btn_hover-graylight">
                                <div class="main-team__card-icon">
                                    <img src="img/svg/vc-dark.svg" alt="">
                                </div>
                                Читать блог
                            </a>

                        </div>
                    </div>
                </div>

                <div class="main-team__right">
                    <div class="main-team__image">
                        <img src="img/mail.jpg" alt="">

                        <div class="main-team__image-label">5 000+ читателей</div>
                    </div>

                    <div class="main-team__text main-team__text_title main-team__text_tac">Email-рассылка с новостями и
                        отраслевой аналитикой</div>
                    <div class="main-team__text main-team__text_tac">Ежемесячно присылаем дайджест с аналитикой</div>

                    <form class="main-team__form-wrapper">
                        <div action="" class="main-team__form js-form">
                            <div class="input-block">
                                <div class="input-block__exclamation"><img src="img/svg/exclamation.svg" alt=""></div>
                                <input name="email" type="email" required placeholder="Email для подписки на рассылку">
                                <div class="input-block__error">Пожалуйста, перепроверьте правильность номера</div>
                            </div>
                            <button class="btn-reset main-team__submit btn_hover-round">
                                <img src="img/svg/next.svg" alt="">
                            </button>
                        </div>
                        @include('./i-checkbox.html', {"small": "small"})
                    </form>
                </div>
            </div>

        </div>
    </div>
</section>