<section class="review-services">
    <div class="review-services__head">
        <h3 class="description review-services__title">
            Чем мы можем быть полезны
        </h3>

        <div class="review-services__company">
            <img src="img/review/antro-logo.svg" alt="" class="review-services__company-img">
            <p class="review-services__company-text">
                Консалтинг и разработка для ритейла и eсommerce с уникальной отраслевой экспертизой
            </p>
        </div>
    </div>
    <div class="main-services__box">
        <div class="main-services__card main-services__card_big scale-hover">
            <div class="main-services__card-image">
                <img src="img/services.png" alt="">
            </div>
            <div class="main-services__card-label">идеально для старта</div>
            <div class="main-services__card-content">
                <div class="main-services__card-left">
                    <div class="main-services__card-title">Юзабилити-аудит ecommerce и сервисов</div>
                    <div class="main-services__card-text">Выявим проблемы<br>снижающие продуктовые и бизнес показатели
                    </div>
                    <div class="main-services__card-text">Сформируем план<br>по устранению проблем и развитию проекта
                    </div>
                    <a href="#" class="btn-reset btn btn_lightning main-services__card-btn btn_hover-graylight">
                        <div class="btn__circle">
                            <img src="img/svg/circle-grey.svg" alt="">
                        </div>
                        Подробнее об аудите
                    </a>
                </div>
                <div class="main-services__card-right">
                    <div class="main-services__card-title">250 000 ₽ <span>7-10 дней</span></div>

                    <div class="main-services__card-text main-services__card-text_time">7-10 дней <span>идеально для
                            старта</span></div>

                    <div class="main-services__card-text main-services__card-text_gray">Интервью</div>
                    <div class="main-services__card-text main-services__card-text_gray">Анализ веб-аналитики</div>
                    <div class="main-services__card-text main-services__card-text_gray">Аудит интерфейса</div>
                    <div class="main-services__card-text main-services__card-text_gray">Отчет с рекомендациями</div>

                </div>
            </div>
        </div>

        <div class="main-services__card scale-hover">
            <div class="main-services__card-title">
                <div class="main-services__card-icon">
                    <img src="img/svg/gear.svg" alt="">
                </div>
                Продуктовые исследования
            </div>
            <div class="main-services__card-tags">

                <div class="main-services__card-row">
                    <div class="main-services__card-tag">Глубинные интервью</div>
                    <img src="img/svg/star-small.svg" alt="*">
                    <div class="main-services__card-tag">Юзабилити-тесты</div>
                    <img src="img/svg/star-small.svg" alt="*">
                    <div class="main-services__card-tag">Опросы</div>
                </div>

                <div class="main-services__card-row">
                    <div class="main-services__card-tag">CX-аудит</div>
                    <img src="img/svg/star-small.svg" alt="*">
                    <div class="main-services__card-tag">Бенчмаркинг</div>
                    <img src="img/svg/star-small.svg" alt="*">
                    <div class="main-services__card-tag">Тайный покупатель</div>
                    <img src="img/svg/star-small.svg" alt="*">
                    <div class="main-services__card-tag">CJM</div>
                </div>

                <div class="main-services__card-row">
                    <div class="main-services__card-tag">Конкурентный анализ</div>
                    <img src="img/svg/star-small.svg" alt="*">
                    <div class="main-services__card-tag">JTBD</div>
                    <img src="img/svg/star-small.svg" alt="*">
                    <div class="main-services__card-tag">Desk Research</div>
                    <img src="img/svg/star-small.svg" alt="*">
                    <div class="main-services__card-tag">A/B/n-тесты</div>
                </div>

                <div class="main-services__card-row main-services__card-row_mobile">
                    <div class="main-services__card-tag">Глубинные интервью</div>
                    <img src="img/svg/star-small.svg" alt="*">
                    <div class="main-services__card-tag">Юзабилити-тесты</div>
                </div>

                <div class="main-services__card-row main-services__card-row_mobile">
                    <div class="main-services__card-tag">Опросы</div>
                    <img src="img/svg/star-small.svg" alt="*">
                    <div class="main-services__card-tag">CX-аудит</div>
                    <img src="img/svg/star-small.svg" alt="*">
                    <div class="main-services__card-tag">Бенчмаркинг</div>

                </div>

                <div class="main-services__card-row main-services__card-row_mobile">
                    <div class="main-services__card-tag">CJM</div>
                    <img src="img/svg/star-small.svg" alt="*">
                    <div class="main-services__card-tag">Конкурентный анализ</div>
                    <img src="img/svg/star-small.svg" alt="*">
                    <div class="main-services__card-tag">JTBD</div>
                </div>

                <div class="main-services__card-row main-services__card-row_mobile">
                    <div class="main-services__card-tag">Desk Research</div>
                    <img src="img/svg/star-small.svg" alt="*">
                    <div class="main-services__card-tag">A/B/n-тесты</div>
                    <img src="img/svg/star-small.svg" alt="*">
                    <div class="main-services__card-tag">Тайный покупатель</div>
                </div>

            </div>

        </div>

        <div class="main-services__card scale-hover">
            <div class="main-services__card-title">
                <div class="main-services__card-icon">
                    <img src="img/svg/tg.svg" alt="">
                </div>
                Проектирование и дизайн
            </div>
            <div class="main-services__card-tags">
                <div class="main-services__card-row">
                    <div class="main-services__card-tag">Прототипирование</div>
                    <img src="img/svg/star-small.svg" alt="*">
                    <div class="main-services__card-tag">Оптимизация флоу</div>
                </div>
                <div class="main-services__card-row">
                    <div class="main-services__card-tag">Дизайн-макеты</div>
                    <img src="img/svg/star-small.svg" alt="*">
                    <div class="main-services__card-tag">Дизайн-концепция</div>
                </div>
                <div class="main-services__card-row">
                    <div class="main-services__card-tag">Редизайн</div>
                    <img src="img/svg/star-small.svg" alt="*">
                    <div class="main-services__card-tag">Точечные изменения</div>
                </div>


                <div class="main-services__card-row main-services__card-row_mobile">
                    <div class="main-services__card-tag">Прототипирование</div>
                    <img src="img/svg/star-small.svg" alt="*">
                    <div class="main-services__card-tag">Оптимизация флоу</div>
                </div>
                <div class="main-services__card-row main-services__card-row_mobile">
                    <div class="main-services__card-tag">Дизайн-макеты</div>
                    <img src="img/svg/star-small.svg" alt="*">
                    <div class="main-services__card-tag">Дизайн-концепция</div>
                </div>
                <div class="main-services__card-row main-services__card-row_mobile">
                    <div class="main-services__card-tag">Редизайн</div>
                    <img src="img/svg/star-small.svg" alt="*">
                    <div class="main-services__card-tag">Точечные изменения</div>
                </div>
            </div>

        </div>

        <div class="main-services__card scale-hover">
            <div class="main-services__card-title">
                <div class="main-services__card-icon">
                    <img src="img/svg/seed.svg" alt="">
                </div>
                Фронтенд и бэкенд
            </div>
            <div class="main-services__card-tags main-services__card-tags_col">
                <div class="main-services__card-tags">
                    <div class="main-services__card-row">
                        <div class="main-services__card-tag">HTML</div>
                        <img src="img/svg/star-small.svg" alt="*">
                        <div class="main-services__card-tag">CSS</div>
                    </div>
                    <div class="main-services__card-row">
                        <div class="main-services__card-tag">Vue.js</div>
                        <img src="img/svg/star-small.svg" alt="*">
                        <div class="main-services__card-tag">NuxtJS</div>
                    </div>
                    <div class="main-services__card-row">
                        <div class="main-services__card-tag">JavaScript</div>
                    </div>

                    <div class="main-services__card-row main-services__card-row_mobile">
                        <div class="main-services__card-tag">HTML</div>
                        <img src="img/svg/star-small.svg" alt="*">
                        <div class="main-services__card-tag">CSS</div>
                    </div>
                    <div class="main-services__card-row main-services__card-row_mobile">
                        <div class="main-services__card-tag">Vue.js</div>
                        <img src="img/svg/star-small.svg" alt="*">
                        <div class="main-services__card-tag">NuxtJS</div>
                    </div>
                    <div class="main-services__card-row main-services__card-row_mobile">
                        <div class="main-services__card-tag">JavaScript</div>
                    </div>
                </div>

                <div class="main-services__card-tags">
                    <div class="main-services__card-row">
                        <div class="main-services__card-tag">1С-Битрикс</div>
                        <img src="img/svg/star-small.svg" alt="*">
                        <div class="main-services__card-tag">PHP</div>
                    </div>
                    <div class="main-services__card-row">
                        <div class="main-services__card-tag">Python</div>
                        <img src="img/svg/star-small.svg" alt="*">
                        <div class="main-services__card-tag">Elastic</div>
                    </div>
                    <div class="main-services__card-row">
                        <div class="main-services__card-tag">Laravel</div>
                        <img src="img/svg/star-small.svg" alt="*">
                        <div class="main-services__card-tag">Flutter</div>
                    </div>

                    <div class="main-services__card-row main-services__card-row_mobile">
                        <div class="main-services__card-tag">1С-Битрикс</div>
                        <img src="img/svg/star-small.svg" alt="*">
                        <div class="main-services__card-tag">PHP</div>
                    </div>
                    <div class="main-services__card-row main-services__card-row_mobile">
                        <div class="main-services__card-tag">Python</div>
                        <img src="img/svg/star-small.svg" alt="*">
                        <div class="main-services__card-tag">Elastic</div>
                    </div>
                    <div class="main-services__card-row main-services__card-row_mobile">
                        <div class="main-services__card-tag">Laravel</div>
                        <img src="img/svg/star-small.svg" alt="*">
                        <div class="main-services__card-tag">Flutter</div>
                    </div>
                </div>

                <div class="main-services__card-tags">
                    <div class="main-services__card-row">
                        <div class="main-services__card-tag">QA</div>
                    </div>
                    <div class="main-services__card-row">
                        <div class="main-services__card-tag">DevOps</div>
                    </div>

                    <div class="main-services__card-row main-services__card-row_mobile">
                        <div class="main-services__card-tag">QA</div>
                    </div>
                    <div class="main-services__card-row main-services__card-row_mobile">
                        <div class="main-services__card-tag">DevOps</div>
                    </div>
                </div>
            </div>

        </div>

        <div class="main-services__card scale-hover">
            <div class="main-services__card-title">
                <div class="main-services__card-icon">
                    <img src="img/svg/flower.svg" alt="">
                </div>
                Поддержка и развитие
            </div>
            <div class="main-services__card-tags">
                <div class="main-services__card-row">
                    <div class="main-services__card-tag">UX-стратегия</div>
                    <img src="img/svg/star-small.svg" alt="*">
                    <div class="main-services__card-tag">Работа с метриками</div>
                </div>

                <div class="main-services__card-row">
                    <div class="main-services__card-tag">Техподдержка</div>
                    <img src="img/svg/star-small.svg" alt="*">
                    <div class="main-services__card-tag">Дизайн-поддержка</div>
                </div>

                <div class="main-services__card-row">
                    <div class="main-services__card-tag">Выделенная команда</div>
                    <img src="img/svg/star-small.svg" alt="*">
                    <div class="main-services__card-tag">Закрытие техдолга</div>
                </div>

                <div class="main-services__card-row main-services__card-row_mobile">
                    <div class="main-services__card-tag">UX-стратегия</div>
                    <img src="img/svg/star-small.svg" alt="*">
                    <div class="main-services__card-tag">Работа с метриками</div>
                </div>

                <div class="main-services__card-row main-services__card-row_mobile">
                    <div class="main-services__card-tag">Техподдержка</div>
                    <img src="img/svg/star-small.svg" alt="*">
                    <div class="main-services__card-tag">Дизайн-поддержка</div>
                </div>

                <div class="main-services__card-row main-services__card-row_mobile">
                    <div class="main-services__card-tag">Выделенная команда</div>
                    <img src="img/svg/star-small.svg" alt="*">
                    <div class="main-services__card-tag">Закрытие техдолга</div>
                </div>
            </div>

        </div>
    </div>
</section>