<section class="review-inside">
    <div class="container">
        <div class="review-section-wrapper review-inside__wrapper">
            <div class="review-inside__inner">
                <div class="review-inside__left">
                    <h2 class="review-inside__title">Что внутри обзора</h2>
                    <p class="review-inside__description">
                        <span>Свыше 50 страниц:</span> контекст рынка fashion-рынка, портреты и поведение покупателей.
                        Данные
                        по категориям товаров — популярность, продажи, изменение спроса и ключевые тренды и прогнозы
                    </p>
                </div>
                <div class="review-inside__right">
                    <img class="review-inside__scroll" src="img/review/scroll.png" alt="">
                </div>
            </div>
            <div class="review-inside-data">
                <div class="review-inside-data__col">
                    <div class="review-inside-data__item">
                        <img src="img/review/num_4.svg" alt="" class="review-inside-data__num">
                        <p class="review-inside-data__description">
                            <span>4 ведущие e-commerce компании</span> по продаже электроники на мировом рынке
                        </p>
                    </div>
                    <div class="review-inside-data__item">
                        <img src="img/review/num_6.svg" alt="" class="review-inside-data__num">
                        <p class="review-inside-data__description">
                            <span>6 глобальных тенденций</span> на рынке ритейла, включая сегмент «электроника» 
                        </p>
                    </div>
                </div>
                <div class="review-inside-data__col">
                    <div class="review-inside-data__item">
                        <img src="img/review/num_6.svg" alt="" class="review-inside-data__num">
                        <p class="review-inside-data__description">
                            Данные <span>по 6-ти сегментам техники и электроники</span> на мировом и российском рынках
                        </p>
                    </div>
                    <div class="review-inside-data__item">
                        <img src="img/review/num_14.svg" alt="" class="review-inside-data__num">
                        <p class="review-inside-data__description">
                            Данные <span>по 14-ти категориям покупательского поведения</span> на рынке БТиЭ
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>