<section class="review-first">

    <div class='container container_wide'>

        <div class="review-first__inner">

            <div class="review-first__box">
                <div class="review-first__top">
                    <h1 class="title review-first__title">Обзор рынка бытовой техники и электроники (БТиЭ) 2024-2025
                    </h1>

                    <div class="review-first__text">
                        Опыт мирового и российского рынка в офлайне и онлайне. Покупательское поведение и тренды.
                    </div>
                </div>

                <div class="review-first__bottom">
                    <button class="btn-reset btn btn review-first__btn btn_hover-pink">Купить полный обзор</button>

                    <a href="" class="review-first__download">
                        <svg class="review-first__download-img" width="70" height="70" viewBox="0 0 70 70" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <circle cx="35" cy="35" r="35" fill="white" fill-opacity="0.1" />
                            <path
                                d="M28.3008 42.8V27.624C28.3008 26.6299 29.1067 25.824 30.1008 25.824H35.0903C35.4216 25.824 35.6903 26.0926 35.6903 26.424V32.2C35.6903 32.8627 36.2275 33.4 36.8903 33.4H42.5439C42.8752 33.4 43.1439 33.6686 43.1439 34V42.8C43.1439 43.7941 42.338 44.6 41.3439 44.6H30.1008C29.1067 44.6 28.3008 43.7941 28.3008 42.8Z"
                                fill="white" />
                            <path
                                d="M36.5113 31.4V26.8223C36.5113 26.2915 37.1499 26.0221 37.53 26.3926L42.8439 31.5702C43.2295 31.9459 42.9635 32.6 42.4252 32.6H37.7113C37.0486 32.6 36.5113 32.0627 36.5113 31.4Z"
                                fill="white" />
                        </svg>
                        Скачать публичный обзор бесплатно
                    </a>
                </div>
                <div class="review-first__sale">
                    <div class="review-first__sale-top">
                        −30% до 20 апреля
                    </div>
                    <div class="review-first__sale-bottom">
                        осталось 10 дней до конца скидки
                    </div>
                </div>
                <div class="review-first__image test-img">
                    <img src="img/audit/first.png" alt="">
                </div>
            </div>

        </div>

    </div>

</section>