<section class="review-first">

    <div class='container container_wide'>

        <div class="review-first__inner">

            <div class="review-first__box">
                <div class="review-first__top">
                    <h1 class="title review-first__title">Обзор рынка бытовой техники и электроники (БТиЭ) 2024-2025
                    </h1>

                    <div class="review-first__text">
                        Опыт мирового и российского рынка в офлайне и онлайне. Покупательское поведение и тренды.
                    </div>
                </div>

                <div class="review-first__bottom">
                    <button class="btn-reset btn btn review-first__btn btn_hover-pink js-modal-open"
                        data-modal="review-new">Скачать
                        полный обзор</button>
                </div>
                <!-- <div class="review-first__sale">
                    <div class="review-first__sale-top">
                        −30% до 20 апреля
                    </div>
                    <div class="review-first__sale-bottom">
                        осталось 10 дней до конца скидки
                    </div>
                </div> -->
                <div class="review-first__image test-img">
                    <img src="img/audit/first.png" alt="">
                </div>
            </div>

        </div>

    </div>

</section>