<section class="review-research">
    <div class="main-research__wrap">
        <div class="main-research__top">
            <div class="description description_white review-research__description">Из чего формируется наша экспертиза
            </div>

            <div class="main-research__title">
                <h2 class="title title_m0 title_white">Antro <span>research</span></h2>
                <div class="main-research__description">Анализируем ecommerce рынки, тренды, поведение покупателей и
                    лидеров рынка</div>
            </div>
        </div>

        <div class="main-research__box">
            <div class="main-research__card main-research__card_wide">
                <div class="main-research__card-title">Выпускаем отраслевые ecommerce отчеты</div>
                <div class="main-research__card-text main-research__card-text_tag"><img src="img/media/svg/tag.svg"
                        alt=""> Tagline Awards. Отчёты, которыми пользуется весь рынок</div>

                <div class="main-research__card-box">
                    <div class="main-research__card-left">
                        <div class="main-research__card-image scale-hover img-cursor-hover">
                            <div class="tooltip">Lorem, ipsum.</div>
                            <img src="img/bag.jpg" alt="">
                            <div class="main-research__card-label">2 234 скачиваний <img
                                    src="img/svg/star-small-white.svg" alt=""> 2023г </div>
                        </div>
                        <div class="main-research__card-text main-research__card-text_title">Cамый большой обзор рынка
                            фэшн‑ритейла</div>
                        <div class="main-research__card-text main-research__card-text_description">Исследовали рынок
                            фэшн‑ритейла и собрали основные тренды и данные в единый отчет о поведении покупателей и
                            лидеров рынка</div>
                    </div>
                    <div class="main-research__card-right">
                        <div class="main-research__card-block scale-hover img-cursor-hover">
                            <div class="tooltip">Lorem, ipsum.</div>
                            <div class="main-research__card-icon">
                                <img src="img/media/icon-1.jpg" alt="">
                            </div>
                            <div>
                                <div class="main-research__card-text main-research__card-text_big">Обзор рынка
                                    бьюти-ритейла</div>
                                <div class="main-research__card-text main-research__card-text_gray">3 300+ скачиваний
                                    <img src="img/svg/star-small-gray.svg" alt=""> 2023г
                                </div>
                            </div>
                        </div>

                        <div class="main-research__card-block scale-hover img-cursor-hover">
                            <div class="tooltip">Lorem, ipsum.</div>
                            <div class="main-research__card-icon">
                                <img src="img/media/icon-2.jpg" alt="">
                            </div>
                            <div>
                                <div class="main-research__card-text main-research__card-text_big">Исследование рынка
                                    eсommerce</div>
                                <div class="main-research__card-text main-research__card-text_gray">2 700+ скачиваний
                                    <img src="img/svg/star-small-gray.svg" alt=""> 2022г
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="main-research__box main-research__box_grid">
            <div class="main-research__col">
                <div class="main-research__card">

                    <div class="js-form main-research__subscribe js-subscribe-baloon">

                        <div class="main-research__subscribe-close js-subscribe-close">
                            <img src="img/svg/close.svg" alt="">
                        </div>

                        <div class="main-research__card-title">Email-рассылка с новостямии отраслевой аналитикой</div>
                        <div class="main-research__card-text">Ежемесячно присылаем дайджест с аналитикой</div>

                        <form class="main-team__form-wrapper">
                            <div action="" class="main-team__form js-form">
                                <div class="input-block">
                                    <div class="input-block__exclamation"><img src="img/svg/exclamation.svg" alt="">
                                    </div>
                                    <input name="email" type="email" required
                                        placeholder="Email для подписки на рассылку">
                                    <div class="input-block__error">Пожалуйста, перепроверьте правильность номера</div>
                                </div>
                                <button class="btn-reset main-team__submit btn_hover-round">
                                    <img src="img/svg/next.svg" alt="">
                                </button>
                            </div>
                            @include('./i-checkbox.html', {"small": "small", "left": "left"})
                        </form>
                    </div>

                    <div class="main-research__card-title">Делимся новостями и аналитикой</div>
                    <div class="main-research__card-text main-research__card-text_tag"><img src="img/media/svg/tag.svg"
                            alt=""> Tagline Awards. Лучший email-маркетинг</div>
                    <div class="main-research__card-list">
                        <a href="#" class="main-research__card-el btn_hover-graylight js-subscribe-open">
                            <div class="main-research__card-icon main-research__card-icon_small">
                                <img src="img/svg/email-dark.svg" alt="">
                            </div>
                            Email-рассылка с новостями и отраслевой аналитикой
                        </a>
                        <a href="#" class="main-research__card-el btn_hover-graylight">
                            <div class="main-research__card-icon main-research__card-icon_small">
                                <img src="img/svg/telegram-dark.svg" alt="">
                            </div>
                            <p>Совместные проекты с<span><img src="img/svg/telegram-blue.svg" alt="">e-commerce
                                    club</span></p>
                        </a>
                        <a href="#" class="main-research__card-el btn_hover-graylight">
                            <div class="main-research__card-icon main-research__card-icon_small">
                                <img src="img/svg/youtube-dark.svg" alt="">
                            </div>
                            Вебинар Antro x Ozon x Jamilco
                        </a>
                    </div>
                </div>


            </div>
            <div class="main-research__col">
                <div class="main-research__card main-research__card--disabled main-research__card_type2">
                    <div class="main-research__card-title">Ведем отраслевые ecom-чаты</div>
                    <div class="main-research__card-list main-research__card-list_row">
                        <a href="#" class="main-research__card-el btn_hover-graylight">
                            <div class="main-research__card-icon main-research__card-icon_small">
                                <img src="img/svg/telegram-dark.svg" alt="">
                            </div>
                            Бытовая техника и электроника (БТиЭ)
                        </a>
                        <a href="#" class="main-research__card-el btn_hover-graylight">
                            <div class="main-research__card-icon main-research__card-icon_small">
                                <img src="img/svg/telegram-dark.svg" alt="">
                            </div>
                            Фэшн-ритейл
                        </a>
                        <a href="#" class="main-research__card-el btn_hover-graylight">
                            <div class="main-research__card-icon main-research__card-icon_small">
                                <img src="img/svg/telegram-dark.svg" alt="">
                            </div>
                            Бьюти-ретейл
                        </a>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>