<section class="review-companies">
    <div class="container">
        <div class="review-section-wrapper review-companies__wrapper">
            <h3 class="review-title review-companies__title">
                Нашими обзорами пользуются
            </h3>
            <div class="review-companies__scroll">
                <div class="review-companies__list">
                    <div class="review-companies__group">
                        <div class="review-companies__item">
                            <img src="img/review/companies/avito.svg" alt="">
                        </div>
                        <div class="review-companies__item">
                            <img src="img/review/companies/collection.svg" alt="">
                        </div>
                        <div class="review-companies__item">
                            <img src="img/review/companies/incity.svg" alt="">
                        </div>
                    </div>
                    <img src="img/review/companies/star.svg"
                        class="review-companies__star review-companies__star_mobile" />
                    <div class="review-companies__item">
                        <img src="img/review/companies/markformelle.svg" alt="">
                    </div>
                    <img src="img/review/companies/star.svg"
                        class="review-companies__star review-companies__star_v-mobile" />
                    <div class="review-companies__group">
                        <div class="review-companies__item">
                            <img src="img/review/companies/ozon.svg" alt="">
                        </div>
                        <div class="review-companies__item">
                            <img src="img/review/companies/lamoda.svg" alt="">

                        </div>
                    </div>
                    <img src="img/review/companies/star.svg" class="review-companies__star" />
                    <div class="review-companies__group">
                        <div class="review-companies__item">
                            <img src="img/review/companies/ostin.svg" alt="">
                        </div>
                        <div class="review-companies__item">
                            <img src="img/review/companies/melon.svg" alt="">
                        </div>
                        <div class="review-companies__item">
                            <img src="img/review/companies/belleyou.svg" alt="">
                        </div>
                    </div>
                    <img src="img/review/companies/star.svg"
                        class="review-companies__star review-companies__star_laptop" />
                    <div class="review-companies__group">
                        <div class="review-companies__item">
                            <img src="img/review/companies/detskiymir.svg" alt="">
                        </div>
                        <div class="review-companies__item">
                            <img src="img/review/companies/ekonika.svg" alt="">
                        </div>
                        <div class="review-companies__item">
                            <img src="img/review/companies/tomtailor.svg" alt="">
                        </div>
                    </div>
                    <img src="img/review/companies/star.svg"
                        class="review-companies__star review-companies__star_mobile" />
                    <div class="review-companies__group">
                        <div class="review-companies__item">
                            <img src="img/review/companies/sportmaster.svg" alt="">
                        </div>
                        <img src="img/review/companies/star.svg"
                            class="review-companies__star review-companies__star_v-mobile" />
                        <div class="review-companies__item">
                            <img src="img/review/companies/bootwood.svg" alt="">
                        </div>
                        <div class="review-companies__item">
                            <img src="img/review/companies/newbalance.svg" alt="">

                        </div>
                    </div>
                    <img src="img/review/companies/star.svg" class="review-companies__star" />
                    <div class="review-companies__group">
                        <div class="review-companies__item">
                            <img src="img/review/companies/wolford.svg" alt="">
                        </div>
                        <div class="review-companies__item">
                            <img src="img/review/companies/lusio.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <p class="review-companies__description">
                *На основе скачиваний прошлых обзоров
            </p>
        </div>
    </div>
</section>