<section class="review-research">
  <div class="main-research__wrap">
    <div class="main-research__top">
      <div class="description description_white review-research__description">
        Что стоит за результатом
      </div>

      <div class="main-research__title">
        <h2 class="title title_m0 title_white">наша экспертиза</h2>
      </div>
    </div>

    <div class="main-research__box">
      <div class="main-research__card main-research__card_wide">
        <div class="new-main-research__box-head">
          <div class="new-main-research__box-head-left">
            <div class="main-research__card-title">
              Выпускаем отраслевые обзоры
            </div>
            <div class="main-research__card-text">
              Анализируем путь покупателя — от поиска и выбора товара до
              оформления заказа, вместе с динамикой рынка и категориями спроса
            </div>
          </div>
          <div class="new-main-research__box-head-right el-desctop">
            <div class="main-research__card-text main-research__card-text_tag">
              <img src="img/media/svg/tag.svg" alt="" />
              Премия Тэглайн (Tagline Awards). Обзоры, которыми пользуется весь
              рынок
            </div>
          </div>
        </div>

        <div class="main-research__card-box">
          <div class="main-research__card-left">
            <div class="main-research__card-image scale-hover img-cursor-hover">
              <div class="tooltip">Lorem, ipsum.</div>
              <img src="img/bag.jpg" alt="" />
              <div class="main-research__card-label">
                2 234 скачиваний
                <img src="img/svg/star-small-white.svg" alt="" /> 2023г
              </div>
            </div>
            <div
              class="main-research__card-text main-research__card-text_title"
            >
              Cамый большой обзор рынка фэшн‑ритейла
            </div>
            <div
              class="main-research__card-text main-research__card-text_description"
            >
              Исследовали рынок фэшн‑ритейла и собрали основные тренды и данные
              в единый отчет о поведении покупателей и лидеров рынка
            </div>
          </div>
          <div class="main-research__card-right">
            <div class="main-research__card-block scale-hover img-cursor-hover">
              <div class="tooltip">Lorem, ipsum.</div>
              <div class="main-research__card-icon">
                <img src="img/media/icon-1.jpg" alt="" />
              </div>
              <div>
                <div
                  class="main-research__card-text main-research__card-text_big"
                >
                  Обзор рынка бьюти-ритейла
                </div>
                <div
                  class="main-research__card-text main-research__card-text_gray"
                >
                  3 300+ скачиваний
                  <img src="img/svg/star-small-gray.svg" alt="" /> 2023г
                </div>
              </div>
            </div>

            <div class="main-research__card-block scale-hover img-cursor-hover">
              <div class="tooltip">Lorem, ipsum.</div>
              <div class="main-research__card-icon">
                <img src="img/media/icon-2.jpg" alt="" />
              </div>
              <div>
                <div
                  class="main-research__card-text main-research__card-text_big"
                >
                  Исследование рынка eсommerce
                </div>
                <div
                  class="main-research__card-text main-research__card-text_gray"
                >
                  2 700+ скачиваний
                  <img src="img/svg/star-small-gray.svg" alt="" /> 2022г
                </div>
              </div>
            </div>

            <div class="main-research__card-block scale-hover img-cursor-hover">
              <div class="tooltip">Lorem, ipsum.</div>
              <div class="main-research__card-icon">
                <img src="img/bag.jpg" alt="" />
              </div>
              <div>
                <div
                  class="main-research__card-text main-research__card-text_big"
                >
                  Обзор рынка фэшн-ритейла
                </div>
                <div
                  class="main-research__card-text main-research__card-text_gray"
                >
                  2 234+ скачиваний
                  <img src="img/svg/star-small-gray.svg" alt="" /> 2023г
                </div>
              </div>
            </div>

            <!-- <button class="btn-reset btn btn_lightning main-research__card-btn btn_hover-gray">
                            Смотреть все отчеты
                            <div class="btn__circle">
                                <img src="img/svg/lightning.svg" alt="">
                            </div>
                        </button> -->
          </div>
          <div
            class="main-research__card-text main-research__card-text_tag el-mobile"
          >
            <img src="img/media/svg/tag.svg" alt="" />
            Премия Тэглайн (Tagline Awards). Обзоры, которыми пользуется весь
            рынок
          </div>
        </div>
      </div>
    </div>

    <div class="new-main-research__expertise">
      <div class="new-main-research__expertise-left">
        <div class="main-research__card-title">
          Экспертиза на реальных проектах
        </div>
        <div class="main-research__card-text">
          Работаем с интернет-магазинами каждый день и на практике видим, какие
          решения действительно влияют на продажи и пользовательский опыт
        </div>

        <div
          class="new-main-research__expertise-cms new-main-research__expertise-cms_desktop"
        >
          <p>Внутренний банк гипотез, собранный из практики работы</p>
          <p>с интернет-магазинами и подтвержденный данными</p>
        </div>
        <div
          class="new-main-research__expertise-cms new-main-research__expertise-cms_laptop"
        >
          <p>Внутренний банк гипотез, собранный</p>
          <p>из практики работы с интернет-магазинами</p>
          <p>и подтверждённый данными</p>
        </div>
      </div>
      <div class="new-main-research__expertise-right">
        <div class="new-main-research__best">
          <div class="new-main-research__best-img el-desctop">
            <img src="img/best-1.png" alt="" />
          </div>
          <div class="new-main-research__best-info">
            <div class="new-main-research__best-head">
              <div class="new-main-research__best-img el-mobile">
                <img src="img/best-1.png" alt="" />
              </div>
              <div
                class="main-research__card-text main-research__card-text_title"
              >
                Продуктовый рост через данные
              </div>
            </div>
            <div class="main-research__card-text">
              Развиваем интернет-магазины продуктово — через анализ воронок,
              поиск точек потерь, формируем и тестируем решения с прогнозом
              эффекта в деньгах и метриках
            </div>
            <div class="new-main-research__best-links">
              <a
                href="https://antro.cx/growth_ecomm/"
                target="_blank"
                class="main-research__card-el btn_hover-graylight"
              >
                <div
                  class="main-research__card-icon main-research__card-icon_small"
                >
                  <img src="img/svg/lightning-dark.svg" alt="" />
                </div>
                Подробнее о продуктовом подходе
              </a>
            </div>
          </div>
        </div>
        <div class="new-main-research__best">
          <div class="new-main-research__best-img el-desctop">
            <img src="img/best-2.png" alt="" />
          </div>
          <div class="new-main-research__best-info">
            <div class="new-main-research__best-head">
              <div class="new-main-research__best-img el-mobile">
                <img src="img/best-2.png" alt="" />
              </div>
              <div
                class="main-research__card-text main-research__card-text_title"
              >
                Отраслевой анализ и лучшие решения
              </div>
            </div>
            <div class="main-research__card-text">
              Изучаем интерфейсы, данные и поведение покупателей на десятках
              интернет-магазинов и выделяем работающие подходы
            </div>
            <div class="new-main-research__best-links">
              <a
                href="https://t.me/antro_cx"
                target="_blank"
                class="main-research__card-el btn_hover-graylight"
              >
                <div
                  class="main-research__card-icon main-research__card-icon_small"
                >
                  <img src="img/svg/telegram-dark.svg" alt="" />
                </div>
                Antro
              </a>
              <a
                href="https://t.me/nasmtrl"
                target="_blank"
                class="main-research__card-el btn_hover-graylight"
              >
                <div
                  class="main-research__card-icon main-research__card-icon_small"
                >
                  <img src="img/audit/ecom-logo-new.svg" alt="" />
                </div>
                Насмотрелись екома
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="main-research__box main-research__box_grid new-main-research__blog-box"
    >
      <div class="main-research__card">
        <div
          class="js-form main-research__subscribe js-subscribe-baloon"
          data-widget-id="0"
        >
          <div class="main-research__subscribe-close js-subscribe-close">
            <img
              src="https://antro.cx/wp-content/themes/antro/new-assets/img/svg/close.svg"
              alt=""
            />
          </div>

          <div class="main-research__card-title js-form-subscribe-title">
            Рассылка с&nbsp;новостями и&nbsp;отраслевой аналитикой
          </div>
          <div class="main-research__card-text js-form-subscribe-text">
            Ежемесячно присылаем дайджест с&nbsp;аналитикой
          </div>
          <form
            action=""
            class="main-team__form-wrapper js-form-subscribe"
            data-widget-id="3"
          >
            <input type="hidden" name="target" value="" />
            <input
              type="hidden"
              id="nonce"
              name="nonce"
              value="6040d8d752"
            /><input type="hidden" name="_wp_http_referer" value="/" />
            <div class="main-team__form">
              <div class="input-block">
                <div class="input-block__exclamation">
                  <img
                    src="https://antro.cx/wp-content/themes/antro/new-assets/img/svg/exclamation.svg"
                    alt=""
                  />
                </div>
                <input
                  name="user-email"
                  type="text"
                  data-required=""
                  data-email=""
                  placeholder="Е-мейл для подписки на рассылку"
                />
                <input type="hidden" name="page_id" value="1254" />
                <div class="input-block__error">
                  Пожалуйста, перепроверьте правильность номера
                </div>
              </div>
              <div
                id="captcha-container"
                class="captcha-container smart-captcha_invisible"
                data-testid="smartCaptcha-container"
              >
                <div style="display: none">
                  <iframe
                    frameborder="0"
                    src="https://smartcaptcha.cloud.yandex.ru/backend.5e56b772c972d11334c1.html?sitekey=ysc1_7YikwQiWK9raQXxEzt6lL1lgE7fz6M6q52LMqcuC3dd5c1d2&amp;theme=light&amp;hl=ru&amp;host=antro.cx&amp;href=https%3A%2F%2Fantro.cx%2F&amp;test=false&amp;webview=false&amp;hideChallengeContainer=false"
                    aria-hidden="true"
                    allow="encrypted-media *; accelerometer"
                    data-testid="backend-iframe"
                    title="SmartCaptcha backend"
                    style="
                      display: block;
                      width: 100%;
                      height: 100%;
                      z-index: 0;
                      transform: translate3d(0px, 0px, 0px);
                    "
                  ></iframe>
                </div>
                <input
                  type="hidden"
                  name="smart-token"
                  data-testid="smart-token"
                />
              </div>
              <button
                type="submit"
                class="btn-reset main-team__submit btn_hover-round"
              >
                <img
                  src="https://antro.cx/wp-content/themes/antro/new-assets/img/svg/next.svg"
                  alt=""
                />
              </button>
            </div>
            <label
              class="i-checkbox i-checkbox_small i-checkbox_left i-checkbox_margin"
            >
              <input
                class="i-checkbox__input i-checkbox__input--position"
                type="checkbox"
                name="i_agree"
              />
              <div class="i-checkbox__mask i-checkbox__mask_small">
                <svg
                  width="12"
                  height="8"
                  viewBox="0 0 12 8"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M1.16602 3.11091L4.89961 6.66671L10.5 1.33301"
                    stroke="white"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </div>
              <div class="i-checkbox__text">
                Я даю
                <a href="https://antro.cx/consent/"
                  >согласие на обработку моих персональных данных</a
                >&nbsp;и принимаю условия
                <a href="https://antro.cx/policy/"
                  >Политики обработки персональных данных</a
                >
              </div>
            </label>
            <label
              class="i-checkbox i-checkbox-center i-checkbox_small i-checkbox_left i-checkbox_margin"
            >
              <input
                class="i-checkbox__input i-checkbox__input--position"
                type="checkbox"
                name="i_advertising"
              />
              <div class="i-checkbox__mask i-checkbox__mask_small">
                <svg
                  width="12"
                  height="8"
                  viewBox="0 0 12 8"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M1.16602 3.11091L4.89961 6.66671L10.5 1.33301"
                    stroke="white"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </div>
              <div class="i-checkbox__text">
                Я даю
                <a href="https://antro.cx/advertising/"
                  >согласие на получение рекламных сообщений</a
                >
              </div>
            </label>
          </form>
        </div>

        <div class="main-research__card-title">
          Делимся новостями и аналитикой
        </div>
        <div class="main-research__card-text main-research__card-text_tag">
          <img src="img/media/svg/tag.svg" alt="" />

          Премия Тэглайн (Tagline Awards).&nbsp;<br class="el-mobile" />Лучший
          email-маркетинг
        </div>
        <div class="main-research__card-list new-main-research__card-list">
          <a
            href="#"
            class="main-research__card-el btn_hover-graylight js-subscribe-open"
          >
            <div
              class="main-research__card-icon main-research__card-icon_small"
            >
              <img src="img/svg/email-dark.svg" alt="" />
            </div>
            Рассылка с новостями <br />
            и отраслевой аналитикой
          </a>
          <a
            href="https://vc.ru/id1244031"
            target="_blank"
            class="main-research__card-el btn_hover-graylight js-subscribe-open"
          >
            <div
              class="main-research__card-icon main-research__card-icon_small"
            >
              <img src="img/svg/vc-dark.svg" alt="" />
            </div>
            Статьи о развитии интернет-магазинов <br />
            и пользовательском опыте
          </a>
          <a
            href="https://antro.cx/blog/"
            target="_blank"
            class="main-research__card-el btn_hover-graylight"
          >
            <div
              class="main-research__card-icon main-research__card-icon_small"
            >
              <img src="img/svg/youtube-dark.svg" alt="" />
            </div>
            Выступления и вебинары с Ozon, <br />
            ДжамильКо, Elis и другими
          </a>
          <a
            href="#"
            class="main-research__card-el btn_hover-graylight new-main-research__card-el_tg"
          >
            <div
              class="main-research__card-icon main-research__card-icon_small"
            >
              <img src="img/svg/telegram-dark.svg" alt="" />
            </div>
            <p>
              Совместные проекты <br />
              с
              <span>
                <img src="img/svg/telegram-blue.svg" alt="" />
                e-commerce club
              </span>
            </p>
          </a>
        </div>
      </div>

      <div
        class="main-research__card main-research__card_type1 new-main-research__card-type1"
      >
        <div class="main-research__card-text main-research__card-text_white">
          Следим за исследованиями
        </div>
        <div
          class="main-research__card-text main-research__card-text_white main-research__card-text_space"
        >
          Baymard Institute NN/g McKinsey KPMG Deloitte PwC EY BCG GfK Ipsos
          NielsenIQ Shopify Nielsen Gartner и другие
        </div>
      </div>
    </div>
  </div>
</section>
