<section class="review-benefit">
    <div class="container">
        <div class="review-section-wrapper review-benefit__wrapper">
            <h3 class="review-title review-benefit__title">
                Кому будет полезно
            </h3>
            <div class="review-benefit__insides">
                <div class="review-benefit__inside">
                    e-commerce директорам
                </div>
                <div class="review-benefit__inside">
                    фаундерам и владельцам продукта
                </div>
                <div class="review-benefit__inside">
                    директорам по маркетингу
                </div>
                <div class="review-benefit__inside">
                    продакт-менеджерам и CPO
                </div>
                <div class="review-benefit__inside">
                    маркетологам
                </div>
            </div>
            <div class="review-benefit__box">
                <div class="review-benefit__col">
                    <div class="review-benefit__block">
                        <div class="review-benefit__block-title">Иметь все актуальные данные по рынку БТиЭ в одном месте
                        </div>
                        <div class="review-benefit__block-text">а не искать и собирать информацию по сайтам, чатами
                            ресерчерам</div>
                        <div class="review-benefit__block-image">
                            <img src="img/audit/shape1.png" alt="">
                        </div>
                    </div>
                    <div class="review-benefit__block review-benefit__block_pink">
                        <div class="review-benefit__block-title">Скорректировать стратегию развития компании или
                            интернет-магазина</div>
                        <div class="review-benefit__block-text">исходя из актуальных данных рынка бытовой техники
                            и электроники (БТиЭ)</div>
                    </div>
                    <div class="review-benefit__block review-benefit__block_black">
                        <div class="review-benefit__block-image">
                            <img src="img/audit/shape2.png" alt="">
                        </div>
                        <div class="review-benefit__block-title">Узнать данные и мнения от лидеров рынка БТиЭ</div>
                        <div class="review-benefit__block-text">понять, с чего начать развитие своего интернет-магазина
                        </div>
                    </div>
                </div>
                <div class="review-benefit__col">
                    <div class="review-benefit__block review-benefit__block_black">
                        <div class="review-benefit__block-image">
                            <img src="img/audit/star1.png" alt="">
                        </div>
                        <div class="review-benefit__block-title">Понять, какие есть тренды и тенденции на рынке БТиЭ
                        </div>
                        <div class="review-benefit__block-text">какие гипотезы можно проверить в своем интернет-магазине
                        </div>
                    </div>
                    <div class="review-benefit__block">
                        <div class="review-benefit__block-title">Получить новый контекст о рынке БТиЭ для принятия более
                            качественных решений</div>
                    </div>
                    <div class="review-benefit__block">
                        <div class="review-benefit__block-title">Эффективное изучение, наглядность и навигация без
                            лишней
                            воды</div>
                        <div class="review-benefit__block-text">обзор рынка состоит из визуализации подтвержденных
                            данных, а
                            не стен текста</div>
                        <div class="review-benefit__block-image">
                            <img src="img/audit/star2.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>