<section class="review-formats">
    <div class="container">
        <div class="review-section-wrapper review-formats__wrapper">
            <h2 class="review-title review-formats__title">Форматы и стоимость обзора</h2>
            <div class="review-formats__body">
                <div class="review-formats__card review-formats__card_free review-card">
                    <div class="review-card__head">
                        <p class="review-card__version">
                            Публичная версия
                        </p>
                        <p class="review-card__format">
                            PDF, n страниц
                        </p>
                        <div class="review-card__price">
                            <div class="review-card__price-now">
                                Бесплатно
                            </div>
                        </div>
                        <p class="review-card__description">Ознакомительный обзор</p>
                        <button class="btn-reset btn-white btn-white_wide btn-white_hover-white review-card__btn">
                            Скачать публичный обзор
                        </button>
                    </div>
                    <div class="review-card__body">
                        <ul class="list-reset review-card__list">
                            <li class="review-card__item review-card__item_included">
                                Блок 1. Мировой рынок: потребительская электроника
                            </li>
                            <li class="review-card__item">
                                Блок 2. Мировой рынок: бытовая техника
                            </li>
                            <li class="review-card__item">
                                Блок 3. Российский рынок бытовой техники и электроники (БТиЭ)
                            </li>
                            <li class="review-card__item review-card__item_included">
                                Блок 4. Мировой e-commerce рынок бытовой техники и электроники
                            </li>
                            <li class="review-card__item">
                                Блок 5. Российский e-commerce рынок БТиЭ
                            </li>
                            <li class="review-card__item">
                                Блок 6. Покупательское поведение на рынке БТиЭ
                            </li>
                            </li>
                            <li class="review-card__item">
                                Блок 7. Тренды на рынке БТиЭ
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="review-formats__card review-formats__card_full review-card">
                    <div class="review-card__head">
                        <div class="review-card__discount">
                            −30% до 20 апреля
                        </div>
                        <p class="review-card__version">
                            Полный обзор
                        </p>
                        <p class="review-card__format">
                            PDF, n страниц
                        </p>
                        <div class="review-card__price">
                            <div class="review-card__price-now">
                                70 000 ₽
                            </div>
                            <div class="review-card__price-old">
                                100 000 ₽
                            </div>
                        </div>
                        <p class="review-card__description">осталось 10 дней до конца скидки</p>
                        <button class="btn-reset btn btn_wide btn_lightning btn_hover-pink review-card__btn">
                            <span>Купить полный обзор</span>
                            <div class="btn__circle">
                                <img src="img/svg/lightning.svg" alt="">
                            </div>
                        </button>
                    </div>
                    <div class="review-card__body">
                        <ul class="list-reset review-card__list">
                            <li class="review-card__item review-card__item_included">
                                Блок 1. Мировой рынок: потребительская электроника
                            </li>
                            <li class="review-card__item  review-card__item_included">
                                Блок 2. Мировой рынок: бытовая техника
                            </li>
                            <li class="review-card__item  review-card__item_included">
                                Блок 3. Российский рынок бытовой техники и электроники (БТиЭ)
                            </li>
                            <li class="review-card__item review-card__item_included">
                                Блок 4. Мировой e-commerce рынок бытовой техники и электроники
                            </li>
                            <li class="review-card__item  review-card__item_included">
                                Блок 5. Российский e-commerce рынок БТиЭ
                            </li>
                            <li class="review-card__item review-card__item_included">
                                Блок 6. Покупательское поведение на рынке БТиЭ
                            </li>
                            </li>
                            <li class="review-card__item review-card__item_included">
                                Блок 7. Тренды на рынке БТиЭ
                            </li>
                        </ul>
                        <div class="review-card__channel">
                            <img src="img/review/tg_dark.svg" alt="" class="review-card__channel-img">
                            <p class="review-card__channel-text">
                                Закрытый чат с лидерами рынка БТиЭ и отраслевыми новостями (только при покупке)
                            </p>
                        </div>
                    </div>
                    <div class="review-card__buy-count">
                        <img class="review-card__like" src="img/review/like.svg" alt="">
                        15 раз(а) купили обзор за этот месяц
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>