<section class="review-content">
    <div class="review-section-wrapper review-content__wrapper">
        <h2 class="review-title review-content__title">Содержание обзора</h2>
        <div class="review-content__insides-inner">
            <div class="review-content__insides">
                <div class="review-content__inside">
                    <img src="/img/review/content/page.svg" alt="" class="review-content__inside-img">
                    <p class="review-content__inside-text">
                        300+ страниц обзора
                    </p>
                </div>
                <div class="review-content__inside">
                    <img src="/img/review/content/data.svg" alt="" class="review-content__inside-img">
                    <p class="review-content__inside-text">
                        Данные за 2023-2025 года
                    </p>
                </div>
                <div class="review-content__inside">
                    <img src="/img/review/content/blocks.svg" alt="" class="review-content__inside-img">
                    <p class="review-content__inside-text">
                        7 тематических блоков
                    </p>
                </div>
                <div class="review-content__inside">
                    <img src="/img/review/content/ecom.svg" alt="" class="review-content__inside-img">
                    <p class="review-content__inside-text">
                        E-commerce и commerce
                    </p>
                </div>
                <div class="review-content__inside">
                    <img src="/img/review/content/world.svg" alt="" class="review-content__inside-img">
                    <p class="review-content__inside-text">
                        Мировой и Российский рынки
                    </p>
                </div>
            </div>
        </div>
        <div class="review-content__list">
            <div class="review-content__item review-content-item dark js-open-review-content active">
                <div class="review-content-item__info">
                    <div class="review-content-item__pages">
                        20 страниц
                    </div>
                    <div class="review-content-item__free">
                        <svg class="review-content-item__free-logo" width="20" height="21" viewBox="0 0 20 21"
                            fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M11.1053 2.24109L3.40861 11.862C3.04194 12.3203 3.36827 12.9993 3.95522 12.9993H7.25056C7.65549 12.9993 7.97595 13.3418 7.94901 13.7459L7.64716 18.2737C7.60157 18.9575 8.4641 19.2927 8.89222 18.7575L16.589 9.13659C16.9556 8.67826 16.6293 7.9993 16.0423 7.9993H12.747C12.3421 7.9993 12.0216 7.65677 12.0486 7.25274L12.3504 2.72494C12.396 2.04115 11.5335 1.70595 11.1053 2.24109Z"
                                fill="#0A0620" />
                        </svg>
                        БЕСПЛАТНО
                    </div>
                </div>
                <div class="review-content-item__head">
                    <div class="review-content-item__circle">
                        1
                    </div>
                    <p class="review-content-item__title">
                        Мировой рынок: потребительская электроника
                    </p>

                    <div class="review-content-item__close">
                        <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="42" height="42" rx="21" fill="#1B3C3C" />
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M15.4697 26.5304C15.1768 26.2375 15.1768 25.7627 15.4697 25.4698L19.9393 21.0001L15.4697 16.5304C15.1768 16.2375 15.1768 15.7627 15.4697 15.4698C15.7626 15.1769 16.2374 15.1769 16.5303 15.4698L21 19.9394L25.4697 15.4698C25.7626 15.1769 26.2374 15.1769 26.5303 15.4698C26.8232 15.7627 26.8232 16.2375 26.5303 16.5304L22.0607 21.0001L26.5303 25.4698C26.8232 25.7627 26.8232 26.2375 26.5303 26.5304C26.2374 26.8233 25.7626 26.8233 25.4697 26.5304L21 22.0608L16.5303 26.5304C16.2374 26.8233 15.7626 26.8233 15.4697 26.5304Z"
                                fill="white" />
                        </svg>
                    </div>
                </div>
                <div class="review-content-item__body ">
                    <div class="review-content-item__body-height">
                        <div class="review-content-item__body-wrapper">
                            <ul class="review-content-item__list">
                                <li class="review-content-item__list-item">Характеристика рынка</li>
                                <li class="review-content-item__list-item">Локальные рынки</li>
                                <li class="review-content-item__list-item">Сегменты потребительской электроники</li>
                                <li class="review-content-item__list-item">Ключевые игроки</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="review-content__item review-content-item white js-open-review-content">
                <div class="review-content-item__info">
                    <div class="review-content-item__pages">
                        16 страниц
                    </div>

                </div>
                <div class="review-content-item__head">
                    <div class="review-content-item__circle">
                        2
                    </div>
                    <p class="review-content-item__title">
                        Мировой рынок: бытовая техника
                    </p>

                    <div class="review-content-item__close">
                        <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="42" height="42" rx="21" fill="#1B3C3C" />
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M15.4697 26.5304C15.1768 26.2375 15.1768 25.7627 15.4697 25.4698L19.9393 21.0001L15.4697 16.5304C15.1768 16.2375 15.1768 15.7627 15.4697 15.4698C15.7626 15.1769 16.2374 15.1769 16.5303 15.4698L21 19.9394L25.4697 15.4698C25.7626 15.1769 26.2374 15.1769 26.5303 15.4698C26.8232 15.7627 26.8232 16.2375 26.5303 16.5304L22.0607 21.0001L26.5303 25.4698C26.8232 25.7627 26.8232 26.2375 26.5303 26.5304C26.2374 26.8233 25.7626 26.8233 25.4697 26.5304L21 22.0608L16.5303 26.5304C16.2374 26.8233 15.7626 26.8233 15.4697 26.5304Z"
                                fill="white" />
                        </svg>
                    </div>
                </div>
                <div class="review-content-item__body ">
                    <div class="review-content-item__body-height">
                        <div class="review-content-item__body-wrapper">
                            <ul class="review-content-item__list">
                                <li class="review-content-item__list-item">Характеристика рынка</li>
                                <li class="review-content-item__list-item">Локальные рынки</li>
                                <li class="review-content-item__list-item">Сегменты потребительской электроники</li>
                                <li class="review-content-item__list-item">Ключевые игроки</li>
                                <li class="review-content-item__list-item">Макрофакторы развития рынка БТиЭ</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="review-content__item review-content-item white js-open-review-content">
                <div class="review-content-item__info">
                    <div class="review-content-item__pages">
                        20 страниц
                    </div>

                </div>
                <div class="review-content-item__head">
                    <div class="review-content-item__circle">
                        3
                    </div>
                    <p class="review-content-item__title">
                        Российский рынок бытовой техники и электроники (БТиЭ)
                    </p>

                    <div class="review-content-item__close">
                        <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="42" height="42" rx="21" fill="#1B3C3C" />
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M15.4697 26.5304C15.1768 26.2375 15.1768 25.7627 15.4697 25.4698L19.9393 21.0001L15.4697 16.5304C15.1768 16.2375 15.1768 15.7627 15.4697 15.4698C15.7626 15.1769 16.2374 15.1769 16.5303 15.4698L21 19.9394L25.4697 15.4698C25.7626 15.1769 26.2374 15.1769 26.5303 15.4698C26.8232 15.7627 26.8232 16.2375 26.5303 16.5304L22.0607 21.0001L26.5303 25.4698C26.8232 25.7627 26.8232 26.2375 26.5303 26.5304C26.2374 26.8233 25.7626 26.8233 25.4697 26.5304L21 22.0608L16.5303 26.5304C16.2374 26.8233 15.7626 26.8233 15.4697 26.5304Z"
                                fill="white" />
                        </svg>
                    </div>
                </div>
                <div class="review-content-item__body ">
                    <div class="review-content-item__body-height">
                        <div class="review-content-item__body-wrapper">
                            <ul class="review-content-item__list">
                                <li class="review-content-item__list-item">Характеристика рынка</li>
                                <li class="review-content-item__list-item">Потребительская электроника</li>
                                <li class="review-content-item__list-item">Бытовая техника</li>
                                <li class="review-content-item__list-item">Прогноз</li>
                                <li class="review-content-item__list-item">Динамика рынка</li>
                                <li class="review-content-item__list-item">Параллельный импорт и серый импорт</li>
                            </ul>
                            <ul class="review-content-item__list review-content-item__list_max-width">
                                <li class="review-content-item__list-item">
                                    Бренды: ушедшие, новые, возобновившие
                                    присутствие,российские бренды БТиЭ
                                </li>
                                <li class="review-content-item__list-item">Собственные торговые марки (СТМ)</li>
                                <li class="review-content-item__list-item">Российские компании-производители в сегменте
                                    БТиЭ</li>
                                <li class="review-content-item__list-item">Крупнейшие ритейлеры БТиЭ</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="review-content__item review-content-item dark js-open-review-content">
                <div class="review-content-item__info">
                    <div class="review-content-item__pages">
                        8 страниц
                    </div>
                    <div class="review-content-item__free">
                        <svg class="review-content-item__free-logo" width="20" height="21" viewBox="0 0 20 21"
                            fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M11.1053 2.24109L3.40861 11.862C3.04194 12.3203 3.36827 12.9993 3.95522 12.9993H7.25056C7.65549 12.9993 7.97595 13.3418 7.94901 13.7459L7.64716 18.2737C7.60157 18.9575 8.4641 19.2927 8.89222 18.7575L16.589 9.13659C16.9556 8.67826 16.6293 7.9993 16.0423 7.9993H12.747C12.3421 7.9993 12.0216 7.65677 12.0486 7.25274L12.3504 2.72494C12.396 2.04115 11.5335 1.70595 11.1053 2.24109Z"
                                fill="#0A0620" />
                        </svg>
                        БЕСПЛАТНО
                    </div>
                </div>
                <div class="review-content-item__head">
                    <div class="review-content-item__circle">
                        4
                    </div>
                    <p class="review-content-item__title">
                        Мировой e-commerce рынок бытовой техники и электроники
                    </p>

                    <div class="review-content-item__close">
                        <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="42" height="42" rx="21" fill="#1B3C3C" />
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M15.4697 26.5304C15.1768 26.2375 15.1768 25.7627 15.4697 25.4698L19.9393 21.0001L15.4697 16.5304C15.1768 16.2375 15.1768 15.7627 15.4697 15.4698C15.7626 15.1769 16.2374 15.1769 16.5303 15.4698L21 19.9394L25.4697 15.4698C25.7626 15.1769 26.2374 15.1769 26.5303 15.4698C26.8232 15.7627 26.8232 16.2375 26.5303 16.5304L22.0607 21.0001L26.5303 25.4698C26.8232 25.7627 26.8232 26.2375 26.5303 26.5304C26.2374 26.8233 25.7626 26.8233 25.4697 26.5304L21 22.0608L16.5303 26.5304C16.2374 26.8233 15.7626 26.8233 15.4697 26.5304Z"
                                fill="white" />
                        </svg>
                    </div>
                </div>
                <div class="review-content-item__body ">
                    <div class="review-content-item__body-height">
                        <div class="review-content-item__body-wrapper">
                            <ul class="review-content-item__list">
                                <li class="review-content-item__list-item">Характеристика рынка</li>
                                <li class="review-content-item__list-item">Причины роста мирового e-commerce рынка в
                                    сегменте «электроника»</li>
                                <li class="review-content-item__list-item">Крупнейшие страны мирового e-commerce в
                                    сегменте «электроника»</li>
                                <li class="review-content-item__list-item">Ведущие e-commerce компании по продажам
                                    электроники на мировом рынке</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="review-content__item review-content-item white js-open-review-content">
                <div class="review-content-item__info">
                    <div class="review-content-item__pages">
                        14 страниц
                    </div>
                </div>
                <div class="review-content-item__head">
                    <div class="review-content-item__circle">
                        5
                    </div>
                    <p class="review-content-item__title">
                        Российский e-commerce рынок БТиЭ
                    </p>

                    <div class="review-content-item__close">
                        <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="42" height="42" rx="21" fill="#1B3C3C" />
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M15.4697 26.5304C15.1768 26.2375 15.1768 25.7627 15.4697 25.4698L19.9393 21.0001L15.4697 16.5304C15.1768 16.2375 15.1768 15.7627 15.4697 15.4698C15.7626 15.1769 16.2374 15.1769 16.5303 15.4698L21 19.9394L25.4697 15.4698C25.7626 15.1769 26.2374 15.1769 26.5303 15.4698C26.8232 15.7627 26.8232 16.2375 26.5303 16.5304L22.0607 21.0001L26.5303 25.4698C26.8232 25.7627 26.8232 26.2375 26.5303 26.5304C26.2374 26.8233 25.7626 26.8233 25.4697 26.5304L21 22.0608L16.5303 26.5304C16.2374 26.8233 15.7626 26.8233 15.4697 26.5304Z"
                                fill="white" />
                        </svg>
                    </div>
                </div>
                <div class="review-content-item__body ">
                    <div class="review-content-item__body-height">
                        <div class="review-content-item__body-wrapper">
                            <ul class="review-content-item__list">
                                <li class="review-content-item__list-item">Характеристика рынка</li>
                                <li class="review-content-item__list-item">Ключевые игроки</li>
                                <li class="review-content-item__list-item">Маркетплейсы в России</li>
                                <li class="review-content-item__list-item">Нишевые маркетплейсы</li>
                                <li class="review-content-item__list-item">Ресэйл и ремонт (resale, refurbish)</li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
            <div class="review-content__item review-content-item white js-open-review-content">
                <div class="review-content-item__info">
                    <div class="review-content-item__pages">
                        64 страницы
                    </div>
                </div>
                <div class="review-content-item__head">
                    <div class="review-content-item__circle">
                        6
                    </div>
                    <p class="review-content-item__title">
                        Покупательское поведение на рынке БТиЭ
                    </p>

                    <div class="review-content-item__close">
                        <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="42" height="42" rx="21" fill="#1B3C3C" />
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M15.4697 26.5304C15.1768 26.2375 15.1768 25.7627 15.4697 25.4698L19.9393 21.0001L15.4697 16.5304C15.1768 16.2375 15.1768 15.7627 15.4697 15.4698C15.7626 15.1769 16.2374 15.1769 16.5303 15.4698L21 19.9394L25.4697 15.4698C25.7626 15.1769 26.2374 15.1769 26.5303 15.4698C26.8232 15.7627 26.8232 16.2375 26.5303 16.5304L22.0607 21.0001L26.5303 25.4698C26.8232 25.7627 26.8232 26.2375 26.5303 26.5304C26.2374 26.8233 25.7626 26.8233 25.4697 26.5304L21 22.0608L16.5303 26.5304C16.2374 26.8233 15.7626 26.8233 15.4697 26.5304Z"
                                fill="white" />
                        </svg>
                    </div>
                </div>
                <div class="review-content-item__body ">
                    <div class="review-content-item__body-height">
                        <div class="review-content-item__body-wrapper">
                            <ul class="review-content-item__list">
                                <li class="review-content-item__list-item">Индекс потребительской уверенности россиян
                                </li>
                                <li class="review-content-item__list-item">Тренды покупательского поведения россиян в
                                    сегменте БТиЭ</li>
                                <li class="review-content-item__list-item">Изменение спроса на товары БТиЭ</li>
                                <li class="review-content-item__list-item">Способы поиска и источники информации о БТиЭ
                                </li>
                                <li class="review-content-item__list-item">Реклама и привлечение</li>
                                <li class="review-content-item__list-item">Омниканальность как паттерн поведения
                                    пользователей</li>
                                <li class="review-content-item__list-item">Выбор ритейлера</li>
                                <li class="review-content-item__list-item">Выбор товара</li>
                            </ul>
                            <ul class="review-content-item__list">
                                <li class="review-content-item__list-item">Премиальный и люксовый сегмент
                                </li>
                                <li class="review-content-item__list-item">Отношение к новым брендам</li>
                                <li class="review-content-item__list-item">Спонтанные или импульсивные покупки</li>
                                <li class="review-content-item__list-item">Акции и предпраздничная активность
                                </li>
                                <li class="review-content-item__list-item">Расходы на БТиЭ</li>
                                <li class="review-content-item__list-item">Оплата БТиЭ</li>
                                <li class="review-content-item__list-item">Доставка и получение заказа</li>
                                <li class="review-content-item__list-item">Проблемы при заказах и возврат товара</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="review-content__item review-content-item white js-open-review-content">
                <div class="review-content-item__info">
                    <div class="review-content-item__pages">
                        23 страниц
                    </div>
                </div>
                <div class="review-content-item__head">
                    <div class="review-content-item__circle">
                        7
                    </div>
                    <p class="review-content-item__title">
                        Тренды на рынке БТиЭ
                    </p>
                    <div class="review-content-item__close">
                        <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="42" height="42" rx="21" fill="#1B3C3C" />
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M15.4697 26.5304C15.1768 26.2375 15.1768 25.7627 15.4697 25.4698L19.9393 21.0001L15.4697 16.5304C15.1768 16.2375 15.1768 15.7627 15.4697 15.4698C15.7626 15.1769 16.2374 15.1769 16.5303 15.4698L21 19.9394L25.4697 15.4698C25.7626 15.1769 26.2374 15.1769 26.5303 15.4698C26.8232 15.7627 26.8232 16.2375 26.5303 16.5304L22.0607 21.0001L26.5303 25.4698C26.8232 25.7627 26.8232 26.2375 26.5303 26.5304C26.2374 26.8233 25.7626 26.8233 25.4697 26.5304L21 22.0608L16.5303 26.5304C16.2374 26.8233 15.7626 26.8233 15.4697 26.5304Z"
                                fill="white" />
                        </svg>
                    </div>
                </div>
                <div class="review-content-item__body ">
                    <div class="review-content-item__body-height">
                        <div class="review-content-item__body-wrapper">
                            <ul class="review-content-item__list">
                                <li class="review-content-item__list-item">Глобальные тенденции на рынке ритейла,
                                    включая сегмент «электроника» </li>
                                <li class="review-content-item__list-item">Технологические тренды в ритейле</li>
                                <li class="review-content-item__list-item">Тренды в покупательском поведении</li>
                                <li class="review-content-item__list-item">Тренды ритейл-медиа</li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>