<section class="support-first">
  <div class="container">
    <div class="support-first__inner">
      <div class="support-first__grid">
        <div class="support-first__left">
          <div class="support-first__hero">
            <div class="support-first__hero-content">
              <h1 class="support-first__title">
                Техническое сопровождение интернет-магазинов
              </h1>
              <p class="support-first__text">
                Поддержка, разработка нового функционала, интеграции, релизы,
                производительность, технический долг и координация подрядчиков —
                в одной команде
              </p>
              <span class="support-first__badge">e-commerce</span>
            </div>
            <button
              class="btn-reset btn support-first__btn btn_hover-pink js-modal-open"
              data-modal="order"
            >
              Обсудить проект
            </button>
          </div>

          <div class="support-first__stats">
            <div class="support-first__stats-row">
              <div class="support-first__stat support-first__stat_dark">
                <div class="support-first__stat-num">2018</div>
                <p class="support-first__stat-text">
                  уже 7 лет запускаем, развиваем и сопровождаем
                  интернет-магазины (e-commerce)
                </p>
              </div>
              <div class="support-first__stat">
                <div class="support-first__stat-num">100+</div>
                <p class="support-first__stat-text">
                  типовых задач, интеграций и сценариев уже проходили в
                  электронной коммерции
                </p>
              </div>
            </div>
            <div class="support-first__stat support-first__stat_tl">
              <div class="support-first__stat-num">TL</div>
              <p class="support-first__stat-text">
                за каждым проектом закрепляется технический лидер, который
                держит архитектурный контекст
              </p>
            </div>
          </div>
        </div>

        <div class="support-first__aside">
          <div class="support-first__aside-images">
            <img
              src="img/support/banner-bg.png"
              alt=""
              class="support-first__aside-img"
            />
          </div>
          <p class="support-first__aside-text">
            Подходим брендам, которым нужна&nbsp;не просто реакция на задачи,
            <span
              >а сильная ecom-команда с насмотренностью, техническим лидером,
              выстроенными процессами и опытом похожих внедрений</span
            >
          </p>
        </div>
      </div>

      <div class="support-first__brands">
        <div class="development-brands__text development-brands__text_compact">
          Нам доверяют
        </div>
        @include('./development-brands-list.html')
      </div>
    </div>
  </div>
</section>
