<section class="support-scenario">
    <div class="container">
        <div class="support-scenario__inner">
            <div class="support-scenario__dark"></div>
            <span class="support-scenario__badge support-scenario__badge_outline support-scenario__badge_corner">с нами</span>
            <span class="support-scenario__badge support-scenario__badge_gray support-scenario__badge_float">Без технического партнера</span>

            <div class="support-scenario__head">
                <div class="support-scenario__head-col">
                    <h2 class="support-scenario__title">Типичный сценарий</h2>
                </div>
                <div class="support-scenario__head-col support-scenario__head-col_dark">
                    <h2 class="support-scenario__title support-scenario__title_white">Единый технический контекст</h2>
                </div>
            </div>

            <div class="support-scenario__rows">
                <div class="support-scenario__row">
                    <div class="support-scenario__item">
                        <span class="support-scenario__mark support-scenario__mark_bad"></span>
                        <p>SEO предлагает одно решение</p>
                    </div>
                    <div class="support-scenario__item support-scenario__item_white">
                        <img src="img/svg/tick-squ.svg" alt="" class="support-scenario__tick">
                        <p>Решения оцениваются с учетом всей архитектуры электронной коммерции</p>
                    </div>
                </div>
                <div class="support-scenario__row">
                    <div class="support-scenario__item">
                        <span class="support-scenario__mark support-scenario__mark_bad"></span>
                        <p>CRM-интегратор предлагает другое</p>
                    </div>
                    <div class="support-scenario__item support-scenario__item_white">
                        <img src="img/svg/tick-squ.svg" alt="" class="support-scenario__tick">
                        <p>Риски видны до старта разработки</p>
                    </div>
                </div>
                <div class="support-scenario__row">
                    <div class="support-scenario__item">
                        <span class="support-scenario__mark support-scenario__mark_bad"></span>
                        <p>Разработчики говорят третье</p>
                    </div>
                    <div class="support-scenario__item support-scenario__item_white">
                        <img src="img/svg/tick-squ.svg" alt="" class="support-scenario__tick">
                        <p>Подрядчики быстрее договариваются между собой</p>
                    </div>
                </div>
                <div class="support-scenario__row">
                    <div class="support-scenario__item">
                        <span class="support-scenario__mark support-scenario__mark_bad"></span>
                        <p>Маркетинг хочет запустить все вчера</p>
                    </div>
                    <div class="support-scenario__item support-scenario__item_white">
                        <img src="img/svg/tick-squ.svg" alt="" class="support-scenario__tick">
                        <p>Бизнес получает понятный план действий</p>
                    </div>
                </div>
                <div class="support-scenario__row">
                    <div class="support-scenario__item">
                        <span class="support-scenario__mark support-scenario__mark_bad"></span>
                        <p>Бизнес сам разбирается, кто прав и какие будут последствия</p>
                    </div>
                    <div class="support-scenario__item support-scenario__item_white">
                        <img src="img/svg/tick-squ.svg" alt="" class="support-scenario__tick">
                        <p>Меньше переделок после релизов</p>
                    </div>
                </div>
                <div class="support-scenario__row">
                    <div class="support-scenario__item">
                        <span class="support-scenario__mark support-scenario__mark_bad"></span>
                        <p>После релиза появляются переделки, баги и новые согласования</p>
                    </div>
                    <div class="support-scenario__item support-scenario__item_white">
                        <img src="img/svg/tick-squ.svg" alt="" class="support-scenario__tick">
                        <p>Развитие проекта становится управляемым, а не реактивным</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
