<div class="section support-feedback">
  <div class="container">
    <div class="support-feedback__wrapper">
      <div class="main-cases__swiper-wrap new-main-cases__swiper-wrap">
        <div class="swiper main-cases__swiper js-main-cases-swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide main-cases__swiper-slide">
              <div class="new-main-cases__swiper-top">
                <img
                  src="img/svg/quate.svg"
                  alt=""
                  class="new-main-cases__swiper-quate"
                />

                <div class="main-cases__swiper-title">
                  Antro — наш стратегический ИТ-партнер.
                </div>
                <div class="main-cases__swiper-text">
                  Вместе с Антро мы прорабатываем планы по развитию наших
                  eсommerce-проектов. Команда выполняет работы по разработке,
                  проектированию, дизайну, исследованиям, а также по технической
                  поддержке. Ребятам умеют подстраиваться под нас и принимать
                  быстрые решения...
                </div>
                <div class="new-main-cases__hashtags">
                  <div class="new-main-cases__hashtag">ИТ-партнер</div>
                  <div class="new-main-cases__hashtag">
                    Экспертиза в разработке интернет-магазинов
                  </div>
                </div>
              </div>
              <div class="new-main-cases__swiper-bottom">
                <div class="main-cases__swiper-person">
                  <div class="main-cases__swiper-photo">
                    <img src="img/swiper/person-1.jpg" alt="" />
                  </div>
                  <div class="main-cases__swiper-name">Арсен Джулфалакян</div>
                  <div class="main-cases__swiper-job">
                    Руководитель направления <br />
                    электронной коммерции, ДжамильКо
                  </div>
                </div>
                <a
                  href="#"
                  class="main-cases__swiper-file btn_hover-transparent"
                >
                  <div class="main-cases__swiper-icon">
                    <img src="img/svg/file.svg" alt="" />
                  </div>
                  Читать полный отзыв и рекомендательное письмо
                </a>
              </div>
            </div>
            <div class="swiper-slide main-cases__swiper-slide">
              <div class="new-main-cases__swiper-top">
                <img
                  src="img/svg/quate.svg"
                  alt=""
                  class="new-main-cases__swiper-quate"
                />

                <div class="main-cases__swiper-title">
                  Компания Antro является нашим близкими надежным партнером в
                  сфере дизайна и разработки веб-сайта.
                </div>
                <div class="main-cases__swiper-text">
                  Сотрудники компании глубоко вникают в процессы, не допускают
                  срыва сроков проектов и внимательно относятся к поставленным
                  задачам. Отличительной чертой работы Antro является
                  оперативность и высокая организованность...
                </div>
                <div class="new-main-cases__hashtags">
                  <div class="new-main-cases__hashtag">
                    Информационная безопасность
                  </div>
                  <div class="new-main-cases__hashtag">
                    Инженерная экспертиза
                  </div>
                  <div class="new-main-cases__hashtag">
                    Экспертиза в исследоавниях
                  </div>
                </div>
              </div>
              <div class="new-main-cases__swiper-bottom">
                <div class="main-cases__swiper-person">
                  <div class="main-cases__swiper-photo">
                    <img src="img/swiper/person-1.jpg" alt="" />
                  </div>
                  <div class="main-cases__swiper-name">
                    Геннадий Береговский
                  </div>
                  <div class="main-cases__swiper-job">
                    ex-ClO hh.ru, ТОП-5 ИТ-директоров в сегменте
                    «онлайн-платформы» по версии рейтинга «Коммерсантъ» (2024)
                  </div>
                </div>
                <a
                  href="#"
                  class="main-cases__swiper-file btn_hover-transparent"
                >
                  <div class="main-cases__swiper-icon">
                    <img src="img/svg/file.svg" alt="" />
                  </div>
                  Читать полный отзыв и рекомендательное письмо
                </a>
              </div>
            </div>
            <div class="swiper-slide main-cases__swiper-slide">
              <div class="new-main-cases__swiper-top">
                <img
                  src="img/svg/quate.svg"
                  alt=""
                  class="new-main-cases__swiper-quate"
                />

                <div class="main-cases__swiper-title">
                  Компания Antro является нашим близкими надежным партнером в
                  сфере дизайна и разработки веб-сайта.
                </div>
                <div class="main-cases__swiper-text">
                  Сотрудники компании глубоко вникают в процессы, не допускают
                  срыва сроков проектов и внимательно относятся к поставленным
                  задачам. Отличительной чертой работы Antro является
                  оперативность и высокая организованность...
                </div>
                <div class="new-main-cases__hashtags">
                  <div class="new-main-cases__hashtag">ИТ-партнер</div>
                  <div class="new-main-cases__hashtag">
                    Экспертиза в разработке интернет-магазинов
                  </div>
                </div>
              </div>
              <div class="new-main-cases__swiper-bottom">
                <div class="main-cases__swiper-person">
                  <div class="main-cases__swiper-photo">
                    <img src="img/swiper/person-1.jpg" alt="" />
                  </div>
                  <div class="main-cases__swiper-name">Арсен Джулфалакян</div>
                  <div class="main-cases__swiper-job">
                    Руководитель направления <br />
                    электронной коммерции, ДжамильКо
                  </div>
                </div>
                <a
                  href="#"
                  class="main-cases__swiper-file btn_hover-transparent"
                >
                  <div class="main-cases__swiper-icon">
                    <img src="img/svg/file.svg" alt="" />
                  </div>
                  Читать полный отзыв и рекомендательное письмо
                </a>
              </div>
            </div>
          </div>
          <div class="swiper-pagination main-cases__swiper-pagination"></div>
        </div>
        <div class="main-cases__swiper-controls">
          <div class="main-cases__swiper-next">
            <img src="img/svg/next-dark.svg" alt="" />
          </div>
          <div class="main-cases__swiper-prev">
            <img src="img/svg/prev-dark.svg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
