<section class="support-scenario">
  <div class="container">
    <div class="support-scenario__inner">
      <div class="support-scenario__col support-scenario__col_bad">
        <span
          class="support-scenario__badge support-scenario__badge_gray support-scenario__badge_bad"
          >Без технического партнера</span
        >
        <h2 class="support-scenario__title">Типичный сценарий</h2>
        <ul class="support-scenario__list">
          <li class="support-scenario__item">
            <span
              class="support-scenario__mark support-scenario__mark_bad"
            ></span>
            <p>SEO предлагает одно решение</p>
          </li>
          <li class="support-scenario__item">
            <span
              class="support-scenario__mark support-scenario__mark_bad"
            ></span>
            <p>CRM-интегратор предлагает другое</p>
          </li>
          <li class="support-scenario__item">
            <span
              class="support-scenario__mark support-scenario__mark_bad"
            ></span>
            <p>Разработчики говорят третье</p>
          </li>
          <li class="support-scenario__item">
            <span
              class="support-scenario__mark support-scenario__mark_bad"
            ></span>
            <p>Маркетинг хочет запустить все вчера</p>
          </li>
          <li class="support-scenario__item">
            <span
              class="support-scenario__mark support-scenario__mark_bad"
            ></span>
            <p>Бизнес сам разбирается, кто прав и какие будут последствия</p>
          </li>
          <li class="support-scenario__item">
            <span
              class="support-scenario__mark support-scenario__mark_bad"
            ></span>
            <p>После релиза появляются переделки, баги и новые согласования</p>
          </li>
        </ul>
      </div>

      <div class="support-scenario__col support-scenario__col_good">
        <span
          class="support-scenario__badge support-scenario__badge_outline support-scenario__badge_good"
          >с нами</span
        >
        <h2 class="support-scenario__title support-scenario__title_white">
          Единый технический контекст
        </h2>
        <ul class="support-scenario__list">
          <li class="support-scenario__item support-scenario__item_white">
            <img
              src="img/svg/tick-squ.svg"
              alt=""
              class="support-scenario__tick"
            />
            <p>
              Решения оцениваются с учетом всей архитектуры электронной
              коммерции
            </p>
          </li>
          <li class="support-scenario__item support-scenario__item_white">
            <img
              src="img/svg/tick-squ.svg"
              alt=""
              class="support-scenario__tick"
            />
            <p>Риски видны до старта разработки</p>
          </li>
          <li class="support-scenario__item support-scenario__item_white">
            <img
              src="img/svg/tick-squ.svg"
              alt=""
              class="support-scenario__tick"
            />
            <p>Подрядчики быстрее договариваются между собой</p>
          </li>
          <li class="support-scenario__item support-scenario__item_white">
            <img
              src="img/svg/tick-squ.svg"
              alt=""
              class="support-scenario__tick"
            />
            <p>Бизнес получает понятный план действий</p>
          </li>
          <li class="support-scenario__item support-scenario__item_white">
            <img
              src="img/svg/tick-squ.svg"
              alt=""
              class="support-scenario__tick"
            />
            <p>Меньше переделок после релизов</p>
          </li>
          <li class="support-scenario__item support-scenario__item_white">
            <img
              src="img/svg/tick-squ.svg"
              alt=""
              class="support-scenario__tick"
            />
            <p>Развитие проекта становится управляемым, а не реактивным</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
