<section class="support-section support-safe">
  <div class="container">
    <div class="support-section__inner">
      <div class="support-section__head">
        <div class="development-brands__text development-brands__text_tag">
          Безопасный старт
        </div>
        <div class="support-safe__content">
          <div class="support-safe__left">
            <h2 class="support-section__title support-safe__title">
              Подключите нас вторыми и сравните разницу
            </h2>
            <p class="support-safe__text">
              Не обязательно сразу менять текущую разработку. <br />
              Подключаемся к проекту параллельно: берем часть задач, <br />
              проверяем технические решения, помогаем с интеграциями
              и&nbsp;показываем свой уровень вовлечения.
            </p>
            <p class="support-safe__text">
              Дальше решаете сами — оставить гибридную модель или расширить
              сотрудничество.
            </p>
            <button
              class="btn-reset btn-white support-safe__btn btn-white_hover-white js-modal-open"
              data-modal="order"
            >
              Обсудить проект
            </button>
          </div>
          <div class="support-safe__list">
            <div class="support-safe__item">
              <img src="img/support/svg/1.svg" alt="" />
              <p>Подключаемся без остановки текущих процессов</p>
            </div>
            <div class="support-safe__item">
              <img src="img/support/svg/2.svg" alt="" />
              <p>Берем задачи, где нужна экспертиза в электронной коммерции</p>
            </div>
            <div class="support-safe__item">
              <img src="img/support/svg/3.svg" alt="" />
              <p>Показываем качество на реальных задачах</p>
            </div>
            <div class="support-safe__item">
              <img src="img/support/svg/4.svg" alt="" />
              <p>Помогаем оценить текущую архитектуру и риски</p>
            </div>
            <div class="support-safe__item">
              <img src="img/support/svg/5.svg" alt="" />
              <p>При необходимости можем взять проект полностью</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
