<section class="support-section tshopping-experience">
  <div class="container">
    <div class="support-section__inner">
      <div class="support-section__head">
        <div class="development-brands__text development-brands__text_tag">
          отраслевой опыт
        </div>
        <div class="support-section__head-row">
          <h2 class="support-section__title">Имеем опыт подобных интеграций</h2>
          <p class="support-section__desc tshopping-experience__desc">
            Мы уже проходили интеграции с маркетплейсами
            <br />и понимаем их устройство изнутри. Эти наработки закладываем в
            модуль для Т-Шопинга
          </p>
        </div>
      </div>

      <div class="tshopping-experience__body">
        <div class="tshopping-experience__cases">
          <div class="tshopping-experience__case">
            <div class="tshopping-experience__logo">
              <img src="img/tshopping/logo-nb.svg" alt="New Balance" />
            </div>
            <div class="tshopping-experience__case-body">
              <div class="tshopping-experience__case-title">
                Интеграция с Kaspi.kz
              </div>
              <p class="tshopping-experience__case-text">
                Обеспечили обмен товарами, остатками, заказами и данными ERP
              </p>
            </div>
          </div>

          <div
            class="tshopping-experience__case tshopping-experience__case_dark"
          >
            <div class="tshopping-experience__logo">
              <img src="img/tshopping/logo-lc.svg" alt="Lee Cooper" />
            </div>
            <div class="tshopping-experience__case-body">
              <div class="tshopping-experience__case-title">
                Интеграция с Lamoda
              </div>
              <p class="tshopping-experience__case-text">
                Автоматизировали загрузку товаров, обмен заказами, остатками и
                отгрузки
              </p>
            </div>
          </div>
        </div>

        <a
          href="support.html"
          class="btn-reset btn btn_lightning main-services__card-btn btn_hover-transparent tshopping-experience__link"
        >
          <div class="btn__circle">
            <img src="img/svg/lightning.svg" alt="" />
          </div>
          Подробнее о техническом сопровождении
        </a>
      </div>
    </div>
  </div>
</section>
