<section class="tshopping-first">
  <div class="container">
    <div class="tshopping-first__inner">
      <div class="tshopping-first__grid">
        <div class="tshopping-first__left">
          <div class="tshopping-first__hero">
            <div class="tshopping-first__hero-content">
              <h1 class="tshopping-first__title">
                Собираем пул брендов для <br class="el-mobile" />
                интеграции <br />с Т-Шопингом
              </h1>
              <p class="tshopping-first__text">
                Т‑Шопинг становится заметным каналом продаж, но индивидуальная
                интеграция нативного чекаута с интернет-магазином бренда пока
                обходится слишком дорого
              </p>
            </div>
            <button
              class="btn-reset btn tshopping-first__btn btn_hover-pink js-modal-open"
              data-modal="order"
            >
              Хочу обсудить участие
            </button>
          </div>

          <div class="tshopping-first__banner">
            <div class="tshopping-first__banner-icon">
              <img src="img/tshopping/hero-icon.png" alt="" />
            </div>
            <p class="tshopping-first__banner-text">
              Мы собираем интернет‑магазины на 1С‑Битрикс, <br />
              чтобы разработать универсальный интеграционный модуль и разделить
              стоимость его разработки между участниками
            </p>
          </div>
        </div>

        <div class="tshopping-first__aside">
          <div class="tshopping-first__aside-visual">
            <img
              src="img/tshopping/sculpture.png"
              alt=""
              class="tshopping-first__aside-img"
            />
          </div>
          <div class="tshopping-first__aside-content">
            <div class="tshopping-first__aside-num">до 55 млн</div>
            <p class="tshopping-first__aside-text">
              Клиентов в аудитории экосистемы для продавцов по заявлению Т-Банка
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
