<section class="tshopping-integration">
  <div class="container">
    <div class="tshopping-integration__inner">
      <div class="tshopping-integration__head">
        <div
          class="development-brands__text development-brands__text_tag tshopping-integration__tag"
        >
          Что будет в интеграции
        </div>
        <div class="tshopping-integration__head-row">
          <h2 class="tshopping-integration__title">
            От товарной карточки
            <br />до возврата
          </h2>
          <p class="tshopping-integration__desc">
            На старте планируем реализовать следующие возможности
          </p>
        </div>

        <div class="tshopping-integration__preview">
          <div class="tshopping-integration__preview-inner">
            <img src="/img/support/banner-2.png" alt="" />
          </div>
          <img
            src="img/tshopping/plane-3.svg"
            alt=""
            class="tshopping-integration__plane"
          />
        </div>
      </div>

      <div class="tshopping-integration__table">
        <div class="tshopping-integration__table-head">
          <div class="tshopping-integration__col-label">Блок</div>
          <div class="tshopping-integration__col">Общее ядро Антро</div>
          <div class="tshopping-integration__col">Управление внутри модуля</div>
        </div>

        <div class="tshopping-integration__row">
          <div class="tshopping-integration__block">
            <div class="tshopping-integration__mobile-label">блок</div>
            <div class="tshopping-integration__col-label">Каталог</div>
          </div>
          <div class="tshopping-integration__col">
            <div class="tshopping-integration__mobile-label">
              Общее ядро Антро
            </div>
            <div class="tshopping-integration__tags">
              <span>товары</span>
              <span>SKU</span>
              <span>свойства</span>
              <span>изображения</span>
              <span>валидация</span>
            </div>
          </div>
          <div class="tshopping-integration__col">
            <div class="tshopping-integration__mobile-label">
              Управление внутри модуля
            </div>
            <div class="tshopping-integration__tags">
              <span>маппинг категорий</span>
              <span>маппинг размеров</span>
              <span>маппинг цветов</span>
              <span>маппинг кастомных свойств</span>
            </div>
          </div>
        </div>

        <div class="tshopping-integration__row">
          <div class="tshopping-integration__block">
            <div class="tshopping-integration__mobile-label">блок</div>
            <div class="tshopping-integration__col-label">Цены и остатки</div>
          </div>
          <div class="tshopping-integration__col">
            <div class="tshopping-integration__mobile-label">
              Общее ядро Антро
            </div>
            <div class="tshopping-integration__tags">
              <span>обмен</span>
              <span>очереди</span>
              <span>повторная отправка</span>
              <span>контроль актуальности</span>
            </div>
          </div>
          <div class="tshopping-integration__col">
            <div class="tshopping-integration__mobile-label">
              Управление внутри модуля
            </div>
            <div class="tshopping-integration__tags">
              <span>склады</span>
              <span>резервы</span>
              <span>акции</span>
              <span>типы цен</span>
              <span>1C/ERP</span>
            </div>
          </div>
        </div>

        <div class="tshopping-integration__row">
          <div class="tshopping-integration__block">
            <div class="tshopping-integration__mobile-label">блок</div>
            <div class="tshopping-integration__col-label">Заказы</div>
          </div>
          <div class="tshopping-integration__col">
            <div class="tshopping-integration__mobile-label">
              Общее ядро Антро
            </div>
            <div class="tshopping-integration__tags">
              <span>создание</span>
              <span>статусы</span>
              <span>отмены</span>
              <span>журнал ошибок</span>
            </div>
          </div>
          <div class="tshopping-integration__col">
            <div class="tshopping-integration__mobile-label">
              Управление внутри модуля
            </div>
            <div class="tshopping-integration__tags">
              <span>OMS</span>
              <span>CRM</span>
              <span>ERP</span>
              <span>кассы</span>
              <span>внутренние статусы</span>
            </div>
          </div>
        </div>

        <div class="tshopping-integration__row">
          <div class="tshopping-integration__block">
            <div class="tshopping-integration__mobile-label">блок</div>
            <div class="tshopping-integration__col-label">Доставка</div>
          </div>
          <div class="tshopping-integration__col">
            <div class="tshopping-integration__mobile-label">
              Общее ядро Антро
            </div>
            <div class="tshopping-integration__tags">
              <span>способы</span>
              <span>сроки</span>
              <span>стоимость</span>
              <span>события</span>
            </div>
          </div>
          <div class="tshopping-integration__col">
            <div class="tshopping-integration__mobile-label">
              Управление внутри модуля
            </div>
            <div class="tshopping-integration__tags">
              <span>ПВЗ</span>
              <span>курьеры</span>
              <span>интервалы</span>
              <span>регионы</span>
              <span>ограничения</span>
            </div>
          </div>
        </div>

        <div class="tshopping-integration__row">
          <div class="tshopping-integration__block">
            <div class="tshopping-integration__mobile-label">блок</div>
            <div class="tshopping-integration__col-label">Возвраты</div>
          </div>
          <div class="tshopping-integration__col">
            <div class="tshopping-integration__mobile-label">
              Общее ядро Антро
            </div>
            <div class="tshopping-integration__tags">
              <span>полный возврат</span>
              <span>частичный возврат</span>
              <span>статусы</span>
              <span>события</span>
            </div>
          </div>
          <div class="tshopping-integration__col">
            <div class="tshopping-integration__mobile-label">
              Управление внутри модуля
            </div>
            <div class="tshopping-integration__tags">
              <span>чеки</span>
              <span>склад</span>
              <span>лояльность</span>
              <span>внутренние правила</span>
            </div>
          </div>
        </div>

        <div class="tshopping-integration__row">
          <div class="tshopping-integration__block">
            <div class="tshopping-integration__mobile-label">блок</div>
            <div class="tshopping-integration__col-label">Мониторинг</div>
          </div>
          <div class="tshopping-integration__col">
            <div class="tshopping-integration__mobile-label">
              Общее ядро Антро
            </div>
            <div class="tshopping-integration__tags">
              <span>логи</span>
              <span>алерты</span>
              <span>очереди</span>
              <span>технический дашборд</span>
            </div>
          </div>
          <div class="tshopping-integration__col">
            <div class="tshopping-integration__mobile-label">
              Управление внутри модуля
            </div>
            <div class="tshopping-integration__tags">
              <span>SLA</span>
              <span>роли</span>
              <span>маршрутизация инцидентов</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
