<section class="tshopping-faq">
  <div class="container">
    <div class="tshopping-faq__stack">
      <div class="tshopping-faq__inner">
        <div class="tshopping-faq__head">
          <div class="development-brands__text development-brands__text_tag">
            коротко о важном
          </div>
          <h2 class="tshopping-faq__title">Вопросы до участия</h2>
        </div>

        <div class="tshopping-faq__box">
          <div class="accordion js-accordion tshopping-faq__item active">
            <div class="accordion__header js-accordion-header tshopping-faq__header">
              <p class="accordion__header-title">
                Антро уже официальный партнер Т-Шопинга?
              </p>
              <div class="accordion__header-arrow tshopping-faq__arrow">
                <svg
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M8 15.8202C7.58579 15.8202 7.25 15.4844 7.25 15.0702L7.25 8.74913L0.928932 8.74913C0.514719 8.74913 0.178932 8.41334 0.178933 7.99913C0.178932 7.58492 0.514719 7.24913 0.928933 7.24913L7.25 7.24913L7.25 0.928064C7.25 0.513851 7.58579 0.178064 8 0.178064C8.41421 0.178064 8.75 0.513851 8.75 0.928064L8.75 7.24913L15.0711 7.24913C15.4853 7.24913 15.8211 7.58492 15.8211 7.99913C15.8211 8.41334 15.4853 8.74913 15.0711 8.74913L8.75 8.74913L8.75 15.0702C8.75 15.4844 8.41421 15.8202 8 15.8202Z"
                    fill="#0A0620"
                  />
                </svg>
              </div>
            </div>
            <div class="accordion__content-wrapper">
              <div class="accordion__content">
                <div class="accordion__content-item">
                  <div class="accordion__content-text">
                    <p class="accordion__content-description">
                      Antro уже официальный партнер Т-Шопинга Antro уже
                      официальный партнер Т-Шопинга Antro уже официальный
                      партнер Т-ШопингаAntro уже официальный партнер
                      Т-ШопингаAntro уже официальный партнер Т-ШопингаAntro
                      уже официальный партнер Т-ШопингаAntro уже официальный
                      партнер Т-ШопингаAntro уже официальный партнер Т-Шопинга
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="accordion js-accordion tshopping-faq__item">
            <div class="accordion__header js-accordion-header tshopping-faq__header">
              <p class="accordion__header-title">
                Что произойдет, если участников будет мало?
              </p>
              <div class="accordion__header-arrow tshopping-faq__arrow">
                <svg
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M8 15.8202C7.58579 15.8202 7.25 15.4844 7.25 15.0702L7.25 8.74913L0.928932 8.74913C0.514719 8.74913 0.178932 8.41334 0.178933 7.99913C0.178932 7.58492 0.514719 7.24913 0.928933 7.24913L7.25 7.24913L7.25 0.928064C7.25 0.513851 7.58579 0.178064 8 0.178064C8.41421 0.178064 8.75 0.513851 8.75 0.928064L8.75 7.24913L15.0711 7.24913C15.4853 7.24913 15.8211 7.58492 15.8211 7.99913C15.8211 8.41334 15.4853 8.74913 15.0711 8.74913L8.75 8.74913L8.75 15.0702C8.75 15.4844 8.41421 15.8202 8 15.8202Z"
                    fill="#0A0620"
                  />
                </svg>
              </div>
            </div>
            <div class="accordion__content-wrapper">
              <div class="accordion__content">
                <div class="accordion__content-item">
                  <div class="accordion__content-text">
                    <p class="accordion__content-description">
                      Если не удастся собрать достаточный пул компаний, проект
                      просто не будет запущен. Заявка не означает обязательство
                      участвовать или оплачивать.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="accordion js-accordion tshopping-faq__item">
            <div class="accordion__header js-accordion-header tshopping-faq__header">
              <p class="accordion__header-title">
                Почему нельзя обещать точную стоимость сейчас?
              </p>
              <div class="accordion__header-arrow tshopping-faq__arrow">
                <svg
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M8 15.8202C7.58579 15.8202 7.25 15.4844 7.25 15.0702L7.25 8.74913L0.928932 8.74913C0.514719 8.74913 0.178932 8.41334 0.178933 7.99913C0.178932 7.58492 0.514719 7.24913 0.928933 7.24913L7.25 7.24913L7.25 0.928064C7.25 0.513851 7.58579 0.178064 8 0.178064C8.41421 0.178064 8.75 0.513851 8.75 0.928064L8.75 7.24913L15.0711 7.24913C15.4853 7.24913 15.8211 7.58492 15.8211 7.99913C15.8211 8.41334 15.4853 8.74913 15.0711 8.74913L8.75 8.74913L8.75 15.0702C8.75 15.4844 8.41421 15.8202 8 15.8202Z"
                    fill="#0A0620"
                  />
                </svg>
              </div>
            </div>
            <div class="accordion__content-wrapper">
              <div class="accordion__content">
                <div class="accordion__content-item">
                  <div class="accordion__content-text">
                    <p class="accordion__content-description">
                      Итоговая стоимость зависит от числа участников пула.
                      Примерная экономика указана в блоке «Модель проекта» и
                      уточняется после формирования пула.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="accordion js-accordion tshopping-faq__item">
            <div class="accordion__header js-accordion-header tshopping-faq__header">
              <p class="accordion__header-title">
                Кому принадлежат права на модуль?
              </p>
              <div class="accordion__header-arrow tshopping-faq__arrow">
                <svg
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M8 15.8202C7.58579 15.8202 7.25 15.4844 7.25 15.0702L7.25 8.74913L0.928932 8.74913C0.514719 8.74913 0.178932 8.41334 0.178933 7.99913C0.178932 7.58492 0.514719 7.24913 0.928933 7.24913L7.25 7.24913L7.25 0.928064C7.25 0.513851 7.58579 0.178064 8 0.178064C8.41421 0.178064 8.75 0.513851 8.75 0.928064L8.75 7.24913L15.0711 7.24913C15.4853 7.24913 15.8211 7.58492 15.8211 7.99913C15.8211 8.41334 15.4853 8.74913 15.0711 8.74913L8.75 8.74913L8.75 15.0702C8.75 15.4844 8.41421 15.8202 8 15.8202Z"
                    fill="#0A0620"
                  />
                </svg>
              </div>
            </div>
            <div class="accordion__content-wrapper">
              <div class="accordion__content">
                <div class="accordion__content-item">
                  <div class="accordion__content-text">
                    <p class="accordion__content-description">
                      Условия использования модуля и права участников
                      фиксируются в отдельном договоре с каждым брендом после
                      формирования пула.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="accordion js-accordion tshopping-faq__item">
            <div class="accordion__header js-accordion-header tshopping-faq__header">
              <p class="accordion__header-title">
                Будут ли участники видеть данные друг друга?
              </p>
              <div class="accordion__header-arrow tshopping-faq__arrow">
                <svg
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M8 15.8202C7.58579 15.8202 7.25 15.4844 7.25 15.0702L7.25 8.74913L0.928932 8.74913C0.514719 8.74913 0.178932 8.41334 0.178933 7.99913C0.178932 7.58492 0.514719 7.24913 0.928933 7.24913L7.25 7.24913L7.25 0.928064C7.25 0.513851 7.58579 0.178064 8 0.178064C8.41421 0.178064 8.75 0.513851 8.75 0.928064L8.75 7.24913L15.0711 7.24913C15.4853 7.24913 15.8211 7.58492 15.8211 7.99913C15.8211 8.41334 15.4853 8.74913 15.0711 8.74913L8.75 8.74913L8.75 15.0702C8.75 15.4844 8.41421 15.8202 8 15.8202Z"
                    fill="#0A0620"
                  />
                </svg>
              </div>
            </div>
            <div class="accordion__content-wrapper">
              <div class="accordion__content">
                <div class="accordion__content-item">
                  <div class="accordion__content-text">
                    <p class="accordion__content-description">
                      Нет. Проект не предполагает обмена между участниками
                      ценами, скидками, маржинальностью, клиентскими базами или
                      иной коммерчески чувствительной информацией.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="accordion js-accordion tshopping-faq__item">
            <div class="accordion__header js-accordion-header tshopping-faq__header">
              <p class="accordion__header-title">
                Гарантирует ли интеграция продажи?
              </p>
              <div class="accordion__header-arrow tshopping-faq__arrow">
                <svg
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M8 15.8202C7.58579 15.8202 7.25 15.4844 7.25 15.0702L7.25 8.74913L0.928932 8.74913C0.514719 8.74913 0.178932 8.41334 0.178933 7.99913C0.178932 7.58492 0.514719 7.24913 0.928933 7.24913L7.25 7.24913L7.25 0.928064C7.25 0.513851 7.58579 0.178064 8 0.178064C8.41421 0.178064 8.75 0.513851 8.75 0.928064L8.75 7.24913L15.0711 7.24913C15.4853 7.24913 15.8211 7.58492 15.8211 7.99913C15.8211 8.41334 15.4853 8.74913 15.0711 8.74913L8.75 8.74913L8.75 15.0702C8.75 15.4844 8.41421 15.8202 8 15.8202Z"
                    fill="#0A0620"
                  />
                </svg>
              </div>
            </div>
            <div class="accordion__content-wrapper">
              <div class="accordion__content">
                <div class="accordion__content-item">
                  <div class="accordion__content-text">
                    <p class="accordion__content-description">
                      Нет. Интеграция открывает техническую возможность работы с
                      каналом, но не гарантирует продажи. Результат зависит от
                      ассортимента, цены, маркетинга и спроса.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="tshopping-faq__legal">
        Инициатива является сбором предварительного B2B-интереса, а не
        инвестиционным предложением или публичной офертой. Каждый участник
        заключает отдельный договор с Антро. Название и логотипы публикуются
        только после письменного согласования. Проект не предполагает обмена
        между участниками ценами, скидками, маржинальностью, клиентскими базами
        или иной коммерческой чувствительной информацией.
      </div>
    </div>
  </div>
</section>
