<section class="tshopping-interest">
  <div class="container">
    <div class="tshopping-interest__inner">
      <div class="tshopping-interest__head">
        <div class="development-brands__text development-brands__text_tag">
          Уже проявили интерес
        </div>
      </div>

      <div class="tshopping-interest__rows">
        <div class="tshopping-interest__badge">присоединяйтесь!</div>
        <img
          src="img/tshopping/plane-2.svg"
          alt=""
          class="tshopping-interest__plane"
        />
        <div class="tshopping-interest__row">
          <div class="tshopping-interest__card tshopping-interest__card_filled">
            <img src="img/tshopping/brand-1.svg" alt="Timberland" />
          </div>
          <div class="tshopping-interest__card tshopping-interest__card_filled">
            <img src="img/tshopping/brand-2.svg" alt="New Balance" />
          </div>
          <div class="tshopping-interest__card tshopping-interest__card_filled">
            <img src="img/tshopping/brand-3.svg" alt="Marc O'Polo" />
          </div>
          <a
            href="#tshoppingForm"
            class="tshopping-interest__card tshopping-interest__card_empty"
          >
            <span class="tshopping-interest__placeholder"></span>
          </a>
          <a
            href="#tshoppingForm"
            class="tshopping-interest__card tshopping-interest__card_empty"
          >
            <span class="tshopping-interest__placeholder"></span>
          </a>
        </div>
        <div class="tshopping-interest__row tshopping-interest__row_mobile">
          <div class="tshopping-interest__card tshopping-interest__card_filled">
            <img src="img/tshopping/brand-1.svg" alt="Timberland" />
          </div>
          <div class="tshopping-interest__card tshopping-interest__card_filled">
            <img src="img/tshopping/brand-2.svg" alt="New Balance" />
          </div>
          <div class="tshopping-interest__card tshopping-interest__card_filled">
            <img src="img/tshopping/brand-3.svg" alt="Marc O'Polo" />
          </div>
        </div>
        <div class="tshopping-interest__row tshopping-interest__row_center">
          <a
            href="#tshoppingForm"
            class="tshopping-interest__card tshopping-interest__card_empty"
          >
            <span class="tshopping-interest__placeholder"></span>
          </a>
          <a
            href="#tshoppingForm"
            class="tshopping-interest__card tshopping-interest__card_empty"
          >
            <span class="tshopping-interest__placeholder"></span>
          </a>
          <a
            href="#tshoppingForm"
            class="tshopping-interest__card tshopping-interest__card_empty"
          >
            <span class="tshopping-interest__placeholder"></span>
          </a>
          <a
            href="#tshoppingForm"
            class="tshopping-interest__card tshopping-interest__card_empty"
          >
            <span class="tshopping-interest__placeholder"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
