<section class="support-section tshopping-pain">
  <div class="container">
    <div class="support-section__inner">
      <div class="support-section__head">
        <div class="development-brands__text development-brands__text_tag">
          Проблема
        </div>
        <div class="support-section__head-row">
          <h2 class="support-section__title">
            Одна и та же интеграция не должна оплачиваться каждым брендом
            отдельно
          </h2>
          <p class="support-section__desc">
            Для крупного интернет-магазина это не выгрузка каталога, а
            полноценная интеграция. Именно поэтому стоимость первого запуска
            часто становится главным барьером
          </p>
        </div>
      </div>

      <div class="support-section__grid">
        <div class="support-section__card">
          <div class="support-section__card-top">
            <div class="support-section__card-label">Боль 1</div>
            <div class="support-section__card-icon">
              <img src="img/support/sad-8.png" alt="" />
            </div>
          </div>
          <div class="support-section__card-body">
            <div class="support-section__card-title">
              Слишком дорогой первый шаг
            </div>
            <p class="support-section__card-text">
              Каждый бренд по отдельности оплачивает архитектуру, интеграционную
              логику, тестирование и сопровождение изменений API
            </p>
          </div>
        </div>

        <div class="support-section__card">
          <div class="support-section__card-top">
            <div class="support-section__card-label">Боль 2</div>
            <div class="support-section__card-icon">
              <img src="img/support/sad-8.png" alt="" />
            </div>
          </div>
          <div class="support-section__card-body">
            <div class="support-section__card-title">
              Не хватает прозрачной экономики
            </div>
            <p class="support-section__card-text">
              У канала есть сильные рыночные сигналы, но брендам нужны понятные
              пилоты, метрики и прогноз окупаемости
            </p>
          </div>
        </div>

        <div class="support-section__card support-section__card_dark">
          <div class="support-section__card-top">
            <div class="support-section__card-label">Боль 3</div>
            <div class="support-section__card-icon">
              <img src="img/support/sad-4.png" alt="" />
            </div>
          </div>
          <div class="support-section__card-body">
            <div class="support-section__card-title">
              Сложно повлиять одному
            </div>
            <p class="support-section__card-text">
              Один бренд — это частный запрос. Пул брендов — уже рыночный
              сигнал, который проще обсуждать с площадкой
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
