<section class="tshopping-appeal">
  <div class="container">
    <div class="tshopping-appeal__inner">
      <img
        src="img/tshopping/quote.svg"
        alt=""
        class="tshopping-appeal__quote"
      />

      <div class="tshopping-appeal__content">
        <div class="development-brands__text development-brands__text_tag">
          Обращение к рынку
        </div>

        <div class="tshopping-appeal__body">
          <h2 class="tshopping-appeal__title">
            То, что дорого одному бренду, может быть рационально для десяти
          </h2>

          <div class="tshopping-appeal__cols">
            <div class="tshopping-appeal__col">
              <p>
                Мы регулярно видим, как разные бренды приходят к одной и той же
                задаче и каждый раз оплачивают разработку практически
                одинакового решения. Хотя значительную часть этой работы можно
                сделать один раз и разделить ее стоимость между всеми
                участниками.
              </p>
              <p>
                Нам кажется, что такой подход может быть полезен рынку. Общее
                решение разрабатывается совместно, а каждый бренд сохраняет свои
                данные, бизнес-процессы и индивидуальные доработки.
              </p>
            </div>
            <div class="tshopping-appeal__col">
              <p>
                Именно такую ситуацию мы сейчас наблюдаем с Т-Шопингом. За
                последние месяцы мы получили несколько запросов от брендов на
                подключение и поняли, что проблема не в отсутствии интереса к
                новому каналу, а в высокой стоимости первого внедрения.
              </p>
              <p>
                Поэтому мы решили попробовать собрать первый пул компаний и
                проверить, может ли такая модель работать на практике. Если она
                окажется успешной, в будущем мы готовы применять ее и для других
                общих задач
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="tshopping-appeal__author">
        <div class="tshopping-appeal__author-name">Константин Щербина</div>
        <div class="tshopping-appeal__author-role">CEO Антро</div>
      </div>
    </div>
  </div>
</section>
