<section class="tshopping-order">
  <div class="container">
    <div class="tshopping-order__inner">
      <img
        src="img/tshopping/sculpture.png"
        alt=""
        class="tshopping-order__bg"
      />

      <div class="tshopping-order__content">
        <div
          class="development-brands__text development-brands__text_tag tshopping-order__tag"
        >
          предварительный пул
        </div>
        <h2 class="tshopping-order__title">
          Стать участником <br class="el-mobile" />
          первого пула брендов
        </h2>
        <div class="tshopping-order__text">
          Если вашей компании интересен Т-Шопинг, присоединяйтесь к инициативе.
          Мы сформируем пул участников, проведем переговоры с Т-Шопингом,
          рассчитаем экономику проекта и вернемся к каждому бренду с итогами и
          предложением по запуску
        </div>
        <div class="tshopping-order__note">
          <div class="tshopping-order__note-icon">
            <img src="img/tshopping/star-white.svg" alt="" />
          </div>
          <div class="tshopping-order__note-text">
            <div class="tshopping-order__note-title">Без обязательств</div>
            <p>Заявка не означает участие и оплату</p>
          </div>
        </div>
      </div>

      <div class="tshopping-order__form-wrap">
        <form action="" class="main-order__form js-form tshopping-order__form">
          <div class="main-order__form-fields">
            <div class="input-block">
              <div class="input-block__exclamation">
                <img src="img/svg/exclamation.svg" alt="" />
              </div>
              <input
                name="company"
                type="text"
                required
                placeholder="Компания или бренд"
              />
              <div class="input-block__error">
                Пожалуйста, проверьте правильность заполнения
              </div>
            </div>
            <div class="input-block">
              <div class="input-block__exclamation">
                <img src="img/svg/exclamation.svg" alt="" />
              </div>
              <input name="site" type="text" required placeholder="Сайт" />
              <div class="input-block__error">
                Пожалуйста, проверьте правильность заполнения
              </div>
            </div>
            <div class="input-block">
              <div class="input-block__exclamation">
                <img src="img/svg/exclamation.svg" alt="" />
              </div>
              <input
                name="name"
                type="text"
                required
                placeholder="Имя и должность"
              />
              <div class="input-block__error">
                Пожалуйста, проверьте правильность заполнения
              </div>
            </div>
            <div class="input-block">
              <div class="input-block__exclamation">
                <img src="img/svg/exclamation.svg" alt="" />
              </div>
              <input
                name="contact"
                type="text"
                required
                placeholder="Е-мейл или телеграм"
              />
              <div class="input-block__error">
                Пожалуйста, проверьте правильность заполнения
              </div>
            </div>

            <button class="btn-reset btn btn_wide btn_hover-pink">
              Оставить заявку
            </button>
          </div>

          <label class="i-checkbox">
            <input
              class="i-checkbox__input"
              type="checkbox"
              name="i_agree"
              checked
            />
            <div class="i-checkbox__mask">
              <svg
                width="12"
                height="8"
                viewBox="0 0 12 8"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M1.16602 3.11091L4.89961 6.66671L10.5 1.33301"
                  stroke="white"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
            <div class="i-checkbox__text">
              Я даю согласие на
              <a href="">обработку моих персональных данных</a>
              и принимаю условия
              <a href="">политики обработки персональных данных</a>
            </div>
          </label>

          <div class="tshopping-order__disclaimer">
            * Форма не является офертой, заказом или договором
          </div>
        </form>

        <div class="main-order__social tshopping-order__social">
          <a href="#" class="main-order__social-link btn_hover-round">
            <img src="img/svg/telegram.svg" alt="" />
          </a>
          <a href="#" class="main-order__social-link btn_hover-round">
            <img src="img/svg/email.svg" alt="" />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
