<section class="tshopping-now">
  <div class="container">
    <div class="tshopping-now__inner">
      <h2 class="tshopping-now__title">Где мы сейчас</h2>
      <p class="tshopping-now__text">
        У Т-Шопинга нет универсального модуля для прямого подключения
        интернет-магазинов <br class="el-mobile" />
        на 1С-Битрикс. <br class="el-desctop" />
        Антро ведет переговоры с командой площадки и передаст ей итоговый объем
        собранного спроса.
      </p>
    </div>
  </div>
</section>
