<section class="vebinar-spiker">
    <div class="container">
        <div class="vebinar-spiker__wrapper">
            <h3 class="vebinar-title vebinar-spiker__title">
                Спикеры
            </h3>

            <div class="vebinar-spiker__list">
                <div class="vebinar-spiker__item">
                    <div class="vebinar-spiker__item-top">
                        <img src="/img/vebinar/antro-man.png" alt="" class="vebinar-spiker__item-avatar">
                        <div class="vebinar-spiker__item-business">
                            <img src="/img/vebinar/antro.svg" alt="">
                        </div>
                    </div>

                    <div class="vebinar-spiker__item-bottom">
                        <div class="vebinar-spiker__item-info">
                            <div class="vebinar-spiker__item-name">
                                Константин Щербина
                            </div>
                            <div class="vebinar-spiker__item-company">
                                Основатель агентства Антро
                            </div>
                        </div>
                        <div class="vebinar-spiker__item-description">
                            Консалтинг, дизайн и разработка <br> для интернет-магазинов (e-commerce)
                        </div>
                        <a href="" class="vebinar-spiker__item-tg">
                            <img src="/img/vebinar/tg.svg" alt="">
                            <span>Телеграм-канал</span>
                        </a>
                    </div>
                </div>
                <div class="vebinar-spiker__item pink ">
                    <div class="vebinar-spiker__item-top">
                        <img src="/img/vebinar/effective-man.png" alt="" class="vebinar-spiker__item-avatar">
                        <div class="vebinar-spiker__item-business">
                            <img src="/img/vebinar/effective.svg" alt="">
                        </div>
                    </div>

                    <div class="vebinar-spiker__item-bottom">
                        <div class="vebinar-spiker__item-info">
                            <div class="vebinar-spiker__item-name">
                                Серик Бейсенов
                            </div>
                            <div class="vebinar-spiker__item-company">
                                Соучредитель и CTO Effective
                            </div>
                        </div>
                        <div class="vebinar-spiker__item-description">
                            20 лет в разработке программного обеспечения.
                            <br> Экспертпо агентизации бизнес-процессов
                            <br> и внедрению AI-решений в корпоративную среду.
                        </div>
                        <a href="" class="vebinar-spiker__item-tg">
                            <img src="/img/vebinar/tg-pink.svg" alt="">
                            <span>Телеграм-канал</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>