<section class="vebinar-who">
    <div class="container">
        <div class="vebinar-who__wrapper">
            <h3 class="vebinar-title vebinar-who__title">
                Кому будет интересно
            </h3>
            <div class="vebinar-who__list">
                <div class="vebinar-who__point">
                    директорам по электронной коммерции
                </div>
                <div class="vebinar-who__point">
                    основателям и владельцам продукта
                </div>
                <div class="vebinar-who__point">
                    директорам по маркетингу
                </div>
                <div class="vebinar-who__point">
                    продакт-менеджерам и CPO
                </div>
            </div>
        </div>
    </div>
</section>