<section class="vebinar-programm">

    <div class="vebinar-programm__wrapper">
        <div class="vebinar-programm__head">
            <h3 class="vebinar-title vebinar-title_white vebinar-programm__title">
                Программа
            </h3>
            <div class="vebinar-banner__info vebinar-programm__info">
                <div class="vebinar-banner__point">
                    <img class="vebinar-banner__point-logo" src="/img/vebinar/calendar.svg">
                    <div class="vebinar-banner__point-text">Онлайн</div>
                    <div class="vebinar-banner__point-circle">
                        <svg width="2" height="2" viewBox="0 0 2 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="1" cy="1" r="1" fill="white" />
                        </svg>
                    </div>
                    <div class="vebinar-banner__point-text">7 мая, 12:00 МСК</div>
                </div>
                <div class="vebinar-banner__point">
                    <img class="vebinar-banner__point-logo" src="/img/vebinar/time.svg">
                    <div class="vebinar-banner__point-text">1,5 часа</div>
                </div>
                <div class="vebinar-banner__point">
                    <img class="vebinar-banner__point-logo" src="/img/vebinar/star.svg">
                    <div class="vebinar-banner__point-text">Бесплатно</div>
                </div>
            </div>
        </div>
        <div class="vebinar-programm__body">
            <div class="vebinar-programm__item">
                <div class="vebinar-programm__item-count">1</div>
                <div class="vebinar-programm__item-text">
                    Чем агенты отличаются <br class="el-mobile"> от обычных нейронок <br class="el-mobile"> (ChatGPT /
                    DeepSeek)
                </div>
            </div>
            <div class="vebinar-programm__item">
                <div class="vebinar-programm__item-count">2</div>
                <div class="vebinar-programm__item-text">
                    Плюсы ИИ-агентов <br class="el-mobile"> (через кейсы Effective)
                </div>
            </div>
            <div class="vebinar-programm__item">
                <div class="vebinar-programm__item-count">3</div>
                <div class="vebinar-programm__item-text">
                    Минусы, подводные камни <br class="el-mobile"> и границы применимости
                </div>
            </div>
            <div class="vebinar-programm__item">
                <div class="vebinar-programm__item-count">4</div>
                <div class="vebinar-programm__item-text">
                    Прикладные кейсы <br class="el-mobile"> в e-commerce
                </div>
            </div>
            <div class="vebinar-programm__item">
                <div class="vebinar-programm__item-count">5</div>
                <div class="vebinar-programm__item-text">
                    Экономика: стала ли разработка дешевле?
                </div>
            </div>
            <div class="vebinar-programm__item">
                <div class="vebinar-programm__item-count">6</div>
                <div class="vebinar-programm__item-text">
                    Q&A и свободный формат
                </div>
            </div>
        </div>
    </div>
</section>