<section class="vebinar-registration" id="vebinar-form">
    <div class="container">
        <div class="vebinar-registration__wrapper">
            <h3 class="vebinar-title vebinar-registration__title">зарегистрироваться на вебинар</h3>
            <div class="vebinar-registration__form">
                <div class="vebinar-registartion__form-point">
                    <div class="vebinar-registration__description">
                        Оставьте данные — напомним о вебинаре и пришлем материалы после него
                    </div>
                    <div class="vebinar-registration__fields">
                        <div class="input-block">
                            <div class="input-block__exclamation"><img src="img/svg/exclamation.svg" alt=""></div>
                            <input name="name" type="text" required placeholder="Имя">
                            <div class="input-block__error">Пожалуйста, проверьте правильность номера</div>
                        </div>
                        <div class="input-block">
                            <div class="input-block__exclamation"><img src="img/svg/exclamation.svg" alt=""></div>
                            <input name="company" type="text" required placeholder="Компания">
                            <div class="input-block__error">Пожалуйста, проверьте правильность номера</div>
                        </div>
                        <div class="input-block">
                            <div class="input-block__exclamation"><img src="img/svg/exclamation.svg" alt=""></div>
                            <input name="email" type="email" required placeholder="Email">
                            <div class="input-block__error">Пожалуйста, проверьте правильность номера</div>
                        </div>
                    </div>
                </div>
                <div class="vebinar-registartion__form-point">
                    <div class="vebinar-registration__form-question">
                        <div class="vebinar-registration__form-spiker">
                            Есть&nbsp;вопрос&nbsp;к&nbsp;спикерам?
                            Задайте&nbsp;заранее&nbsp;—&nbsp;разберем&nbsp;на&nbsp;вебинаре
                        </div>
                        <div class="vebinar-registration__form-request">
                            * Необязательно для заполнения
                        </div>
                    </div>
                    <textarea class="vebinar-registration__form-textarea" name="question" id=""
                        placeholder="Давайте обсудим..."></textarea>
                    <div class="vebinar-registration__form-request vebinar-registration__form-example">
                        Например, когда агенты реально ускоряют разработку в интернет-магазине?
                    </div>
                </div>
                <div class="vebinar-registartion__form-point">
                    <button class="btn-reset btn btn_hover-pink vebinar-registration__btn">Зарегистрироваться</button>
                    <label class="i-checkbox">
                        <input class="i-checkbox__input" type="checkbox" name="i_agree">
                        <div class="i-checkbox__mask">
                            <svg width="12" height="8" viewBox="0 0 12 8" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.16602 3.11091L4.89961 6.66671L10.5 1.33301" stroke="white"
                                    stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </div>
                        <div class="i-checkbox__text">
                            Я&nbsp;соглашаюсь с&nbsp;условиями
                            <a href="">публичной оферты</a>
                            и&nbsp;<a href="">обработкой моих персональных данных</a>
                            в&nbsp;порядке, предусмотренном публичной офертой
                        </div>
                    </label>
                </div>
            </div>
        </div>
    </div>
</section>