<section class="vebinar-banner">
    <img src="/img/vebinar/bg.png" alt="" class="vebinar-banner__bg">
    <div class="container">
        <div class="vebinar-banner__wrapper">
            <div class="vebinar-banner__top">
                <img class="vebinar-banner__logo" src="/img/vebinar/logo.svg" alt="">
                <h2 class="vebinar-banner__title">
                    ИИ-агенты и разработка.
                    <br>
                    реальные возможности и ограничения
                </h2>
            </div>
            <div class="vebinar-banner__middle">
                <div class="vebinar-banner__info">
                    <div class="vebinar-banner__point">
                        <img class="vebinar-banner__point-logo" src="/img/vebinar/calendar.svg">
                        <div class="vebinar-banner__point-text">Онлайн</div>
                        <div class="vebinar-banner__point-circle">
                            <svg width="2" height="2" viewBox="0 0 2 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="1" cy="1" r="1" fill="white" />
                            </svg>
                        </div>
                        <div class="vebinar-banner__point-text">7 мая, 12:00 МСК</div>
                    </div>
                    <div class="vebinar-banner__point">
                        <img class="vebinar-banner__point-logo" src="/img/vebinar/time.svg">
                        <div class="vebinar-banner__point-text">1,5 часа</div>
                    </div>
                    <div class="vebinar-banner__point">
                        <img class="vebinar-banner__point-logo" src="/img/vebinar/star.svg">
                        <div class="vebinar-banner__point-text">Бесплатно</div>
                    </div>
                </div>
                <p class="vebinar-banner__format">
                    Формат: диалог + ответы на вопросы
                </p>
            </div>
            <div class="vebinar-banner__bottom">
                <button class="btn-reset btn vebinar-banner__btn">Зарегистрироваться на вебинар</button>
            </div>
        </div>
    </div>
</section>