<section class="vebinar-about">
    <div class="container">
        <div class="vebinar-about__wrapper">
            <h3 class="vebinar-title vebinar-about__title">
                О вебинаре
            </h3>
            <p class="vebinar-about__description">
                Тут будет небольшое описание, как позиционирование.... Сейчас большая часть обсуждений ИИ — про
                возможности.
                <br>
                Мы разберём, как это работает в реальности интернет-магазинов.
            </p>
        </div>
    </div>
</section>