html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  color: var(--black);
  letter-spacing: -0.031em;
  line-height: 1.2;
  scroll-behavior: smooth;
}

@media screen and (min-width: 960px) {
  html {
    width: 100vw;
    overflow-x: clip;
    margin-left: calc((100% - 100vw) / 2);
  }
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;

  &_audit {
    background: var(--bg);
    .footer__box {
      background: #fff;
    }
    .footer__social-link {
      background: var(--bg);
      &::before {
        content: "";
        background: var(--bg);
      }
    }
    .mobile-menu {
      background: #3500274d;
      backdrop-filter: blur(17.5px);
    }
    .mobile-menu__burger-text {
      color: #fff;
    }
    .mobile-menu__burger_open {
      .mobile-menu__burger-text {
        color: #0a0620;
      }
    }
  }

  &_development {
    background: #f6f6f6;
  }
}

@media screen and (min-width: 960px) {
  .page__body {
    //margin-left: calc(100% - 100vw);
  }
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: clip; // если используете на сайте position: sticky - уберите эту настройку

  &.dis-scroll {
    @media screen and (min-width: 1025px) {
      left: rem(-4);
    }
  }
}

.is-hidden {
  display: none !important;
  /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
  -moz-appearance: textfield;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 rem(100);
  width: 100%;

  @include mobile {
    padding: 0 rem(16);
  }

  &_wide {
    padding: 0 rem(20);

    @include laptop {
      padding: 0 rem(16);
    }
    @include mobile {
      padding: 0;
    }
  }

  &_text {
    padding: 0 rem(180);

    @include laptop {
      padding: 0 rem(120);
    }
    @include mobile {
      padding: 0 rem(16);
    }
  }
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.test {
  width: rem(400);
  height: rem(400);

  background: blue;
  margin: rem(100) auto;

  mask-image: url(../img/mask/mask1.svg);
  mask-size: cover;
  mask-repeat: no-repeat;
}

.test2 {
  width: rem(400);
  height: rem(400);

  background: black;
  margin: rem(100) auto;
  border-radius: rem(60);
}

.el-desctop {
  display: block !important;
  @include mobile {
    display: none !important;
  }
}

.el-mobile {
  display: none !important;
  @include mobile {
    display: block !important;
  }
}
