// базовые подключения
@import "vars";
@import "mixins";
@import "fonts";
@import "settings";

// подключения компонентов страницы
@import "./components/elements";

@import "./components/header";
@import "./components/mobile-menu";

@import "./components/main-first";
@import "./components/main-about";
@import "./components/main-cases";

@import "./components/main-research";
@import "./components/main-solutions";
@import "./components/main-services";
@import "./components/main-media";
@import "./components/main-team";
@import "./components/main-order";
@import "./components/animations";

@import "./components/cases";
@import "./components/case";
@import "./components/blog";
@import "./components/contacts";

@import "./components/audit-first";
@import "./components/audit-brands";
@import "./components/audit-why";
@import "./components/audit-structure";

@import "./components/audit-goods";
@import "./components/audit-start";

@import "./components/audit-form";
@import "./components/audit-feedback";
@import "./components/audit-cases";

@import "./components/audit-faq";
@import "./components/audit-its-recom";

// review-inside
@import "./components/review-ui";
@import "./components/review-first";
@import "./components/review-inside";
@import "./components/review-formats";
@import "./components/review-content";
@import "./components/review-feedback";
@import "./components/review-services";
@import "./components/review-research";
@import "./components/review-companies";
@import "./components/review-benefit";
@import "./components/review-form";
// report page
@import "./components/report-ui";
@import "./components/report-way";
@import "./components/report-first";
@import "./components/report-more";
@import "./components/report-data";
// error
@import "./components/error";
// development
@import "./components/development-ui";
@import "./components/development-first";
@import "./components/development-brands";
@import "./components/development-inside";
@import "./components/development-metrics";
@import "./components/development-get";

@import "./components/modal";
@import "./components/footer";
//
@import "./components/i-checkbox";
@import "./components/cookie";
@import "./components/i-banner";
